[2018-12-02 22:04] megoth commented on #995
Very good, I actually see a lot uses of `http://www.w3.org/ns/solid/terms#` in the default templates... Will fix very soon.

[2018-12-02 22:30] RubenVerborgh commented on #995
@timbl Which one is correct?

[2018-12-02 22:46] elf-pavlik commented on #995
It seems to have `http://` set with `@base`
https://github.com/solid/vocab/blob/master/solid-terms.ttl

[2018-12-03 07:09] rubensworks commented on #951
For reference, we should also mention the removal of the `-v` option in the changelog.

[2018-12-03 07:18] JornWildt commented on #995
So does all this mean the spec at at https://github.com/solid/solid/blob/master/proposals/data-discovery.md is wrong and the solid-node-server template is right?

[2018-12-03 08:45] rubensworks opened #997 "Inconsistent usage of camelCased config options"
In #885 (457c57d104a7c1e776ee8286f695d2a84928471e), all config options were converted from camelCase to kebab-case.

However, it looks like the PR was only partially complete,
and there are a few places were the conversion of config keys has not been updated yet.
One of those has been fixed in bf21b43744c3006c574880cc97fe9d3c3eb8a47d already, but it looks like there are a few more.
Even in `bin/li

[2018-12-03 09:17] rubensworks commented on #983
Done in #998

[2018-12-03 09:17] #983 closed

[2018-12-03 09:18] rubensworks commented on #951
Another one: config options (both CLI and `config.json`) are now kebab-cased instead of camelCased.

[2018-12-03 09:45] rubensworks commented on #997
It looks like the problem was contained in init.js. There seems to be a magical component that afterwards automatically translated all entries to camelCase.

Fixed in #999.

[2018-12-03 09:45] #997 closed

[2018-12-03 10:02] rubensworks opened #1000 "Server stacktrace after login (release/v5.0.0)"
After logging in, the server prints the following stacktrace:

[code]

[2018-12-03 10:05] rubensworks commented on #994
This may be related, but I can not PUT private files anymore either:

[2018-12-03 10:09] melvincarvalho commented on #995
It's a spec proposal.  Just a typo.  I've fixed it now.

I cant read that file, but looking at my own it seems to do the right thing.

[2018-12-03 10:09] csarven commented on #995
To strictly answering this issue: the canonical namespace was always http. To the best of knowledge, while the https resolved, it wasn't used (or intended). Both servers (Gold and node-solid-server), as well as (all of or at least most?) the (oldest) apps, docs and everything else used http. The instances of https out there can be considered to diverge from that for whatever reason (eg. possibly f

[2018-12-03 10:10] melvincarvalho commented on #995
I am!

[2018-12-03 10:10] #995 closed

[2018-12-03 10:15] rubensworks opened #1001 "Invalid client sessions after server restart"
After the server is restarted, client-side code still thinks that the user is logged in, even if the server-side session has been invalidated.

This causes some inconsistencies, such as the login button disappearing on access-denied pages, like here:
<img width="650" alt="screen shot 2018-12-03 at 11 14 47" src="https://user-images.githubusercontent.com/440384/49367539-a7a31e00-f6ec-11e8-8712-fe88

[2018-12-03 10:16] melvincarvalho commented on #995
I already closed that issue, but it got reopened.  Im somewhat horrified by that.

My advice : [Don't break the web!](https://www.w3.org/DesignIssues/Security-NotTheS.html)

[2018-12-03 11:03] rubensworks commented on #994
The PUT bug seems to be caused by something else though, as the ACL checker returns an "Origin Unauthorized" message.

[2018-12-03 11:12] JornWildt commented on #995
That's cool. Thank you - then there is no doubt. It may just be a "proposal" but none the less is it what you guys are recommending to use right now.

[2018-12-03 11:17] JornWildt commented on #995
Sorry, that was my private type index.

But the problem is still there. I just created a new account as "Ragnaros". Here is what I get:

In https://ragnaros.inrupt.net/profile/card we have the correct namespace:

    @prefix solid: <http://www.w3.org/ns/solid/terms#>.

But in https://ragnaros.inrupt.net/settings/publicTypeIndex.ttl I get:

    @prefix solid: <https://www.w3.org/ns/solid/terms#>.

[2018-12-03 11:37] melvincarvalho opened #1002 "type index uses the wrong namespace"
As reported here https://github.com/solid/node-solid-server/issues/995#issuecomment-443675337

[code]

Is being produced in some type indexes.

My own is fine : https://melvin.solid.community/settings/publicTypeIndex.ttl

[code]

But I can confirm that more recent accounts have the incorrect https namespace.  This is a **major** bug, and we need to urgently find the source.

[2018-12-03 11:44] melvincarvalho commented on #1002
Unfortunately this also means that we are possibly going to have to go into the server and change users' files in order to make the system work.

This is the right thing to do on solid.community, imho.  Inrupt is going to have to decide whether they wish to make this decision.  I would recommend yes!  There may be some workarounds, but I cant think of one at the moment.

cc : @timbl @johnbizguy

H

[2018-12-03 11:49] csarven commented on #1002
I'd agree that it is quite likely a typo. Perhaps @dmitrizagidulin can quickly confirm that - perhaps more importantly, if there was a reason to be different than the http use of the ns.

https is also used in privateTypeIndex.ttl

re:
[code]

they were always using https. So, @melvincarvalho , if your publicTypeIndex.ttl used http, it is unlikely that it came from the templates. A simple explanat

[2018-12-03 11:49] melvincarvalho commented on #1002
Looks like the files are here :

https://github.com/solid/node-solid-server/blob/master/default-templates/new-account/settings/privateTypeIndex.ttl

https://github.com/solid/node-solid-server/blob/master/default-templates/new-account/settings/publicTypeIndex.ttl

[2018-12-03 11:51] melvincarvalho commented on #1002
Could well be!  I can do some further analysis to confirm.  That might actually make life a bit easier.

Do note : the canonical prefixes are clearly articulated in the vocab README

https://github.com/solid/vocab#created-for-solid

[2018-12-03 11:56] melvincarvalho commented on #1002
So the steps needed :

- [ ] Fix the templates
- [ ] Fix the tests
- [ ] Priority push to master
- [ ] Update servers code
- [ ] Update server user accounts, as appropriate

Anything else?

I'd like to get this fixed on solid.community asap or else apps will not work or work inconsistently.

[2018-12-03 12:00] melvincarvalho commented on #1002
As a stop gap I think I can manually edit the template files to fix the typo, and write a script to substitute the the right namespace in all ~/settings/ directories that I find.

Thoughts welcome!

[2018-12-03 12:01] csarven commented on #1002
Acknowledged. I don't doubt the http use at all - as it is by the far the majority of the uses in code/data out there. As I've mentioned elsewhere, it was always http to the best of knowledge. I recall discussing at some point (somewhere) but we decided to stick to http. The README, the base in the ns, type registries... came much later.

[2018-12-03 12:54] melvincarvalho commented on #1002
Quick 5 minute script to fix this issue :

https://gist.github.com/melvincarvalho/b6c7121f2c239c1878a26e9465fa1166

Im sure it can be improved upon.

[2018-12-03 12:58] melvincarvalho commented on #1002
I am now able to fix solid.community but have not done so yet, I'll coordinate this with @ericprud who I've run the plan by.

Only concern raised is that we dont want to be out of sync with whatever is on github.

@kjetilk is there a way we can get a patch into the master of 4.4.0?  -- we're currently running 4.2.0 which is a side issue, but would like to upgrade.

[2018-12-03 23:59] melvincarvalho commented on #1002
So, I think this is quite a tricky one to fix.  @ericprud has sensibly suggested to have any changes in github.  What I'd also like to do is keep an audit trail of the steps.  So I've done a few things.

- [x] I've started an org for solid.community.  Anyone that would like to help out with the pod please ask [here](https://github.com/solid-community/node-solid-server/issues/1) to be added to the

[2018-12-04 03:08] kjetilk commented on #1002
@melvincarvalho Yes, I think it this is something we can do a release off of master of, e.g. 4.4.1 once we have a PR for it.

Meeting week now, but I'll try to catch up on the bugs when I can.

[2018-12-04 03:12] kjetilk commented on #994
Ooops, that is interesting... Do we see the same thing on dev.inrupt.net?

[2018-12-04 10:34] rubensworks opened #1004 "Behaviour after logging in can be confusing"
After logging in on a server (let's say https://localhost:8443/), the user is presented with this page:

<img width="1163" alt="screen shot 2018-12-04 at 11 29 50" src="https://user-images.githubusercontent.com/440384/49435931-18fbd300-f7b8-11e8-87ff-33fc14072a60.png">

This can be confusing, as there is nothing the user can do here.

I propose to either:
1. Automatically redirect to the user's ho

[2018-12-04 15:01] kjetilk commented on #994
Uh-oh! Great if you can look into this, since I'm not getting to it.

[2018-12-04 19:59] SimonShapiro opened #1008 "Error 500 on heavy load."
I have experienced a strange behaviour over the REST interface using node-fetch module.

While this is not the most efficient way of doing things, it has thrown up the following error 500.

I read in around 11 ttl files so that total about 1,6m triples. I now want to pivot them and create a file per subject.  I process each of the 1,6m triples as set out below.  Check whether the resource exists.

[2018-12-05 07:58] rubensworks commented on #1001
This issue is not that urgent anymore, now that #1007 has been merged.

I suggest to either close this, or remove it from the 5.0.0 milestone.

[2018-12-05 09:03] rubensworks opened #1009 "Profile is broken (release/v5.0.0)"
The databrowser seems to handle the new resource mapping incorrectly.

For example, it lists the profile card as `card$.ttl`, while this `$.ttl` suffix should not be present.

As such, when displaying the contents, it gives an error:
<img width="608" alt="screen shot 2018-12-05 at 10 02 20" src="https://user-images.githubusercontent.com/440384/49502237-f67bbf80-f874-11e8-9863-41430655c86c.png">

[2018-12-05 09:22] rubensworks commented on #994
Fixed in https://github.com/solid/acl-check/pull/13, but not sure if the proposed fix is spec-compliant. So it would be good if someone with more knowledge on .acl files could double-check that.

[2018-12-05 11:52] rubensworks commented on #1009
Fixed in #1010.

[2018-12-05 11:52] #1009 closed

[2018-12-05 17:06] kjetilk commented on #1001
OK, good, thanks!

[2018-12-06 05:55] boulderwebdev opened #1011 "Cannot create JSON files"
If I try to `POST` or `PUT` a JSON file using `solid.auth.fetch` then an empty file is stored on the server. For example, I could call

[code]
and the server will create a file and respond with

[code]

[2018-12-06 09:42] rubensworks commented on #1000
Fixed in #1013

[2018-12-06 09:42] #1000 closed

[2018-12-06 10:29] rubensworks commented on #729
Done in #1014.

[2018-12-06 10:29] #729 closed

[2018-12-06 15:54] RubenVerborgh commented on #1004
The answer depends on where you log in. There are actually very few use cases for "arriving on pod.com" and then logging in. I mean, those cases exist now, but I don't envision them in the future.

While I like the idea of a link to the user's homepage, what exactly is that? Because you might be signing in on pod.com, but your homepage is my.com—why did you sign in on pod.com in the first place? P

[2018-12-06 18:34] csarven commented on #414
@RubenVerborgh Would you mind reopening this?

Some documentation on why it is deemed to be a feature would be useful. application/sparql-update wasn't a feature as I recall it - in fact, it was literally made-up for something to work for PATCH. It'd be great to make PATCH work for any RDF syntax.

What's the ETA on "revisit"?

[2018-12-06 18:56] RubenVerborgh commented on #414
That's up to the community. If someone wants to invest resources in this, let's reopen to indicate this issue is active.

For now, it is on "revisit" (= "paused") state because we have no one working on this.

[2018-12-06 19:05] RubenVerborgh commented on #414
We're using it differently indeed, hence the "revisit" label.

We (= maintainers of his repo) didn't think it was meaningful to leave issues open that we cannot realistically get to within 6 months. That way, all the "open" issues reflect current problems and current work.

If anyone wants to get to those issues sooner, please do, that would be awesome.

[2018-12-06 21:47] boulderwebdev commented on #1011
@kjetilk This is also true for uploading JPEG and PNG files :'(

[2018-12-07 07:39] rubensworks commented on #1004
My proposal is to add a 'My Pod' link to the index page, in cases where people navigated to for example solid.community, and logged in from there. The target of this link would be the `solid:account` value of the user's profile. (We would need client-side RDF parsing for this though)

[2018-12-07 22:44] evmiguel opened #1017 "Cannot run multi-user Solid Server"
Hello,

When I run a single user server, I am able to get to my endpoint UI fine. However, when I try to set up the server as a multi user server, I get the output shown here: [https://solid.erikamiguel.com:8443/](https://solid.erikamiguel.com:8443/)

My config.json looks like this:
[code]

My filesystem looks like this
[code]

[2018-12-08 14:43] namedgraph commented on #935
What's the rationale for more non-standard headers when plain `Accept` is enough?

[2018-12-08 15:18] csarven commented on #935
@namedgraph FYI, this issue was derived from https://github.com/solid/node-solid-server/issues/931 . Usually leaving some provenance helps future readers.

Accept is too broad in context of OPTIONS. Not to mention that it'll probably interpreted for the OPTIONS itself.

For each method, it is useful to distinguish between acceptable mimetypes. Unless a server is capable of handling the same values

[2018-12-08 16:09] dmitrizagidulin commented on #1017
Hi @evmiguel! Thanks for opening the issue.

Lets get a bit more diagnostics going. Can you start your solid server with a ‘-v’ (verbose) flag, and also add here the error on the console?

[2018-12-09 11:34] scenaristeur commented on #962
Hi @NoelDeMartin, it seems possible with rdfjs lib  / solid-auth-client https://forum.solidproject.org/t/fun-fact-using-sparql-to-query-the-type-registry/776

[2018-12-09 11:37] scenaristeur commented on #945
It will never append anymore, you Can close

[2018-12-09 12:02] NoelDeMartin commented on #962
I think it's possible as per the specification, but it isn't implemented on this project yet. This was confirmed by one of the maintainers in this comment: https://github.com/solid/node-solid-server/issues/956#issuecomment-440455759

Have you tried what's outlined on that forum thread using this repository as a server?

[2018-12-09 14:11] pheyvaer opened #1018 "SPARQL update not performed when multiple updates executed at the same time on the same file"
Hi,

If I do multiple SPARQL updates to the same file at the same time, i.e., I don't wait till the first update returns a response from the server, the first update is not successful on the server, only the second update. Furthermore, I do not get an error from the server. Both updates do an INSERT, so there should not be any conflicts.

[2018-12-09 14:54] #945 closed

[2018-12-09 14:57] RubenVerborgh commented on #1018
This is #137: we should implement locks on the file system. Unfortunately, given the many places where the file system is accessed currently, implementing this will not be straightforward. What we really want is a dedicated layer/component responsible for writes, so we can implement it there.

[2018-12-10 09:53] pheyvaer commented on #1018
OK I see. Is it maybe possible to at least get an error? I can make sure that within a single application I don't do two concurrent calls, but I cannot guarantee that across multiple applications.

[2018-12-10 09:55] RubenVerborgh commented on #1018
Even for such an error we need locking.

[2018-12-10 15:40] hubert-associates commented on #830
Bingo. Many thanks!

[2018-12-10 16:18] evmiguel commented on #1017
Hi @dmitrizagidulin ,

The -v flag doesn't work:
[code]

Running `solid start`, I get
[code]

[2018-12-10 17:09] bourgeoa commented on #1017
In /data you have /localhost you should have /solid.erikamiguel.com

config.json miss the server Uri line

"serverUri" : "https://solid.erikamiguel.com",

[2018-12-10 17:50] dmitrizagidulin commented on #1017
Interesting.. what OS are you using?

(And yes, the config is missing the `serverUri` parameter, that was gonna be my next suggestion too.)

[2018-12-10 18:47] ewingson commented on #1017
no idea if that helps, gonna share my experiences. have tried multi-user on debian jessie. the -v option didn' t work neither. the solid init process doesn' t seem to write the serverUri variable. I' m having issues with the port cause I tried port 443 where 8443 at tomcat seems the standard. lets share more config.jsons (mentioning succeeding or not). here is mine. I' ve let the standard document

[2018-12-10 18:52] dmitrizagidulin commented on #1017
Ok, so those two things are definitely a problem:

* `-v` not working on some OSs (Debian, sounds like)
* and `serverUri` not being written by `solid init`.

@evmiguel or @ewingson - can you try running it via `./bin/solid start -v` ? (I'm assuming you've installed it locally via github, and not globally via npm)

[2018-12-10 19:09] ewingson commented on #1017
@dmitrizagidulin have installed per npm at a live connected system. `solid start` succeeded at port 3456. I' m still figuring out lotsa thangs, how all components work together (apache, solid, ssl, systemd, config.json, the files solid is creating.....) would you recommend port 8443 assuming doing the apache configuration in apache2.conf (which seems tomcat as standard in debian) ?

[2018-12-10 20:20] evmiguel commented on #1017
@dmitrizagidulin I'm using Debian stretch for my Solid server, and I installed solid-server via npm.

Adding `serverUri` seems to have fixed the issue!

[2018-12-10 20:38] evmiguel commented on #1017
Update: I've changed my site port from 8443 to 443. The only way I can seem to get in is https://solid.erikamiguel.com/login?response_type=&display=&scope=&client_id=&redirect_uri=&state=&nonce=&request=

Not through the popup.

[2018-12-10 20:55] kjetilk commented on #1011
@RubenVerborgh Do you think this might be a solid-auth-client issue?

[2018-12-10 20:58] RubenVerborgh commented on #1011
I'm suspicious of:
- slug being equal to `data`, since it results in an invalid slug (and NSS probably doesn't check)
- `Content-Length` being set in what I presume is the browser (don't do that, the browser does it for you)

[2018-12-10 21:10] bourgeoa commented on #1017
Your "serverUri" should end with port value :8443 except when using a proxy.
"port" : "8443",
"serverUri" : "https://solid.erikamiguel.com:8443",

[2018-12-10 21:16] kjetilk commented on #1017
So, for people now migrating to 5.0.0-beta (which you should), the `-v` flag has disappeared (since verbose is the default, see #909)

The `serverUri` config should point to the URI as the world sees it, so if you are running behind a proxy, you would typically run on port 8443, but as @bourgeoa says, still have the `serverUri` without it. If you plan to just set up a server for testing and just r

[2018-12-10 21:19] boulderwebdev commented on #1011
@RubenVerborgh I was using the slug `data` as just example data. In my case I am using either a uuid or a file named `config`. I removed the Content-Length header too, but that didn't change anything.

[2018-12-10 21:21] RubenVerborgh commented on #1011
Okay, thanks. The client still wouldn't be my first suspect, because it doesn't touch any of the relevant headers, nor `body`.

[2018-12-10 21:30] evmiguel commented on #1017
My `config.json` looks like this now:
[code]

So, I've updated my server architecture to an Apache reverse proxy forwarding requests on port 443 to 8443. Here is the Apache config:
[code]

I'm still not getting popup.html to show. See screenshot below:
<img width="716" alt="screen shot 2018-12-10 at 4 29 13 pm" src="https://user-images.githubusercontent.com/2789098/49762801-d6933400-fc98-11e8-8135

[2018-12-10 22:38] kjetilk commented on #1017
That's pretty weird... Connection refused... Are you sure the solid-server is actually running?

You might want to ask in the forums too, if you don't get an adequate answer here.

[2018-12-10 23:04] evmiguel commented on #1017
@kjetilk Yes, solid-server is running. See below:

<img width="951" alt="screen shot 2018-12-10 at 6 04 12 pm" src="https://user-images.githubusercontent.com/2789098/49767336-0e54a880-fca6-11e8-8cbd-02688526d765.png">

[2018-12-11 10:34] bourgeoa commented on #1017
I suppose you solved your problem because I was able to **register and login** to my account on **https://solid.erikamiguel.com**.

In my opinion you had a linked to proxy problem.

If it's the case, for the help of everyone could you paste your **/config.json** file and your **Apache config**
You also should have **/data/solid.erikamiguel.com without port :8443**.

I have a docker installation on

[2018-12-11 13:21] megoth commented on #994
Sorry for late response.

I'm still unable to be recognized by the server when I'm logged in with the local server =/ I'll debug it more to understand what is going on.

[2018-12-11 15:53] benharri opened #1019 "serverUri not respected in login popup"
I found this [nginx config](https://github.com/solid/node-solid-server/issues/895#issuecomment-435586499), seemingly missing from the [wiki page](https://github.com/solid/node-solid-server/wiki/Running-Solid-behind-a-reverse-proxy), and ended up with this:

The goal is to use *.solid.tilde.team on 443 through nginx.
[code]

my config.json is as follows:
[code]

I'm able to successfully register an

[2018-12-11 15:54] benharri commented on #1019
This might be related to #1017

[2018-12-11 15:55] evmiguel commented on #1017
@bourgeoa My config.json and Apache config can be found above. How were you able to register? I'd like to follow your steps so that I can reproduce.

[2018-12-11 15:58] benharri commented on #1019
Is it not needed or is there a different header that I need to set?

[2018-12-11 16:00] RubenVerborgh commented on #1019
It is not needed if you do not use WebID-TLS.

There is currently no solution (that I know of) with NGINX to forward client certificates. We used to have header-based certificate forwarding, but that broke because of a library incompatibility in Node 8, so we had to drop it.

[2018-12-11 16:14] benharri commented on #1019
Ahh ok I'll remove that header. Is there a reason the popup is trying to get to localhost though?

[2018-12-11 16:21] evmiguel commented on #1017
@kjetilk I've opened up all ports to my instance:
<img width="832" alt="screen shot 2018-12-11 at 11 18 30 am" src="https://user-images.githubusercontent.com/2789098/49814006-c3cf3c80-fd36-11e8-9a3a-e4de78f2e468.png">

Still getting:
<img width="716" alt="screen shot 2018-12-11 at 11 21 22 am" src="https://user-images.githubusercontent.com/2789098/49814098-eb260980-fd36-11e8-9d1a-b7280dfb1057.png"

[2018-12-11 16:32] kjetilk commented on #951
Just to record the PRs that me worth mentioning for later review:

* #1014
* the whole trusted origin stuff, #1012 #770
* ToC, #989,
* ACL: #984, #970, #969, #786
* logout fixes, #957 #927
* `ldp:inbox`, #794
* `acl:default` #768
* #767

[2018-12-11 16:34] kjetilk commented on #1017
Any ideas, @dmitrizagidulin ?

[2018-12-11 16:40] benharri commented on #1019
I've just recreated this with a fresh VPS (meaning no proxy) and I'm getting the same CORS error for localhost:8443, even though serverUri is properly set

[2018-12-11 18:14] bourgeoa commented on #1017
I suppose you solved your problem because I was able to **register and login** to my account on **https://solid.erikamiguel.com**.

In my opinion you had a linked to proxy problem.

If it's the case, for the help of everyone could you paste your **/config.json** file and your **Apache config**
You also should have **/data/solid.erikamiguel.com without port :8443**.

I have a docker installation on

[2018-12-11 18:35] bourgeoa commented on #1017
As I told I registered with an External WebID with no problem and logged in with that external WebID.
I tried to register an other user without using external WebID and login but I do not succeed
I cannot help you more for the time being.
I will try to build a new Solid server unde V5.00.beta2
Actually I run with V4.3.1 with reverse proxy and have tested V4.4.0.0 without proxy and did not had any

[2018-12-11 18:37] bourgeoa commented on #1017
As I told I registered with an External WebID with no problem and logged in with that external WebID.
I tried to register an other user without using external WebID and login but I do not succeed
I cannot help you more for the time being.
I will try to build a new Solid server unde V5.00.beta2
Actually I run with V4.3.1 with reverse proxy and have tested V4.4.0.0 without proxy and did not had any

[2018-12-11 18:47] bourgeoa commented on #1017
Some hints :
when you rebuild your server make a clean install clear or delete at least /data and /.db

[2018-12-11 20:11] boulderwebdev commented on #1011
@RubenVerborgh Also, if you set the content type to the invalid value "text/json", the server saves the JSON file correctly...

[2018-12-11 20:20] RubenVerborgh commented on #1011
Just to be sure

So you get the 201, which is empty (that is expected).
But when you perform another GET on the resource, do you receive 200 or 404?

[2018-12-11 20:30] RubenVerborgh commented on #1019
Can you clear your `.db/` folder and restart?

[2018-12-11 20:35] benharri commented on #1019
Whoa that worked!

the serverUri was not set by `solid init`. I must have started the server once before realizing it, fixing it, and restarting.

[2018-12-11 20:35] RubenVerborgh commented on #1019
Thanks for testing!

[2018-12-11 20:35] #1019 closed

[2018-12-11 20:36] benharri commented on #1019
This means that the `solid init` command has a bug that fails to set the `serverUri` key.

[2018-12-11 20:36] RubenVerborgh opened #1020 "Avoid duplicate storage of serverUri in config.json and .db"
It leads to confusion for people who change config.json but don't see a result until they clear `.db`.

See #1019, #1017, likely others.

[2018-12-11 20:38] RubenVerborgh commented on #1019
Did it ask you for serverUri though? I think it's one of the optional settings.

[2018-12-11 20:38] benharri commented on #1019
Yeah it did ask for it. Could combine it with #1020

[2018-12-11 20:39] RubenVerborgh opened #1021 "solid init does not store serverUri"
As reported in https://github.com/solid/node-solid-server/issues/1019#issuecomment-446352510

[2018-12-11 20:40] RubenVerborgh commented on #1019
Thanks, reported as #1021.

[2018-12-11 20:40] benharri commented on #1019
Awesome, thanks!

[2018-12-11 23:00] evmiguel commented on #1017
@dmitrizagidulin deleting `./db` and restart worked!

[2018-12-11 23:10] evmiguel commented on #1017
Just for everyone's reference. To fix the connection refused error, I deleted `.db/` folder per @dmitrizagidulin 's tip.

My final `config.json` looks like:
[code]

My final reverse proxy config looks like:
[code]

[2018-12-11 23:10] #1017 closed

[2018-12-11 23:24] kjetilk commented on #1021
OK, so this looks like something we should fix prior to 5.0.0 release.

[2018-12-12 00:54] kjetilk commented on #951
Not sure what you mean, @melvincarvalho . Could you suggest a short sentence that is suitable?

[2018-12-12 01:04] kjetilk commented on #896
@pheyvaer could you please register an account on https://dev.inrupt.net/ and try it out there?

That's now running the latest beta, and is a test environment. So, don't put anything you want to keep there, but it is intended for testing stuff like this.

[2018-12-12 01:09] kjetilk commented on #1002
Any chance you could do submit it soon, @melvincarvalho ? I'd like to get it into 5.0.0 too as soon as possible.

[2018-12-12 01:58] boulderwebdev opened #1023 "User Registration problems via JSON"
I want to be able to register users through the solid server api via the `/api/accounts/new` endpoint. Using python I could do the following:

[code]
I am given a status code of 401 since I'm redirected to the `username.mysolidserver.com` page. This is awkward API UX since I'm expecting a confirmation response, probably in JSON with a status code in the 200's. Moreover, if I set `headers={'Content

[2018-12-12 08:35] paulstapersma opened #1024 "Issue a token with Python client"
The issue we like raise is the following.

We like to issue a token with a Python client to SOLID. We managed to get access using a cookie, however, we like to issue a token to get access to our SOLID account.

This issue mentioned two types of authentication, other than cooking: tokens and certificates.
https://github.com/solid/node-solid-server/issues/672

How can we issue a token in Python?

Ou

[2018-12-12 08:53] kjetilk commented on #1024
You may want to ask in the forums https://forum.solidproject.org/ as there are a lot more people there than are monitoring the github issues. :-)

[2018-12-12 14:53] bourgeoa opened #1025 "Solid init does not clean /.db/oidc/op - Web error: 403 (Forbidden) on PATCH"
Web error: 403 (Forbidden) on PATCH of <https://"user"/profile/card>

You have a running version of node-solid-server
you re-build it for any reason same or increase version

after logging to your existing pod.
edit your card you got the above error.

To solve that you need to clear _keys in /.db/oidc/op/subfolders (/clients, /codes, /refresh, /tokens)

This should be done at init.
It can also sol

[2018-12-12 20:30] megoth commented on #994
Hmm, seems that things are working now. I'm at least not able to reproduce this bug anymore ^_^

I'm closing this issue.

[2018-12-13 00:11] kjetilk commented on #1004
Since there are no further comments, I say go for it :-)

[2018-12-13 00:26] kjetilk opened #1026 "POD provider Origin also trusted by default?"
The error message in https://github.com/EFForg/privacybadger/issues/2240#issuecomment-446429064 made my think about the following: May it be that a apps on user's POD on a multiuser setup, e.g. https://testpb.dev.inrupt.net/ will not only load from self, but also from the Provider's https://dev.inrupt.net/ ? In which case the latter should also be trusted by default?

[2018-12-13 00:41] kjetilk commented on #951
I think we're pretty much good to go with these as release notes. We should probably write more friendly documentation with 5.0.0 as starting point, but that's a different matter.

I'm going to keep the issue open until we actually release 5.0.0 though, in case there are any new things that hop up.

[2018-12-13 05:45] melvincarvalho commented on #1002
@kjetilk should be addressed in https://github.com/solid/node-solid-server/pull/1027

LGTM

[2018-12-13 11:14] kjetilk commented on #951
Come to think of: We need a note on updating files in the POD in the upgrade instructions, right?

[2018-12-13 15:36] megoth commented on #951
I think we also need to mention the commands `invalidusernames` and `updateindex` somewhere; maybe not the release notes, but I don't think we've documented this beside the help texts in the CLI. We should also note that before doing `updateindex` the first time, the POD owners should be notified that they need to change their index.html if they want to keep the old one (a tutorial for this is ava

[2018-12-13 16:02] RubenVerborgh commented on #951
I thought nothing changed for pod owners? Old HTML doesn’t have the meta
tag, so should’ve stay the same.

[2018-12-13 16:13] SimonShapiro commented on #1008
I was reading the readme file and I noticed that there is a size limit "Its current function is to set a quota for disk usage of just 25 MB, which is what we can be sure the current prototype can tolerate under load."

I know that the full data set is around 100MB, could this be the reason for the sudden error 500 after running ok for some time?

[2018-12-13 16:19] RubenVerborgh commented on #1008
@kjetilk @megoth That claim does not have any grounding. 25MB has to do with disk space on our public servers, not with the server software. Can we fix that?

[2018-12-14 12:31] megoth commented on #951
That is not the way the script has been written, there are three scenarios:

1. No meta-tag for `solid-allow-automatic-updates` --> do update
2. `solid-allow-automatic-updates` is set to true --> do update
3. `solid-allow-automatic-updates` is set to false (or anything beside true really) --> do not update

Point 1 should maybe be "do not update"? It's very easy to fix, if that's the case, but I a

[2018-12-14 23:44] kjetilk commented on #951
Oh yes, but that's in there with an extensive description. I thought you meant that there were changes to the HTTP interface, but lost the context there. So, that should be OK.

[2018-12-15 19:52] angelo-v opened #1029 "Cannot register account ("Account already exists")"
Solid Server Versions:
* **5.0.0-beta.2**
* **5.0.0-beta.3**
* **5.0.0-beta.4**

*Expected Behaviour*: After setting up a solid server it should be possible to register an account

*Actual Behaviour*: When trying to register any account by submitting the registration form, the following error occurs: "Account already exists"

*Steps to reproduce*:

1. Visit https://angelo.veltens.org or set up you

[2018-12-15 19:53] RubenVerborgh commented on #1029
Are you in multiuser mode?

[2018-12-15 19:57] angelo-v commented on #1029
Since I did not enable it explicitly I guess not

[2018-12-15 20:10] angelo-v commented on #1029
This is the form data that is transmitted to `api/accounts/new`:

[code]
Is it correct, that the latter params are all empty?

[2018-12-15 20:31] angelo-v commented on #1029
Unfortunately the solid-server logs are quite silent... It's hard to find out what is going on. Is there some verbose mode or something?

[2018-12-16 00:49] kjetilk commented on #1029
Sorry, I want to introduce a multi-level logger for exactly these occasions, but we haven't gotten to that yet. I'll try to see if I can reproduce the behaviour when getting back to work on Monday.

[2018-12-16 14:18] RubenVerborgh commented on #951
My opinion is that we shouldn't touch it—perhaps unless it is _identical_ to the previous template (but the check for that is a bit more involved, as it involves filling out fields in that template).

[2018-12-17 09:04] melvincarvalho commented on #951
I'm good with the script changing the system generated index.html file, but only the index.html file.  A few reasons for this.

- Eventually I think the index file will go away and be replaced with a client side app, I think
- It was only intended as a temporary stop gap I believe
- People have already complained that it was showing email addresses, and I think that is a valid concern
- There is a

[2018-12-17 09:05] melvincarvalho commented on #951
This is a nice idea!

[2018-12-17 18:52] melvincarvalho commented on #951
That would do it.  However perhaps another heuristic could be to check the time stamp relative to another system generated file, to ensure it hasnt changed.

Or maybe even created time vs modified time?  I dont know how reliable that is.

[2018-12-17 19:45] megoth opened #1030 "Change handling of root index.html/"homepage" of PODs that have no meta-tag for `solid-allow-automatic-updates`"
A solution for updating root index.html/"homepage" of PODs was implemented in https://github.com/solid/node-solid-server/pull/953. The handling this PR introduced might not be optimal, and we should at explore what can be done.

The PR made it so that when you run `npm run solid updateindex` the following checks are done:

1. No meta-tag for `solid-allow-automatic-updates` --> do update
2. `solid-

[2018-12-17 19:45] megoth commented on #951
I've created https://github.com/solid/node-solid-server/issues/1030 for discussing this issue further, as it kind of strays from the main topic of this issue.

[2018-12-17 20:36] megoth opened #1031 "API-endpoints should only be served via serverUri"
Today the server doesn't handle [domain]/register and [subdomain]/register any different. We should make sure that only the former works.

[2018-12-18 13:56] kjetilk commented on #1029
Actually, up to recently, I had verbose output with no further ado, but for some reason, I now need to set an environment variable, e.g.
[code]

does that improve the logging situation for you, @angelo-v ?

[2018-12-18 15:53] angelo-v commented on #1029
Thanks, I tried that already, but didn't help. If you say it should, I will try again, to be sure I had no typo or something

[2018-12-18 15:58] angelo-v commented on #1029
Ok, got it working, but doesn't help that much:
[code]

[2018-12-18 15:58] megoth commented on #1029
I've been able to reproduce this bug (not being able to create accounts when server is set to singleuser; I'll look into this when I have time.

[2018-12-18 17:13] jairo-campos-JD opened #1033 "Group Listing doesn't works"
AgentGroups on ACL file does not works, members on group listing does not have access to resource if you use agent instead of groups works fine.

[2018-12-18 20:34] kjetilk commented on #1033
Hmmm, perhaps it is something with the rendering, but the [spec](https://github.com/solid/web-access-control-spec#groups-of-agents) says we should use the `vcard:hasMember` predicate, which it does in the latest release. I recall there was some bugs in previous releases here, so we need to make sure it is updated on the server side too.

[2018-12-18 21:16] kjetilk commented on #1026
So, indeed, according to @dmitrizagidulin there are things running from the `serverUri` `Origin`, so we should concat that too.

[2018-12-18 21:21] kjetilk commented on #1023
Yeah, making the registration API better is something I would like to see, we just don't support it now.

I think it is something that we should look into for "version.next", but we don't have a timeline for that yet.

[2018-12-18 21:32] megoth commented on #1033
@jairo-campos-JD are you able to test with `vcard:hasMember` and see if that fixes the issue?

[2018-12-18 21:36] dmitrizagidulin commented on #1023
@boulderwebdev The current user creation API only supports POSTs of type `application/x-www-form-urlencoded` (basically, a form submission), not JSON.

[2018-12-18 21:40] kjetilk commented on #1029
So, @dmitrizagidulin , @megoth and I had a meeting to survey outstanding issues, and this turned out to be the most important regression that we've had so far.

It has surfaced because the previous code checked to see if a root `.acl` existed to see if a user existed, but per the spec, the root `.acl` must always exist, so to make sure it does, we added it, and therefore introduced this problem as

[2018-12-18 21:49] kjetilk commented on #1008
Well, it is more a heuristic, but I agree that "be sure" is a bit too strongly worded, so I changed the wording.

So, @SimonShapiro , it wouldn't be the *reason*, it is more that we don't know much about the scalability properties of the server, other than that it doesn't scale well. We have at least one more bug that relates to scalability, #849 , you could check if this is related.

It is still

[2018-12-18 22:41] SimonShapiro commented on #1008
If you want me to trap any specific log information, let me know how to do
so and I will re-run it.

I prepare all 1.6m triples using the python Rdflib  then I convert them to
json-ld as part of the pipeline where they become around 150,000 json-ld
objects on disk. Currently the json is served with any old
httpbserver(msoft iis in production). I was looking to solid to move away
from the json-ld s

[2018-12-19 15:33] kjetilk commented on #1033
OK, @jairo-campos-JD , what version of the server and acl-check library have you got?

[2018-12-20 13:21] pheyvaer commented on #896
Ok so I tested it again. This is what I did

1. Create `/public/test.ttl`
2. Click "sharing" button

I get the following error in the browser
[code]

[2018-12-20 13:45] bourgeoa commented on #1011
I have the same issue trying to add a file.json with the UI green + button. The file is created with zero length. I can create/edit the content with the Solid-ide-file app.
By the way file.js are accepted but the extension is .js_false

[2018-12-20 14:37] kjetilk commented on #896
Where was that @pheyvaer ? There have been pretty big changes, so I need to know the version of the server you are interacting with.

[2018-12-20 16:08] #1026 closed

[2018-12-20 20:39] kjetilk commented on #896
Right, thanks!

But doesn't that look as a frontend problem, since it appears to have botched the URL? That error can't come from the server, since the fetcher clearly doesn't have the URL? So, there are some frontend stuff in the server, but I don't know that part well enough, could this be somewhere else in the frontend?

/cc @RubenVerborgh , @megoth

Or is it something on the client side that r

[2018-12-20 20:44] kjetilk commented on #935
I think we should start using RDF more, so that we can have in-band semantics... :-)  Perhaps a `.controls` resource or something. This isn't my primary use case for it, but headers are starting to get pretty verbose.

[2018-12-20 20:59] csarven commented on #935
@namedgraph Why every response? Send only when responding to OPTIONS.

[2018-12-20 22:31] namedgraph commented on #935
@kjetilk not so simple. First you would need semantics of what `.controls` means and how it is discoverable.

[2018-12-20 23:13] megoth commented on #1033
Maybe you could post the raw text-versions as well?

![Showing which tab to see source](https://user-images.githubusercontent.com/775139/50316004-35388900-04b5-11e9-9827-97864804a804.png)

[2018-12-20 23:32] megoth commented on #896
I've been able to reproduce this on dev.inrupt.net and on my local dev-setup. The problem seems to come from the fact that there is no ACL-file for the file directly (the XHR-call returns a 404). It might be that the sharing pane is not working as intended because of changes in v5.

I'll take a closer look at this tomorrow (hopefully I get time).

[2018-12-21 00:08] kjetilk commented on #896
Since it was originally reported on solid.community, it is probably not directly related to v5. I just found https://github.com/solid/solid/issues/235 , perhaps there is something in the base URI setting code somewhere?

[2018-12-21 10:43] kjetilk opened #1035 "Consistent 500 on PUTs"
I'm trying to create various things on dev.inrupt.net, but it fails consistently on `PUT`:

[code]

I can't reproduce this on any of my installs.

[2018-12-21 11:01] megoth commented on #1035
Can we get some logs from the dev server perhaps? @justinwb

@kjetilk the timestamps would be around when you wrote the message above (approximately 11:43am CET)?

[2018-12-21 12:02] kjetilk commented on #1035
Yeah, just before that.

Now, I couldn't reproduce it on a second account that I created. Gotta dig more.

[2018-12-21 14:22] jairo-campos-JD commented on #1033
@megoth , @kjetilk seems like is working on inrupt or comunity server, let me double check it

[2018-12-21 15:45] kjetilk commented on #1033
@jairo-campos-JD https://dev.inrupt.net/ is uptodate with the latest, so if it works there, it is good. And if it is not working there, indeed, something we need to fix. :-)

Given that you say the it works with `acl:agentClass`, I have the feeling there is something old in there, because `acl:agentGroup` is used in the new code.

[2018-12-21 15:52] kjetilk commented on #1035
I thought this was going to be easy to reproduce, since it happened many times the first time I did it, but apparently not... So, this is what I did:

1. Register a new account with https://dev.inrupt.net/
2. Log in with the new user
3. Go to the public folder
4. Click on the green +
5. Choose e.g. "Notepad"
6. Write a name and click on green check
7. *boom* errors like pasted above.

The same err

[2018-12-21 18:56] megoth commented on #1035
I was not able to reproduce this bug using your approach, neither in Chrome nor in Firefox.

The only annoying this is that I have to log in on [subdomain].dev.inrupt.net after I've logged in to dev.inrupt.net, but that's another thing.

[2018-12-23 20:54] RubenVerborgh commented on #1031
Yes, with the exception of auth, so people can fill out their own domain.

[2018-12-24 00:56] timbl commented on #1011
That is a separate issue with the data browser UI... when you create a new text file  by clicking on the plus, it creates it with zero bytes,.  That's normal. What is non-ideal is that it doesn't open the source pane to allow you to edit it.   (or are you dragging a file onto the green plus?)

[2018-12-24 22:55] kjetilk commented on #1035
Seems I got some of the same now, attaching log.
[kjetiltest2.dev.inrupt.net-1545692027453.log](https://github.com/solid/node-solid-server/files/2707793/kjetiltest2.dev.inrupt.net-1545692027453.log)

[2018-12-25 17:46] angelo-v commented on #1029
Great that you have found the cause! Nice work, enjoy the holidays

[2018-12-27 03:04] TallTed commented on #918
This may not be the best issue to add this comment; feel free to redirect me/it.

In catching up on a lot of discussion and updates, it seems that when the "test quota on write" fails it results in a notification to the attempting writer -- so if @kjetilk tries to write to @RubenVerborgh's INBOX and that write would exhaust quota, *@kjetilk* gets notified -- but @RubenVerborgh does not.

This is t

[2018-12-27 19:50] megoth commented on #918
I think this is better suited as its own issue? But I think it's definitely something we should consider some solution for.

[2018-12-27 20:22] TallTed opened #1037 "when "test quota on write" fails, it should notify pod owner"
In catching up on a lot of discussion and updates, it seems that when the "test quota on write" fails it results in a notification to the attempting writer -- so if @kjetilk tries to write to @RubenVerborgh's INBOX and that write would exhaust quota, @kjetilk gets notified -- but @RubenVerborgh does not.

This is troublesome, as @kjetilk's best (and possibly only) way to inform @RubenVerborgh of t

[2018-12-29 16:06] melvincarvalho commented on #1037
@TallTed seems like this is a valid issue.  Are there some docs on how the quota system works, to the level of detail of notifications?  For example, if you have several inboxes where do notifications it go?

First thought is that the sender will get a notification via HTTP if the quota is full (I think).  If there's just the HTTP error then the notification system doesnt come into play.  Another

[2018-12-29 20:58] TallTed commented on #1037
@melvincarvalho - My earlier comments are not based on code review, just on the comments others made around the quota discussion.

"If you have several inboxes where do notifications go" -- since we're talking about exhausting quota on one inbox, I think notification goes to the email address associated with that inbox.  If there are multiple email addresses associated with one inbox, things do ge

[2018-12-29 21:54] kjetilk commented on #1037
Yeah, it is definitly a valid issue. Note, however, that the current quota system is a stopgap meant to serve a very specific use for a quota on less than 100 MB, or no quota at all. It was hard to implement anything sensible because there is no good way to persist anything beyond the OIDC subsystem or the owner's POD.

We really need to think of a better way, but I think it starts by introducing

[2018-12-31 04:12] MasterJames commented on #1037
I'd considering allow over-quota for alert emails about quota limits that occur before the actual limit. So some priority levels and early warnings sounds like a worthy idea to mention.

[2019-01-02 12:53] aaaagile opened #1038 "Solid (inrupt) local host server for windows 10"
Good morning,
I have a pod and now I would like to set up a local host on my laptop (windows 10) that will enable me to create (locally) my private data.
No joy so far ( problem with setting up an ssl certificate).

My final aim is to move my web site (djb.mypi.co) to TBL's inrupt style.
I build my site on Windows 10 (expression web) and export it to my Raspberry PI, where friends and relatives ca

[2019-01-02 14:32] kjetilk commented on #1038
Could you please post some more details? What kind of error messages are you seeing?

Possibly, the forum is a better place too, since none of the developers are using Windows.

[2019-01-02 14:35] aaaagile commented on #1038
Hi,
I don't see any. I require an idiots guide (I guess) to get started.

On Wed, 2 Jan 2019, 14:32 Kjetil Kjernsmo <notifications@github.com wrote:

[2019-01-02 16:17] melvincarvalho commented on #1038
Could you say what problem you encountered?

[2019-01-02 16:22] aaaagile commented on #1038
Hi,
That's my problem. I see no errors because I cannot get a local
server(windows 10) loaded
I guess I will need installation instru tions from the ground up
Djb

On Wed, 2 Jan 2019, 14:32 Kjetil Kjernsmo <notifications@github.com wrote:

[2019-01-02 16:23] aaaagile commented on #1038
Ps

Where is the forum.?

On Wed, 2 Jan 2019, 14:32 Kjetil Kjernsmo <notifications@github.com wrote:

[2019-01-02 16:53] akuckartz commented on #1038
https://forum.solidproject.org

[2019-01-03 15:17] rimmartin commented on #1038
Hi,
https://github.com/rimmartin/node-solid-server/tree/master/bin
by making two cmd scripts solid.cmd & solid-test.cmd I'm able to stand this server up.
If you need self certs I showed how on the forum https://forum.solidproject.org/t/pell-mell-on-setting-up-a-solid-server-on-windows/651/6?u=rimmartin using node-forge and other posts.

https://github.com/solid/node-solid-server/issues/954#issueco

[2019-01-03 17:01] aaaagile commented on #1038
Thanks, I'll take my time over this and see how it goes.
I have just finished triing to run a Unix environment on Windows 10 under vanguard. Without success
djb

[2019-01-03 17:03] melvincarvalho commented on #1038
@aaaagile good luck!

If you are able to say what steps you took.  And what problem you see, it will be easier to trouble shoot.

[2019-01-04 22:55] melvincarvalho commented on #1038
@rimmartin thank you for the pointers to the [cmd scripts](https://github.com/rimmartin/node-solid-server/blob/master/bin/solid.cmd)

I dont run a windows box any more.  Are you saying that the [solid script in bin](https://github.com/rimmartin/node-solid-server/blob/master/bin/solid), is not executable on windows?

[2019-01-04 23:18] RubenVerborgh commented on #1038
Assigned @joachimvh, who has been working on Windows issues lately.

[2019-01-04 23:51] rimmartin commented on #1038
Hi @melvincarvalho , without linux emulation or I believe Windows does provide a linux env but I'm not using it, windows doesn't know what to do with launching as described for linux
.

The https://github.com/solid/node-solid-server/blob/release/v5.0.0/bin/solid-test is a bash script which calls https://github.com/solid/node-solid-server/blob/release/v5.0.0/bin/solid which is a self running node s

[2019-01-06 04:08] megoth opened #1039 "Add an alternative developer mode where you don't have to set up certificates"
I know this goes against a lot of Solid promotes in terms of security, and might not be possible wrt WebID, but I've wished a lot of times for simpler developer setup, e.g. not having to deal with certificates when I'm setting up my testing environment.

Could we implement a http-version that sports a subset of the full server, you cannot create your own users, but are limited to a given numbers o

[2019-01-06 04:59] megoth commented on #1039
Waaaaaaat? I have not seen any trace of that being possible, lest any documentation on it... Tell me more?

[2019-01-06 05:15] RubenVerborgh commented on #1039
Just drop the SSL things from config?

[2019-01-07 10:05] kjetilk commented on #1029
Are you available to look at this @joachimvh ?

[2019-01-08 13:23] joachimvh commented on #1029
@kjetilk I'll look at it tomorrow

[2019-01-08 21:31] kjetilk commented on #1002
I'll close this now, since it is fixed in the 5.0.0 beta, which is what I'm pursuing. If someone wants to backport it to 4.x, please do so, we can certainly make a release, but there is little focus on that now.

[2019-01-08 21:31] #1002 closed

[2019-01-08 21:33] kjetilk commented on #823
Not sure while this is still open, I think it is fixed and released, so probably I just forgot to close it.

[2019-01-08 21:33] #823 closed

[2019-01-08 21:48] melvincarvalho commented on #1002
Thanks again for working on this PR.

I believe, there is a consensus to move solid.community to 4.4, in order to benefit from the new quota system, hopefully I can free up some time to help with that.

@kjetilk I thought the plan was to add this the 4.4 branch?  Fixing type indexes is beneficial in order for apps to do the right thing.

OK, I'll give it a try!  If you could let me know the releas

[2019-01-09 11:04] csarven opened #1040 "Support container updates"
First off: this issue is different than creating LDPC on route to creating an LDP-RS as a member of an LDPC that doesn't exist yet. That particular case was covered in https://github.com/solid/node-solid-server/pull/513.

This issue is about creating or updating an LDPC (ie an LDP-BC, at the time of this writing). It will conform to LDP provided that the information in the update payload doesn't g

[2019-01-09 11:09] csarven commented on #547
Issue #1040 should be the successor of the functionality to update containers. If that's in place, the feature to update container description via /.meta can be deprecated.

[2019-01-09 14:13] gibsonf1 commented on #1040
Is there currently a way to write triples to a container, such as rdfs:label or dcterms:description?  I'm not able to do it yet and would really like to know how it would be done currently.

[2019-01-09 14:20] csarven commented on #1040
@gibsonf1 Write to `/.meta` , fetch `/`.

[2019-01-10 08:11] joachimvh commented on #1029
@kjetilk do you have a config file on which this problem occurs? Because I can't seem to reproduce this problem on a clean install with `"multiuser": false` (user registration works for me there)

[2019-01-10 14:58] kjetilk commented on #1029
@joachimvh have you checked out the `release/v5.0.0` branch?

[2019-01-10 16:01] elf-pavlik commented on #1040
That smells bad to me.

:+1: x 1000

[2019-01-11 11:13] megoth commented on #1040
This could maybe be handled via LDP as an internal mechanism? So you could push triples to a container, and LDP _could_ store these in <container-uri>/.meta behind the hood, and when someone gets <container-uri>, they'll get the content of <container-uri>/.meta as well as a list of children listed in the container?

Might be a bit to much auto-magic too, just thinking aloud.

[2019-01-11 12:01] megoth commented on #1039
Ok, tried this now, and just to comment what seemed to have happened.

1. I reset my server (deleted `.db` and `data` folders and run `npm run clean`).
2. Removed `sslKey` and `sslCert` from `config.json`
3. Started server, did not work:

[code]

Then it just stopped there, doing nothing for a couple of minutes.

4. Stopped the server
5. Added `sslKey` and `sslCert` back to `config.json`, and star

[2019-01-11 12:02] megoth commented on #1039
Just to follow up with some thoughts on what we might want to do:

- expose this feature better somewhere in the documentation
- facilitate the init-script to allow developers to opt out setting up certificates
- make the `Solid server (v5.0.0-beta.4-2-g8af45d3) running on https://localhost:8443/`-part take into account when running without certificates (i.e. output `http` instead of `https`)

Aft

[2019-01-11 12:11] megoth commented on #1039
Another update: Seems some resources are hardcoded to use `https`, e.g. the `openid-configuration` file that the login popup fetches for my local setup (`http://megoth.localhost:8443/.well-known/openid-configuration`):

[code]

I'm guessing this is a requirement from OpenID though, so might be wrong to alter these...

[2019-01-11 12:17] megoth commented on #1039
An error I did earlier was forgetting to change `serverUri` to a `https` based Uri. Might be the reason for the failed run of the server.

[2019-01-11 12:21] megoth commented on #1039
Also seems `provider.json` in `.db/oidc/op/provider.json` uses https no matter what. I guess it is a requirement, so might not be something we want to change.

[2019-01-11 12:42] megoth commented on #1040
Yeah, I should've been clearer in my previous comment: I wanted to suggest to make the internal mechanism I described a part of the LDP spec.

Even though it would add complexity in that the description of a folder-URI would comprise of manually and automatically generated triples, I think it could be a useful abstraction for developers, and it could be applied for all non-RDF variants of resource

[2019-01-11 12:50] megoth commented on #1039
After trying out http-version of the server, it's kinda painful... seems that there are a lot developed with https in mind, and stripping out the certificates is just not a good option at this point...

Might be something we want to have in mind when setting up the new architecture for the server (pinging @kjetilk on this).

[2019-01-11 13:11] csarven commented on #1040
I don't see how it'd be or become "a part of the LDP spec", but maybe we are misunderstanding each other. LDP doesn't specify the internals of updates / recalling. Only the optional interaction with the container IRI directly, as well as suggesting to not mess around containment triples.

node-solid-server already detects .meta association for any resource. We already discussed containers, but RDF

[2019-01-12 07:54] jdbohrman opened #1046 "Add Helm for Kubernetes"
Although I'm not sure what the use case would be yet, I'm sure someone might want to try running a server on K8's at some point. Would you like a helm chart?

[2019-01-13 16:37] timbl commented on #547
I think (hope) there is a misunderstanding here.  These two issues This #547 and the newer #1040 are surely the same function.   The .meta file is an *internal* way in which NSS happens to implement writing triples to a container.  The .meta URL is never seen by the client.  This issue removed the ability to store arbitrary triples in a Container, #1040 puts  it back surely.

[2019-01-13 16:56] csarven commented on #547
/.meta URL is "seen" by the client if they write to it, or at the very least, the HTTP headers have a describedBy relation pointing to it.

This issue proposed the removal but it wasn't removed in NSS. It was marked as revisit. The functionality ( write to /.meta, read from /) remains.

As for #1040 , it is different in that it proposes to only interact with the container URI , but yes, writing tr

[2019-01-14 04:04] linonetwo opened #1048 "Support server side services"
Usage example:
User sign in to an NLP service, then NLP service store the JWT from solid-auth-client, so it can access to user's POD for a year, and do some semantic parsing every 5 minute (cronjob), link user data to some ontology.

But this kind of service is not fetching POD data via a browser, so there is no origin for it. How can ACL work in this circumstance?

What's the recommended way to i

[2019-01-15 01:15] kjetilk commented on #468
The fix should be #1050, please review.

[2019-01-16 15:36] kjetilk commented on #1029
I think we have it fixed now, I'll look into releasing a new beta tonight.

[2019-01-16 15:36] #1029 closed

[2019-01-16 15:59] RubenVerborgh opened #1053 "Acknowledge all contributors to this repository"
The current README only lists people who have contributed through lines of code. We should acknowledge people who contributed in various other means, such as through issues, testing, interactions on chat, etc.

[2019-01-16 21:59] RubenVerborgh commented on #1053
Two possible solutions have been contributed so far:
- #1054, with a sectioned list to explicitly acknowledge non-code contributions
- #1055, with a flat list

[2019-01-17 07:03] rubensworks opened #1056 "Account deletion error with invalid WebID"
I just tried removing an account for someone that wanted his account deleted using the delete request form: https://solid.community/account/delete (also occurs on https://inrupt.net/account/delete)

However, when submitting the form, I get the following error (changed the name for privacy reasons):
`Error: Error: NamedNode IRI "https://rubentaelman.inrupt.net/Ruben Taelman" must not contain unenco

[2019-01-17 09:01] RubenVerborgh commented on #1053
Following up for the Solid project as a whole: https://github.com/solid/solid/issues/243

[2019-01-17 12:53] melvincarvalho commented on #1053
No strong view on this.  But perhaps some food for thought.  Last time this topic came up, I mentioned the all-contributors standard :

https://github.com/all-contributors/all-contributors

Which has some guidelines, tooling and bots.  It is used by some other free software projects and contains various [categories](https://all-contributors.js.org/docs/overview#emoji-key) of contribution, each wit

[2019-01-17 13:15] RubenVerborgh commented on #1053
Good point, I linked to it as well in the PR for this issue: https://github.com/solid/node-solid-server/pull/1054#issuecomment-454961331. I'm cautious about the maintenance overhead it might generate, but would be nice to explore. Perhaps #1054 can be a temporary solution, and then be replaced by a more advanced version.

[2019-01-17 18:47] kevin-smets commented on #826
I have the same issue for a local solid server... 500 could mean anything, no?

[2019-01-17 23:57] kjetilk commented on #826
OK, @kevin-smets , was that with the latest 5.0.0-beta.5?

[2019-01-18 17:35] kevin-smets commented on #826
May have been pebcac I'm afraid. I did not set  `export NODE_TLS_REJECT_UNAUTHORIZED=0` and `--no-reject-unauthorized` when using a self signed certificate. I tested now with the 5.0.0-beta.5 and it seems to working as expected. Sorry! 😭

[2019-01-19 12:47] #1053 closed

[2019-01-20 10:51] kjetilk commented on #826
Good to hear :-)

[2019-01-20 10:51] #826 closed

[2019-01-21 10:00] RubenVerborgh opened #1057 "Decouple homepage front-end from node-solid-server"
So we can have a decent homepage

[2019-01-21 14:10] megoth commented on #918
So I'm getting to the point where a user has a virtual resource that gives you the size available in the POD (`solid:storageQuota`) and how much is currently used (`solid:storageUsed`). We should use some kind of caching mechanism, and I'm wondering if anyone has any suggestions?

[2019-01-21 14:11] dmitrizagidulin commented on #1040
If I'm understanding @csarven correctly, re "the interaction will only go through container URI" - that's the way it's actually implemented right now.

Meaning, you do a PATCH _to the container URI_, not to `.meta` (although behind the scenes it gets written to `.meta`.)
And #547 is a proposal to _remove_ that functionality. To do away with editing the container in any way.

[2019-01-21 14:13] dmitrizagidulin commented on #547
@csarven - I second what @timbl said. These two issues are asking for exactly opposing functionality.

[2019-01-21 14:32] michielbdejong commented on #143
Partial fix in https://github.com/solid/node-solid-ws/pull/6

[2019-01-21 14:42] csarven commented on #547
@dmitrizagidulin https://gitter.im/solid/node-solid-server?at=5c3d3d3a35350772cf315ca8

[2019-01-21 15:11] csarven commented on #1040
I'd like to reproduce but I'm unable to PATCH container URI. I get a 500 from server:

[code]

Is there a particular ACL policy that needs to be in place in the container URI or in the parent container URI - can you specify the snippet?

I've also played with directory permissions but didn't help.

I'm basically trying following snippet:
[code]

[2019-01-21 15:35] dmitrizagidulin commented on #547
@csarven Copy that, thanks.

[2019-01-21 15:44] megoth commented on #918
I introduced this conversation in [solid/node-solid-server](https://gitter.im/solid/node-solid-server) as well, and think I landed on using [lru-cache](https://www.npmjs.com/package/lru-cache) to cache the response that is created.

I think that's a better match then creating a cache-mechanism from scratch.

[2019-01-21 16:04] megoth commented on #1057
As part of this we need a good way of managing the front page. One use case could be that a user wants to change their frontpage. Another is to allow apps prompt users to make the app their frontpage. This could of course be abused easily, so we need to consider how we want to limit abuse.

Do we want to implement the management tools "fully" (e.g. serve some locally stored HTML-files), or are ser

[2019-01-21 16:18] RubenVerborgh commented on #1057
My goal is to make the front-page an app generated from a Turtle file, so all of the above should be possible (using another app as well).

[2019-01-21 16:37] csarven commented on #1057
Just to share an idea from dokieli (which is in part a work in progress):

dokieli can "open" individual resources as well as containers (and "collections" as per AS2) eg: one can see it in action through an URL with dokieli (handled on the clientside) https://dokie.li/?open=https://rhiaro.co.uk/2018/12/ or using the "Open" feature from the dokieli menu and entering a container URI. It will basica

[2019-01-21 17:56] rimmartin commented on #1057
Also instead of a page per say; a z-index layer that app developers can set in to their own pages.  This way never leave the page or be treated as a popup

[2019-01-22 00:22] kjetilk opened #1059 "Create a per-provider Turtle file to describe the provider"
Per the discussion in https://github.com/solid/community/pull/16 , we should make a Turtle file per provider, where the provider may describe themselves and their policies. They could then submit their URL to POD provider registries and it could then be scuttered to provide such a list.

[2019-01-22 07:58] scenaristeur commented on #1057
Could this post be relative to this issue ? https://forum.solidproject.org/t/inter-app-access-control/184?page=3
Keeping index.html & browser

[2019-01-22 12:36] megoth commented on #1059
Should we expand the [Solid vocabulary](https://github.com/solid/vocab) or are there existing vocabularies that might cover our need?

[2019-01-22 12:41] megoth commented on #1057
@scenaristeur that thread seems very relevant, thanks for the heads up. But I'm unable to locate which post you're referring to, as ?page=3 gives me "Oops! That page doesn’t exist or is private." =/

![image](https://user-images.githubusercontent.com/775139/51536266-504b3f80-1e4b-11e9-83f9-aa51fdb53b82.png)

[2019-01-22 14:09] kjetilk commented on #1059
Not sure, but I think we can use a lot from Dublin Core and friends.

[2019-01-23 14:58] cristianvasquez commented on #1039
Hello,

A server that just 'runs' on top of a directory would be really nice.

Security and access control could be decoupled layers that people can configure **only** if they need to.

Also people could change things, for example: Instead of using access control list (ACL), one could use Graph-based access control (GBAC) or role-based access control (RBAC) etc.

[2019-01-23 16:37] cblakeley opened #1061 "'aud' claim in Solid OAuth tokens"
The `aud` claim in OAuth tokens issued by Solid appears incorrect and is causing authentication errors when a client supplies the access token.

---

_Added 2019-Feb-01:_

_Added a TLDR re-iteration of the essential problem which triggered this issue, and the proposed fix,  [here](https://github.com/solid/node-solid-server/issues/1061#issuecomment-459688994) for those not wanting to read the compl

[2019-01-23 16:43] dmitrizagidulin commented on #1061
Ok, so, this is on purpose, and has to do with Solid's extension to OIDC to make it more decentralized (to allow an app to authenticate to multiple unrelated Resource Servers with just one ID token). I'll explain more in another comment, but just wanted to give a heads up.

[2019-01-23 22:03] kidehen commented on #1061
@dmitrizagidulin,

What's on purpose? How does this extend decentralization?

[2019-01-24 12:15] megoth opened #1063 "Regression bug in v5: Need to check for a file's ACL when it is served as resource for a container"
When a file is served as response to dereferencing a container, we also need to check that file's ACL settings when determining whether a user has access to that resource.

How it works on v4: as a visitor I have read access to both https://megoth.solid.community/ and https://megoth.solid.community/index.html
But on v5: as a visitor I have read access to https://megoth-test1.dev.inrupt.net/index.h

[2019-01-24 14:17] RubenVerborgh commented on #1057
Relevant thinking work for the actual app (there could be multiple): https://github.com/solid/solid/issues/18

[2019-01-24 14:57] scenaristeur commented on #1057
@megoth
Sorry, here is the link https://forum.solidproject.org/t/index-html-in-a-pod-folder-and-keeping-browser/1113

[2019-01-24 23:39] kjetilk commented on #1063
So, thinking about it, I'm thinking that we should be using `/.acl` even if the server serves up `/index.html`.

The default ACL file says `/` is public, so could you double check that your `/.acl` says that?

[2019-01-25 13:20] megoth commented on #1063
Sorry, forgot to answer this.

The template for root ACL is

[code]

So the default ACL file for root says that all files are private.

[2019-01-25 15:11] RubenVerborgh commented on #1061
I think another question about this then, for @dmitrizagidulin, is whether this check is correct. Why is this checked on audience rather than subject?

Also, this check seems obsolete given the `oidcIssuer` predicate, because my WebID is on ruben.verborgh.org whereas my pod is on drive.verborgh.org. So the latter is an issuer for the former, but the check would fail.

[2019-01-25 15:19] megoth commented on #1063
So making the root folder publicly available is a solution for this, that is changing `default_templates/new-account/.acl` to:

[code]

This does not give access all other files in the root folder, so this should work.

The problem with this approach (which I think is correct) is that users with outdated root ACLs will need to upgrade their root ACL if they want their homepage be publicly availabl

[2019-01-25 15:44] mikeadams1 commented on #1063
I am also confused here as well because, @megoth I thought you stated that the acl issue with regards to home pages being public was an err in NSSv5 but, it appears that your position now is that it was a bug in v4.x that the home pages were public and should not have been, is this correct?

[2019-01-25 16:02] mikeadams1 commented on #1063
If I am mistaking the discussion here, just let me know.

[2019-01-25 16:32] kidehen commented on #1061
@RubenVerborgh,

We have fixed this issue and published a PR.

What next?

[2019-01-25 16:33] RubenVerborgh commented on #1061
@kidehen Determining whether that PR is indeed fixing the correct issue; see follow-up in https://github.com/solid/oidc-op/pull/13.

[2019-01-25 16:58] megoth commented on #1063
My understanding of the problem evolves, so my hypothesis was something else initially. Is also why I'm stating how I understanding of the problem here, in hopes of getting feedback and maybe correct me if I'm still not understanding the problem correctly.

[2019-01-25 17:06] megoth commented on #1063
Just to note, this ties into https://github.com/solid/web-access-control-spec/issues/36 as well. I tried changing the last part of the root-ACL to:

[code]

That doesn't work, I'm afraid =/

As I have understood the ACL-spec, I need to make the root-folder readable to make it accessable to the public. But the previously mentioned change would only make `/` readable, not other resources that reside

[2019-01-25 17:07] megoth commented on #1063
Yes, we're passing `/`; my initial approach to this issue was actually to change it to pass `/index.html` (or `/index.ttl` or whichever resource that is "actually" passed to the client) to the ACL checker, but if I understand the ACL spec correctly, that is not how we should do it.

Am I understanding that part correctly?

[2019-01-25 17:09] RubenVerborgh commented on #1063
Is the problem specific to just `/`, or do we have the same situation with `/foo/` and `/foo/index.html`?

Indeed.

[2019-01-25 17:10] megoth commented on #1063
Another effect of this is that you can actually make the root publicly readable, but not the default file that the server ends up (by root ACL stating that `/` is readable, but index.html.acl says that `/index.html` is not publicly available), e.g. you could visit https://megoth.solid.community/ but not https://megoth.solid.community/index.html.

[2019-01-25 17:13] megoth commented on #1063
`/foo/` (and `/foo`) and `/foo/index.html` is not publicly readable by default. (Neither with my proposed change by stating that `/` is publicly readable by all.)

[2019-01-25 17:18] RubenVerborgh commented on #1063
Indeed, but what I mean is: if we set similar permissions on them, would they have the same problems? I guess `/public/` and `/public/index.html` are in that case (if an index.html exists).

[2019-01-25 17:20] RubenVerborgh commented on #1063
I indeed think that https://github.com/solid/node-solid-server/blob/v5.0.0-beta.5/default-templates/new-account/index.html.acl is the problem; this should not be `index.html.acl` but `.acl`. Permissions should be set on `/`, not on `/index.html`.

[2019-01-25 17:21] megoth commented on #1063
Yes, we could get the same problem, e.g. if `/foo/index.html` has specific ACL (i.e. `/foo/index.html.acl`) that makes it publicly readable, you would get a 200 for `/foo/index.html`, but you would get a 401 for `/foo/` (and `/foo`).

[2019-01-25 17:22] megoth commented on #1063
So the fix could be to make `/` publicly readable, and remove `/index.html.acl`? (Since they could diverge and make it confusing.)

[2019-01-25 17:25] RubenVerborgh commented on #1063
We need two fixes:
1. new accounts indeed should not have any rules for `*index*` files
2. old accounts should continue working

The second thing is problematic. We do not want to start changing file contents; that sets a bad precedent. (We do change internal/external filename correspondence, but that does not touch their contents from an HTTP perspective.)

I think our only course of action here

[2019-01-25 17:39] RubenVerborgh commented on #1063
Fixed the template part in https://github.com/solid/node-solid-server/pull/1065.

[2019-01-25 18:04] mikeadams1 commented on #1063
@megoth I understand what your saying, and trust that you all are making the best decision. Thank you all for your attention to this matter.

[2019-01-26 00:21] dmitrizagidulin commented on #1061
Hi everyone! So, the root cause for this issue is lack of documentation on our part.

The short version is - the access token from oidc-rp's storage (I assume it got there via solid-auth-client) is not something you can use directly for requests to the server. It's meant to be used through the auth client's [`popTokenFor()`](https://github.com/solid/oidc-rp/blob/master/src/RelyingParty.js#L468) me

[2019-01-26 00:59] dmitrizagidulin commented on #1061
Ok, so what are these Proof of Possession tokens for?

Normally, OAuth2 and OpenID Connect require that a token is _restricted to a particular resource server_ - that's what the `aud:` claim is for. This is done for excellent reason - see for example the [Bind Tokens to a Particular Resource Server (Audience)](https://tools.ietf.org/html/rfc6819#section-5.1.5.5) section of the OAuth 2.0 Threat Mod

[2019-01-26 01:37] dmitrizagidulin commented on #1061
Ok, so that was an over-simplified example, to illustrate what `aud:`ience filtering is _for_ -- it's a mechanism to prevent resource servers from reusing your tokens elsewhere. So each Solid server inspects bearer tokens and _only allows tokens that were minted with it as the audience_.

So, as pointed out previously, in `oidc-auth-manager`, when the server starts up, the Resource Server portion

[2019-01-26 02:41] dmitrizagidulin commented on #1061
The classic OAuth2 / OIDC workflows were designed for situations where there's only _two_ "trust zones".

For example, say you have a third-party Twitter client app (basically what OAuth was invented for). In this case, the trust zones are: 1) Twitter (playing the role of _both_ the Identity Provider and the Resource Server), and 2) the third party app, playing the role of Relying Party.

Or take

[2019-01-26 12:16] csarven commented on #1040
My reading of the error based on https://github.com/solid/node-solid-server/blob/master/lib/handlers/patch.js#L73 is that `readFile` fails for directory as input as per https://nodejs.org/api/fs.html#fs_fs_readfile_path_options_callback (at least on non-FreeBSD systems). Looking patchHandler (but not getting into debugging) it doesn't look PATCH for containers (directories on filesystem) is suppor

[2019-01-26 15:29] justinwb opened #1066 "Add release detail to CONTRIBUTING.md"
At the moment we have a stable v4 release represented in master, and a beta release in it's own branch (release/v5.0.0). @csarven made a good point (see https://gitter.im/solid/node-solid-server?at=5c4c5a589221b9382dc52a3f) that it isn't clear for people wanting to contribute to one or the other where they should fork from / pull to if they want to contribute. I suggest adding this detail to CONTR

[2019-01-26 20:20] dmitrizagidulin commented on #1061
@kidehen The implications are - the PR breaks audience filtering, and should be closed. The baseline problem is in the app logic, using the token that's meant for embedding as a standalone token. I'll give code examples on how to get OIDC tokens via the auth client (so they can be passed in requests), and how to use the existing PoP tokens the auth client creates by default.

[2019-01-26 20:46] RubenVerborgh commented on #1061
@dmitrizagidulin Thanks for the explanation so far, we should copy that into the docs. Looking forward to the next part. (Wild guess: this is probably where the client creates a token for an external resource server.)

[2019-01-26 20:58] RubenVerborgh commented on #1061
@dmitrizagidulin Something I don’t understand with the explanation above is `OidcManager.domainMatches(this.providerUri, a)`.

Why are we checking the (identity??) _provider_? I would, based on the above, expect a check of whether the token can be used this by (subdomains of) the relying party (or possibly the resource server). The code comment mentioned above is also confusing in that regard. Wha

[2019-01-26 21:05] kidehen commented on #1061
So you are going to produce a code snippet about the expected behavior of a generic OIDC Relying Party that encounters this problem?

Or are you going to produce a curl command sequence (based on what @cblakeley [provided above](https://github.com/solid/node-solid-server/issues/1061#issue-402326751)) that results in a different outcome i.e., no error based on the token presented?

[2019-01-26 21:11] kidehen commented on #1061
To what do you refer by the phrase "App Logic" re this problem scenario?

I ask because @cblakeley [provides an example using curl](https://github.com/solid/node-solid-server/issues/1061#issue-402326751) .

[2019-01-26 21:47] dmitrizagidulin commented on #1061
@RubenVerborgh

Hehe, yes, exactly! :)

So, I think part of the confusion comes from the fact that in node-solid-server, the identity provider uri is the same as the resource server uri! So it's actually checking whether the token can be used on the domain of the resource server, just like you say.

[2019-01-26 21:51] dmitrizagidulin commented on #1061
@kidehen

Sure, I can do that. There's basically another function call or two required to produce a token that's usable with `curl`. It's not sufficient just to get it from storage.

[2019-01-26 22:02] dmitrizagidulin commented on #1061
@cblakeley @kidehen
The relevant code for getting a token usable with `curl` can be found here: [solid-auth-client/fetchWithCredentials()](https://github.com/solid/solid-auth-client/blob/dc34a3c9ddc912aa03abb71de7e90589f6a03042/src/webid-oidc.js#L205)

The relevant line is:
`const popToken = await PoPToken.issueFor(toUrlString(input), session)`
which issues a token for a given Resource Server url

[2019-01-26 22:03] dmitrizagidulin commented on #1061
But there's probably easier ways to get a token, depending on what you're trying to do.

[2019-01-27 00:41] kjetilk commented on #1061
Thanks a lot for the explanation so far, @dmitrizagidulin ! This is very good stuff, I'll hang around for the rest! :100:

[2019-01-27 02:15] elf-pavlik commented on #1061
@dmitrizagidulin could you please document it for general scenario where we have IdP and pods and apps on completely different domains? Later one can apply it to special scenarios which has IdP and pod on the same domain.
* IdP
  * borring-idp.example (for Alice & Bob)
  * dramatic-idp.example (for Romeo & Juliet)
* pods
  * alice.acme.example
  * bob.ajax.example
  * romeo.montague.example
  * ju

[2019-01-27 03:01] rimmartin opened #1068 "v5 refreshing public page causes fetch url jumble"
Are you wanting testing to be done on v5? If so

1) clone and install v5
[code]
2) register a user and go to public folder view

3) add a sub folder and expand it within the public view; should look good

4) refresh the public view with the browser

5) expand the sub folder again and should see a fetch url jumble
[code]
The url <https://lisa.localhost:8443isa.localhost/public/bread/> has a strange

[2019-01-27 16:47] cblakeley commented on #1061
@dmitrizagidulin: Thanks for the very detailed response! Lots to digest...

[2019-01-27 20:38] kidehen commented on #1061
Here's what I am gleaning from all of this:

1. WebID-OIDC as a protocol isn't about adding an `solid:oidcIssuer` relation lookup to the basic OIDC protocol

1. Token access is part of the protocol which also entails additional Relying Party and Identity Provider exchanges.

If this is indeed correct, why isn't it documented?

[2019-01-27 22:44] csarven opened #1069 "CORS proxy doesn't follow redirects"
When the proxy receives a redirect from the target server, it doesn't follow, and instead returns it back to the requesting agent.

[2019-01-27 23:09] RubenVerborgh commented on #1061
@dmitrizagidulin

### Identity provider URI versus server URI

That is not always the case, right?
Even your simple example above is a counterexample:

Relying Party (RP): solid.community
Resource Server (RS): **solid.community**

So is the `providerUri` in `OidcManager.domainMatches(this.providerUri, a)` just a naming problem, or is something wrong?

### Can popToken: false be the default?

Is it

[2019-01-27 23:12] dmitrizagidulin commented on #1061
@RubenVerborgh OH! :) I see what you're asking! Yes, that's definitely just a naming problem. The variable `providerUri` just happened to be conveniently nearby, and initialized from `config.serverUri`. So yes, that should probably be renamed. (Sheesh, I didn't even notice it, my mind automatically translated to `serverUri` :) )

[2019-01-27 23:17] dmitrizagidulin commented on #1061
Yes, no reason not to. (In fact, `popToken` is actually false by default, in the `oidc-rp/RelyingParty` constructor.) solid-auth-client seems to bypass that, though, and always invokes `PopToken.issueFor()` (in its authenticated fetch).
Anyways, this should definitely be streamlined (I have some thoughts on this, below).

[2019-01-27 23:57] kjetilk commented on #1068
Yes, so thanks a lot! We'll have a look!

[2019-01-28 00:17] dmitrizagidulin commented on #1061
All right, so, let's wrap up the explanation, for completeness.

So we have these conflicting design constraints:

1. Tokens should be audience-bound to their intended recipients (RelyingPart or ResourceServer), to prevent token misuse and impersonation.
2. Solid apps have the unusual requirement (though it seems to be core to Solid's premise) that one app needs to make authenticated requests to a

[2019-01-28 00:52] elf-pavlik opened #1071 "hardcoded storage root listing"
I have deleted `/inbox/`, `/public` and `/private` after that `https://elf.solid.community/` still shows them. Clicking the on any of those links results in `Can't find file requested: ../solid.community/elf.solid.community/public/` etc.

![screenshot_2019-01-27 elf pavlik solid home](https://user-images.githubusercontent.com/876431/51809242-71a19680-2264-11e9-9c17-ee7a492ee8a9.png)

[2019-01-28 01:06] elf-pavlik opened #1072 "cannot delete /settings/serverSide.ttl"
I use `https://elf.solid.community/` as dev Identity Provider account and `https://elf.solidtest.space/` as dev Resource Server. I want to delete everything from the IdP account except the profile card.
When I try deleting `/settings/serverSide.ttl`
[code]
Response shows: HTTP 403
[code]

When I try to delete `/settings` I get HTTP 409
[code]

[2019-01-28 02:10] rimmartin commented on #1068
@kjetilk , good, I'll keep testing. let me know if there should be anything focused on specifically

[2019-01-28 08:41] kjetilk commented on #1072
Indeed, if your user could do that, you could defeat the quota system. So, deleting the `serverSide.ttl` is only something the server administrator can do. So, it is not a bug... :-)

[2019-01-28 08:41] #1072 closed

[2019-01-28 09:42] csarven commented on #258
Hello ldnode, we meet again. I've overlooked this issue. Created #1070 with the same expected result. PR in release/v5.0.0 : https://github.com/solid/node-solid-server/pull/1070

[2019-01-28 11:20] kjetilk commented on #1071
This is more a subissue of #1057 .

[2019-01-28 12:31] kjetilk commented on #1063
@megoth and I discussed this a bit in person, as there are many issues around this. One is that in 4.4, the root ACL isn't respected, i.e. users are granted access to root without an authorization in the ACL system. That this has been changed in the NSS5 beta series is a consequence of that we have been tightening up the security. So, I expressed my discomfort with adding code that emulates old be

[2019-01-28 13:49] RubenVerborgh commented on #1063
I haven't been able to look at #1067 in detail, but I think it is much simpler than that.

We have to distinguish between legacy and future. #1065 fixes the future indeed, no need to change things there.

However, fixing the ACL system (as we do in v5) breaks the incorrect ACLs on the 100.000+ pods already out there which were created with a broken ACL system in place.

So what I am proposing is n

[2019-01-28 14:03] kjetilk commented on #1063
That is basically what #1067 does, but in a more general way.

Indeed, we could constrain that to just `index.html`, but I think there is potential for confusion when people are setting their ACLs and they are not reflected in the actual permissions. I don't think we should have that, instead, I think a better solution is for POD Providers to add an authorization by a script. Same effect, much les

[2019-01-28 14:17] RubenVerborgh commented on #1063
What concrete problems would that bring?
It is a hack, but a really good one.

The alternatives include:
1. breaking 100,000 homepages
2. changing people's ACL files

The first is so horrible it can drive people away ("Solid is the thing that broke my homepage on an upgrade").
The second is so horrible that it gives people a reason to never trust us again ("they said control, but they changed my A

[2019-01-28 14:57] megoth commented on #1063
I think it's a bad hack, but I think it's the best option we've got.

The first one is something we really should avoid. So some sort of action is preferable.

I'm open to the the script solution though, with the instructions being as follow:

1. Iterate through all accounts
2. If root ACL do not grant READ access to root, add rule that grants it

As a script this allows the POD providers to make

[2019-01-28 15:14] megoth commented on #1063
Just to note, there is a third option: Create an API that allows users to reset access to a given resource. This could also be useful for issues where users for various reasons have been able to lock themselves out of control on a given resource.

This solution needs some thought though:
1) We should verify that the user is willingly sending the request, e.g. require them to verify via email, like

[2019-01-28 15:27] kjetilk commented on #1063
I don't think so, consider that the user removes the public authorization on the root ACL, and puts some confidential material in there, not realizing that the index.html.acl overrides it, and so has confidential information exposed. It is a horrible hack, with flaming antlers, the smell of phosphorous, sulfur and dead fish. And then some. :-)

Moreover, wouldn't it create implications for the spe

[2019-01-28 15:47] elf-pavlik commented on #1072
If `serverSide.ttl` doesn't really belong to user's data, why put it in their storage? It might work better to put it under some reserved subdomain/path eg. `admin` or `system` and use user's storage for resources they can control.

[2019-01-28 16:26] kidehen commented on #1061
@d

Are you confirming the following claim from my earlier post?

/cc @RubenVerborgh  @cblakeley

[2019-01-28 21:34] kjetilk commented on #1072
Yes, it is... But it is really a long story, we'd didn't have any other place to put it, without introducing an entirely new element to the stack, and we already spent an awful lot of time on this. We might do it differently in the future.

[2019-01-28 21:50] dmitrizagidulin commented on #1061
@kidehen I don’t quite understand your claim, to confirm it. Webid-OIDC was never claimed to be “simply” anything. And the lack of documentation for the multi-rs workfow has been an acknowledged reality among the solid team for a long time...

[2019-01-28 22:16] kidehen commented on #1061
Okay, let me be more precise:
I assumed that WebID-OIDC was a protocol that extended OIDC by adding a WebID-Profile relation (i.e. solid:oidcIssuer) look-up to the standard protocol.

Until this issue arose, the statement above held true fundamentally i.e., a WebID is added to OIDC tokens which is then used for the de-reference and solid:oidcIssuer relation lookup.

For purposes of analogy solely

[2019-01-28 22:18] mikeadams1 commented on #1063
"Or, could we have an explicit sunset on this hack? I.e., we do this for 5.0.0, but warn our users that they need to set read permission on their root, because this will be removed in the future?"

I think that this is the best course of action seeing as it should be the responsibility of the pod owner to be explicitly familiar with and manage there own acl.

[2019-01-28 22:20] RubenVerborgh commented on #1063
Good idea. Practical problem would be lack of a place to show such a notification.

Even better perhaps is combining this with something I read earlier: making this a button "Set permission" so it is zero effort.

[2019-01-28 22:22] mikeadams1 commented on #1063
@RubenVerborgh Agreed, make it so!

[2019-01-28 22:22] kjetilk commented on #1063
OK, good! I think we have consensus!

[2019-01-28 22:23] mikeadams1 commented on #1063
Agreed!

[2019-01-28 22:23] kjetilk commented on #1063
BTW, @RubenVerborgh which repo should get an issue to get the deprecation warning and "Set permission" button?

[2019-01-28 22:24] RubenVerborgh commented on #1063
Depends on where we want to show it. I think NSS, should probably login redirect page.

[2019-01-28 22:25] kjetilk commented on #1063
Right, we can do that... I was also thinking about some of the other UIs, e.g. databrowser?

[2019-01-28 22:31] kjetilk commented on #1063
OK! I think we could use the login page, as everyone is on that every now and then.

[2019-01-28 22:35] mikeadams1 commented on #1063
If you put it on the login page then that may scare some people, really only those affected should need the notification, why not do inbox and if that was not enough, and I think it is, why not send an email to the accounts affected.

[2019-01-28 23:11] csarven opened #1074 "Auth proxy doesn't follow redirects"
Note PR https://github.com/solid/node-solid-server/pull/1070 discussing how some auth proxy tests failed (in the original PR). The following in `PROXY_SETTINGS` should still work for https://github.com/solid/node-solid-server/blob/master/lib/handlers/auth-proxy.js
[code]

[2019-01-29 12:12] megoth commented on #1063
I've implemented a [hack so that the index.html-algorithm works](https://github.com/solid/node-solid-server/blob/bug/root-index-special-handling/lib/handlers/allow.js#L56), but I have some questions reg the button-part.

There are three scenarios that we might want to consider:

1. The user wants to grant READ access to root: We need to grant public READ access to '/' in `/.acl`; We can present th

[2019-01-29 12:14] megoth commented on #1063
I see that people have suggested that the button should live in the login-page? I'm confused as to how that would work? Or am I misunderstanding something?

[2019-01-29 12:25] megoth commented on #1063
To give people an idea of what I'm thinking wrt two buttons (make public, make private):

[code]

[2019-01-29 12:48] megoth commented on #1030
This issue was created right before christmas, so I believe it was forgotten. We need to discuss this further, to find a solution that we are happy with. Maybe @RubenVerborgh , @rubensworks , @joachimvh, @kjetilk or @dmitrizagidulin has some input?

[2019-01-29 12:49] megoth commented on #1063
I am wondering where we should have this button. If I put it in `/index.html` we need to run the update POD script that was implemented in https://github.com/solid/node-solid-server/pull/953, but as https://github.com/solid/node-solid-server/issues/1030 discuss, this might be problematic.

[2019-01-29 14:14] kjetilk commented on #1030
Good catch! This is something we need to release 5.0.0, right?

[2019-01-29 14:16] kjetilk commented on #1063
I think they should decide, as not deciding will cause problems when the hack is retired.

I think it is a good idea to have two buttons though, so that they can choose.

When you say it, I'm not sure what the others meant by "login"-page, because when you see that, you're not yet logged in, I suppose.

[2019-01-29 14:44] megoth commented on #1030
Yes, and we should have the default behavior sorted out before we deploy the first public release.

[2019-01-29 14:50] kjetilk commented on #1030
"POD sovereignty" is a good term indeed, I think we should talk about it in those terms.

Our goal is clearly that POD sovereignty is an absolute, but I think we should discuss whether we should think about it as an absolute while the server is a prototype. I think that #1057 will help in the sense that we do not have any frontend stuff to update, but we still have the `/settings/serverSide.ttl` f

[2019-01-30 00:03] kjetilk opened #1076 "Add a button to add explicit rule to make / public readable"
Explanation in #1063.

[2019-01-30 00:04] kjetilk commented on #1063
I have merged the backend aspects of this an released a new beta, and made a new ticket for the frontend buttons in #1076 , so we can close this now.

[2019-01-30 00:04] #1063 closed

[2019-01-30 12:54] cblakeley commented on #1061
@dmitrizagidulin: I'm trying to get a clear understanding of what needs to be changed in Virtuoso to allow it to mount and access Solid pods via its WebDAV extensions. Sorry for more questions...

* When you commented above "And on the receiving end, oidc-rs supports both kind of tokens" does this mean that Solid pods can be accessed using a regular access token, or can they only be accessed using

[2019-01-30 14:23] csarven opened #1078 "Proxy should reuse original request's Accept headers on redirects"
When the proxy gets a redirect response from target resource, it doesn't reuse client's original `Accept` header on subsequent request following the `Location`. What ends up being returned to the client is inconsistent.

[It may be true for the other headers from the client are dropped as well, but `Accept` is up there on the list to make sure it works as expected.]

[2019-01-30 15:05] dmitrizagidulin commented on #1061
@cblakeley Excellent questions! I'll try to answer these shortly.

(Also, I totally hear you, those PoP specs are a headache to read! :) Took me sooo many tries!)

[2019-01-31 09:27] kjetilk opened #1080 "Validate RDF files"
We should implement @elf-pavlik 's suggestion in #1079 to use the https://github.com/IDLabResearch/TurtleValidator to validate all `.ttl` and `.acl` files on Travis.

Perhaps something you could look into, @joachimvh ?

[2019-01-31 14:20] joachimvh commented on #1080
I can have a look

[2019-01-31 18:42] elf-pavlik opened #1081 "config.json issues [v5.0.0-beta.6]"
I have encountered some issues with `config.json`

1. `solid init` doesn't save `serverUri` to `config.json`
2. setting `"multiuser": true` & `"webid": false` results in
[code]
3. setting `"multiuser": false` and  `"webid": false` results in
[code]
4. setting `"multiuser": false` and `"webid": true` and `"auth": "oidc"` finally leads to expected
![screenshot_2019-01-31 welcome to solid](https://us

[2019-01-31 20:47] cblakeley commented on #1061
@dmitrizagidulin OK, thanks. In the meantime, please could you give a quick yes or no as to whether PoP tokens are mandatory with Solid?

[2019-01-31 21:49] kidehen commented on #1061
@dmitrizagidulin ,

If they aren't mandatory why do we have an issue here?

The code implementation treats them as mandatory, hence the problem.

Am I missing something here, logically?

/cc @cblakeley  @RubenVerborgh

[2019-01-31 22:00] elf-pavlik commented on #1061
Well that clearly is not going to work, that's wayy too many round-trip flows.

[...]

[...]

Without PoP tokens, for each Resource Server, does the app needs to go through the auth flow with the identity provider?

[2019-01-31 22:39] dmitrizagidulin commented on #1061
@elf-pavlik

@kidehen

So, lemme clarify -- PoP tokens are not mandatory in the sense that you can point an off-the-shelf OIDC client at a Solid server, and that client will get a valid ID token, etc. Meaning, it interops with OIDC just fine.
Now, if you wanted to build an app that interacted with an arbitrary amount of Resource Servers without PoP tokens? I'm not sure how you'd accomplish that.

[2019-02-01 01:42] dmitrizagidulin commented on #1061
@cblakeley

Yeah. So, like you gathered from the code, they can be accessed with a non PoP-based access token. But!

So that right there is basically the problem. The access_token in the oidc-rp client's storage is kind of useless, at the moment, as a regular access token (for the pod). This came about for a couple of reasons:

* Neither the OAuth2 or the OIDC spec has anything to say about the fo

[2019-02-01 02:18] dmitrizagidulin commented on #1061
@cblakeley - Oh, I missed your earlier comment!

Yes! (Except it contains the ID Token, not the access token.)

Yep.

Yes, exactly. (And actually, the only thing that differs for each request is the `aud` is specific to the targeted Resource Server. So, `aud` is the only request-specific claim.)

Yes.

[2019-02-01 09:03] megoth commented on #1081
#1 is also reported in https://github.com/solid/node-solid-server/issues/1021.

I think we should prioritize these bugs.

[2019-02-01 11:11] cblakeley commented on #1061
Added a reference to this comment at the start of this thread

**TLDR version** (or at least my interpretation)

From: <https://github.com/solid/node-solid-server/issues/1061#issuecomment-459574596>

Core issue:
The `access_token` in the oidc-rp client's storage is kind of useless, at the moment, as a regular access token (for the pod).

Key Proposed Action:
Change the way Access Tokens are issued

[2019-02-01 12:44] dmitrizagidulin commented on #1061
@cblakeley Perfect, thanks :)

[2019-02-01 14:45] elf-pavlik commented on #1081
Yes, also `#2` looks like a bug. The rest maybe just needs better documentation on what those options affect, including how it affects what will get served from `${serverUri}/`

[2019-02-01 14:53] elf-pavlik commented on #1061
Which Resource Server you would set it to? The one that hosts WebID Profile? Given that every person can use any number of Resource Servers (personal, organizational etc.) person might even in WebID Profile have `pim:storage` pointing to another server, and type indexes can also have registrations pointing to any number of resource servers. If we make some Resource Server special in issued access_

[2019-02-01 15:14] dmitrizagidulin commented on #1061
@elf-pavlik ok, so, think of the `access_token` as a shortcut / optimization. It's a way to simplify the common use case where a pod is both an IdP and a Resource Server. So, in the auth response, the IdP says "here's an ID token to identify you to any number of resource servers you may want to interact with (via PoP tokens). And here's also an access_token that you can use to communicate (without

[2019-02-01 15:17] dmitrizagidulin commented on #1061
To put it another way - the access_token is there for off-the-shelf OIDC clients. (Who always make the implicit assumption that the access token is for the RS that the IdP controls.)
All Solid clients (who have to deal with a multitude of RS possibilities) should use PoP tokens.

[2019-02-01 22:11] kidehen commented on #1061
@dmitrizagidulin,

This thread was instigated based on issues that came to light in our Virtuoso product (an off-the-shelf OIDC Client in this scenario) and its integration with Solid Pods deployed in OIDC-mode i.e., mounting them as it does other data data spaces (e.g., S3, Dropbox, Box, OneDrive, and many others based on relevant open standards).

Do you have a fix ETA?

/cc @RubenVerborgh @cbla

[2019-02-01 22:23] elf-pavlik commented on #1061
All Solid clients (who have to deal with a multitude of RS possibilities) should use PoP tokens.

If you introduce such special case I think documentation needs to very clearly warn app developers not to naively use it in their apps, which would lead to those apps only working with some subset of deployments which fit into this special case.

[2019-02-02 20:41] kjetilk commented on #1061
Could you please formulate a separate issue around that, @cblakeley, as this issue is now quite broad in scope ? It sounds like something we should have in for 5.0.0.

[2019-02-04 12:53] RubenVerborgh opened #1082 "Set audience to the resource server by default"
Change the way Access Tokens are issued by default, and set their audience to the Resource Server (instead of client_id). That way, the access_token in oidc-rp storage can actually be used as a simple way to communicate with a user's home pod.

As per https://github.com/solid/node-solid-server/issues/1061#issuecomment-459688994

Action items:

* [ ] Modify [`oidc-op`](https://github.com/solid/oidc

[2019-02-04 12:54] RubenVerborgh commented on #1061
Created issue https://github.com/solid/node-solid-server/issues/1082

My I please ask to _not_ CC me on anything OIDC-related in the future? I have neither the knowledge nor the bandwidth to follow up adequately.

[2019-02-04 12:54] #1061 closed

[2019-02-04 20:11] timbl commented on #696
For goodness sake, this is is something which does not o=involve centralizing all th filename mapping -- just fixing the protocol being wrong.   That is an example of solving something by reducing it to a more complex, previously unsolved, problem!

I got the problem when offline on a plane again.

When you run NSS from http://localhost:3080 it gives a Updates Via header suggesting you should open

[2019-02-04 20:22] RubenVerborgh commented on #696
v5 has the mapping in one place to avoid bugs like these popping up in random places.

I see you are running v4.4; have you tried it on v5? v5 does not contain the `getBaseUri` code anymore, precisely because it was problematic.

[2019-02-04 20:39] megoth commented on #1068
I'll take this on to determine where the bug is. If it is in the server, we'll take it on, it not, we might postpone this fix.

[2019-02-04 21:05] megoth commented on #974
I'll double check tomorrow if this is still an issue

[2019-02-04 21:07] megoth commented on #799
This was fixed in https://github.com/solid/node-solid-server/pull/892 and https://github.com/solid/node-solid-server/pull/869. Closing this issue.

[2019-02-04 21:07] #799 closed

[2019-02-04 21:08] megoth commented on #882
This issue has been fixed, we implemented syntax validation for ACL files in https://github.com/solid/node-solid-server/pull/937

[2019-02-04 21:08] #882 closed

[2019-02-04 21:08] #906 closed

[2019-02-04 23:50] kjetilk commented on #785
Is fixed.

[2019-02-04 23:50] #785 closed

[2019-02-05 13:18] megoth commented on #974
This is no longer an issue

[2019-02-05 13:18] #974 closed

[2019-02-05 15:24] #1021 closed

[2019-02-05 19:54] megoth commented on #1068
An update: I was able to reproduce the bug, and think I've pinpointed it to a bug in the server. It seems to be something wrong in `lib/ldp-container.js`, but I'm working on figuring out exactly where it goes wrong.

[2019-02-05 21:17] RubenVerborgh opened #1085 "PATCH requests with non-matching deletions should succeed"
We currently have evidence (https://github.com/Inrupt-inc/generator-solid-react/pull/41#discussion_r254013484) that a patch with a DELETE block that has no matches will cause a 409. Is this correct? Should there at least be one match with a DELETE?

[2019-02-06 00:50] kjetilk commented on #1085
Hmmm,  no, `409` doesn't make sense to me either. That sounds like a `404`.

[2019-02-06 00:54] rimmartin commented on #1068
Hi @megoth , I'll test as you have need.  Glad you narrowed it down!

[2019-02-06 01:07] kjetilk commented on #1068
Great stuff. We'll roll another beta once this is fixed.

[2019-02-06 07:19] rubensworks commented on #1085
From the SPARQL UPDATE spec:

So DELETE's without matches should return a 200 it seems. So this indeed looks like a bug in NSS.

[2019-02-06 12:40] solid-pay opened #1087 "Unclear how to remove password?"
I am working on a payment system for solid.

I would like to harden a single admin (or root) identity such that it does not use passwords.  Similar to the way this is handed in SSH.

It was unclear how to remove password auth from node solid server.

Is it possible to do that?

[2019-02-06 13:41] megoth commented on #1068
I tracked the problem down to the use of relative path in the root property and not handling that in the new ResourceMapper. So this was indeed a regression bug. I'm creating a PR now, should have something ready during the day.

[2019-02-06 14:31] #1068 closed

[2019-02-06 22:56] kjetilk opened #1090 "trustedOrigins should be empty by default"
Community Leader @timbl decided that the default for trusted origins should contain no domains, POD providers should set that explicit in their configs.

We need to reflect that in the defaults. It also involves rewriting a test that now relies on that default.

[2019-02-07 00:15] timbl commented on #1090
Part of the logic for this is that a trusted domain is quite a centralized thing to build in, and while there will be a few domains probably which are very widely trusted, we don't want people to think that is part of the architecture. Another is the "secure by default" maxim.  Better to have a system more secure by default and have the system administrator explicitly  add the insecurity like a tr

[2019-02-07 11:46] megoth commented on #1057
We probably also want to decouple the account-related views into separate apps as well. With that we might want to expose certain configurations for the server to the client, e.g. does the server handle WebID, is it a multi-user server, does it enforce Terms & Conditions, does it enforce strength of passwords, etc. (The last example might also be something we want more levels on - right now it's o

[2019-02-07 12:42] megoth commented on #1081
It seems that `webId: false` is simply a configuration that hasn't gotten any love in a long time. Especially when setting up a brand new server with that configuration. This bug is also in NSS4.4.1, so we'll remove the regression label on this. This is also a use case we should probably take a step back, have a good think and do more research, and make sure that we support it properly, so we'll d

[2019-02-08 11:49] gklyne opened #1093 "Error accessing WebID / profile card after login"
(I'm new to node and solid-server, so I might be missing something obvious.)

On a new installation of node-solid-server, I'm getting an internal server error indicated when I try to access the WebID URL after login in (but not before loging in).  The sequence I followed is this; it appears to be repeatable.

## Install NVM

(Using a previous installation, but I did remove the previously installed

[2019-02-08 11:55] gklyne commented on #1093
## File: $SOLID_ROOT/config.json

[code]

[2019-02-08 12:13] gklyne commented on #1093
If I content negotiate the webId URL (minus fragment)  for `text/turtle`, no error happens:

    $ curl -vk -H "accept: text/turtle" https://localhost:8443/profile/card
    *   Trying ::1...
    * Connected to localhost (::1) port 8443 (#0)
    * TLS 1.2 connection using TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    * Server certificate: localhost

    < HTTP/1.1 200 OK
    < X-Powered-By: solid-serve

[2019-02-08 12:23] kjetilk commented on #1093
Thank you for a very thorough report!

Just one thing that might help, could you please add more debugging when starting the server, e.g.:

[code]
(actually, I hadn't heard of npx, so I haven't tested the above line, but I think it would work)

[2019-02-08 12:27] gklyne commented on #1093
The problem appears to be triggered by the "authorization" header:

    $ curl -vk -H "accept: text/html" -H "authorization: Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIwODMyMWZkYjk4MmM4MTI4YzhkMGQwMjBhMWUwNThlNSIsImF1ZCI6Imh0dHBzOi8vbG9jYWxob3N0Ojg0NDMiLCJleHAiOjE1NDk2MzE3OTgsImlhdCI6MTU0OTYyODE5OCwiaWRfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SWs1SFlUaGlUSFU0YkVsbkluMC5leUpwYzNNaU9pSm9kSFJ3Y3p

[2019-02-08 12:38] gklyne commented on #1093
That's the incantation I was looking for!

Here's the server log from startup to accessing the WebID URL:

    nerthus:solid graham$ DEBUG=solid:* npx solid start
      solid:settings Server URI: https://localhost:8443 +0ms
      solid:settings Auth method: oidc +1ms
      solid:settings Strict origins: true +0ms
      solid:settings Allowed origins: https://apps.solid.invalid +0ms
      solid:set

[2019-02-08 13:32] kjetilk commented on #1093
OK, good! I don't know what it means, but perhaps @dmitrizagidulin has an idea?

[2019-02-08 13:33] gklyne commented on #1093
I'd hazard a guess it could be to do with using a self-signed cert?

[2019-02-08 13:36] kjetilk commented on #1093
Yeah, it seems like it, but I do that too, so there has to be something more subtle...

[2019-02-08 13:37] rimmartin commented on #1093
with self cert you need to launch with
solid-test start

[2019-02-08 13:39] kjetilk commented on #1093
Right, I would have expected an error to be thrown earlier if that was the reason though.

Actually, I ended up setting
`
NODE_TLS_REJECT_UNAUTHORIZED=0
`
on my dev box.

[2019-02-08 13:41] rimmartin commented on #1093
there is also a switch it sets
--no-reject-unauthorized
I don't know if this is redundant

[2019-02-08 13:42] rimmartin commented on #1093
Also more interesting testing if you clone the release/v5.0.0 branch
[code]

[2019-02-08 13:44] rimmartin commented on #1093
If you clear your nss folder and start with a new clone be aware in your browser pages the solid-auth-client stores stuff in local storage for certain pages and your app

[2019-02-08 17:48] melvincarvalho commented on #1090
:+1:

https://github.com/solid/community/blob/master/community-support-agenda-and-minutes.md

I see there was a meeting around the solidproject.org domain in December.  I was wondering if any conclusions made in this meeting?

[2019-02-08 21:13] timbl commented on #1085
# Note: 409 Conflict
--
  | <p>A SPARQL update message often contains both a DELETE and then an INSERT.
  | This may be used to update a field from one value to another.
  | When more than one application or user is using the same data,
  | there may arise times when the DELETE fails
  | because another user has already deleted the same data.
  | In this case it <strong>very important</strong>
  |

[2019-02-08 21:22] RubenVerborgh commented on #1085
@timbl I agree, but unfortunately that is in conflict with the [SPARQL 1.1 UPDATE W3C Recommendation]:

That's why I created https://github.com/linkeddata/rdflib.js/pull/299, could you have a look at that one?

[2019-02-08 21:26] timbl commented on #1085
Grumble.   a system has to have semaphores
https://en.wikipedia.org/wiki/Semaphore_(programming)
https://en.wikipedia.org/wiki/Semaphore_(programming)

[2019-02-08 23:13] kjetilk commented on #1085
But don't we have a semaphore in the shape of an `ETag`? Couldn't we do something like https://www.w3.org/1999/04/Editing/ ?

[2019-02-09 08:54] RubenVerborgh commented on #1085
That might be too restricted. If you changed something unrelated to the file, I might still want to send my patch.

[2019-02-09 10:14] kjetilk commented on #1085
Yes, but you would have to see how you solve the potential conflict. Besides, you can always do a `HEAD` just before your `PATCH` to minimize the time window a conflict might occur.

[2019-02-09 13:05] melvincarvalho commented on #1090
Thanks for raising this concern.  I put the question on this thread as the other one was closed.  Happy to hear suggestions of where you think it should go.

On a more constructive note, perhaps we could update the wiki on the current thought process.  I wasnt at the december meeting but last time this was discussed I think Tim favoured the forum to be a .org but solid doesnt have a .org right now

[2019-02-09 13:11] kjetilk commented on #1090
@melvincarvalho Since the document is in the community repo, I think it is better discussed there.

[2019-02-09 13:21] melvincarvalho commented on #1090
@kjetilk good thought, we could definitely raise an issue there, tho I suggest just someone who was at the meeting to update the wiki would suffice.

There is a part relevant to node solid server tho.

https://github.com/solid/node-solid-server/pull/1077/files#diff-753c564b1569d68651fd4edd8ef2073cR15

Namely your pull request to add app.solidproject.org as a trusted domain to node solid server.  I

[2019-02-09 13:33] gklyne commented on #1093
@rimmartin Thanks.  That seems to have solved a different problem (which I'm about to log). (I assumed local storage would be zapped when I cleared browser history, but it appears not.)

[2019-02-09 13:40] gklyne commented on #1093
Now, using the same setup as before, I *do* seem to be able to access the WebID data.  I'm not aware of anything that's changed other than clearing out browser storage values.

[2019-02-09 13:49] gklyne opened #1094 "Home page WebID link breaks browser back button"
I'm using a local development deployment of solid-server, as described for #1093.

Starting point is  that the public homepage (https://localhost:8443/) is displayed in my browser (currently using Firefox for this test).

If I click on the "WebID" link (https://localhost:8443/profile/card#me), a new page is displayed at the link location, but I can't click the browser's "back" button to return to

[2019-02-09 14:28] gklyne commented on #1093
Well, that seems to be the problem.  Something got messed up with browser storage values.  I don't know what.  I've managed to clear storage for the site in two different browsers now (Firefix and Brave) and now I can access the WebID as expected.

This also seems to fix a related problem that I was having: after logging out I could not log in again, and just got a popup displaying "Unauthorized"

[2019-02-09 14:31] kjetilk commented on #1090
Basically, the origin-based app authorization is a pain, and the question was what we could do to alleviate that pain. We had a face2face meeting around such topics, I don't remember exactly who was there, but I was there and @timbl and @RubenVerborgh discussed it at some length, and we resolved that beside implementing it like it is now is in acl-check.js, we could perhaps provide an origin for t

[2019-02-10 19:00] rimmartin commented on #1093
@gklyne  yep I agree, the life cycle needs some work.  I would like to see the https://github.com/solid/webid-oidc-spec sharply delineated and end-to-end tested.  We should be able to stick it into koa, egg or sails or other more enterprise framework we like.

And it definitely needs to become transparent to the wider non-developer user

[2019-02-10 20:55] melvincarvalho commented on #1090
@kjetilk thanks for the clarification.  A few things still remain unclear.

What should pod providers put in the [trustedOrigin](https://github.com/solid/node-solid-server/pull/1077/files#diff-753c564b1569d68651fd4edd8ef2073cR15) config field for node solid server v5?

https://app.solidforum.org doesnt have anything there, so what is supposed to be there in theory.  Is it a place where we put copi

[2019-02-10 22:43] kjetilk commented on #1090
Questions, questions, indeed! :-)

Actually, my best answer is that I don't know, and I there isn't much concrete in the plans, I think, it was mostly just to future-proof things since the pain is easy to see. To me, the important part was to have a configurable array of trusted origins in v5, not what is actually in there.

Others may want to chime in with more, and this is a thread we need to ta

[2019-02-10 23:07] melvincarvalho commented on #1090
@kjetilk it's still not clear what to put in this field.  Are there any docs for it?

[2019-02-11 00:02] kjetilk commented on #1090
You can put any origins all your users should trust. I suppose there aren't any hosts that are suitable to be used like that yet, so it is mainly future proofing. I can see that we should mention it in the README.

[2019-02-11 00:05] kjetilk opened #1095 "Update README and other docs to reflect 5.0.0"
We need to review and update the README to make sure it documents 5.0.0 properly.

https://solid.inrupt.com/docs/installing-running-nss also needs an update.

[2019-02-11 00:06] melvincarvalho commented on #1090
@kjetilk docs would be good.

I've opened this issue, so that we can collect apps in the solid area :

https://github.com/solid/solid-apps/issues/25

The idea is to take a copy of existing apps and host them oh gh-pages.

Then we can give people live demos, and maybe play around with trusting origins.

[2019-02-11 00:09] kjetilk commented on #1090
I opened #1095 :-)

[2019-02-11 00:19] melvincarvalho commented on #1090
Thanks.  BTW I'm already working with trusted origins in the browser and payments with the [joule extension](https://github.com/wbobeirne/joule-extension) for lightning network.

They have a system that is working well.  No trusted origins by default, but users can white list apps (known as lapps) as they use them.  It's working really well with real world payments so far.

![image](https://user-i

[2019-02-11 00:24] melvincarvalho commented on #1090
The UI dialog :

![image](https://user-images.githubusercontent.com/65864/52542002-c03e4d00-2d9b-11e9-8115-d26885aed95b.png)

[2019-02-11 09:59] melvincarvalho commented on #1090
So there's an old phrase in the decentralized web,

We need to be weary about potentially un-redecentralizting the web, by inserting trusted third parties, which is part of the model that solid is pushing back against.  I get a sense of deja vu.  For example, OIDC was introduced as having a trusted third party, to improve the UX, and it has become a source of confusion in node solid server.

If th

[2019-02-11 10:21] kjetilk commented on #1090
Absolutely. Indeed, there is a lot that indicates that decentralization  is an unstable situation. One reason for the introduction of `trustedOrigin` as a feature is that it is needed to indicate that you should trust your own origin.

However, as interesting as this discussion is, it is not the place to discuss it further in this issue. This is just an issue to follow up on Tim's decision that th

[2019-02-11 11:43] melvincarvalho commented on #1090
I suspect that's going to be a rather tough sell, here!

There are still unanswered questions about trusted origins.

[2019-02-11 12:27] kjetilk commented on #1090
Are you opposed to that the array of trusted origins should be empty by default?

[2019-02-11 16:30] melvincarvalho commented on #1090
You havent explained the trade offs or the motivation for your pull request.

You have said this will cause pain.  But not said what pain that will be.

System administrators dont know what to do.  If we are all going to have to set the defaults individually, can you at least explain what you or inrupt is going to add here.

We want people on different pods, say, to be able to chat to each other.

[2019-02-11 16:34] bourgeoa opened #1096 "5.0.0beta7 : clients _key and users _key not created ==> server build but no access"
## Please describe what you did in reproducible steps
I build with docker a full new version using a config.json file as all previous versions from 4.0 until 5.0.0.beta.6

## How did it work with 4.x series servers?
build with no pb

## What happened when you tried the same with the 5.0.0 beta?
no way to access the url of the pod provider

## Any material that will help, logs, error messages, etc.

[2019-02-11 21:24] kjetilk commented on #1096
In beta.7, we had a fix for a problem with the serverUri, in #1084 . Is it possible that it could have caused problems for Docker?

[2019-02-11 22:00] megoth commented on #1090
He said that right in the OP, and @timbl even embellished on it:

@melvincarvalho what would be your approach to this?

[2019-02-11 22:19] melvincarvalho commented on #1090
@megoth Approach :

Design up front.  Document what trusted origins are, and how they affect apps.  What edge cases (eg CSRF) do they mitigate.  What are the pain points, one for users, one for pod owners.

Possible approaches for short and medium term relief, and what are the trade offs.  Any insertion of a specific domain into the code base needs to be covered transparently, and explaining what

[2019-02-11 22:35] megoth commented on #1090
Those are good suggestions, but they will take long time; maybe we could accept this solution for now, and start another issue, with the approach you suggest?

Or do you think it's better to leave this issue for now?

[2019-02-11 22:41] melvincarvalho commented on #1090
Design etc. in another thread.

One this thread, it would be helpful to know how Inrupt will configure this.

[2019-02-11 22:50] megoth commented on #1090
The way @timbl wants us to do it, I reckon.

[2019-02-11 22:52] megoth commented on #1090
(hopefully he has time to look at this issue soon)

[2019-02-11 23:21] #1096 closed

[2019-02-12 09:38] kjetilk commented on #1090
First of all, please understand that nothing is ever worked on in NSS without there being an issue here first. Everything is in the open. Always. However, to have progress, we also need other high-bandwidth venues to discuss, and interested parties need to be active here to influence. This thread was started in #738 based on high bandwidth discussions face-to-face, and minutes were, IIRC posted to

[2019-02-12 13:38] melvincarvalho commented on #1090
@kjetilk thanks for the response.  A pointer to the minutes would be appreciated.

[2019-02-12 15:21] melvincarvalho commented on #1090
@kjetilk I do thank you for the useful pointers going back to August.  I'll note they were absent from the PR and would have provided a useful contest.  Digging them out here has been helpful.

However, as an inrupt employee your PR inserted the domain app.solidproject.org into the reference code base as the single default trusted origin for node solid server.  As far as I know that .org is soley

[2019-02-13 14:45] gklyne opened #1097 "solid-server issues auth tokens for URLs it can't serve"
I just had a bit of a tussle with `solid-server` because I had erroneously used an incorrect  `url` value in my auth code.  (See later  comments at https://gist.github.com/gklyne/e9af15dfbcfb7a35bc32dd526b3397db for details.)

It seems to me that in this situation, the server should be declining to offer an auth token at all:  how can it possibly know that I'm authorized to access a resource from

[2019-02-13 16:20] dmitrizagidulin commented on #1082
(working on this currently)

[2019-02-13 16:21] dmitrizagidulin commented on #1097
I think this will be addressed once https://github.com/solid/node-solid-server/issues/1082 is implemented.

[2019-02-13 16:38] gklyne commented on #1097
Ack.  Per bitter discussion, I now see I was misunderstanding the role of the `url` in the login request - I misunderstood it as referring to the resource being accessed.  But I know understand it's a reference to the origin that uses the token to determine access permissions.  This makes more sense.

Closing issue.

[2019-02-13 16:38] #1097 closed

[2019-02-13 16:47] gklyne commented on #1097
See also Gitter [February 13, 2019 2:47 PM](https://gitter.im/solid/node-solid-server?at=5c642dec28c89123cbc121a1)

[2019-02-13 22:22] melvincarvalho commented on #1090
BTW  Dont mind this issue to be closed, but some items will benefit from follow up, such as what pod admins will do in a practical sense for v5.

I do think the right decisions were made.  And I realize I'm being super cautious here.  But I think it's an attitude that will pay off over time.

Feel free to close, but let's try and make sure get  on top of trusted origins, before they get on top of

[2019-02-13 23:23] TallTed commented on #1085
I am very disappointed to see the SPARQL UPDATE spec excerpt, which says to *me* there's a tragic bug in the SPARQL UPDATE spec, and a failure to learn from existing standards, particularly those which support multiple users acting on the same resources (e.g., ODBC clients of a DBMS instance).

I would suggest that the appropriate response is not a full-success, but a warning or soft-fail/soft-suc

[2019-02-14 12:45] megoth commented on #1059
Perhaps the resource describing the provider should be a virtual resource, and be automatically generated? I reckon trustedOrigins could be an interesting list to expose (cf https://github.com/solid/node-solid-server/issues/1090)?

[2019-02-14 13:41] csarven opened #1099 "Increase proxy timeout"
Initially proxyTimeout was set to 5 seconds, but it seems that longer would be preferable. I've tested with Internet Archive's Web Archive, and 5s didn't seem reliable.

I propose 10s. Again, this value is arbitrary, so going with what's useful at the moment.

[2019-02-14 13:58] csarven opened #1101 "`Content-Location` header should be in Access-Control-Expose-Headers"
`Content-Location` should be considered as safe for the CORS proxy. For example, the target server may return this header for a GET request, and the client application should have the possibility to obtain it.

[2019-02-14 21:24] RubenVerborgh commented on #1085
I like that idea; we can indeed add extra info to a 200.

However, the problem here is that we want it to work like a semaphore: a patch with both a delete and an insert should only succeed if the delete succeeded. Learning afterwards that one did through but not the other is a consolation prize.

[2019-02-14 22:53] RubenVerborgh commented on #137
Reopening, as the future is now.

[2019-02-14 22:53] RubenVerborgh commented on #1018
Following up in https://github.com/solid/node-solid-server/issues/137.

[2019-02-14 22:53] #1018 closed

[2019-02-14 23:05] kjetilk commented on #1085
I think that the immediate fix is to use the idea from the 1999 Editing note even though there are cases where it would not work. If we go much further, we will quickly find ourselves in WebDAV-land (which we might need soon anyway).

As for the problematic 200, indeed, we could perhaps use another 2xx code, but perhaps we could do a 303 pointing to a resource with more information?

[2019-02-14 23:07] #1101 closed

[2019-02-14 23:08] #1099 closed

[2019-02-14 23:08] RubenVerborgh commented on #1085
Unfortunately, the situation is worse, since `PATCH`es now also fail because of locking issues that are way harder to fix. So we might need to abandon `PATCH` for the time being: https://github.com/solid/query-ldflex/issues/16 (which, for the record, I do not like, but I see no other options in a reasonable time frame).

[2019-02-16 10:01] NoelDeMartin commented on #942
I'm also facing the same problem, and it's causing some issues when I want to create documents within containers. For example if I get a url such as this: `https://localhost:8443//tasks/` and I try to create a document within doing a POST, it seems to ignore the container path and creates the document on the root. If I remove the duplicated slash it works, so as a workaround I am doing that in the

[2019-02-16 22:55] kjetilk commented on #942
OK, thanks for following up!

@NoelDeMartin are you running this on the latest beta? It would be interesting to know if the bug is still there in the most recent code.

[2019-02-18 08:14] NoelDeMartin commented on #942
@kjetilk Yes I am running version 4.4.1, in particular this commit: https://github.com/solid/node-solid-server/commit/e9a5739a1840a9df16ec981aa51942ced774b6af

[2019-02-18 10:15] csarven commented on #942
@NoelDeMartin @kjetilk

* Issue occurs in v4.4.1-3-g9515d3c
* No issue in v5.0.0-beta.7-6-g217e8e3

[2019-02-18 10:24] NoelDeMartin commented on #942
@csarven Ok I didn't know there was a newer version than the one in master, I'll check it out then. Thanks.

[2019-02-18 10:30] csarven opened #1104 "/index.html.acl present, /index.html missing: requesting / returns /index.html.acl"
Issue occurs in v5.0.0-beta.7-6-g217e8e3 .

If index.html is absent and index.html.acl is present, request to / returns the contents of /index.html.acl . *Expected*: return container

If /index.html.acl is also absent, returns container.

How to reproduce:
Fresh install. (Added public read policy on /.acl to simplify)

[code]

[2019-02-18 11:14] kjetilk commented on #1104
Oh, OK. So, I suppose something went wrong with the #1067 fixing? Could you check, @megoth ?

[2019-02-18 11:19] kjetilk commented on #942
Great if you check it out, @NoelDeMartin ! If you work from git, you can check out the `release/v5.0.0` branch.

Basically, there have been lots of bugs like this, since most URIs are manipulated as strings. We've ironed out a bunch of them, but there are likely more bugs like this lurking.

[2019-02-18 13:46] megoth commented on #1104
Yes, this sounds like an unexpected outcome of the special handling root...

I'll take a look!

[2019-02-18 21:43] timbl commented on #1085
This issue is about changing the Solid API, which is every important and much more important than a bug in a particular server,  implementation.

[2019-02-18 21:47] timbl commented on #1085
In my opinion, the solid system works, by using 409 Conflict as a crucial part of the architecture.   It is in formally "willful violation" of the SPARQL Update spec, and the two communities should in the long term  discuss that issue.  But for now, the solid system works, and we must keep that.   Possible future paths are many - a different mime type, dropping sparql update for n3 patches, changi

[2019-02-18 21:55] kjetilk commented on #1085
OK. I'll close this and #1086.

[2019-02-18 21:55] #1085 closed

[2019-02-18 22:14] timbl opened #1105 "Prevent data loss in concurrent updates - Using synchronous code"
The solid system requires that inconsistent changes from concurrent users editing the same thing should never  lose data, returning 409 to the change which failed.  (Semaphore operation).  Currently the server can fail to do this because the second request can come in between the first one reading the file and writing the modified file.

This issue solves the problem by changing the patch handler

[2019-02-18 22:18] timbl opened #1106 "Prevent data loss in concurrent updates - using file locking"
The solid system requires that inconsistent changes from concurrent users editing the same thing should never lose data, returning 409 to the change which failed. (Semaphore operation). Currently the server can fail to do this because the second request can come in between the first one reading the file and writing the modified file.

This issue solves the problem by changing the patch handler so

[2019-02-19 12:22] gklyne commented on #894
FWIW, I too am having problems with "slug", but in my case I am not using a simple slug namer ("test1", etc.)

[2019-02-19 12:39] csarven opened #1107 "Support creating LDPC"
Creating an LDPC doesn't appear to be supported... or buggy/misleading AFAICT. If I've overlooked something, please point it out. Besides that what I expect to work (either, but ideally both):

* HTTP POST + Link with LDPC (+ Slug)
* HTTP PUT + Link with LDPC

At the moment, PUT refers to POST. POST creates a LDPR.

[2019-02-19 12:40] csarven commented on #894
@gklyne Do you mean when trying to create an LDPC? I had issues with that recently, but didn't get a chance to inspect the source code. I've tried different combinations of HTTP methods, Link, Slug.. but no go. My expectation: https://github.com/solid/node-solid-server/issues/1107

[2019-02-19 13:32] gklyne commented on #894
@csarven It was an error in my code.  It all works as expected.  Sorry for the noise.  (I deleted my comment hoping nobody had seen it yet :))

[2019-02-19 13:40] gklyne commented on #894
@csarven, FWIW, I have been able to create an LDPC which seems to behave properly as a container.   (In case it helps, I'm working on a simple tool that can be used to probe a solid server, and also to support testing of an application that works with LDP containers. Work-in-progress at https://github.com/oerc-music/meld-cli-tools/tree/master/src/meld-tool.)

Sample commands using that (with node

[2019-02-19 13:41] kjetilk commented on #1107
Oh, that's sounds indeed weird. Since we're right now focusing on regressions, is this the behavior on 4.x, 5 betas or both?

[2019-02-19 14:21] csarven commented on #1107
False alarm. It looks like I've used rel LDPC, but server needs LDP-BC.

So, the bug is with HTTP POST + Link with LDPC (+ Slug). It creates an LDPR, but it should instead return 406 or something, and mention whichever specific LDPC is supported (at this time, LDP-BC). Alternatively, automatically create LDP-BC when encountering Link with LDPC.

[2019-02-19 14:23] csarven opened #1108 "Support LDPC via HTTP PUT"
Derived from issue https://github.com/solid/node-solid-server/issues/1107

Support HTTP PUT + Link with LDPC, or more specifically the types currently supported (like LDP-BC).

[2019-02-19 14:23] csarven commented on #1107
I've changed the title of this issue to reflect the issue with POST. Created https://github.com/solid/node-solid-server/issues/1108 for PUT.

[2019-02-19 14:25] csarven commented on #894
@gklyne Thanks. That made me realise what I've overlooked: using LDPC and not LDP-BC (which is the only container type that's supported.) Updated #1107 for POST, and created https://github.com/solid/node-solid-server/issues/1108 for PUT.

[2019-02-19 15:00] gklyne commented on #1108
Is this really a bug?  Digging in LDP spec [1], I find:

- 5.2.3.1 LDP clients should create member resources by submitting a representation as the entity body of the HTTP POST to a known LDPC. If the resource was created successfully, LDP servers must respond with status code 201 (Created) and the Location header set to the new resource’s URL. Clients shall not expect any representation in the re

[2019-02-19 15:30] csarven commented on #1108
Sorry for the confusion, but I raised this as a feature, not a bug :) In any case, you're right about modifying containment triples. It is unclear to me right now why POST to create would be okay but not PUT. Is it because the parent container is not necessarily "aware" of the new container being created?

I think we can close this issue if PUT is a no go. Server already responds with 409 IIRC. Wh

[2019-02-19 15:57] gklyne commented on #1108
@csarven, re:

Assuming that you always want a resource to be created within some container, PUT doesn't provide any standard way to do that (that I can see).  I suppose one _might_ use a link relation or similar to indicate a container to which the resource is added.  My perception is that POST allows the server enough control to ensure things are kept consistent.

I don't have a strong view on c

[2019-02-19 16:02] csarven commented on #1108
Nothing to act on right now I think, so okay to close. If our viewpoint changes, we can revisit.

[2019-02-19 16:02] #1108 closed

[2019-02-19 16:07] dmitrizagidulin commented on #1108
Fwiw, I do think this is a useful feature to implement.
(In fact, I did go so far as to implement it -- but the [PR](https://github.com/solid/node-solid-server/pull/513) stalled due to an argument about PUT semantics.)

[2019-02-19 16:18] csarven commented on #1108
@dmitrizagidulin I find the issue of POST vs PUT for containers and tracking/handling containment triples is too much implementation plumbing. I don't see a technical issue with either, eg. surely a server can be capable of handling PUT container just as it can with POST, regardless of where they're *created*. In any case, I'm sure people have thought this through, so defaulting to that for now. I

[2019-02-19 22:21] megoth commented on #1104
So after a bit of research it seems that the problem is in the resourceMapper that picks `index.html.acl` because it tries to find a file that matches with `index`. So nothing to do with #1067. I'll push a PR with a fix soon.

[2019-02-20 10:58] gklyne commented on #440
I'm getting this problem with a newly installed solid server attempting to access root path:

[code]

(I would argue that *any* 500 response is a bug.  In this case, it's a bit hostile for developers who are new to working with solid-server - not so good DX?)

I can't see a Github option to reopen this

In case it helps, here's the server log:

[code]

[2019-02-20 11:04] gklyne opened #1110 "Server version not displayed at startup when not running in git repository"
(I imagine this could make life easier when processing bug reports)

[2019-02-20 11:07] csarven commented on #1110
I see eg:

[code]

Did you mean something else?

[2019-02-20 11:17] gklyne commented on #1110
Hmm: I'm not seeing that.  I'm using solid-test.

I'm also not seeing a version of the front page (https://localhost:8443/)

Here's what I see:

[code]
I tried some variations too, still no version.  I see the parentheses there, but are empty

[2019-02-20 11:22] kjetilk commented on #1110
That's pretty weird. You have the statement:
[code]
but the `argv.version` (or whatever) is empty. I have never seen that, but I hear it is somewhat problematic to use.

BTW, there is also #1092 .

[2019-02-20 11:26] gklyne commented on #1110
My curl outpout shows just:

    X-Powered-By: solid-server

(But I notice that's a recent change.  I'm currently running 5.0.0-beta.7 according to npm.)

[2019-02-20 11:38] gklyne commented on #1110
I'm looking at lib/cli.js, function getVersion:

[code]

If I run git:

[code]

I'm not running from a git repo.

The error message goes to stderr, not stdout.  stdout is empty.  I'm guessing the spawnSync doesn't raise an error for this.

[2019-02-20 11:38] kjetilk commented on #1110
Yeah, #1092 hasn't been in a release, but it'll be in the next.

[2019-02-20 11:44] gklyne commented on #1110
Here's a proposed revision:

[code]

That just returned a version for me.

[2019-02-20 21:26] csarven commented on #1106
https://github.com/solid/node-solid-server/issues/137

https://github.com/solid/node-solid-server/issues/813

[2019-02-22 21:49] RubenVerborgh opened #1113 "PATCH with multiple INSERT statements do not add all data"
When sending the following PATCH request:

[code]

only some of those statements are added. A possible result is:

[code]

[2019-02-26 21:21] megoth opened #1117 "Returns 403 instead of 401 for certain requests"
An error that Jairo in Janeiro Digital figured out what was going wrong.

## Please describe what you did in reproducible steps

Logging in with a v5 server using the [release/profile-branch of generator-solid-react](https://github.com/Inrupt-inc/generator-solid-react/tree/release/profile) and trying to edit profile fields.

## How did it work with 4.x series servers?

It returned 401, which made

[2019-02-28 18:56] megoth opened #1119 "Tests fail irregularly"
I've noticed tests starting to fail irregularly, e.g. some tests at https://travis-ci.org/solid/node-solid-server fails some times; you just start another build, and then it "goes away". This is a probably a sign that some tests may bleed into others _sometimes_.

I'm creating this issue to try to document this behavior when I spot it later, and I invite others that notice this to contribute as we

[2019-03-01 17:45] NoelDeMartin opened #1120 "Error translating between RDF formats"
## Please describe what you did in reproducible steps
- Added the url of my app (localhost:8080) to `trustedOrigins`
- Registered a user using `/api/accounts/new`
- Logged in from [my app](https://noeldemartin.github.io/solid-focus/) running on localhost.
- Created documents and containers -- worked as expected.
- Refreshed the page: got a "user not logged in" response from reading the root: `http

[2019-03-02 14:44] megoth opened #1121 "Allow users to list which origins they trust"
With strict origin policy the default ([as it becomes in NSS v5](https://github.com/solid/node-solid-server/issues/713)), web applications need to have their origin listed as trusted. Right now we only have this setting available as a global setting for the whole server. We should have something more granular, where users can list web applications (i.e. their origins) as trusted.

[The WAC specifi

[2019-03-02 22:29] megoth commented on #1119
[Here is an example of a test that will fail if run by itself, but succeed if run as part of the whole file...](https://github.com/solid/node-solid-server/pull/1118#issuecomment-468966516)

[2019-03-03 01:50] megoth commented on #1105
I suggest closing this issue in favor of https://github.com/solid/node-solid-server/issues/1106.

[2019-03-03 20:03] kjetilk commented on #1120
Thanks a lot for the thorough report. Looks like a regression bug to me indeed. We'll have a good look at it.

[2019-03-04 01:12] y0va opened #1123 "Make nodemailer secure setting configurable"
Currently the nodemailer `secure` setting is not configurable via command line:

https://github.com/solid/node-solid-server/blob/3d082f1c2b8cd8e8b0374b369966e723f6ec6bd4/bin/lib/init.js#L70

and

https://github.com/solid/node-solid-server/blob/3d082f1c2b8cd8e8b0374b369966e723f6ec6bd4/bin/lib/start.js#L48

`true` might be a good setting for port 465, but for the actually should-be used port 587 the

[2019-03-04 12:47] megoth commented on #1120
@NoelDeMartin could you provide the resource that you were trying to translate to Turtle?

[2019-03-04 15:15] #881 closed

[2019-03-04 16:14] y0va opened #1124 "Make redirect working"
On my platform, ubuntu 18.04, node 11.10.1 the command line switch `--redirect-http-from [port]`does not work without any errors in the debug logs.

[2019-03-04 16:17] MattDorrian commented on #992
hard to have any input without seeing the full processes and progress you have made.  Everyone requires from birth until 17 years of age some form of Web Identity. Parents control until they take ownership.  Pass Phrases are used in crypto hard wallets and other items trying to be made as safe as possible. Not sure if this helps of is even relevant. All the best

[2019-03-04 16:18] megoth commented on #1124
Which version of the server are you working with?

[2019-03-04 16:18] megoth commented on #1124
And could you provide some of the errors you're seeing perhaps?

[2019-03-04 16:19] megoth commented on #1124
Oh, great, you have a fix already! Awesome 😸

[2019-03-04 18:46] y0va commented on #1124
There had been no errors. I'm using master.

 :gift:

[2019-03-04 19:56] NoelDeMartin commented on #1120
@megoth This happens when I do a GET on the root `https://localhost:8443`, looking at the logs seems like it's trying to translate `data/index.html` to turtle and that's where it fails. I am reading from that url because the request at `https://localhost:8443/profile/card#me` returns this: `pim:storage </> ;`.

[2019-03-05 03:53] megoth commented on #1120
That sounds like a maybe `LDP.get` needs a bit of tweaking. I've put this on the [NSS -5.0.0 project board](https://github.com/orgs/solid/projects/1#card-18398113) to give this a higher priority. Hopefully have time today or tomorrow to give this a go.

[2019-03-05 03:54] megoth commented on #1124
This should be easy to merge into [release/v5.0.0](https://github.com/solid/node-solid-server/tree/release/v5.0.0) as well I think. Will talk to @kjetilk about it when he's back from conference.

[2019-03-05 14:27] melvincarvalho commented on #992
Can I suggest that when you get a 403 the client opens a websocket to the resource, and it does a reload if the acl is updated?

I envisage a few ways to make this happen.  At the moment it will be out of band.

[2019-03-06 18:44] jeff-zucker commented on #1121
Is there perhaps an alternative to requiring every user to list every app they trust without putting that decision exclusively or mandatorily in the hands of the Pod provider?  I am thinking about something like
[code]
So a Pod provider could provide a list of trusted apps but each user would decide if they wanted to agree that they were trusted by specifying the Pod provider as also a provider of

[2019-03-06 19:07] megoth commented on #1121
So some way of delegating trust to others, e.g. a POD provider? (I mean, a use case is also that you trust the judgement of your family member to manage a list of trusted apps.)

Maybe create an issue for the [WAC spec](https://github.com/solid/web-access-control-spec) suggesting something like this?

[2019-03-07 10:05] #1124 closed

[2019-03-07 21:01] gklyne commented on #1110
Thanks!  Closing now.

[2019-03-07 21:01] #1110 closed

[2019-03-08 00:27] timbl commented on #1105
Agreed. Is there a way of expressing that to the system?

[2019-03-08 01:21] kjetilk commented on #1105
Mentioning the bug number #1106 creates a cross-reference, I think that is the best we can do, so, hereby done. :-)

[2019-03-08 01:21] #1105 closed

[2019-03-08 01:24] #1090 closed

[2019-03-08 01:24] #1106 closed

[2019-03-08 10:48] mikael1234 opened #1128 "Cannot find module"
OS: Ubuntu 16.04.5 LTS, node v11.10.1

Installing Solid server with

results following errors:

npm WARN deprecated nodemailer@3.1.8: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
npm WARN deprecated text-encoding@0.6.4: no longer maintained
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
npm WARN deprecated coffee-script@1.12.7: CoffeeScrip

[2019-03-08 10:53] kjetilk commented on #1128
Thanks a lot!

What I have found about this so far is that `spawn-sync` seems obsoleted, and could be removed. Problem seems that is required by ancient versions of `inquirer`, which is eventually depended on by our old `standard`, and upgrading `standard` would mean relatively large changes to the rest of the code, so I am at this point not sure what to do about it. The version management here se

[2019-03-08 11:02] mikael1234 commented on #1128
Until permanent solution is found, can you think of any temp fix to get server running for test purposes?

[2019-03-08 11:45] kjetilk commented on #1128
I must admit that I'm not too familiar with `npm` itself, so I don't know. Lets hope for someone else to step up and suggest something, either here or in the forums. I'll write a note in the forums so that people understand it has not been resolved.

[2019-03-08 15:41] timbl opened #1129 "NN5 breaks streaming of mp3s"
[code]

[2019-03-08 15:44] timbl commented on #1129
A public file  does the same thing: https://timbl.com/timbl/Public/Test/Music/Jason%20Shaw/Audionautix%20Acoustic/Jason_Shaw_-_RIVER_MEDITATION.mp3

[2019-03-08 15:54] kjetilk commented on #1129
The code in question changed with the recent lockfile integration: https://github.com/solid/node-solid-server/blame/release/v5.0.0/lib/ldp.js#L376 but I don't know it is directly related. @RubenVerborgh , do you think you could have a look?

It seems to me that the `start && end && {start, end}` will result in a boolean, and that shouldn't work: https://nodejs.org/api/fs.html#fs_fs_createreadstrea

[2019-03-08 16:11] RubenVerborgh commented on #1129
Not how JS works :-) `1 && 1 $$ {}` results in `{}`.

But I made a faulty assumption: I thought start/end would be undefined or a positive number. Fixing.

[2019-03-08 17:46] timbl opened #1131 "Only index.html should take the place of a folder listing"
[code]
when that data is in fact teh contenmts of the index.ttl file.

[code]

[2019-03-08 19:05] timbl commented on #452
Actually the proposal was to make it a thing but NOT just like index.html.

Send all the notmal contents of the folder, plus just tye type arcs in index.html about <#this>.

`<index.ttl#this> a ?type`

[2019-03-08 21:17] kjetilk commented on #1129
Whooaah. OK!

[2019-03-08 21:17] #1129 closed

[2019-03-08 21:34] #1104 closed

[2019-03-09 00:53] kjetilk commented on #1117
There was a test failure when I merged #1118 into the v5 branch, which made me take another look at the tests. There are [two failing tests](https://travis-ci.org/solid/node-solid-server/jobs/503870654#L1800) now that I think should work, one is different from previous branch. I have branched it out in [fix/new-branch-faulty-403](https://github.com/solid/node-solid-server/tree/fix/new-branch-fault

[2019-03-10 13:10] michielbdejong opened #1134 "500 error when testing NSS5"
Running the latest head of the release/v5.0.0 branch on localhost, I'm seeing a 500 response on /profile/card, with the response body `request to https://localhost:8443/.well-known/openid-configuration failed, reason: self signed certificate`, even though I am running it with the `--no-reject-unauthorized` flag and I can view https://localhost:8443/.well-known/openid-configuration in my browser wi

[2019-03-10 13:13] michielbdejong opened #1135 "Unclear how to add trusted apps"
I ended up editing the .ttl source of my profile by hand (haven't been able to check whether it worked yet), but we should probably have some UI for adding trusted apps?

[2019-03-10 16:31] melvincarvalho commented on #1135
Does this help :

https://github.com/solid/solid-panes/issues/58

[2019-03-10 18:57] michielbdejong commented on #1135
Ah yes, thanks! I created a version of mashlib that includes that pane. It seems to get registered now although I don't see the `A` icon show up on https://localhost:8443/profile/card (yet).

[2019-03-10 20:02] michielbdejong commented on #1134
The error was caused at https://github.com/solid/oidc-rs/blob/master/src/ProvidersCache.js#L61 and the way to avoid it is to use either `./bin/solid-test start` or `NODE_TLS_REJECT_UNAUTHORIZED=0 node ./bin/solid start --no-reject-unauthorized` instead of `node ./bin/solid start --no-reject-unauthorized`.

[2019-03-10 20:02] #1134 closed

[2019-03-10 20:14] michielbdejong commented on #1135
OK, got it working! If others want to test this as well (would be good to do this on dev.inrupt.net, for instance), the trusted-apps branch on my fork [pulls in a built version of mashlib](https://github.com/michielbdejong/node-solid-server/commit/431feae9124dfa2ef4032b41c8feabc32d2705ca) that already contains  the trustedApps pan.

[2019-03-10 20:14] #1135 closed

[2019-03-12 21:02] dmitrizagidulin opened #1139 "Expired access token results in a 401 on a public resource"
To reproduce: Make an authenticated request (with a bearer token) to a public resource.

Since authentication and token validation happens before access control, the authentication layer throws a 401 unauthorized / invalid token.
But there may be developer expectation that a public resource should not even check or validate authentication, so this 401 may be unexpected.

[2019-03-12 22:00] kjetilk commented on #1139
I think it should be up to the client to ensure that they have valid tokens, and so, they should delete expired tokens. We should make sure there is a structured error message that tells the client to delete the expired token and not bother the user about it, but to add complexity to the architecture by adding auth on several levels seems like a bad idea.

[2019-03-14 12:23] kjetilk commented on #1117
Now the fix is in #1140

[2019-03-15 10:23] gklyne commented on #440
I'm encountering a similar problem for which I have isolated a test case.

Test code is at https://github.com/oerc-music/meld-cli-tools/blob/master/spike/solid-create-read-text-resource.js

Overall:
1. create text/plain resource using POST
2. retrieve resource using GET with `Accept: text/turtle`

I would expect 406 response.

Server responds with 500
[code]

Server log shows:

[code]

Server vers

[2019-03-15 10:36] kjetilk commented on #440
OK, interesting! We have a bug open for the translation problem in #1120 , but this seems to be deeper too.

[2019-03-15 10:43] gklyne commented on #440
yeah, #1120 looks similar to me.  Not sure about the "deeper" bit.  Hopefully the stand-alone test code can help (it depends on having axios installed, and needs to be edited with a valid bearer token).

[2019-03-15 11:29] michielbdejong opened #1142 "Improve UX of adding a third party app as trusted"
Current UX with NSS 5:
* visit https://pheyvaer.github.io/solid-chess/
* click 'Log In'
* a popup gives you four options, pick 'custom'
* enter your WebId, or at least the protocol+hostname of it
* log in to  your pod  (if  you're not already logged in)
* the popup wil close and the  app will  say you're logged in
* open a separate tab, browse  to your own WebId (make sure to include the  '#me')
*

[2019-03-15 12:33] #1117 closed

[2019-03-15 12:55] michielbdejong commented on #454
@gklyne is still seeing this issue

[2019-03-15 13:04] gklyne commented on #454
Here's a simple example of what I'm seeing:

[code]
Note also the `curl: (56) SSLRead() return error -9806` - I don't know if that's relevant.  For comparison, the same with GET:

[code]

Also, no SSLRead error in this case.

Server console log shows:
[code]
and for HEAD:
[code]
and for GET:
[code]

(I've elided a lot of `solid:ACL` tracing.)

[2019-03-15 14:07] michielbdejong opened #1145 "v5 release follow-up"
## For follow-up after the v5 release:
* [x] update getting-started one-pager to mention trusted apps https://github.com/solid/userguide
* [x] update https://solid.inrupt.com/docs/installing-running-nss (see also #1095)
* [ ] mailing list announcement with links to updated docs
* [x] solid/solid-panes#61
* [x] linkeddata/mashlib#24
* [x] fix https://github.com/solid/acl-check/issues/23

[2019-03-15 14:40] #1121 closed

[2019-03-15 15:30] #1031 closed

[2019-03-15 15:53] michielbdejong opened #1146 "certificate problem on dev.inrupt.net"
* run NSS v5 locally, and on https://localhost:8443/profile/card#me hover over 'card' and click the  'A' icon.
* add 'http://localhost:3000' as a trusted app.
* run the [app generator](https://github.com/Inrupt-inc/generator-solid-react) and visit http://localhost:3000
* log in with 'https://lolcathost.de:8443/profile/card#me' (due  to  https://github.com/Inrupt-inc/generator-solid-react/issues/11

[2019-03-15 23:05] kjetilk opened #1147 "Delete account must point to POD provider"
Currently, the link to delete an account points to the relative URL `/account/delete` but that has been disallowed by #1073, it has to be relative to the POD provider.

[2019-03-16 00:25] kjetilk commented on #1146
I'm afraid this works for me too:

[code]

[2019-03-16 13:16] michielbdejong commented on #1146
Let's look at this tomorrow or Monday

[2019-03-17 13:35] jason076 opened #1148 "Add a no account option"
I am currently evaluating if the node-solid-server is usable as a web access control capable ldp back-end, because I have not found any libraries for that purpose on npm.
I have reviewed the whole node-solid-server code, and it seems that the access control check is coupled with the _webid_ feature. If the "webId" parameter is set to false, everyone is allowed to read and write on the ldp-endpoint

[2019-03-17 19:41] michielbdejong commented on #1146
The error  logged is 'request to https://dev.inrupt.net/.well-known/openid-configuration failed, reason: unable to verify the first certificate'

[2019-03-18 07:38] michielbdejong commented on #1146
Reproduced the error in the sense that https://dev.inrupt.net/.well-known/openid-configuration opens fine in the browser but `curl https://dev.inrupt.net/.well-known/openid-configuration` fails with a similar 'server certificate validation failed' warning, even from my laptop.

It even fails when using https://curl.haxx.se/docs/caextract.html which is odd. But in any case this is a server configur

[2019-03-18 07:51] michielbdejong commented on #1146
This gives some more information:
[code]

[2019-03-18 07:53] michielbdejong commented on #1146
Note that the problem only occurs on dev.inrupt.net, not on inrupt.net:
[code]

[2019-03-18 07:58] michielbdejong commented on #1146
Notice the difference between  `depth=0 CN = dev.inrupt.net` and `depth=3 C = SE, O = AddTrust AB, OU = AddTrust External TTP Network, CN = AddTrust External CA Root` on the second line there. Looks like the cert on dev.inrupt.net doesn't include the intermediate, should be fixable by using fullchain.pem.

[2019-03-18 08:07] michielbdejong commented on #1146
Changed the `"sslCert"` entry in /etc/solid/config.json from cert.pem to fullchain.pem and restarted NSS. That fixed it!

[2019-03-18 08:11] #1146 closed

[2019-03-18 08:21] michielbdejong commented on #1148
Yes! What you're describing sounds like the `webid` option has two effects: switch identity provider role  on and off, and switch access control on and off. There should be a way to configure NSS to have access control but not the identity provider role. If not, then that's a bug!

[2019-03-18 08:44] jason076 commented on #1148
Maybe I missed something. It could turn out that the _multiuser_-option turn the account check off. I will do some test now to verify it.

[2019-03-18 11:45] melvincarvalho opened #1149 "ERR_CONNECTION_RESET with "auth" : "tls""
## Please describe what you did in reproducible steps

Running latest master on node soild server with

"auth" : "tls"

I get the following issue, when trying to connect with my webid

ERR_CONNECTION_RESET

There doesnt seem to be anything useful in the server log.

Am I right that TLS mode should work in the latest master?

[2019-03-18 12:36] jason076 commented on #1148
Ok, I have just read the route handlers wrong. I have read `router.get('/', checkAccountExists(accountManager))` as `router.get(checkAccountExists(accountManager))` and that would have blocked any user who has no account on the server.
Just to be certain about the correct behavior, I have run a short test. I have set up two solid server and created an account on each server, lets call them alice a

[2019-03-18 12:36] #1148 closed

[2019-03-18 12:56] #1131 closed

[2019-03-19 00:38] kjetilk commented on #951
I noticed some differences to the server setup that wasn't on my radar:

[code]

I think we need to have them in the changelog.

[2019-03-19 14:09] lechten opened #1150 "Notepad does not work in docker"
I started solid in docker, as described in the README, created user `alice`, went to `alice.localhost`, logged in, went to `Public Folder`, clicked plus, selected the Notepad icon. Giving a name leads to:

[code]

Per issue #901, certificate problems might be the cause. However, unlike that issue, I cannot start with option `-v`: `error: unknown option -v`

Anyways, I changed the dockerfile to `CM

[2019-03-19 15:10] lechten opened #1151 "Notepad does not work on localhost"
This is probably related to #1150, this time installed via `npm install -g solid-server` on GNU/Linux with wildcard certificate (signed by own CA) for *.solid.localhost and corresponding entry in `/etc/hosts`.

The server reports: `Solid server (5.0.0-beta.9) running on https://localhost:8443/`

When I type a character into a line of a notepad, I see:

[code]

Starting the server with `DEBUG=* sol

[2019-03-19 22:07] melvincarvalho opened #1152 "inrupt.com inserted into new landing pages"
Looking at the new release, it would appear that the inrupt.com domain has been inserted into new landing pages

Just wanted to question whether this was intentional or a slip.

https://github.com/solid/node-solid-server/blame/6afe43958c90abdab68324c1d3e5af35a16247ca/default-templates/server/index.html#L48

[2019-03-20 13:08] lechten commented on #1151
The same happens with `Solid server (5.0.0)`.

[2019-03-20 21:01] megoth commented on #1152
It was intentionally added, and in my mind at the time I thought https://solid.inrupt.com/docs to be the best resource for the documentation I was thinking about (and in many regards I still think that resource is the best resource). But I could've surveyed more, and asked the community more about which resource should be there.

Do you have a suggestion for a resource that is better to point to i

[2019-03-22 16:36] CxRes commented on #994
This still seems to be an issue with v5.0.0 server. I am unable to login on my local setup (running on node v8.15 on Windows 10 64-bit). This has also been reported on the solid forum [here](https://forum.solidproject.org/t/local-setup-solid-server-gets-bugs/995).

[2019-03-23 14:27] melvincarvalho commented on #1152
Thanks for clarifying.  Question is answered.

[2019-03-23 16:39] melvincarvalho commented on #1152
I've tried quite hard to look at this from the perspective of a judgement call.  I'm just not able to get there, at least not right now.  So I'll "gently" add a thumbs down here.  It just seems to me as wrong to come to someone else's project and insert your url on the landing page in your first release.  Having registered my thoughts, and appreciating views on this may be varied, I will leave it

[2019-03-23 19:55] megoth commented on #1152
@melvincarvalho well, in this case I don't feel that this is someone else's project, but _our_ project (as in us, the Solid FOSS community). I'm contributing to this project on the behalf of inrupt, and all of those contributions are done for the betterment of the Solid project.

If you disagree that notion, I think we should start another discussion (perhaps in another thread). But do note that I

[2019-03-23 20:21] melvincarvalho commented on #1152
@megoth thanks for your response.  You are perhaps reading too much into my comment.  I appreciate your sincerity, and your good intentions.  Soild has come about through the contributions of many actors : academic, corporate and individuals, over a period of many years years.  Both you and inrupt to big part of that.  I think we are in general agreeing, it is in it a team effort!

[2019-03-23 21:55] melvincarvalho commented on #1152
@megoth also, I actually just had a look at the inrupt page.

I noticed the following :

[code]

If I'm not mistaken (and I might be!) this is tracking software that uses google analytics.

What that means is that someone installing node solid server would click on the "docs" link and would then be tracked by google, when they were expecting just to read some documentation.

I run solid to protect

[2019-03-24 06:37] akuckartz opened #1153 "Do not use Google Analytics"
Noted in https://github.com/solid/node-solid-server/issues/1152#issuecomment-475908016 by @melvincarvalho

[2019-03-24 08:43] melvincarvalho commented on #1153
@akuckartz 	thanks for raising this.  I think there will be a range of views on this one.

I'll note that this is not native to node solid server.

It is however part of solid dot inrupt dot com.  Which is now linked to the code base.

There will be differing views on GA.  As a self professed "privacy fundamentalist", I would consider it harmful.

So while I think it's up to individual companies o

[2019-03-24 11:11] akuckartz commented on #1153
One alternative is https://matomo.org (fka Piwik).

[2019-03-24 13:15] gobengo commented on #1152
I share in the discomfort. Inrupt could just as easily contibute to the MIT-licensed https://github.com/solid/information

Strategically, I'd be surprised that management/board would allow any moves this early in the co that would undercut the OSS-community trust.

Another consideration other than analytics tracking is license. The code is MIT-licensed, as are the aforementioned docs at solid/info

[2019-03-24 15:01] gobengo commented on #1153
@akuckartz I empathize with the utility of web analytics for helping website operators understand what part of their sites are getting used and how such that they can improve the product, and I agree that it's unfortunate when, in doing so, they share the surveillance data only with Google.

[Matomo](https://permanent.cloud/apps/matomo) is pretty good at it. I use it for [permanent.cloud], but sel

[2019-03-24 21:20] kjetilk commented on #1149
Sorry for the late response! It should definitely work, we have tests for it too, but apparently something slipped.

[2019-03-25 00:55] melvincarvalho commented on #1149
@kjetilk good to know, Im a bit snowed under the next 2 weeks and traveling.

But I really would like to get this flow working.

Did you try it with your own WebID?

[2019-03-25 03:33] justinwb commented on #1153
Hi all - just want to point out that https://solid.inrupt.com does use Matomo, and has been now for several months. Will figure out what's pulling in that GA script and make sure it is stripped out immediately. Thanks for raising this.

[2019-03-25 03:36] justinwb commented on #1152
@melvincarvalho Regarding GA - see [this comment](https://github.com/solid/node-solid-server/issues/1153#issuecomment-476043575). Will track down what's calling it and get it stripped right away as it's not in use (Matomo is used instead). Thank you for raising!

[2019-03-25 11:01] melvincarvalho commented on #1152
@justinwb thanks alot for looking at this.  I think that's a plus.

It's still slightly problematic.

1. Firstly the @megoth [comment](https://github.com/solid/node-solid-server/issues/1152#issuecomment-475899642) I felt was unconstructive.  Nobody I know wants inrupt to fail, and everyone I know (including me) wants inrupt to succeed.  Otherwise I would not have donated hours of my time helping i

[2019-03-25 11:23] Mitzi-Laszlo commented on #1152
Perhaps https://www.w3.org/community/solid/wiki/Main_Page is a good overview landing page?

[2019-03-25 12:51] megoth commented on #1152
It was indeed not a constructive comment, and I'm sorry for that. I appreciate your contributions and past efforts, and did not intend to undermine that.

It is indeed a team effort, and I suggest that we change the URL of the documentation link to something more neutral. Maybe https://www.w3.org/community/solid/wiki/Main_Page is a good resource, as @Mitzi-Laszlo suggested? It links to other docum

[2019-03-25 12:58] michielbdejong commented on #994
@CxRes thanks for reporting! I'll see if I can replicate it with latest master.

[2019-03-25 14:16] justinwb commented on #1153
As a quick update - the GA script call has been stripped out.

[2019-03-25 16:27] akuckartz commented on #1153
This is resolved as far as I am concerned. Thanks to all who helped!

[2019-03-25 16:27] #1153 closed

[2019-03-25 18:16] jaxoncreed opened #1155 "local storage data generated from 4.x causes unauthorized login"
## Please describe what you did in reproducible steps
 - Boot the solid server at localhost:8443
 - Manually put the following in local storage:
key: solid-auth-client
value: {"rpConfig":{"provider":{"url":"https://localhost:8443/","configuration":{"issuer":"https://localhost:8443","authorization_endpoint":"https://localhost:8443/authorize","token_endpoint":"https://localhost:8443/token","userinfo

[2019-03-25 19:21] melvincarvalho commented on #1152
@megoth thanks for your kind words, of course, apology accepted.

The w3c wiki page seems like an uncontroversial option.  I dont have a strong opinion on this.  Possibly in the longer term a documentation template or app would be good, and help those that dont have a net connection.

[2019-03-25 19:32] jaxoncreed commented on #1120
Hi @NoelDeMartin ,

I think the server is working as intended. There is no RDF resource at https://localhost:8443. You can get a resource from https://localhost:8443/SOME_PATH (example https://localhost:8443/profile)

[2019-03-25 19:34] Ryuno-Ki commented on #1152
Regarding web analytics... I just opened https://github.com/solid/information/issues/76 - maybe we can continue there?

Is this issue resolved now?
I mean, inrupt.com was removed from the landing pages, wasn't it?

[2019-03-25 19:36] michielbdejong commented on #1149
I'll have a look on wednesday

[2019-03-25 19:39] michielbdejong commented on #1145
@kjetilk I'll have a look at the last one, do you want to take the first three?

[2019-03-25 19:49] michielbdejong commented on #900
Won't fix while we're discussing the proposal to [remove globbing from the spec](https://github.com/solid/solid-spec/issues/145)

[2019-03-25 19:49] kjetilk commented on #914
wontfix now as we will do test suite.

[2019-03-25 19:49] #914 closed

[2019-03-25 19:50] RubenVerborgh commented on #900
@michielbdejong Catch-22 then, as @melvincarvalho (understandably) is objecting to that change until there is an alternative.

[2019-03-25 19:51] michielbdejong commented on #433
Looks like this was never implemented, even if the readme does mention it. There is a `webid: false` config option, so we should check if that one works correctly.

[2019-03-25 19:57] michielbdejong commented on #929
Hi @Mordax, NODE_TLS_REJECT_UNAUTHORIZED=0  is not a dependency, it's an environment variable. Can you try using http://www.dowdandassociates.com/blog/content/howto-set-an-environment-variable-in-windows-command-line-and-registry/ to set that env var?

[2019-03-25 19:57] michielbdejong commented on #951
part of #1145

[2019-03-25 19:59] michielbdejong commented on #929
See also https://github.com/solid/node-solid-server/issues/954#issuecomment-441689220 that might help you to set up NSS on windows?

[2019-03-25 20:05] michielbdejong commented on #993
Postponing while globbing might be removed from the spec

[2019-03-26 07:08] NoelDeMartin commented on #1120
@jaxoncreed I am trying to get an RDF resource because I get `pim:storage </> ;` from the profile, how else am I supposed to query it? In v4.X I did it like this, without specifying text/turtle content type, but that's the format I got in the response.

[2019-03-26 13:38] gobengo commented on #1152
Seems like there has been a flurry of activity from inrupt (at least @michielbdejong @Mitzi-Laszlo @megoth). But no answer to the licensing question.

In particular, the solid wiki's main page documentation section still just points to inrupt.com as the first link. What is the license of the documentation there, and who/what has the copyright?

Specifically, can I copy all the documentation from i

[2019-03-26 13:46] jaxoncreed commented on #1120
@NoelDeMartin My bad. I'll get on to correcting this as soon as I can.

[2019-03-26 13:57] megoth commented on #1120
I suspect that requestedType.includes('text/html') in https://github.com/solid/node-solid-server/blob/master/lib/handlers/get.js#L81 is a bit to eager: it will try to fetch HTML irrespective of whether you're asking for a TTL-response. And then NSS tries to convert the fetched HTML representation to TTL.

[2019-03-26 14:41] melvincarvalho commented on #1152
Im inspired by tim's [open letter](https://webfoundation.org/2019/03/web-birthday-30/).  At this point I am rather confused about things.

Unanswered questions remain, but the original question as is relates to node solid server I think is resolved.

@gobengo question on licensing is outstanding.  I am curious on this one too, since I was asked to author some of the content.

[2019-03-26 15:36] melvincarvalho commented on #1152
You might want to nix this too

[code]

Tho I'm not sure entirely what it is.

[2019-03-26 16:32] Mitzi-Laszlo commented on #1152
Yes, can see how this is confusing. I have brought it up with the inrupt team who are looking into sorting it out.

[2019-03-26 16:59] melvincarvalho commented on #1152
From my POV this cannot be "sorted out".

I came to solid in order to build web sites that I would want to use myself as a user.  Ones that would not spy users.  One that would allow you to keep the reputation you have in one place and remix it in another.

Now the copy that I created to promote solid has been used to spy on users.  Something I promised myself I would never do, and the reason I st

[2019-03-27 20:17] jaxoncreed commented on #994
As of right now, I cannot replicate this. However, I do remember accidentally running into this issue earlier. Here's hoping I'll run into it again, and I'll attempt to fix it at that point.

[2019-03-28 08:38] CxRes commented on #994
@jaxoncreed Could you walk me through your local setup please (to see if I am doing something different that precipitates this). Also since I am running into this issue, is there some place I can look (I am afraid that I am new to this project and unfamiliar with the codebase).

[2019-03-28 12:18] #433 closed

[2019-03-28 15:00] jeff-zucker commented on #962
In the meantime, rdflib implements some SPARQL on the client side which can be used against data stored in Pods.  See [SPARQL fiddle](https://github.com/jeff-zucker/sparql-fiddle) for an API to it, or look at its guts to see examples of calling rdflib's SPARQL methods.

[2019-03-29 00:11] jaxoncreed commented on #994
Haha. Feel free to do some code spelunking, but at the moment, it's not the easiest thing to do.

Here's my config if that's interesting to you:

[code]

Maybe there are a few things that can help be debug this:
 - Tell me if you're running a multi-user pod or a single user pod?
 -  Send me the .acl file of the resource you're trying to request (you can find this in your data folder)

[2019-03-29 02:17] melvincarvalho commented on #1152
@gobengo I merged your PR, as possibly a stop gap noting that the copy on the template could indeed be further amended.

Given the automagic of github it closed this issue, so I opened it again.

What started as a question ended up stumbling upon some other issues.  I think the main one, which remains outstanding, that inrupt might want to look at is the inclusion of addthis.  But that's really so

[2019-03-29 03:27] justinwb opened #1159 "Issue looking up remote group acl"
## Please describe what you did in reproducible steps
@timbl had a correct ACL rule that was referencing a group hosted on a different server. My webid was included in this group. When trying to access a file on tim's server covered by this acl, i was getting a 404. In the server log, it was reporting that it was unable to find the group, but the path it specified for the group was local to tim's

[2019-03-29 11:11] timbl commented on #1159
Looks like a problem that a local file read function is being used to fetch the group resource.

[2019-03-29 16:12] CxRes commented on #994
@jaxoncreed My config looks identical to yours with the exception that absolute paths are used for `sslKey` and `sslCert`.

I am running single user mode

My `.acl` looks like this:
[code]

When I try to log in from the browser, I get the following error on my devtools console:
[code]

popup.html (`solid-auth-client/dist-popup/popup.html`) contains bundled js with no sourcemaps, I think I have hit

[2019-03-29 16:17] jaxoncreed commented on #994
Oh, I just remembered that I created an issue for something that might be the same thing a few days ago #1155.

To test if this is the same thing, open up your development tools and go to "local storage" and delete the key that's present. Then try logging in again. If you don't want to do that, you can see if logging in in incognito mode works for you.

[2019-03-29 17:35] CxRes commented on #994
Does not help. When I click **Localhost:8443** on the login, I get the following errors:
[code]

[2019-03-30 22:12] gobengo commented on #1152
@melvincarvalho Glad it was merged. I think it clearly resolves the original point of this issue.

I am still curious about these questions, and hope @Mitzi-Laszlo (with help of their colleagues) will share answers soon.

Since that outstanding quandry is only tangentially related to this Issue, I will not be offended if you close this issue. We can make another one for "What dies © Solid mean?" o

[2019-03-30 23:30] timbl commented on #1159
Quick fix seems to work as follows.

[code]

[2019-03-30 23:32] timbl commented on #1159
actually the `+const fetch = require('node-fetch')` is unnecessary -- that was another way I was going to go.  But the function it need (and misleadlngly called fetch) is  `load` - fetch uit parse it and stick it in the store.

[2019-03-31 17:37] gobengo commented on #1119
@megoth In my experience that can be a sign of not cleaning up fully after each test. Which often comes from unnecessarliy reusing setup across tests that don't need it, usually just out of convenience or being the quickest to type.

For example, the test you mention is in a suite with a few other `it()`s. And that suite [uses `before`/`after`](https://github.com/solid/node-solid-server/blob/maste

[2019-04-01 13:23] michielbdejong commented on #1159
Thanks! @jaxoncreed do you want to take a look at this one? I see it's already assigned to you, we can discuss in today's triage meeting if anything's unclear.

[2019-04-01 13:27] michielbdejong commented on #1159
Ah, just saw you already created #1160. Let's discuss in the triage meeting today!

[2019-04-01 14:59] jaxoncreed commented on #1011
Fixed in #1158

[2019-04-01 14:59] #1011 closed

[2019-04-01 15:03] jaxoncreed commented on #1081
Most of this seems to have been fixed except for multiuser: true and webid: false. It now throws an error in that case because you cannot have users without a webid

[2019-04-01 15:03] #1081 closed

[2019-04-01 15:04] jaxoncreed commented on #1159
@michielbdejong Sounds good

[2019-04-01 15:09] jaxoncreed commented on #1120
Fixed in #1156. Content type was not being properly passed to the ldp

[2019-04-01 15:44] jaxoncreed commented on #994
@CxRes I've just been able to reproduce this issue, so I'll get to work on it and hopefully will have something by end of day.

[2019-04-01 18:19] Ryuno-Ki commented on #1119
@gobengo Thanks for this!
I can use it in my own projects as well :-)

What helps me think about improving tests is trying other test runners (on small scale projects) and see what they do differently. My latest spin would be ava.

I agree with you that using pure functions + isolating side effects (I/O, Network) in a single place eases so many things.
I learned some of those patterns by watching

[2019-04-01 20:17] #1080 closed, assigned to joachimvh

[2019-04-01 20:20] kjetilk commented on #1020
This has been fixed, right, please reopen if not.

[2019-04-01 20:20] #1020 closed

[2019-04-01 20:44] kjetilk commented on #904
We did this, didn't we?

[2019-04-01 21:00] kjetilk commented on #830
So, I suppose this is resolved. If not, please reopen.

[2019-04-01 21:00] #830 closed

[2019-04-01 21:01] kjetilk commented on #784
I'll close this, as I think it is fixed. Please reopen if not.

[2019-04-01 21:01] #784 closed

[2019-04-01 21:14] kjetilk commented on #1159
So, @timbl, you're saying that we should not allow filesystem access at all, not even as an optimization? In which case, #1160 is not the one we'd merge.

[2019-04-02 07:16] NoelDeMartin commented on #942
@kjetilk I faced an issue when trying the new version, which I reported at #1120. It was fixed yesterday, so I'll check it out and let you know if this has been solved as well :).

[2019-04-02 13:33] gobengo commented on #1119
@Ryuno-Ki Glad it was a bit interesting.

wrt test runners. Suprise suprise, I have an opinion on those too. In my opinion 'tests' should just be 'scripts' that have an exit code indicating success or failure (and, of course, stderr to see what failed). This is inspired by the [Testing Guide for node.js itself](https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.md#what-is-a-test).

[2019-04-02 14:06] jaxoncreed commented on #994
@rimmartin Here's the situation. The problem is caused by session cookies not being set. Each web browser handles cookies on localhost a bit differently. For example, Chrome does not set cookies for subdomains of localhost. Because subdomains are required for multiuser, the data browser will not work in chrome on localhost. I have not found another web browser where it does work. So, you have two

[2019-04-02 18:34] RubenVerborgh opened #1161 "Locks timing out cause server crash (as opposed to 500)"
Locks on files expire too quickly for some operations (which can take several seconds).

[2019-04-02 18:44] michielbdejong commented on #994
Would it help if instead of https://user1.localhost you try it with https://user1.lolcathost.de (which also points to 127.0.0.1)?

[2019-04-02 18:46] Ryuno-Ki commented on #904
Can't tell. I'm currently not following along but only with the (plenty of) issues around solid :-(

[2019-04-02 19:03] Ryuno-Ki commented on #1119
Reminds me on what a former SysAdmin told me. By relying on exit codes, you can pipe the testing into a monitoring solution (like Nagios or Icinga). But I couldn't find the docs, which would prove that.

I personally like mocha + chai the most. Ava looked a bit too stripped down at first. But its test execution is waaay faster.

But we are hijacking this thread. Have you blogged about opinion, so

[2019-04-03 01:48] timbl opened #1162 "Patch won't create file including mkdir -p"
## Please describe what you did in reproducible steps

Sent a patch.  (A new chat message in a previously empty chat channel)

[code]

## How did it work with 4.x series servers?

The patch would have been applied to a new empty file, with all the necessary directories above it bring created as necessary.

(Did we have a test for this combination? not sure.  Maybe we tested the file creation and t

[2019-04-03 02:23] timbl commented on #1162
Looking at the put handler I can't see the mkdir -p code either.
The server log was truncated because there was presumably a lock file left over which just blocked the server at that point.  Removing the locking allows one to test this bug.  The server seems to be very susceptible to left over lock file problems.  (Idea - ignore all lock files whose date is before this run of the server started.)

[2019-04-03 02:47] timbl commented on #1162
The mkdirp function is in  ldp

[2019-04-03 07:40] NoelDeMartin commented on #942
@kjetilk Ok, I can confirm that this is fixed :) I tried in `master`, because `release/v5.0.0` doesn't have the fix for the issue I mentioned in the previous comment.

[2019-04-03 11:33] kjetilk commented on #942
Ah, great! Indeed, the v5 branch was closed when we released it. I should delete it.

[2019-04-03 11:33] #942 closed

[2019-04-03 13:42] timbl commented on #1161
There may be other compounding issues, such as lockfiles being left after a crash, and then blocking the next run of the server.  Maybe the lock system should ignore & delete any lock file which is older than 20 minutes?  older than the start time of this run of the server?

[2019-04-03 13:46] timbl commented on #1161
Logfile:
[code]
The date at the bottom indicates the server had just crashed.  So it looks as though the exception `Unable to update lock within the stale threshold` was for some reason not caught.  It should for example have returned 500

[2019-04-03 16:36] RubenVerborgh commented on #1161
That functionality is all part of the locking library we use.

Indeed. This PR aims to fix that, making it a local error instead.
Would you be able to test?

[2019-04-04 13:04] boulderwebdev opened #1165 "PUT Requests storing empty JSON object"
I am trying to update text files on my pod using a `PUT` request. If I have a text file, e.g. `/public/hello.txt` and make a `PUT` request to override its value, the file is replaced by a text file with an empty JSON object.

Here's a snipped of the code I used to perform the `PUT` request. Here we are assuming `/public/hello.txt` exists already.
[code]
If you go to `https://boulderwebdev.solid.co

[2019-04-04 14:04] jaxoncreed commented on #1165
There was a similar issue recently at #1011. It's caused by the auth system using body-parser while the ldp expects a stream. To rectify this, we added a temporary hack that creates a new stream from the parsed body, but this hack only applies to `application/json` not `text/json` and only in a `POST` request.

https://github.com/solid/node-solid-server/blob/master/lib/ldp.js#L167

If you would li

[2019-04-04 15:16] TallTed commented on #628
I wonder whether *CLOSING* things tagged `REVISIT` makes sense, or would they be better kept in the OPEN list, and filtered out as/when appropriate?  I ask because CLOSED things are rarely if ever REVISITED in practice.  (And today, when I saw this as CLOSED in https://github.com/solid/solid-spec/pull/103, I thought it had been *done*, not tabled.  I think that will be the common interpretation.)

[2019-04-04 15:20] RubenVerborgh commented on #628
The number of open issues was too large to be manageable; it was in the way of progress. I agree that this is not the best solution, but we haven't found anything else that is workable. Attention to vnext of the server will increase; only the very nasty blockers in this one will currently be considered (unless anyone has the bandwidth to take them up, in which case, open the issue and go).

[2019-04-04 16:46] srensamblador opened #1166 "If someone's Card gets corrupted, people who had him as friend can't edit their own Cards anymore"
I encountered this bug while trying to test my application against a test POD i had laying around. If somemone's profile card gets compromised because his card file isn't a valid document anymore it has an impact in other users PODs.
I had this test user added as a friend in my regular use POD and from that moment on I can't edit my card, I can't remove the corrupt friend nor add new ones, for ins

[2019-04-04 19:02] #1161 closed

[2019-04-04 19:56] kjetilk commented on #1166
OK, this, I think is a side-effect of the `trustedApp` code we introduced in the last minute. Perhaps it should ignore invalid files?

[2019-04-04 20:07] Ryuno-Ki commented on #628
@RubenVerborgh Maybe an approach similiar to what @zachleat is doing could help you: https://github.com/11ty/eleventy/issues/321#issuecomment-443478080 ?

[2019-04-04 21:25] boulderwebdev commented on #1165
Oh, whoops, that should be `text/plain`. Thanks for the reference, I'll check it out soon.

[2019-04-06 12:03] angelo-v opened #1167 "Provide official Docker image"
To ease the deployment of NSS on an own server, there should be an official Docker image of NSS on the Docker Hub or any other public registry.

Requirements:
  * Provide a production ready Dockerfile
  * Automatic build process and publication in a docker registry (e.g. Docker Hub)
  * Tagged by version to have full control about the version to run
  * Automated tests

As luck would have it, I al

[2019-04-07 19:14] angelo-v commented on #1128
I cannot reproduce it.
[code]
works without errors.

Might be specific to Ubuntu 16.04, which has a binary called `nodejs`, but not `node`:
https://github.com/ForbesLindesay/spawn-sync/issues/42

[2019-04-07 20:39] Otto-AA commented on #1120
Sorry for commenting on a closed issue, but my problem seems connected to this.

For a file manager I would like to fetch the contents of the "root" directory. In the old version it worked with sending a request to the "root path" (e.g. https://otman.solid.community/), but as mentioned in this issue, the 5.0.0 version doesn't return a turtle file. I didn't find out yet how to do this with the new

[2019-04-08 07:15] NoelDeMartin commented on #1120
@Otto-AA Are you explicitly setting the `Accept` header to `text/turtle` in the request? In the previous version it wasn't necessary, but I believe in this version I had to do it or it wouldn't work.

[2019-04-08 08:05] Otto-AA commented on #1120
If I explicitly set the Accept header to `text/turtle`, I get a 500 response with the `Error translating between RDF formats`. If I don't set it, I get it as html.

Here's a screenshot of it:
![image](https://user-images.githubusercontent.com/21040751/55708292-d9ebc180-59e5-11e9-8bb0-3f8d9a34d82a.png)

[2019-04-08 08:08] NoelDeMartin commented on #1120
@Otto-AA Yes, that error is what's been fixed in this issue. Keep in mind that it's been fixed on the branch `master`, if you're using the branch `release/v5.0.0` this fix is not included.

[2019-04-08 18:17] kidehen commented on #962
You can use a SPARQL Query to crawl any Solid Pod. Remember, a Solid Pod comprises folders and files that are all described using RDF.

[code]

Thus, you can use a SmallData-pattern to crawl any Solid Pod, simply pick your starting point.
If you want to use SPARQL then your chose SPARQL Query Service needs to support de-reference of URI-variables and URI-constants in the query body as part of the

[2019-04-08 19:10] michielbdejong commented on #1167
@Mitzi-Laszlo apparently https://hub.docker.com/u/solid already exists as an org, can you investigate the status of that?

[2019-04-08 19:44] NoelDeMartin commented on #962
@kidehen I don't know what a SmallData-pattern is, you mean that there are some services (like URIBurner) that allow you to execute SPARQL queries on other servers? If that's so, I think the problem is still the same, because it will be querying the server and doing a lot of requests anyways. I guess the goal of using SPARQL on a Solid pod is to get whatever information is needed in a single reque

[2019-04-08 20:00] kidehen commented on #962
@NoelDeMartin ,

I am going to write a post about Small Data. Fundamentally, it is about leveraging the power of Linked Data for progressively assembling the data required for a query solution by dereferencing URI-variables and URI-constants in the body of a SPARQL Query.

This is what Linked Data has always been about i.e., rather than loading massive datasets into a DBMS and exposing access via

[2019-04-08 20:09] Otto-AA commented on #1120
@NoelDeMartin Ok, thanks. I don't have the resources to test it with the new server version, but I guess that this will fix it. Thanks for the clarification :+1:

[2019-04-08 20:17] kjetilk commented on #1167
@Mitzi-Laszlo, @michielbdejong, @jaxoncreed and I discussed this, and we figured that the best way to do it is probably to have a "Docker Maintainer" role within the Solid project, and since @angelo-v has already done the work, it makes sense if he occupies that role, though I may be pushing the process here. Great if you look into having such a role, and if we could have a suitable home at Docker

[2019-04-09 10:43] Leoudayan commented on #1120
@NoelDeMartin Is it possible for you to explain how to merge the branch master with the existing 5.0.0 version?I tried to follow the instructions to merge the master with the 5.0.0 release (https://github.com/solid/node-solid-server/blob/master/.travis.yml ) But getting error - no such file or directory, /../../package.json when i tried npm ci.

[2019-04-09 17:13] pmcb55 opened #1169 "Can't create Dokieli document in POD"
Trying to create a new Dokieli document in the Team inrupt April folder (https://team.inrupt.net//2019/04/PatDokieliTest) while logged into my inrupt POD with WebID (https://pmcb55.inrupt.net/profile/card#me), but I'm getting a 'Not Authorized' error. (I tried with 'https://team.inrupt.net//2019/04/PatDokieliTest' and 'https://team.inrupt.net/2019/04/PatDokieliTest').

See screenshot:
![DokieliNot

[2019-04-09 17:50] csarven commented on #1169
Short answer: there is no technical issue in node-solid-server or dokieli that I'm aware of, but that the dokieli UI is confusing and leading to this error.

Unless you want to take the WebID-TLS route, use the "OpenID Connect" button at "Sign In" which leads to using WebID-OIDC route (based on solid-auth-client). Related https://github.com/linkeddata/dokieli/issues/254 , https://github.com/linked

[2019-04-09 21:14] angelo-v commented on #1167
Since solidproject is also taken, I just registered solidweb. If someone has a better proposal we could still change, I just wanted to secure one.

[2019-04-09 21:38] pmcb55 commented on #1169
Ah ha!

The actual problem in my case I think was that I was *already* logged into my POD, so when I simply browsed to 'https://dokie.li/' it automatically picked up that I was logged in (which I was impressed with :) !), but it didn't realise that I'd logged in via OIDC, meaning the 'New' operation failed 'cos Dokieli attempted that operation expecting WedID-TLS.

I only realised this when I coul

[2019-04-10 06:32] michielbdejong commented on #1167
@angelo-v so then I think all that's needed is to allow you to complete this, is to add you as committer on this github repo, right?

[2019-04-10 07:23] angelo-v commented on #1167
We could have a seperate user for the docker image  (e.g. a fork of https://github.com/angelo-v/docker-solid-server) or add the  docker stuff to a subdirectory  within this repo here.
To trigger an automated built add docker hub I need to create and connect a "service user", but I still have to figure out if this is just a regular account or something special.

[2019-04-10 08:14] bourgeoa opened #1170 "Inconsistent use of URI encoded"
## Please describe what you did in reproducible steps
fileName : Draft of 'New Tiddler' new tiddler'.json
File created : Draft%20of%20%27New%20Tiddler%27%20new%20tiddler.json
When I want to delete using the filName I got an error 404 file not found :
Draft%20of%20'New%20Tiddler'20new%20tiddler.json
The ' is not treated as %27
## How did it work with 4.x series servers?
There is no error, files are

[2019-04-10 08:51] Mitzi-Laszlo commented on #1167
@angelo-v thank you for the contribution!

This conversation is about the project [ASAP on Server](https://github.com/orgs/solid/projects/2) with Project Manager [Jackson Morgan](https://github.com/jaxoncreed). You can read about all the projects on https://github.com/orgs/solid/projects.

@angelo-v you could either submit a pull request or issue for @jaxoncreed to review as Project Manager. Alter

[2019-04-10 09:23] kjetilk commented on #1167
Actually, @Mitzi-Laszlo , I think this is broader than the project, we'd want to have Docker images of more than NSS5 at some point. I think this a role closer to the Release Manager than a specific project, though certainly, working with @jaxoncreed is how we'd do it now.

[2019-04-10 10:06] angelo-v commented on #1167
I am preferring a dedicated repository within the solid organization, e.g. `solid/docker-nss`. It would be enough for me to have the permissions for this repository.  Just placing a PR here would not be enough, because this does not allow me to setup the docker build. I could do it anyway, but then someone else has to take the "Docker maintainer" role.

[2019-04-10 10:09] kjetilk commented on #1167
Right! It could be a part of the release manager's responsibilities, but I think it makes sense to have it as a separate role in the interest of making it easier for more people to contribute.

[2019-04-10 15:39] jaxoncreed commented on #1166
@srensamblador I've created a corrupted user here (https://corrupteduser.solid.community/profile/card#me) and added it as a friend in a local pod. However, I am still able to edit my profile. How did you corrupt your user. Am I corrupting this user correctly?

[2019-04-10 18:34] jaxoncreed commented on #1166
@srensamblador could you create a test account for a corrupted user, so that I can try to replicate this?

[2019-04-10 18:55] srensamblador commented on #1166
I'll try to see if i can create it again because I fixed my app during this time.

Meanwhile addressing your first comment.
My corrupted user didnt really look like that, when you tried to check his card's source code with the </> icon it was empty,
On the "good" pod that had him added as friend the issues i manage to notice were that i couldn't add or remove friends as I said in the original issu

[2019-04-10 19:17] srensamblador commented on #1166
Okey the broken pod looked exactly like this:
https://evilpod.solid.community/profile/card
password: testUser1!

But I can't seem to recreate the bug in the friend's pod, maybe I did something else wrong when it happened, maybe I was logged in as a different user and didn't notice with the panic and everything. Tho I'm pretty sure it happened, I dont want anyone to waste time if I was wrong

[2019-04-10 20:28] Otto-AA opened #1171 "Set default response type to text/turtle for the root folder"
## Please describe what you did in reproducible steps
Fetch the root folder of a pod on a v5.0.0 server without specifying the "Accept" header.
(e.g. GET https://testomat.solid.open.ac.uk/, `Accept: */*`)

## How did it work with 4.x series servers?
It returned a text/turtle file.

## What happened when you tried the same with the 5.x series server?
It returns a text/html file.

## Any material th

[2019-04-11 06:32] Otto-AA commented on #1171
I've noticed another difference from 5.x to older versions regarding the root container:
POST to the root responds with 403 (e.g. creating a new folder or file in the root).
GET of an item in the root responds with 403 if it doesn't exist (e.g. GET {root}/non-existent/).

Both work with the same settings in my private folder. In the profile I've set read/write/append/control access. I sadly don't

[2019-04-11 18:49] bourgeoa commented on #1170
see the discussion here https://gitter.im/solid/node-solid-server?at=5caf41370aad635019671b30
and Tim Berners-Lee
@timbl
19:26
The file is never stored as "tes%20test.txt”, V4 or V5. The filename shoul dhave a space, teh URI an encoded %20.
No differnce version to version.

[2019-04-15 19:00] jaxoncreed commented on #1166
Okay. I can confirm that I also cannot recreate the bug with the corrupted user. So, I'm going to close this out.

[2019-04-15 19:00] #1166 closed

[2019-04-16 17:05] jaxoncreed commented on #929
As no activity has happened recently, I'm closing this issue.