[2014-09-29 09:54] nicola opened #4 "Local and remote folders should not be hardcoded"
There are two solution for this:
1. Passed as arguments
2. Have them as global variables (e.g. `process.env.URI_BASE`)

I would prefer the second one having a fallback on the default `test` folder

[2014-09-29 09:57] nicola opened #5 "Test folder is hard-coded"
While it could be useful to hard code the `test` folder, it should not be hard-coded in this way:

[code]

since we are assuming the developer is storing code in this way :(

[2014-09-29 10:15] nicola opened #9 "Implementing a route"
The idea is to use routes instead of implementing it straight into the main toutes

[code]

[code]

In this way, we can make something that any user can plug and play in their environment

This is only available in the latest `express`. Good idea to upgrade?

[2014-10-03 18:17] #4 closed, assigned to nobody

[2014-10-03 18:44] #5 closed, assigned to nobody

[2015-01-12 17:08] timbl opened #16 "Adding webid authentication"
This (with rdfACL control) is one of the two most pressing things for this  project at the moment.

  @deiu notices that @magnetik had actually done a webid for node https://github.com/magnetik/node-webid so we forked it here in linkeddata and it remains to integrate it with the rest of the server.  Any volunteers?

[2015-01-12 17:11] timbl opened #17 "RDF ACL for node"
Along with authentication, RDF ACL authorization is an important feature for this server.  Then we will be able to run it facing the open net rather than as a protected proxy.

The goal would be to make the file structure used on the server  be compatible with gold, so that one could run node-ldp-httpd or gold on the same files and have redundancy of project, and no 'project lock-in'.

Also of cou

[2015-01-13 19:30] nicola commented on #9
(Updated version of this PR is on #15)

Sorry for the delay in this, I just got back from a long journey with little connection.

Express routes are very simple, think of them as a volume that you mount.
**Theory.** So, if you have on a drive `/A/B` then you can mount it on `/home/nicola` so it will have the final path `/home/nicola/A/B`. The equivalent in our case would be `/the_path_that_i_decid

[2015-01-14 21:37] martinmr commented on #9
Speaking about upgrading to Express 4.x, I did it a few days ago to see if it worked. I didn't have to make any changes other than updating the package.json file.

[2015-02-01 16:40] sandhawke opened #18 "Rename project"
A nine syllable name for this project is pretty painful.  Whenever it comes up in conversation I find myself unable to remember the name, and unsure my listeners would understand/parse/recognize/remember it.

I suggest ldnode or ld-node would be a good name, along the lines of ldphp and ldpy, and not far from gold (which is ldgo re-ordered).

[2015-02-27 05:01] akuckartz commented on #18
:+1:

[2015-03-22 17:49] elf-pavlik commented on #18
please also consider checking out @bergos javascript work on
* https://github.com/bergos/ldp
* https://github.com/zazukoians/rdf-ext
* https://github.com/zazukoians/trifid-ld
etc.

Also https://www.w3.org/community/rdfjs/ doesn't look very active lately but maybe still worth trying to coordinate work on LD tool written in javascript?

[2015-03-23 12:14] bergos commented on #18
@sandhawke
Your project looks very similar to [LDApp] (https://github.com/bergos/ldapp). LDApp is very modular. If you don’t like one part of it you can simple replace it with your own code. Out of the box you get WebID authentication, [UAC](https://github.com/bergos/uac) access control, in memory store (that can be replaced by a SPARQL endpoint in the config). A [SPARQL engine](https://github.com

[2015-03-25 12:05] bergos commented on #16
@timbl @deiu Do you know [pubkey-login](https://github.com/bergos/pubkey-login)? It also contains some comment code which I used previously together with Apache httpd for resource based authentication, because node.js can't do renegotiation.

[2015-03-25 18:34] martinmr commented on #16
At this moment, webid authentication already works. There are minor enhancements to be done, such as forwarding http requests to the https server. This problem is trivial when the two standard ports (80 and 443) are used but it's quite cumbersome when trying to use the same port, and I still haven't come up with a clean solution.

[2015-03-25 18:35] #16 closed

[2015-03-25 18:36] martinmr commented on #9
Routes are already implemented. Closing issue.

[2015-03-25 18:40] nicola commented on #9
Can you discuss how they are implemented?

I can see in [server.js](https://github.com/linkeddata/node-ldp-httpd/blob/master/server.js) that I can add them one by one, but there is no such concept of router I described above, making this library strictly a demo (or a ready-to-use tool), but not a library I can implement in my current codebase.

[2015-03-25 18:54] martinmr commented on #17
There's a limited ACL that already works (see acl.js). I wrote it using the acl node module but it's quite limited. For example, setting permissions for all users cannot be done with a wildcard. I will look at gold to see how ACL is implemented and write a compatible solution.

[2015-05-07 13:44] akuckartz commented on #18
This project has been renamed to ldnode. Can this issue be resolved?

@elf-pavlik Collaboration with other projects such as those led by @bergos can/should better be discussed in separate issues.

[2015-05-07 14:18] timbl commented on #18
Sandro renamed the project, so this is issue can be closed

[2015-05-07 14:18] #18 closed

[2015-05-31 09:30] elf-pavlik commented on #18
@bergos I think you can still add [LDApp](https://github.com/bergos/ldapp) to https://github.com/linkeddata/SoLiD#servers as an alternative node.js implementation to the one worked on here.

[2015-06-21 01:00] nicola opened #21 "Hoisting issues"
I have seen in this file: https://github.com/linkeddata/ldnode/blob/master/handlers/get.js that the functions `get`, `parseContainer`, `parseLinkedData`, `globHandler`, `containerHandler`, `fileHandler` are declared as anonymous functions and assigned to a variable.

Since they are called before they assigned, this may lead to a `TypeError` or similar issues related to variable hoisting in javascr

[2015-06-21 01:09] nicola opened #22 "Question regarding underscore"
Underscore is an awesome library, but I was wondering if we really need it.

I was having a look at https://github.com/linkeddata/ldnode/blob/master/acl.js and I have seen that we are using `_.each`, which is the equivalent of `obj.forEach` that I believe it is also more readable.

Is there any reason for this particular choice?

[2015-06-21 01:26] nicola opened #23 "Coding style for module.exports"
### exports.something >> module.exports.something

Following [this](http://www.hacksparrow.com/node-js-exports-vs-module-exports.html) and many other sources, unless we are exporting a function as the only thing we export (instead of an object).

### Hoisting

Mentioned here! #21

### Exports declared at the end

In some part of the code (e.g. https://github.com/linkeddata/ldnode/blob/master/acl.j

[2015-06-21 15:34] melvincarvalho opened #24 "dependency on coffee-script"
timbl: > webid@0.1.0 postinstall /devel/github.com/linkeddata/ldnode/node_modules/webid

    sh: cake: command not found

This was trying to do an install from scratch of ldnode

Would it be possible to add the coffee-script dependency to the install?

[2015-06-21 16:53] nicola commented on #24
I think they are added (on master, not on npm).
Can you post the full log?

[2015-06-21 17:26] martinmr commented on #24
It works on my end. What happens when you run npm install in the node-webid folder? npm should look for cake in ./node_modules/.bin/

[2015-06-21 17:54] nicola opened #28 "Setting up Travis"
We need the travis config file

https://travis-ci.org/linkeddata/ldnode/builds/67748220

[2015-06-21 23:56] nicola opened #29 "Is the Makefile still needed?"
Since `package.json` contains the script `starts` and the script `test`, is the Makefile still needed?
I am a bit confused of the references to tabulator and /dev/WWW (which I assume they were probably originally used for quick & dirty testing)

**Update**

What I am seeing now is that in order to run the tests one has to run `ldnode` with some specific settings and just by doing `make` you start

[2015-06-22 00:03] nicola opened #30 "New repo for tests"
The tests that we have in our folder are *acceptance tests*, in other words we are testing if the API works as expected. The same tests can be used for any other LDP implementation, e.g. gold.

So, my idea is that we could just take this tests out in a new package like `ld-test` or `superld` that tests a LDP. So that in this repo we can test more on unit testing.

This is just an idea, otherwise w

[2015-06-22 00:47] nicola commented on #28
Should be done here https://github.com/linkeddata/ldnode/pull/32

[2015-06-22 03:11] deiu commented on #30
+1 to having an LDP test harness.

[2015-06-22 05:04] akuckartz commented on #30
:+1:

[2015-06-26 18:31] martinmr commented on #22
I tried loooking for a native way to do that but I didn't find it because I was looking for something along the lines of "for elem in object", so I got the impression that there was not a native way. I agree that underscore is unnecessary if there is a native alternative. I'll change the code accordingly.

[2015-06-26 18:41] martinmr commented on #21
Thanks for telling me about this. I run into a similar problem earlier which I solved at the time by changing the var declarations to functions? Which is the preferred way to declare function? Should I use var foo = function or function foo()?

I prefer to keep the declarations of helper functions inside rather than having them outside because it clarifies the scope of the function better.
Would c

[2015-06-26 18:50] martinmr commented on #30
This seems like a good idea. The only problem I see is that the current tests depend on running the test server in ldnode which needs to be started before running the tests.

[2015-06-26 18:53] martinmr commented on #29
The makefile is used to start the server with different options (e.g. webid support).
The references to /dev/www are there because Tim wrote the tests for sparql-update support and they depend on some python scripts. I agree that they should be cleaned up but they are still separate tests from the ones in test.js.

[2015-06-26 18:55] martinmr commented on #23
Sounds good. I'll change it over the weekend.

[2015-06-26 20:58] nicola commented on #22
Perfect!
arr.forEach()

- Typed on a phone by Nicola himself

On Fri, Jun 26, 2015 at 11:31 AM -0700, "Martin Martinez Rivera" <notifications@github.com> wrote:

I tried loooking for a native way to do that but I didn't find it because I was looking for something along the lines of "for elem in object", so I got the impression that there was not a native way. I agree that underscore is unnecessary

[2015-06-28 01:14] martinmr commented on #24
Clossing this issue. It is resolved on the master branch, but still not on npm,

[2015-06-28 01:14] #24 closed

[2015-06-28 03:18] martinmr commented on #23
The latest two commits fix most of this issues (except in acl.js but the whole functionality still needs to be tested so I left it alone for now). I'll close this issue but if you notice any of this problems in another place feel free to reopen this issue.

[2015-06-28 03:18] #23 closed

[2015-06-28 03:19] martinmr commented on #21
Closing this issue as it's been addressed in issue #23.

[2015-06-28 03:19] #21 closed

[2015-06-28 15:20] nicola commented on #24
perfect

[2015-06-28 15:33] nicola commented on #29
Hey @martinmr, I still think this is something is still to be fixed, since having a Makefile with undocumented functionalities and using files not in the repo may confuse new developers.

Starting the server & testing should be in `package.json`.

[2015-06-28 21:50] martinmr commented on #28
@nicola: Would you like to see if this issue can be resolved now that rdflib is published on npm?

[2015-07-03 03:59] martinmr commented on #22
Commit https://github.com/linkeddata/ldnode/commit/8acc34cb64eeb1813db54377acbba2292599e62a removes all dependencies on underscore.

[2015-07-03 03:59] #22 closed

[2015-07-04 17:01] martinmr commented on #28
@nicola : Does your latest pull request fix this issue?

[2015-07-04 18:42] nicola commented on #28
interesting, travis was passing for my repository.. https://travis-ci.org/nicola/ldnode

[2015-07-04 20:05] martinmr commented on #28
Not sure what's going on. I checked on my local machine and the tests on the linkeddata repository are all working.

[2015-07-04 20:06] nicola commented on #28
so the difference between the travis on my repo and on this, is that npm fails to parse the json

[2015-07-04 20:12] martinmr commented on #28
I validated package.json and it is valid json.

[2015-07-04 20:16] nicola commented on #28
Interesting, I will have a look tonight. Yes, Travis now reads the package.json fine now, but still fails the tests

[2015-07-04 20:21] martinmr commented on #28
I looked at the error log. The errors are similar to what I was getting in an earlier version of rdflib, which had a bug that's already fixed in the latest release (0.2.6). Maybe you need to force "npm install" to update all the packages.

[2015-07-07 09:12] nicola commented on #28
[code]

[2015-07-07 09:19] #28 closed

[2015-07-07 09:26] nicola commented on #17
what is the status of this?

[2015-07-07 11:08] martinmr commented on #17
I am working on writing a test suite. The basic tests work.
On Jul 7, 2015 5:26 AM, "Nicola Greco" <notifications@github.com> wrote:

[2015-07-08 00:45] nicola opened #35 "How to run secure-tests.js?"
At the moment I am trying to run the tests but they all fail since they can't find the resources, hence the socket hang-up.

(I know they are under development! This is just to know how they work!)

[2015-07-08 01:10] martinmr commented on #35
On the projects root  folder execute

[code]

[2015-07-08 01:19] deiu commented on #35
This info should be in a README somewhere.

[2015-07-08 01:26] nicola commented on #35
I am working on https://github.com/nicola/ldnode/tree/routers which is a rewrite of `server.js` so that an ldp can be just loaded as a router, can be started programmatically or can be a command line. In this way, there will be no need of the make file to start a test and one can encode the parameters for the testing straight into the .js test files.

So, although documentation is preferred, in th

[2015-07-08 22:29] nicola opened #36 "Options.js should not have static attributes"
Assuming we want to start two ldnode running, editing the options' attribute will statically edit the options of each ldnode instance.

This problem does not arise in the current version of ldnode that has to be run from terminal, but it does in my fork where I am transforming ldnode into a library rather than a command line tool.

See my branch nicola/ldnode#routes for reference

[2015-07-08 23:14] martinmr commented on #36
Would having the options be declared as

[code]
instead of
[code]
and having modules dependent on options.js call a method such as
[code]
fix the issue?

[2015-07-08 23:19] nicola commented on #36
I guess it won't.We need to have var options = parseOutput(Argv)

- Typed on a phone by Nicola himself

On Wed, Jul 8, 2015 at 4:14 PM -0700, "Martin Martinez Rivera" <notifications@github.com> wrote:

Would having the options be declared as

var options = {};
options.fileBase = "";

instead of

exports.fileBase = "";

and having modules dependent on options.js call a method such as

options.set('

[2015-07-08 23:21] martinmr commented on #36
Another question: if ldnode is being run as a library, where would the argv argument come from?

[2015-07-08 23:25] nicola commented on #36
See my repo, or come to IRC for a chat.

- Typed on a phone by Nicola himself

On Wed, Jul 8, 2015 at 4:21 PM -0700, "Martin Martinez Rivera" <notifications@github.com> wrote:

Another question: if ldnode is being run as a library, where would the argv argument come from?

—
Reply to this email directly or view it on GitHub.

[2015-07-08 23:37] nicola commented on #36
Sorry for double commenting, I just updated the readme that shows how to use it: https://github.com/nicola/ldnode/tree/routers

[2015-07-09 00:20] nicola opened #39 "Code review: explaining options for session"
I was wondering why every single option would be needed

[code]

I consider the `secret: 'node-ldp'` by default a serious security issue

[2015-07-09 10:57] nicola commented on #36
I will do this

[2015-07-09 12:02] nicola commented on #9
I found out something great related to this (that I am working on my fork right now).
An express app can be loaded as a router, this means that we just need to do app.use('/whereIwantMyLDP', ldp(opts))

[2015-07-09 12:58] nicola commented on #36
This problem resulted to be drastically more important than it originally appeared, since this forces the entire library to be only used as one instance only.

This is requiring a big re-writing that I hope to finish by tomorrow.

[2015-07-09 17:28] martinmr commented on #36
That's fine. I had not started working on it.

[2015-07-09 17:31] nicola commented on #36
I fixed this in my fork. There are two tests not running, do you think you can have a look?

https://travis-ci.org/linkeddata/ldnode/builds/70241967 <https://travis-ci.org/linkeddata/ldnode/builds/70241967>

[2015-07-09 17:36] martinmr commented on #36
They were running yesterday on the master branch. I'll have a look.

On Thu, Jul 9, 2015 at 1:31 PM, Nicola Greco <notifications@github.com>
wrote:

--
Martin Martinez Rivera
Massachusetts Institute of Technology
Courses 6-3
Class of 2014

[2015-07-09 17:40] nicola commented on #36
are you free on IRC in about 30 mins?

[2015-07-09 17:45] martinmr commented on #36
No. I am about to go out eat/ run some errand. I should be back at about
3:30-4:00 PM EST. Does that time still work for you?

On Thu, Jul 9, 2015 at 1:40 PM, Nicola Greco <notifications@github.com>
wrote:

--
Martin Martinez Rivera
Massachusetts Institute of Technology
Courses 6-3
Class of 2014

[2015-07-09 17:51] nicola commented on #36
Perfect, let’s try!

[2015-07-09 19:32] nicola commented on #36
I am on IRC, gitter is down for me.

[2015-07-09 22:54] martinmr commented on #36
I solved the bug. You were using the wrong ACL handler for PUT, PUSH, and PATCH requests. Commit https://github.com/linkeddata/ldnode/commit/bc005b2423a3fdb383b1dc1f07e9e4b338774e49 fixes the issue. You can pull to your repository.

[2015-07-10 02:15] martinmr commented on #9
Closing this issue. At this time, this feature has been implemented and it's pushed to master.

[2015-07-10 02:15] #9 closed

[2015-07-10 02:17] nicola opened #42 "What license does this use?"
This should be added in the repo, package.json and README

[2015-07-10 02:18] nicola commented on #36
Fixed in https://github.com/linkeddata/ldnode/commit/23d540f88f41952fa689961bf6d8a0132b8c3d8e

[2015-07-10 02:18] #36 closed

[2015-07-10 02:18] nicola commented on #35
Fixed in https://github.com/linkeddata/ldnode/commit/23d540f88f41952fa689961bf6d8a0132b8c3d8e

[2015-07-10 02:18] #35 closed

[2015-07-10 02:18] nicola commented on #29
I think this should be fixed in https://github.com/linkeddata/ldnode/commit/23d540f88f41952fa689961bf6d8a0132b8c3d8e, where there is no need for the Makefile

[2015-07-10 02:18] deiu commented on #42
If by this you mean ldnode, then it's MIT. There's a LICENSE file, and package.json does contain the license.

[2015-07-10 02:20] nicola commented on #42
Perfect, adding to README now

[2015-07-10 02:20] #42 closed

[2015-07-10 02:35] martinmr commented on #29
I think the node tests don't need the Makefile but I am not sure about Tim's old tests.

[2015-07-10 02:37] nicola commented on #29
perfect will ask tomorrow!

[2015-07-10 04:24] deiu opened #43 "Logging broke after update to new debugger"
Running `ldnode -v` no longer outputs debug information to stdout.

[2015-07-10 13:33] #43 closed

[2015-07-10 18:00] nicola opened #47 "baseUri is not needed"
Following the LinkedData 2nd meeting. There is no need to set up the baseUri.

This should be set up by looking at the host in the request.

**Remember**: Always use the base that you find in the request

[2015-07-10 18:01] nicola opened #48 "Is `ssl` needed as an option parameter?"

[2015-07-10 18:04] nicola opened #49 "No need to specify fileBase"
In case it is not specified, use `process.cwd()`

[2015-07-10 18:18] nicola opened #50 "Error should be shown if the ssl cert & key are not set"
Also information on how to generate one should be provided

[2015-07-10 19:43] nicola opened #51 "Fixing the command line parameters"

[2015-07-10 22:52] nicola commented on #30
I agree with martin. We shall leave this for now

[2015-07-10 22:52] #30 closed

[2015-07-11 14:10] nicola opened #52 "Caching command line"
- What is the purpose of this?
- Is it implemented?
- What is the current state?

(although other conversation have been raised, I open an issue just to keep track of this)

[2015-07-12 19:45] #51 closed

[2015-07-12 19:45] #48 closed

[2015-07-12 22:18] nicola commented on #49
fixed in https://github.com/linkeddata/ldnode/commit/21fb6cfca40853d0db4a920d67812c3285c9515b

[2015-07-12 22:18] #49 closed

[2015-07-13 08:52] nicola opened #59 "AclExtension still skipping global setting"
Still present here https://github.com/linkeddata/ldnode/blob/master/handlers/get.js#L20

[2015-07-13 08:53] nicola opened #60 "suffixMeta should not be hardcoded"
https://github.com/linkeddata/ldnode/blob/master/handlers/get.js#L21

[2015-07-13 11:20] timbl opened #62 "ACL file search skips every other level"
debug trace, filtered:
[code]

It never found the one in /Library/WebServer/Documents/TimBL/Automation/Library/.acl

with
commit 30dc1b525de1dc89ef2d9edd740c894b5e141d10
Author: nicola <notsecurity@gmail.com>
Date:   Mon Jul 13 00:45:33 2015 +0200

It looks like dirname() being invoked twice ...

[2015-07-13 11:26] timbl commented on #29
The Makefile is not needed, so long as the tests from test/Makefile are incorporated into the new test setup.   I don't need those make commands (useful though they are for testing.)

[2015-07-13 13:34] timbl opened #63 "PATCH crashes with TypeError: Arguments to path.join must be strings"
This error I thought was fixed yesterday but has come back Monday morning 7/13.

ldnode:handlers PATCH -- text length: 342 +0ms
TypeError: Arguments to path.join must be strings
    at path.js:360:15
    at Array.filter (native)
    at Object.exports.join (path.js:358:36)
    at Object.uriToFilename (/devel/github.com/linkeddata/ldnode/fileStore.js:9:25)
    at handler (/devel/github.com/linkeddat

[2015-07-13 13:46] timbl commented on #63
$ git diff -r 605a50aa20ae0b6a0ef81910bca2e87f9e66d16b handlers/patch.js
...
-    var filename = file.uriToFilename(req.path);
+    var filename = file.uriToFilename(req.path, options.fileBase);

but options.fileBase was changed to options.base

[2015-07-13 14:15] #59 closed

[2015-07-13 15:13] deiu commented on #60
Fixed in d90412461b91bebe19ba65def2ce3767d2bfe577

[2015-07-13 15:13] #60 closed

[2015-07-13 17:02] timbl opened #64 "User: header is not sent"
The Solid world requires  the User: header to be sent back when a user is logged on with webid/TLS

Typical response headers from a GET authenitcated by webid currently:

status	 200
status Text	OK
connection	keep-alive
content length	1367428
content type	text/n3; charset=utf-8
etag	W/"14dd84-P7TE3CNZwvMq1mvb6/zJ+w"
link	<http://www.w3.org/ns/ldp#Resource>; rel='type', </TimBL/Automation/mother/st

[2015-07-13 19:29] nicola commented on #63
This is fixed in this https://github.com/linkeddata/ldnode/commit/5ee7250b29fd9c15745ccd90bb651d614fc0cdae, close if you confirm

[2015-07-13 22:23] martinmr commented on #64
I said I was going to work on that earlier but I haven't got around to it. I'll work on it today. It should be a very simple change.

[2015-07-13 22:42] timbl commented on #64
Yes - you have the URI from ACLs and you can seee where the other  headers are added

[2015-07-13 23:34] martinmr commented on #64
Here's the pull request: https://github.com/linkeddata/ldnode/pull/67
The tests pass on my machine but I am going to wait for travis to complete the tests before merging.

[2015-07-13 23:48] #64 closed

[2015-07-13 23:48] martinmr commented on #64
Fix and merged into master.

[2015-07-13 23:55] nicola commented on #62
Maybe @martinmr should have a look at this, I haven't gone much through the acl, yet

[2015-07-14 00:14] martinmr commented on #62
I looked at the code in gold (https://github.com/linkeddata/gold/blob/master/acl.go#L154) and it seems to be adapted correctly in ldnode. I don't know why dirname is being called twice. Perhaps @deiu  can shed light on the issue?

[2015-07-14 03:37] martinmr commented on #29
I think we should keep the Makefile but rewrite it to match the current command line options and not use for automated testing. That way we have an easy way to start the server in certain configurations. For example, I could run:
[code]
to start an http server and so on.

[2015-07-14 03:54] sandhawke commented on #29
My sense is the idiom with node.js is to use "npm run" for that kind of thing.

[2015-07-14 06:43] nicola commented on #29
+1 for npm run 

[2015-07-14 07:04] nicola opened #71 "Cleaning test folder"
- [x] The test folder should be cleaned, meaning that all of its files that are not `.js` should be in a folder `resources` and `testfiles` should be a subdirectory of `resources` (it is important for testing to have a subdir!), possibly called `testContainer`. (done https://github.com/linkeddata/ldnode/pull/80)

- [x] Splitting the `test.js` and restructure tests (done https://github.com/linkedda

[2015-07-14 07:05] #47 closed

[2015-07-14 15:47] timbl opened #72 "PATCH --> undefined is not a function at subscription.js:147:5"
stderr exert:
Maybe the `debug()` function is undefined
This happens after a successful `PATCH` has been serviced, in the code to publish the change subscriptions. Whether or not `--no-live` is set in the command live

[code]

[2015-07-14 16:51] nicola commented on #72
So, I found the bug and there is a PR coming https://github.com/linkeddata/ldnode/pull/75

[2015-07-14 17:05] nicola commented on #72
Fixed in https://github.com/linkeddata/ldnode/commit/b79286d1c05a805f722f7ed5d26aa8bf016fab3e

[2015-07-14 17:05] #72 closed

[2015-07-14 17:05] #63 closed

[2015-07-14 17:37] #50 closed

[2015-07-14 19:02] martinmr commented on #39
I set saveUninitialized and resave to false based on the express-session documentation: https://github.com/expressjs/session.

I agree that setting secret to a fixed string is a problem. I will fix it and submimt a PR.

[2015-07-14 23:15] nicola commented on #39
No! Please don't! Let's discuss the secret on friday

[2015-07-14 23:17] martinmr commented on #39
I already submitted a PR if you want to have a look.

[2015-07-14 23:21] nicola commented on #39
Perfect I have seen it, it's great, although I have some questions about that that we should discuss

[2015-07-15 14:02] nicola opened #81 "Code review: understanding the reason of `parse.js`"
Most of the function in `parse.js` implement what `$rdf.parse` is for, correct?

If not, this is a very valuable too and it should be separated in a different lib `linkeddata-parse` / `ldnode-parse`

[2015-07-15 14:03] nicola commented on #17
Can we consider this close?
Or otherwise, can we list in this format all the features missing?

[code]

[2015-07-15 15:59] martinmr commented on #81
I originally wrote the parse code in parse.js and then I adopted into rdflib. The main difference is that the code in rdflib adds the input to a graph and the code in parse.js directly converts json/nquads to n3 without the middle step. If we changed the code to use rdflib a lot of time would be wasted parsing the input into a graph only to immediately serialize it.

I don't think the code warrant

[2015-07-15 15:59] #81 closed

[2015-07-15 16:01] martinmr commented on #17
It's almost done but all the features involving fetching a graph from a URL currently don't work.

[2015-07-15 16:12] nicola commented on #81
I still think that cleaning that code can be useful to everybody trying to tackle the same problem (avoiding passing through rdflib). Let's leave it for now, but it is something we should consider

[2015-07-15 16:26] deiu commented on #17
From any URL, or just from URLs hosted on servers having self-signed certs?

[2015-07-15 17:19] martinmr commented on #17
Actually, it's just https requests that don't work.

There's another bug in the WebID delegation. The test is supposed to add a delegates triple to the user's profile via a POST request. The requests return a 200 status code but the triple is not being added in the databox server so the next test fails but it correctly retrieves the profile (just without the triple that was meant to be added). Not

[2015-07-17 01:09] martinmr commented on #17
@deiu: I found out what's causing the bug. I found a node library that can do sync requests and the code is correct but the test is hosting the group file in the same folder. Since the acl code is blocking waiting for the response, the server deadlocks when it gets the request for the group file.

I tested the file by spawning another ldnode server in the same folder but with a different port and

[2015-07-17 06:00] martinmr commented on #17
Closing for now. PR #87 passes all the tests except for one of the delegation tests which is commented out for now.

However the code for delegation is correct but it fails because my test users are hosted in databox.me and the server fails to add a delegate triple despite returning a 200 status code. Therefore, this issue is beyond us to fix unless I talk to @deiu or @sandhawke (who I think run t

[2015-07-17 06:00] #17 closed

[2015-07-17 06:01] martinmr commented on #29
Closing issue as Makefile is already removed in master.

[2015-07-17 06:01] #29 closed

[2015-07-17 06:02] martinmr commented on #39
Clossing as issue was already fixed by #77.

[2015-07-17 06:02] #39 closed

[2015-07-17 13:12] nicola opened #89 "suffixMeta should be defined from opts/commandline"
Same as any other suffix, `suffixAcl`, etc..

[2015-07-17 13:13] nicola opened #90 "Proxy not working and not in commandLine options"
Usage of proxy should be added in command line and checked if it works

[2015-07-17 14:28] deiu opened #91 "Missing CORS support."
ldnode does not currently support CORS headers. We need to have at least `Access-Control-Allow-Origin` support.

[2015-07-17 14:30] deiu commented on #62
Is this issue still relevant? Has it been fixed? (tests seem to pass)

[2015-07-17 14:32] martinmr commented on #62
Not sure. Tim found the issue. I still don't understand why gold calls
pathfile.Dir twice.
On Jul 17, 2015 10:30 AM, "Andrei" <notifications@github.com> wrote:

[2015-07-17 14:32] akuckartz commented on #91
:+1:

[2015-07-17 16:54] timbl commented on #62
The only way to be sure is to check the logs I think to make sure that really does go up the chain from bottom to top completely not missing anything out.

[2015-07-17 16:55] timbl commented on #62
who wrote that line to call  dirname(dirname())?

[2015-07-17 17:20] nicola commented on #91
Work started here https://github.com/linkeddata/ldnode/pull/92

[2015-07-18 00:40] martinmr commented on #62
Fixed in #93 . Refer to the PR for an explanation of the issue.

[2015-07-18 00:40] #62 closed

[2015-07-18 00:41] martinmr commented on #89
I can work on this if no one else has already started working on it.

[2015-07-18 00:53] nicola commented on #89
I had a draft, but I think I have to start that again!

I remembered this was either not trivial or it had to carry `options` all over those functions.
The idea is to not create global variable that would make `ldnode` single instance only.

Let me know (the proxy issue is needed if you want!)

[2015-07-18 04:01] martinmr commented on #89
Ok. I'll let you do it because you are more familiar with how the options work after the refactoring.

[2015-07-18 16:39] nicola commented on #89
Perfect!

On Fri, Jul 17, 2015 at 9:01 PM -0700, "Martin Martinez Rivera" <notifications@github.com> wrote:

Ok. I'll let you do it because you are more familiar with how the options work after the refactoring.

—
Reply to this email directly or view it on GitHub.

[2015-07-19 11:57] nicola opened #95 "Not working on warp"
Gold (or databox.me) returns a listing of this kind:

[code]

However ldnode returns this:

[code]

Since warp looks for `POSIX(Directory)` in here https://github.com/linkeddata/warp/blob/gh-pages/src/app/list/list.js#L188

- Either we need to specify that attribute in ldnode
- We have to change how warp does that

[2015-07-19 13:11] deiu commented on #95
I can patch WARP to look for ldp:BasicContainer instead of posix:Directory, but it looks like ldnode does not add any types for the resources. Martin and I talked about adding the POSIX types, but he must have forgotten.

[2015-07-19 14:21] deiu opened #96 "No ACL and meta Link headers are being advertised."
SoLiD apps require the presence of two Link headers in order to find where the corresponding ACL and meta resources are. The SoLiD document has examples here: https://github.com/linkeddata/SoLiD/blob/master/README.md#the-head-method

[2015-07-19 17:17] nicola opened #98 "Directory listing needs test"
- [x] test amount of listinting to equal readdir
- [x] test File can't infer Container type
- [x] test all files have File and all folders have Container type

[2015-07-19 17:59] nicola opened #99 "Test should not start the server"
I think the only correctly implemented test is `test/params`, see line
https://github.com/linkeddata/ldnode/blob/master/test/params.js#L70

`supertest` allow us to just test an express app, without running it on a port.
Running each test on a port is not just time consuming, but also, whenever two tests run on the same port, sometimes we get errors on travis.

[2015-07-19 18:59] martinmr commented on #96
Fixed in #100

[2015-07-19 19:02] martinmr commented on #95
ldnode will add type for resources only if they are a turtle file or have a .meta file . Otherwise it doesn't. I thought this was the desired behavior.

[2015-07-19 20:33] deiu commented on #95
Yes, that is the intended behavior. However, every reason must have a default type already:
 * container -> posix:Directory and ldp:BasicContainer
 * file -> posix:File

[2015-07-20 00:21] #96 closed

[2015-07-20 02:07] nicola commented on #89
doing in #97

[2015-07-20 08:17] nicola commented on #91
done in https://github.com/linkeddata/ldnode/commit/9f929ba15b817ceb8c9ef0cf80062d4248a3b738

[2015-07-20 08:17] #91 closed

[2015-07-20 08:25] nicola commented on #99
(sorry for assigning I am trying a tool that doesn't work)

[2015-07-20 20:32] deiu opened #101 "Login bug involving the WebID module"
Turns out there's a bug in the webid module:
[code]

[2015-07-21 00:31] martinmr commented on #95
This should be a simple change but I'll wait for nicola's refactoring before submitting a PR

[2015-07-21 07:44] nicola commented on #95
Martin, I am out the Internet for most of the week,

Meanwhile, you can either work in the current branch, I will handle the conflict or, if you have gone through  my code already, you can PR it!

On Mon, Jul 20, 2015 at 5:31 PM -0700, "Martin Martinez Rivera" <notifications@github.com> wrote:

This should be a simple change but I'll wait for nicola's refactoring before submitting a PR

—
Reply to

[2015-07-22 20:19] timbl opened #102 "Subscription machine crashes out in publishData whenever a PATCH succeeds"
TypeError: undefined is not a function
    at Object.exports.publishDelta (/devel/github.com/linkeddata/ldnode/subscription.js:147:5)
    at /devel/github.com/linkeddata/ldnode/handlers/patch.js:123:34
    at doPatch (/devel/github.com/linkeddata/ldnode/node_modules/rdflib/dist/rdflib.js:4340:9)
    at $rdf.IndexedFormula.applyPatch (/devel/github.com/linkeddata/ldnode/node_modules/rdflib/dist/rdf

[2015-07-22 20:20] timbl commented on #102
This bug has been around for a while.

[2015-07-24 09:09] nicola commented on #102
I haven't gone through `subscription.js` yet, thanks for pointing out

[2015-07-24 09:12] nicola commented on #101
See other conversation on node-webid https://github.com/linkeddata/node-webid/issues/3

[2015-07-24 09:12] #101 closed

[2015-07-28 17:14] nicola commented on #95
Fixed in https://github.com/linkeddata/ldnode/pull/97

[2015-07-28 22:21] #89 closed

[2015-07-28 22:21] #95 closed

[2015-07-29 02:39] nicola commented on #102
Hey @timbl, does this still happen?

[2015-07-29 15:21] nicola opened #104 "Some WebIDs are not working and get Misformed WebID"
This is caused by [tls.getPeerCertificate()](https://nodejs.org/api/tls.html#tls_tlssocket_getpeercertificate_detailed) getting a wrong `modulus`. This is the case of @deiu's webId: https://deiu.me/profile#me

[2015-07-29 15:38] nicola opened #105 "Ldnode should provide WebIDs"

[2015-07-31 17:05] #104 closed

[2015-07-31 17:05] nicola commented on #104
This was @deiu 's webid issue

[2015-07-31 19:49] deiu opened #108 "Add multipart/form-data file upload"
Code can be taken and adapted from gold: https://github.com/linkeddata/gold/blob/master/server.go#L884

This is the last bit that's missing from ldnode, which would make it fully compatible with warp.

[2015-08-02 08:19] nicola commented on #108
there was an npm module for for that or in express, I will look at that

[2015-08-02 08:20] nicola commented on #102
I can't replicate that, I assume this is now old

[2015-08-02 08:20] #102 closed

[2015-08-02 21:23] timbl commented on #90
It used to be in the command line options like
 --xssProxy /xss

[2015-08-03 20:39] timbl opened #110 "Custom error pages, especially 401"
I need to be able to set up a custom return HTML page for HTTP errors, especially error 401 "Unauthenticated".    In practice this is an important part of the on-boarding process, to lead someone who does not have a webid to grab one.

Apache does this with the ErrorDocument directive a la
 ErrorDocument 404 /Lame_excuses/not_found.html
 ErrorDocument 401 /Subscription/how_to_subscribe.html

See h

[2015-08-03 20:41] timbl commented on #110
(Note Apache in fact does replacement of many different variables within the page too.  This is less essential but obviously nice)

[2015-08-03 21:03] martinmr commented on #110
I found something relevant: http://www.hacksparrow.com/express-js-custom-error-pages-404-and-500.html

However, I think this method only works with 404 and 500 status and it won't work if a previous handler sends the response before these handlers are reached, which all handlers do now.

One idea is to have the handlers set only the status of the response without sending it (unless the status code

[2015-08-04 05:21] gobengo commented on #110
@martinmr Another good option instead: of just setting the status code to 400/500, pass an error object to next(). Later, you can have an error middleware that knows about the desired way of returning that error as an HTML page (if the client even wants HTML).

See https://github.com/shutterstock/node-common-errors#httpstatus

[2015-08-04 13:48] nicola commented on #110
In node you can intercept errors and handle the error page:

[code]

[2015-08-04 13:56] nicola commented on #110
Perfect, I have done some little thinking,
in order to respect @timbl's original idea of ldnode to be _as easy as possible_ I will add `--page-404` and `--page-500` as a command line params so that you can pass the page without coding

[2015-08-04 13:59] martinmr commented on #110
I was thinking instead there could be a special folder inside the ldnode
root where ldnode looks for error pages (named for example 404.html). That
way there's no need to create an option for every error. We could have the
folder be a default or a command line option.

In node you can intercept errors and handle the error page:

var ldnode = require('ldnode');
var ldpServer = ldnode();
ldpServer.u

[2015-08-04 14:02] nicola commented on #110
Ok, let's reshape that into:
You can specify an error page folder `--error-pages` and we look in that folder if we have a page for that error, by default ldnode will provide some nice error pages and with `--no-error-pages` you will have the simple express ones

[2015-08-04 14:04] martinmr commented on #110
That sounds good.
On Aug 4, 2015 10:02 AM, "Nicola Greco" <notifications@github.com> wrote:

[2015-08-04 14:26] deiu commented on #110
Why make it an extra CLI parameter? I really like the idea of a default folder. We could then mention in the README that people can replace the default pages there with their own.

[2015-08-04 14:29] nicola commented on #110
I am not sure about fixing a folder, especially because you can use ldnode as a library and another library can use it. In other words, there is no way to really locate the `/errors` folder once this happen since ldnode can be in `node_modules` or `node_modules/somelib/node_modules/ldnode`

[2015-08-04 14:30] nicola commented on #110
Well, the default error pages will be in a folder and you can edit those, but then this would be really annoying since you override the ldnode repo default pages

[2015-08-04 14:32] deiu commented on #110
What if we make the error pages an npm module?

[2015-08-04 14:35] nicola commented on #110
I don't think this solve any issue and I think it is not needed..

The solutions discussed above is the following:
- there is a folder in handlers/ called `errors/` and this will have 404.html 401.html etc, these pages will be the default errors
- there is a param to avoid this error pages, since you may want to have no html `--no-error-pages`
- there is a param to specify a different folder than

[2015-08-04 14:36] deiu commented on #110
Ok, let's go with that for now.

[2015-08-04 22:46] timbl opened #112 "URIs in link: headers should be relative where possible"
Link:		<http://www.w3.org/ns/ldp#Resource>; rel="type", </timbl/2015/08/02/poll/forms.ttl.changes>; rel="changes", <https://timbl.com/timbl/2015/08/02/poll/forms.ttl.acl>; rel="acl", <https://timbl.com/timbl/2015/08/02/poll/forms.ttl.meta>; rel="describedBy"

should be

      Link:		<http://www.w3.org/ns/ldp#Resource>; rel="type", <forms.ttl.changes>; rel="changes", <forms.ttl.acl>; rel="acl", <fo

[2015-08-05 23:05] #112 closed

[2015-08-06 02:29] martinmr commented on #110
Submitted PR #114 to address this issue.

[2015-08-07 14:30] nicola opened #116 "WebID should not be fetched from external source"
Tests are too slow, we should use `nock` to mock HTTP requests and speed up the tests, especially ACL

[2015-08-07 14:40] nicola commented on #90
addressed in #111

[2015-08-07 14:57] deiu commented on #116
There must be a problem if the tests are too slow. It shouldn't take that long for a localhost request.

[2015-08-07 15:12] nicola commented on #116
Nope, they are not localhost requests. Most of the ACL request fetch the WebIDs remotely

[2015-08-07 15:13] deiu commented on #116
That's not good. We should have a local test WebID then.

[2015-08-07 15:13] nicola commented on #116
In other words, all tests should pass if I am offline

[2015-08-07 15:15] deiu commented on #116
We are using local keys, so it's just a matter of serving the WebID from a local URI. The immediate issue I see involves disabling secure checks for server cert (since we're fetching from localhost that uses a self-signed cert).

[2015-08-07 15:16] nicola commented on #116
serving webId from local uri `>>>` mocking webid request

[2015-08-07 15:28] deiu commented on #90
Closed in 71eb537676faefa0805816dedacb389f2be0a1bd

[2015-08-07 15:28] #90 closed

[2015-08-07 15:39] nicola opened #118 "Ldnode project should have a Github page and documentation and examples in it"

[2015-08-07 16:05] nicola opened #120 "Annoying [object Object] appearing in console during tests"
I am not sure where that comes from

[2015-08-07 17:30] nicola opened #121 "Internationalization!"
Ldnode with multi-language support

[2015-08-07 20:02] nicola commented on #99
Fixed in https://github.com/linkeddata/ldnode/commit/7ea3e9d2c1b8dfd9bccca3f6363d33f4ffcfc2ad

[2015-08-07 20:02] #99 closed

[2015-08-08 11:29] #110 closed

[2015-08-08 12:57] nicola commented on #120
can't see it anymore, it must have been in a dependency

[2015-08-08 12:57] #120 closed

[2015-08-08 15:12] #98 closed

[2015-08-26 17:54] deiu opened #130 "[Proxy] it should not have all the regular headers from the GET handler"
For example, using the proxy right now (i.e. /xss?uri=) returns all kinds of headers, which are not relevant (e.g. LDP Link headers, Updates-Via, etc.).

[2015-08-26 17:56] deiu opened #131 "[Proxy] it should use the ACL system to block access to the proxy URI."
Running a public proxy service is a bad thing -- it opens the door to DoS attacks. But on the other hand, it would be good if the ACL policy uses the Origin header. That way we can whitelist a given domain. (needs a discussion)

[2015-08-29 13:50] timbl opened #132 "ACL mode "Control" on resource must give RW access to ACL file."
The "Control" bit set on an ACL means the ability to control the ACL of the resource.  This mean in  a system which has ACL files to store the ACL, that the user  is given read/write access to th erected .acl file.   .ACL files do not have their own .acl.acl files. They of not have to store any ACLs for themselves.

[2015-09-16 19:39] nicola commented on #132
See http://github.com/nicola/solid-acl

[2015-09-17 19:35] nicola commented on #130
Fixed in latest

[2015-09-17 19:35] #130 closed

[2015-09-25 17:28] nicola opened #137 "Locking files when writing to avoid concurrency issues"
The idea is to avoid two people writing at the same time

[2015-09-25 18:16] nicola opened #138 "Avoid translation when possible"

[2015-09-26 03:01] bshambaugh opened #139 "The Depency Contextify does not work well with Node 5 / Ubuntu 14.04"
I have been trying to install ldnode on Ubuntu 14.04. Unfortunately, I ended up deleting GNU core-utils, so my plan is to start over with Ubuntu 15.04 and compile npm and node from source. The trouble seems to stem from the modules contextify and node-gyp. I e-mailed the some output that I encountered to deiu since I was unable to attach it here.

Some links I found useful:

https://github.com/bri

[2015-09-27 23:01] nicola opened #140 "Make sure users can't edit/read /../../ files"
This might not be a bug, but we need tests for this

[2015-09-27 23:02] nicola opened #141 "Load in memory error pages instead of reading from disk each time"
The idea is to generate templates / load in memory

[2015-09-27 23:03] nicola commented on #140
Or find a way to chroot it

[2015-09-27 23:04] nicola commented on #139
Hi, thanks for this, I will have a look this week.
Github has introduced attachments here, feel free to update us

[2015-09-27 23:15] nicola opened #142 "Can some resources be static and hence cached?"

[2015-09-28 04:17] nicola opened #143 "Websockets should be authenticate and respect ACL"
- [ ] should be authenticated
- [x] should respect ACL

[2015-10-02 16:06] bshambaugh commented on #139
I started over with Ubuntu 15.04 and installed node from http://github.com/nodejs/node to get v5.0.0-pre. I got a warning wanting a pre version and  some error messages. I tried 'sudo n stable' at the bash prompt to get v4.0.0 . I then tried npm install -g contextify to get:

 $ sudo npm install -g contextify
/

gyp WARN EACCES user "root" does not have permission to access the dev dir "/home/bren

[2015-10-02 16:15] bshambaugh commented on #139
There were no warnings or errors with Ubuntu 12.04.4 LTS:

$ sudo npm install -g contextify
npm http GET https://registry.npmjs.org/contextify
npm http 304 https://registry.npmjs.org/contextify
npm http GET https://registry.npmjs.org/bindings
npm http GET https://registry.npmjs.org/nan
npm http 304 https://registry.npmjs.org/bindings
npm http 304 https://registry.npmjs.org/nan

make: Entering dire

[2015-10-02 16:33] bshambaugh commented on #139
But it fails at cors:
$ sudo npm install -g ldnode

npm http 304 https://registry.npmjs.org/cors
npm ERR! Error: No compatible version found: cors@'^2.7.1'
npm ERR! Valid install targets:
npm ERR! ["0.0.1","0.0.2","0.0.3","0.0.4","0.0.5","0.1.0","0.1.1","1.0.0","1.0.1","2.0.0","2.1.0","2.1.1","2.2.0","2.3.0","2.3.1","2.3.2","2.4.0","2.4.1","2.4.2","2.5.0","2.5.1","2.5.2","2.5.3","2.6.0","2.6.1","2

[2015-10-02 16:36] bshambaugh commented on #139
Yet cors installation succeeds on Ubuntu 15.04

$ npm install cors
cors@2.7.1 node_modules/cors
└── vary@1.1.0

[2015-10-03 00:24] bshambaugh commented on #139
The closest thus far on Ubuntu 15.04
$ git clone https://github.com/nodejs/node
(do the setting up .... then move to another version using the lines below)
$ sudo npm install -g n
$ n ls
$ sudo n 0.12.7
$ sudo npm install -g ldnode

make: Entering directory '/usr/local/lib/node_modules/ldnode/node_modules/express-ws/node_modules/ws/build'
  CXX(target) Release/obj.target/bufferutil/src/bufferutil.

[2015-10-14 15:09] nicola opened #148 "Unsub websocket missing"

[2015-11-02 13:29] timbl opened #152 "If no .acl file is found then access must be DENIED"
This is a very basic security rule: default safe.   No ACL, no access.  The message below "No ACL policies present - access allowed" signals a major problem.

    Mon, 02 Nov 2015 12:52:26 GMT ldnode:ACL Checking accessTo<Read> to https://81.157.176.49/robots.txt for WebID:
    Mon, 02 Nov 2015 12:52:26 GMT ldnode:ACL Looking for policies in /Library/WebServer/Documents/robots.txt.acl
     Mon, 02

[2015-11-02 19:09] nicola commented on #152
This is fixed in the new ACL system (yet to be merged) http://github.com/nicola/solid-acl,
I will send a PR for this soon

[2015-11-05 20:39] nicola commented on #152
After discussing it wit @deiu, this issue can't be resolved at the moment since in ACL we don't have a way to specify that something can be seen by "everyone" and by doing this change, there is no way I could serve any of my content publicly - yet

[2015-11-06 14:33] nicola commented on #148
@deiu what did we end up deciding after our conversation?

[code]

I think we ended up proposing a nice schema that I can't recall?

[2015-11-06 14:35] nicola commented on #140
This is nicely treated by express, tests needed

[2015-11-06 19:58] sebilasse opened #154 "Not able to install on node > 0.12.7"
Due to the dependency issue https://github.com/brianmcd/contextify/issues/188
we are not able to install this e.g. with node v4.x or v5.x for Linux or El Captain.
Unfortunately downgrading to node 0.12.7 is not an option for me.
Any thoughts?

[2015-11-06 20:09] sebilasse commented on #139
@bshambaugh Could you please review if it is the same issue as with?
If so: contextify 171 and 188 is a dup ...

[2015-11-06 20:41] deiu commented on #154
Thanks for raising this issue. We'll test and get back to you as soon as possible!

[2015-11-08 05:20] bshambaugh commented on #139
@sebilasse I did reference brianmcd/contextify#171 at the beginning of this issue

[2015-11-08 05:27] bshambaugh commented on #139
for reference, I believe the n --help command explains things:
$ n --help

  Usage: n [options/env] [COMMAND] [args]

  Environments:
    n [COMMAND] [args]            Uses default env (node)
    n io [COMMAND]                Sets env as io

  Commands:

    n                              Output versions installed
    n latest                       Install or activate the latest node release
    n

[2015-11-08 10:50] sebilasse commented on #139
@bshambaugh I see. Got it working by setting up a complete different development environment (another hardware ;) with node 0.12.7. Thankyou.
Unfortunately downgrading is not an option for where I currently develop my decentralized cms, so let's hope that the author of contextify will get it to work with current node versions ...

[2015-11-12 06:29] timbl opened #157 "Add assumedUser command-line option for http://localhost/ mode"
There is a significant use case for an unauthenticated http:  localhost mode when the server works as an enhanced version of the local file system.   Like when one is on a plane, or just doing local stuff, or a local verison of remote stuff.   In ths case it would be really useful to be able to run the server with a user webid to assume, so that the User: header will be set for each requests, for

[2015-11-12 16:18] sebilasse commented on #154
@deiu The author of contextify fixed the issue (5 mike ago) and I can confirm that this project installs the sane contextify@0.1.15 !
I am closing this issue now and probably you could close https://github.com/linkeddata/ldnode/issues/139 as well ...

[2015-11-12 16:18] #154 closed

[2015-11-12 16:21] deiu commented on #139
Closing this issue, following an upstream fix for contextify https://github.com/brianmcd/contextify/issues/188

[2015-11-23 17:00] nicola opened #160 "Make sure cookies are set to be `Secure` when on https"

[2015-11-23 17:02] nicola commented on #157
So this would skip the authentication bit and always assume that the user has authenticated himself/herself as the `--assumeUser`/`--forceUser`

[2015-11-23 19:43] nicola commented on #71
This will be part of the solid-tests cleaning effort

[2015-11-23 19:43] #71 closed

[2015-11-23 19:43] nicola commented on #105
See https://github.com/nicola/webid-provider

[2015-11-23 19:44] nicola commented on #118
Done by doing http://github.com/solid (ldnode will eventually move there)

[2015-11-23 19:44] #118 closed

[2015-11-23 22:04] gobengo commented on #105
Maybe the standalone command, but it seems like the library part should stay orthogonal to Authorization?

[2015-11-23 23:15] nicola commented on #105
Hey @gobengo yes, I am gonna share my work plans soon, so we can think how to proceed on that!

[2015-12-14 21:21] timbl commented on #138
This is (I assume) don't parse and re-serialize a file if the sender can receive it in its original form.
- Takes time
- Removes comments
- Removes hand-formatting
- invalidated hashes

[2015-12-16 23:49] sible777 commented on #105
What is the status on this? It's pretty interesting and I'd be willing to lend a hand in some way if possible. Shall I just fork and begin hacking away at some functionality to provide webid?

[2015-12-17 00:01] nicola commented on #105
@sible777 that would be great!
Let me give you a background of what is going on.
I started sketching this out: https://github.com/solid/node-solid-idp and this assumes that the library [webid](http://npm.im/webid) has a function called generate that given a domain and a spkac will generate a webid+tls certificate. The rest of the module (solid-idp) does all the book-keeping & preparing your worksp

[2015-12-17 00:03] nicola commented on #105
Maybe @gobengo is interested in join this too. We are slowly setting up a place for the community to hangout, so stay tuned!

[2015-12-17 00:17] sible777 commented on #105
@nicola I will take a look through the solid-idp module there.

So, does the webid library need to have a generate method implemented? If so I can spend some time looking into that. I had written some node code over the summer that generated webids for my own work so it's possible that I can reuse some of that code.

I will join in on the chat and get up to speed on what is happening!

[2015-12-17 00:27] nicola commented on #105
@sible777 please if you think we could re-use the code that you wrote open an issue here https://github.com/linkeddata/node-webid/issues/new pointing to your code, it could be useful!

[2015-12-17 00:38] sible777 commented on #105
@nicola Sure thing, I need to review it first, I haven't touched it since the summer, haha. I will review tomorrow and let you know.

[2015-12-21 11:53] #52 closed

[2015-12-21 11:54] nicola commented on #116
this was done

[2015-12-21 11:54] #116 closed

[2015-12-21 11:54] nicola commented on #121
Not for now

[2015-12-21 11:54] #121 closed

[2015-12-21 12:03] nicola commented on #137
I have done some thinking and I think there is only a way to achieve this __and__ still being working async. In other words, reads are fine to be async as they are, but for writes, the server has to have a global state of what file is being written at the moment which has some sort of queuing (or even simpler nextTick) until the resource is free.

By bringing back sync, a possible attack could be

[2015-12-21 12:04] akuckartz commented on #121
@nicola But why did you close this issue?

[2015-12-21 12:09] nicola commented on #121
Hey @akuckartz I was cleaning issues that were outdated and not in the current and near milestones. I am happy to reopen this

[2015-12-30 04:00] #132 closed

[2015-12-30 04:00] #152 closed

[2015-12-30 04:24] nicola commented on #157
This should do https://github.com/linkeddata/ldnode/pull/165 (ping @deiu)

[2015-12-30 04:26] nicola commented on #108
isn't that already there? I think this is what the module rawBody does

[2015-12-30 06:38] akuckartz commented on #132
How was this resolved?

[2015-12-30 23:24] nicola commented on #132
Opps, it was closed in the latest! https://github.com/linkeddata/ldnode/commit/3d809ec9fa8239a886f8b743163fc5d889f3bbf9

[2016-01-03 14:50] nicola commented on #105
Working on https://github.com/linkeddata/ldnode/pull/164

[2016-01-04 08:20] csarven opened #166 "HTTP COPY"
Support HTTP COPY

[2016-01-04 08:21] csarven opened #167 "HTTP DELETE"
Support HTTP DELETE

[2016-01-04 11:40] deiu commented on #166
`COPY` is a method implemented by WebDAV. We haven't yet discussed supporting WebDAV.

[2016-01-04 11:42] deiu commented on #167
`DELETE` is currently supported. You can find tests for it in ldnode/test/http.js. If there is a bug involving `DELETE`, please open a new issue and report it there.

[2016-01-04 11:42] #167 closed

[2016-01-04 12:27] nicola opened #169 "GET method needs refactoring"
The get method should be implemented in the same way as the other methods.

it should just contain `ldp.get(path, callback)`, and this should handle parsing or not, it is a bit of spaghetti right now

This effort should fix:
- https://github.com/linkeddata/ldnode/issues/140
- https://github.com/linkeddata/ldnode/issues/138

And help:
- https://github.com/linkeddata/ldnode/issues/105 to support sub

[2016-01-05 02:41] nicola commented on #143
This means that Websockets must be served over wss

[2016-01-05 12:35] #157 closed

[2016-01-05 12:36] #160 closed

[2016-01-05 12:47] #138 closed

[2016-01-06 15:47] dmitrizagidulin opened #172 "Unit test fail 'ACL HTTP Origin Should PUT new ACL file'"
Cloned repo, did `npm install`. Then ran the tests, `npm test`. One test is failing:

[code]

Am I missing any setup or configuration steps?

(Let me know if you need any debug log messages).

[2016-01-06 17:12] nicola commented on #172
Ha! After a few inspection we basically create some files that we never remove, so if you run the test twice the file is already there in place, hence this test fails because you can't create something that is already there.

So, an easy fix would be to remove the file/folder at the beginning of the test

[2016-01-06 17:13] nicola commented on #169
done in https://github.com/linkeddata/ldnode/commit/3bab7844c741ff4f434b916e7cdf38f0bf0e8355

[2016-01-06 17:13] #169 closed

[2016-01-07 15:22] dmitrizagidulin opened #173 "Add documentation for `--key` and `--cert` parameters"
Add some more docs to the `--key` and `--cert` parameters to the readme.
Specifically:

- What they're used for
- Whether or not they're required for other parameters (like WebID+TLS)
- Instructions how to generate the key/certificate.

[2016-01-07 20:12] dmitrizagidulin commented on #172
@nicola - I notice that the `test/acl.js` Cleanup step was changed to skipped, here: https://github.com/linkeddata/ldnode/commit/cd42e336e397af3b535a0ad77d5cddef680f8f1b#diff-c65e0d598fa4659ff66a65afb2057ee3L1044

Was that intentional? The `acl` tests don't seem to clean up after themselves now (here's my `git status` after the tests run):

[code]

Do we need to re-do the cleanup code, or add the

[2016-01-07 20:26] nicola commented on #172
Thanks for pointing this out. I plan to fix this issue, once done with the #164.
The cleanup step has been commented because it is from the old tests (soon to be deleted) - that I refactored - mostly completely - just before christmas.

I would not put them on `.gitignore`, I would just make sure I remove the folders and files once the test is done (or if possible at each test, in order to make th

[2016-01-07 20:46] nicola commented on #173
+1!

[2016-01-07 21:00] nicola opened #175 "Account recovery via email"
Match Gold implementation for account recovery

[2016-01-09 19:12] dmitrizagidulin commented on #173
Ok, Documentation for the `key`/`cert` parameters and their relationship to other parameters was added in the above PR.

Still needed:

- Add (or link to) instructions on how to generate a simple self-signed certificate, for testing.

[2016-01-09 20:14] melvincarvalho commented on #173
By the way --cert and --key are commonly used in curl

       --key <key>
              (SSL/SSH) Private key file name. Allows you to provide your private key in this separate file.

              If this option is used several times, the last one will be used.

       -E, --cert <certificate[:password]>
              (SSL)  Tells  curl  to  use  the specified client certificate file when getting

[2016-01-09 20:30] dmitrizagidulin commented on #173
@melvincarvalho - Thanks! I haven't dealt with PKCS#12-encoded certificates that much, can you give an example of how to generate a self-signed one using `openssl`?

[2016-01-09 20:44] melvincarvalho commented on #173
Perhaps the easiest way is to export from the browser

[2016-01-09 21:10] csarven commented on #173
I've documented that here:

http://www.w3.org/wiki/index.php?title=Foaf%2Bssl/HOWTO#How_to_create_a_certificate_which_includes_the_WebID_URI_for_multi-purpose_use

[2016-01-10 04:09] nicola commented on #173
make sure to mention to have CN = '*.yourHost' or there will be pain with your identity provider!

[2016-01-10 04:11] nicola commented on #173
This is my tip

[code]

[2016-01-10 12:51] csarven commented on #173
+1 to @nicola 's suggestion. It is simpler and to the point of what's required for this issue. Mine includes other use cases. Same result in the end.

[2016-01-10 18:43] nicola commented on #172
This is solved by https://github.com/linkeddata/ldnode/commit/b76a9f2e55b54beb4c7b8ab5a7d2821335aa86f3

[2016-01-10 18:43] #172 closed

[2016-01-10 19:25] dmitrizagidulin opened #177 "Implement API for deleting accounts"
See https://github.com/solid/solid/issues/14 for discussion / specs.

[2016-01-10 19:25] dmitrizagidulin commented on #177
See also https://github.com/linkeddata/gold/issues/28

[2016-01-10 21:33] dmitrizagidulin commented on #173
@nicola - I can't get your suggestion above to work. What am I doing wrong?

[code]

I also tried just `'/CN=localhost'` (instead of `'/CN=*.localhost'` as above):

[code]

but with same result.

[2016-01-10 21:36] nicola commented on #173
`Error: listen EACCES` means that you very likely have this port already open or you don't have enough permissions. (443 is reserved for root!)

[2016-01-10 22:04] dmitrizagidulin commented on #173
@nicola - ::facepalms:: yep, that's exactly it! Missed it!!
Thanks :)

[2016-01-10 22:11] nicola commented on #173
@dmitrizagidulin we need a better error, you are right.

[2016-01-10 22:12] nicola opened #178 "Command line tool should report the error `Error: listen EACCES` nicely"

[2016-01-11 00:01] dmitrizagidulin commented on #173
@csarven - thanks for that wiki link, btw, very helpful!

[2016-01-12 15:48] dmitrizagidulin commented on #173
Last of the docs merged in #180, closing.

[2016-01-12 15:48] #173 closed

[2016-01-12 20:51] #105 closed

[2016-01-18 21:54] deiu opened #189 "Add more info to new client certs."
New client certs issued by the server should contain more easily identifiable information, other than the domain name - e.g. issue date.

[2016-01-18 21:56] deiu opened #190 "Add preferences file and default workspace to new accounts."
When creating new accounts, the server should also generate a preferencesFile and set the default workspace in it.

[2016-01-18 22:55] nicola commented on #178
Fixed in https://github.com/linkeddata/ldnode/commit/cd0379e506bb17c15e76dc39e902f9e2e039e593

[2016-01-18 22:55] #178 closed

[2016-01-19 03:28] nicola commented on #190
See my PR on this.

[2016-01-19 22:35] dmitrizagidulin opened #193 "Add ability to install apps on the server (during setup/install step)"
Currently, we have several "hardcoded" apps on LDNode (the "admin" app, the account recover app, etc).

Instead, we need a capability to install (from the command line) apps (from github repos or npm packages), for things like:
- install Warp natively
- install/host the Signup app (in the root container of the server), so that users can use it to create accounts
- install/host Admin app
- install

[2016-01-19 22:41] dmitrizagidulin opened #194 "Design capability for LDNode extensions/middleware"
We need to add the ability for pluggable extensions to LDNode, for things like:
- Email sending plugin (for welcome emails and recovery)
- Alternate Authentication methods
- Payments
- Caching

[2016-01-19 22:42] dmitrizagidulin opened #195 "Send Welcome emails to newly created accounts"
See https://github.com/solid/solid/issues/24 for discussion

[2016-01-20 18:58] dmitrizagidulin opened #197 "Invert --webid default value, streamline flags towards default Solid behavior"
From yesterday's discussion with @deiu and @nicola:

Desired default behavior (when launching `ldnode` with key and certificate parameter):

- WebID is enabled by default (no flag needed)
- Identity provider enabled by default (no flag needed)
- key and cert are required (to enable webid and identity provider functionality)
- Add an `--ldp-mode` flag (which turns of `webid` and `idp` flags, makes

[2016-01-20 21:23] deiu opened #200 "File uploads using multipart/form-data"
Support the common file upload method that uses `multipart/form-data`.

[2016-01-21 21:16] dmitrizagidulin opened #201 "Implement launching LDNode is Single-User mode"
(Currently being implemented on branch https://github.com/linkeddata/ldnode/tree/ftu-signup , originally PR #182)

LDNode currently works in a multi-user mode (such as being run by a Data Storage Provider like Databox.me), where multiple users can create accounts, and they each get their own subdomain.

The idea behind this issue is: LDNode also needs to support a Single-User use case. This includ

[2016-01-22 15:49] #201 closed

[2016-01-22 15:49] #200 closed

[2016-01-22 15:50] nicola commented on #201
done in https://github.com/linkeddata/ldnode/issues/205

[2016-01-22 15:50] nicola commented on #200
fixed in https://github.com/linkeddata/ldnode/commit/bf78e7791ddd7d40a0541498a0fe25cc5c974e90

[2016-01-25 16:24] deiu opened #213 "Bug in index.html handler"
When requesting `/foo/index.html`, ldnode should not concatenate `index.html` to the requested patch by default:

[code]

[code]

[2016-01-26 15:21] dmitrizagidulin opened #216 "Ensure unit tests clean up after themselves"
Here's a sample of files that are created after a few test runs, currently:

[code]

Find the tests that aren't cleaning up after themselves, and fix them.

[2016-01-26 21:55] #216 closed

[2016-01-27 20:59] dmitrizagidulin opened #219 "Not redirecting to `defaultApp` when browsing with `Accept: text/html`"
To reproduce:

1. (Optional, pretty sure this will work with existing LDNode resources) Start up LDNode, create a new account using `--create-admin`.
2. Try to view a container (like `/`) or resource (like `/profile/card`) in your browser (after authenticating).

**Expect:** A redirect to the `--default-app` ([Warp](https://linkeddata.github.io/warp/#/list/) by default).

**Actual:** Get a 404 Not

[2016-01-27 22:05] #219 closed

[2016-01-27 22:16] deiu opened #221 "Clean up unused (withering) branches."
We have a bunch of branches for ldnode that we're not using anymore. We need to check if it still makes sense to let them exist.

`fix-index` and `workspaces` are the only ones with pending PRs.

[2016-01-27 22:20] dmitrizagidulin commented on #221
I think it's fairly safe to toss ones that aren't on active PRs. (Since, presumably, their original authors have copies of those branches locally).

[2016-01-28 14:12] #213 closed

[2016-01-28 17:48] dmitrizagidulin commented on #139
Reopening. This is still an issue -- can't install `ldnode` on Ubuntu on Node 5.
Need to:

1. Remove or fix `jsonld` dependency (since `contextify` is a dep of that). (Remove because its usage is commented out in `lib/parse.js`.)
2. Fix `rdflib.js` upstream to use a later version of `jsonld`.

[2016-01-28 21:25] dmitrizagidulin opened #223 "Server crashes when requesting a container as `application/ld+json`"
If you do a GET request to a Solid container, with any of the following headers, it crashes `ldnode`.

* `Accept: application/ld+json`
* `Accept: application/nquads`
* `Accept: application/n-quads`

This is partly caused by the RDFs list [in lib/handlers/get.js#25](https://github.com/linkeddata/ldnode/blob/e908b51022b1450f190023b0ba5f6c78cf63022c/lib/handlers/get.js#L25) -- it tries to parse the c

[2016-01-28 21:31] dmitrizagidulin commented on #223
See PR #223 for failing test.

[2016-01-29 16:59] dmitrizagidulin commented on #223
Fixed by https://github.com/linkeddata/ldnode/pull/225
Closing.

[2016-01-29 16:59] #223 closed

[2016-02-01 18:24] deiu opened #226 "Fix serialization to jsonld"
Currently, during content negotiation for `application/ld+json`, ldnode serializes to turtle before translating to jsonld. We need this hack because the jsonld library does not support relative URIs. We should look into ways of avoiding double serialization by supporting relative URIs when serializing to jsonld.

[2016-02-01 20:07] deiu opened #227 "Add support for greenkeeper.io"
Use http://greenkeeper.io/ to manage npm dependencies.

[2016-02-02 16:45] nicola commented on #227
fixed in https://github.com/linkeddata/ldnode/commit/51700053498beee7c13d7cf0c08f46204fbc093e

[2016-02-02 16:45] #227 closed

[2016-02-02 16:59] nicola commented on #189
fixed in https://github.com/linkeddata/ldnode/commit/a4a85f395a5dd509b8a015e254c3ddcbd69db66d

[2016-02-02 16:59] #189 closed

[2016-02-02 17:00] nicola commented on #108
fixed in https://github.com/linkeddata/ldnode/commit/1bc86b6191827a3b3200dadcd8169429fcd416fd

[2016-02-02 17:00] #108 closed

[2016-02-02 17:02] nicola commented on #131
The server provider should be aware of this issue but we shouldn't solve this.

[2016-02-05 16:40] dmitrizagidulin opened #231 "Ensure we test PATCH to a non-existent resource"
Add a test to make sure that the following behavior works:

If a client PATCHes to a non-existent resource, the resource should be created as a result of the patch.

[2016-02-11 20:26] dmitrizagidulin commented on #190
Looks like this is safe to close?

[2016-02-11 20:29] dmitrizagidulin opened #240 "Proxy crashes with TypeError"
To reproduce, start LDNode, specify a proxy endpoint:

[code]

Then visit: `https://localhost:8443/proxy?uri=http://melvincarvalho.com`
Results in the following crash:

[code]

[2016-02-11 20:56] deiu commented on #190
Fixed in #199

[2016-02-11 20:56] #190 closed

[2016-02-11 21:37] nicola commented on #240
see https://github.com/linkeddata/ldnode/pull/241

[2016-02-12 14:33] dmitrizagidulin opened #242 "Single-user mode signup not working"
Checked out a fresh copy, started LDNode with `--create-admin` to sign up in Single-User Mode:
`DEBUG="*" node bin/ldnode.js --webid --port 8443 --cert ../localhost.cert --key ../localhost.key -v --proxy "/proxy" --create-admin`

Visited `https://localhost:8443/` in the browser, got:

[code]

In the node console:

[code]

[2016-02-12 15:19] nicola commented on #240
see https://github.com/request/request/pull/2071

[2016-02-12 15:22] #242 closed

[2016-02-12 16:35] dmitrizagidulin opened #246 "Return 'wac-allowed' HTTP header with GET & HEAD responses"
**Problem/Motivation**

There is currently no easy way for solid client code to determine if the current user has read/write/delete etc access to a given resource (short of reading and parsing the ACL chain, which is both discouraged, and not always possible due to ACL limitations on the `.acl` files themselves). (See [solid/#45 - No way to find out if user is authorized to write to a container](h

[2016-02-12 18:47] #240 closed

[2016-02-17 11:48] timbl opened #250 "Missing content-length, incorrect content-length, bad interaction with gold proxy"
[code]

[2016-02-17 18:56] dmitrizagidulin opened #251 "Proxy dropping 'Accept:' and 'Content-Type:' headers"
The proxy is not passing along the `Accept:` header to the original server, and not returning the response's `Content-Type:` headers.

**To test**

Melvin's server correctly returns 'text/turtle' if requested directly:

[code]

However, using LDNode's proxy, both the 'Accept:' request header and 'Content-Type' response headers are dropped:

[code]

[2016-02-17 19:03] dmitrizagidulin opened #252 "Proxy injecting 'Access-Control-Allow-Credentials:' header"
The proxy is injecting an `Access-Control-Allow-Credentials: true` header into the response, even if the original server did not return it.

For example, requesting directly:

[code]

Using LDNode's proxy, note the extra header:

[code]

[2016-02-17 20:17] dmitrizagidulin opened #253 "Proxy dropping 'Location:' header"
Proxy is not returning the `Location:` header from original server. This is especially important when following `301 Moved Permanently` redirects.

For example, requesting directly:

[code]

Through proxy:

[code]

Note that `Location` is in the Expose-Headers, correctly, but not actually being returned.

[2016-02-18 20:21] dmitrizagidulin opened #258 "Add ability for Proxy to follow redirects"
The main reason we have a proxy in LDNode is so we can fetch insecure (`http`) resources from scripts running on secure (`https`) pages.
However, as soon as an `http` resource returns a Redirect (say, `301` status), we run into a problem.

The XMLHttpRequest spec says that the browser must _transparently_ follow a 301 redirect. And there's [no way to disable that behavior](http://stackoverflow.com

[2016-02-18 20:23] dmitrizagidulin commented on #253
Tested, fixed in PR #257. (Will close as soon as that's merged)

[2016-02-18 20:59] dmitrizagidulin commented on #251
Tested, fixed in #257.

[2016-02-22 20:07] deiu opened #259 "Extra slash in Location value returned for containers"
When creating a container through a POST operation, the `Location` header contains and extra slash.

[code]

returns:
[code]

[2016-02-22 23:51] dmitrizagidulin opened #260 "Add `typeIndex` registry links when creating new profile"
Add support for the new `typeIndex` registry mechanism.
(Do a global search on `inbox` for the various places to add `typeIndex` support).
1. Create the public typeIndex resource in `/settings/`, add a corresponding link to user profile
2. Create the private typeIndex resource (same place), add a corresponding link to user preferences file.

[2016-02-23 21:04] #259 closed

[2016-02-23 21:24] #253 closed

[2016-02-24 18:20] #251 closed

[2016-02-24 18:20] nicola commented on #250
This is fixed in https://github.com/linkeddata/ldnode/commit/8e31c31a65d00ba3780e00b2567f54e2ab1cc002

[2016-02-24 18:20] #250 closed

[2016-02-24 18:21] nicola commented on #252
Did this https://github.com/linkeddata/ldnode/commit/8e31c31a65d00ba3780e00b2567f54e2ab1cc002 fix?

[2016-02-24 18:22] dmitrizagidulin commented on #252
I think so..

[2016-02-24 18:26] #252 closed

[2016-02-24 18:31] dmitrizagidulin commented on #246
Updated issue to use `Allow:` header instead of CORS `Allow-Methods`

[2016-03-01 14:57] timbl opened #263 "Having access to a directory does not give access to it without the trailing /"
When /bar/baz is a directory and I have access to /bar/baz/ but in fact I look up /bar/baz wihout the trailing slash, I get 403d, because ldnode looks for /bar/baz.acl whichit should notice we have a directory, and look for /bar/baz/.acl

[2016-03-01 15:50] #263 closed

[2016-03-02 20:20] deiu opened #268 "Implement If-Match and If-None-Match"
The server should support conditional requests that contain an ETag in the `If-Match` or `If-None-Match` header.

[2016-03-02 20:21] dmitrizagidulin commented on #268
+1 to this. (How do we currently generate our ETags, btw? Hopefully based on a hash of the resource?)

[2016-03-02 20:22] deiu commented on #268
I think Express handles ETags.

[2016-03-04 11:04] timbl opened #270 "500 "error translating JPEG to RDF+XML""
timbl 10:52

Using the firefox Tabulator extension with the very latest rdflib.js in it, I find that when opening it within the tabulator view I get for tehis image  a 500 "Internal Server Error". in the client log.

From ldnde server log:
[code]

But how could that error occur anyway? Why ever should it be trying to convert an image to RDF anyway? (apart from extracting the JFIF out of it but ign

[2016-03-04 11:05] timbl commented on #270
Sounds as though the conneg logic is not as logical as it should be!

[2016-03-04 15:32] deiu commented on #270
It turns out the `Accept` header did not include a mime type for `image/*`, meaning that ldnode was not able to do conneg from an image to an rdf document. I suggest that we return `406 Not Acceptable` instead of `500`.

[2016-03-04 20:11] timbl opened #272 "Directory URLs are not being redirected to add a trailing slash"
Now the next problems …. links from the directory to the files are being parsed wrong because the redirection from foo to foo/ is not being noticed I suspect.

The URLs for the children are missing the penultimate bit of the path:
an image which should be /JPEGS/ST000000/SE000003/MR000002.jpg gets linked to from /JPEGS/ST000000/SE000003 as /JPEGS/ST000000/MR000002.jpg
when I load /JPEGS/ST000000/S

[2016-03-04 20:11] timbl commented on #272
deiu
I remember implementing the redirect in gold. I'm not sure Nicola implemented it in ldnode.
@deiu checking

timbl
It is fairly basic — I am surprised if it isnn;t there — other possibility is FFox is hiding it

deiu
xhr requests don't show redirects btw

timbl
I now that is a bug. But the final location header if there is one maybe would work
We haven’t had this problem thoygh before … over t

[2016-03-05 05:20] mediaprophet commented on #272
Q: How is the image derivatives and metadata being handled?

[2016-03-05 19:43] timbl opened #274 "Reinstating original Embedded App functionality"
In the process of renaming the "skin" functionality to "defaultApp" we have lost what I actually meant as the skin.    I am happy to call it something else than "skin"  -- maybe "fallbackApp" or something

- Instead of redirecting the client to a remote viewer app, which messed up the URI bar, the app is returned directly as a text/html  file.   The file's origin is then the same as the data.

- T

[2016-03-05 21:44] nicola commented on #272
@deiu @timbl  does this https://github.com/linkeddata/ldnode/pull/273 fix?

[2016-03-05 22:09] deiu commented on #272
Yes, I believe so.

[2016-03-06 00:05] timbl commented on #274
An example skin file is in https://github.com/linkeddata/tabulator/blob/master/js/mashup/skin.html
I'm using it for my webid at the moment
https://www.w3.org/People/Berners-Lee/card#i

[2016-03-06 01:08] nicola commented on #270
Will changing 500 to 406 work for you @timbl ?

[2016-03-06 01:11] nicola commented on #272
Fixed in https://github.com/linkeddata/ldnode/commit/a44e320947a33e902e538f612bfff47f3bdc3fef

[2016-03-06 01:11] #272 closed

[2016-03-07 02:22] nicola commented on #260
Have we finalized on the typeRegistry (public and not?)

[2016-03-07 02:26] dmitrizagidulin commented on #260
Still waiting on @timbl to review the typeIndex PR to solid/solid

[2016-03-07 16:40] dmitrizagidulin opened #275 "Persist Content-Type of resources without file extensions"
(Creating a tracking issue for PRs https://github.com/linkeddata/ldnode/pull/159 and https://github.com/linkeddata/ldnode/pull/229)

**Problem:** When writing a resource without a file extension, there is currently no way for the server to remember what its content-type was. So, when it's next requested, the server doesn't know what that resource's content type is, and returns `text/turtle` by def

[2016-03-07 16:44] sandhawke commented on #275
Do we have a spec for how resources live on the filesystem?    It seems like something a lot of tools might want to agree on, even though it's not the wire protocol, and not everyone has to use a filesystem, of course.   My copy-web-to/from-filesystem tool needs the same thing.

[2016-03-07 16:59] dmitrizagidulin commented on #275
@sandhawke  - What about solid servers that don't use the filesystem at all, like Meccano?
There shouldn't really be a spec for that, since the only way apps (like the migrator app) should be accessing those files is through the API.

[2016-03-07 18:55] sandhawke commented on #275
@dmitrizagidulin I'm just talking about the systems that happen to want to join in, in using the same filesystem conventions.     Meccano may want to use it, too, for its export-in-a-zip-file and import-from-a-zip-file functions.

Other elements of this spec would be where metadata and acls go.   I'm thinking $describedby.ttl and $acl.ttl  (and this can be extended, where basically the word after

[2016-03-07 22:37] sandhawke opened #277 "please add account name to displayed part of certificate"
Gold writes my certs in a way that I can tell them apart.   ldnode does not.

Gold's for me look like "Sandro Hawke [on sandro3.example.com]" while ldnode just has name and date.

[2016-03-08 03:46] nicola commented on #277
At the moment this is an option (ldnode as a library allows you to change that), but I will make this a default setting

[2016-03-08 04:32] nicola commented on #275
I agree with @dmitrizagidulin. Although it is nice to have everyone being on the same page on how to represent data on the file system, this is beyond the solid spec - in other words, everyone can implement it the way they want, the *import/export* that you mention should be done in a ldp way, exactly to avoid this problem, where all of this is abstracted.

[2016-03-08 10:19] sandhawke commented on #275
I completely agree it wouldn't be part of solid, per se.  That's why I asked if we "have a spec".   (Although I guess if you view solid as a collection of specs my phrasing is ambiguous.)

The solid-in-a-filesystem spec would be both useful and potentially confusing.   It might be best if there were at least two of them to help avoid confusion.     But it's also a pain to have them be unnecessaril

[2016-03-08 10:36] sandhawke commented on #277
Thanks

[2016-03-08 14:32] nicola commented on #275
One point @sandhawke, `solid-copy` because it is an "LDP" copy, should not know about how the server store files

[2016-03-08 18:43] sandhawke commented on #275
Of course not, @nicola.     What made you think I would ever think otherwise?

[2016-03-10 18:30] dmitrizagidulin opened #281 "PATCH only inserting the last set of triples"
Came across this while working on the type registry code. Sent a PATCH to an ldnode resource containing 3 insert statements:

[code]

But only the last set of triples (the one involving `terms:instance`) got inserted, the rest were dropped.
(Seems to be working correctly in Gold)

[2016-03-10 18:54] nicola commented on #281
Is this a patch to a normal existing resource?

[2016-03-10 18:56] dmitrizagidulin commented on #281
@nicola - Yes, patch to a normal `.ttl` existing resource.

[2016-03-10 18:57] dmitrizagidulin commented on #281
(Fwiw, a patch to a non-existing resource works as well and creates a resource, but does the same thing -- only writes the last set of triples)

[2016-03-10 19:31] dmitrizagidulin commented on #281
It looks like our ldnode unit tests only use one statement. We should fix that at some point, though the current test setup compares strings directly instead of parsing the resulting file.

[2016-03-10 20:03] dmitrizagidulin commented on #281
Looks like an issue with `$rdf.sparqlUpdateParser()`. Opened upstream issue https://github.com/linkeddata/rdflib.js/issues/117.

[2016-03-13 16:24] melvincarvalho opened #283 "typo in docs: -idp should be --idp"
Occurs in README and ldnode --help

[2016-03-13 17:03] dmitrizagidulin commented on #283
Turns out that node or express doesn't allow multi-letter abbreviated command line params. (so, `-i` is ok but `-idp` is invalid). Fix pending.

[2016-03-14 02:02] nicola commented on #283
Fixed in latest.
This is now `--allow-signup`

[2016-03-14 02:02] #283 closed

[2016-03-14 14:41] dmitrizagidulin commented on #281
Sounds like this is the intended behavior, for RDFLib. Upstream bug is closed as 'won't fix', closing this one too. Will be fixed on the client side (only post one set of INSERT statements, with the full graph in that).

[2016-03-14 14:41] #281 closed

[2016-03-14 15:29] deiu commented on #274
Implemented in https://github.com/linkeddata/ldnode/commit/1a706d4181fd67bee676d03e8ab9040112ad65e5

[2016-03-14 15:29] #274 closed

[2016-03-14 16:02] timbl opened #289 "Please allow option to use mashlib for folders too"
As the mashlib has various ways to handle directories/folders/containers, including embedded Warp iframe, it would be nice to have a flag so that they were by default handled with the default bowser, just as data files are.

![screen shot 2016-03-14 ](https://cloud.githubusercontent.com/assets/1254848/13750541/5b09ee7c-e9dc-11e5-8b70-f6b475f4d3a1.png)

[2016-03-14 16:47] deiu commented on #289
In fact, we don't need to implement anything. It turns out you can disable certain options by prefixing them with `--no-*`. In your case, you can try passing the following param -- `--no-file-browser`.

[2016-03-16 16:05] nicola commented on #289
@timbl did it work for you?

[2016-03-17 15:49] nicola commented on #289
works!

[2016-03-17 15:49] #289 closed

[2016-03-18 03:26] timbl opened #296 "[databrowser]"
The default data browser has  aline with two back quote characters, and a variable which has not been expanded.
[code]
The backquotes are after the / and before the ?

[2016-03-18 14:43] deiu commented on #296
Thanks for opening this issue. I'm looking to fix it asap.

[2016-03-23 19:18] satra opened #297 "acl scope question"
when using the apps without authentication, plume or timeline cannot read posts that have open permissions, if the parent folder does not have `everyone -> read` permission.

so this works:

`curl -D - -L -H "Accept: text/turtle" https://satra.databox.me/Timeline/2016-03-22/47c229'

but these two don't:

[code]

is this by design? if so is there a way to get at internal public pieces by querying a

[2016-03-23 21:54] sandhawke commented on #297
I think the idea is a non-public container means the public resources inside it are essentially unlisted.   Is that okay?

[2016-03-23 21:56] sandhawke commented on #297
BTW, this probably belongs as an issue on solid/solid instead of ldnode, unless you suspect a bug in ldnode.   (Fwiw databox.me currently runs gold not ldnode.)

[2016-03-23 22:02] satra commented on #297
@sandhawke - with all the pieces going on  i didn't know where best to post. i'll move it solid and make some suggestions there.

also should i use databox.me or something else? will move to my own server in the future, but for now, i can test all things with this.

[2016-03-23 22:02] #297 closed

[2016-03-24 05:18] sandhawke commented on #297
For testing, I would use both databox.me (running gold) and databox2.com (running ldnode) so that you're more likely to catch bugs in software.

[2016-03-28 19:01] dmitrizagidulin opened #301 "Server crashes on a GET with `Accept: *` header"
To reproduce:

[code]

results in ldnode crash:

[code]

(Incidentally, it works fine if you do a GET with `Accept: */*`, but we should probably fix the crash part)

[2016-03-29 17:43] dmitrizagidulin opened #302 "Proxy doesn't seem to work, gives 404"
To reproduce, launch ldnode locally, with a proxy parameter. Try to access an existing URL with that proxy. (Gives a 404).

[2016-03-30 02:02] nicola commented on #302
How did you run ldnode?

[2016-03-30 07:50] csarven commented on #302
I can confirm that running `--proxy=/proxy` works and `--proxy=proxy` doesn't.

[2016-03-30 15:45] sandhawke commented on #302
@csarven I restarted databox2.com with that argument.   Give it a try?

[2016-03-30 15:46] nicola commented on #302
I will fix this so that the trailing `/` is not required

[2016-03-30 15:47] dmitrizagidulin commented on #302
Ah, ok, yeah, seems to work with the leading slash. Happy to close this issue.

[2016-03-30 17:46] csarven commented on #302
Actually, I think it is good to have the trailing slash since it gives a hint as to where it'll be available from. Perhaps the --help  or documentation should be clear. We all missed this "obvious" case so lets take that as a hint to improve. eg:

[code]

One more step: use default `/proxy` when no value provided with `--proxy`

[2016-03-30 21:51] timbl opened #303 "Complains about lack of keys when running without https"
Command line:
[code]
log:
[code]

[2016-03-30 21:57] dmitrizagidulin opened #304 "Crashes on POST with a slug containing a /"
To reproduce (first make sure a Solid directory is public-appendable, so that you don't get a 403 Unauthorized):

[code]

Incidentally, note the line `ldnode:server Error page because of PUT not supported on containers, use POST instead +0ms` -- that shouldn't be happening, since this is a POST.

This is probably happening because the line doesn't include the appropriate `-H 'Link: <http://www.w3.

[2016-03-31 01:50] nicola commented on #303
@timbl try with --no-webid

[2016-03-31 10:13] timbl commented on #303
I wonder whether —webid became a default on attribute
@timbl heads into the GDS

timbl 10:11
yes
   // Webid to be default in command line
  if (argv.webid !== false) {
    argv.webid = true
  }
that would do it

timbl 10:19
That should be changed in the doc
you just need —no-webid

timbl 10:32
Sigh … now "Solid server (ldnode v0.2.26) running on https://localhost:3456/
“ who said anything about 3

[2016-03-31 10:36] timbl commented on #303
Yes @nicola you now need --no-webid    and --port instead of -p
-p should have thrown an "unrecognized arg" error really.

[2016-03-31 11:22] timbl commented on #303
Todo: Fix command line documentation
todo: Fix github home page doc https://github.com/linkeddata/ldnode

[2016-03-31 11:25] timbl commented on #303
Todo:  Error when unrecognized command line arg

[2016-03-31 12:16] nicola commented on #304
I think it must be because you have `/` in the slug, will check soon

[2016-03-31 12:22] nicola commented on #303
perfect @timbl , does this fix: #305 !

webid did become true by default and we dropped short flags `-.`

[2016-03-31 12:33] nicola commented on #277
This should fix #306

[2016-03-31 12:35] nicola commented on #304
@deiu @dmitrizagidulin  what should the default behavior be?

I think:
- drop the slash if it it in the beginning or at the end
- in case the slash is in the middle return 406 bad request

[2016-03-31 12:36] nicola commented on #302
@csarven I think it would be a security issue if I start a proxy on your server by default, is the proxy a mandatory tool in solid?

[2016-03-31 12:50] nicola commented on #302
Does #307 work?

[2016-03-31 13:12] dmitrizagidulin commented on #302
@nicola - yep, #307 works for me.

As for your other question, is proxy a mandatory tool in solid -- it is for the moment. I don't have any strong feelings about enabling it by default, though. Since clients use databox's proxy by default, it's probably fine either way.

[2016-03-31 13:20] sandhawke commented on #302
Hardcoding any centralized server into the client is presumably a very-short-term workaround, and since that seems unnecessary here, I suggest by default proxy be on, unless there's a security risk.   As long as ldnode has a clear warning never to run it behind a firewall, it should be fine, I think.

[2016-03-31 13:54] deiu commented on #304
Yes, always drop the slash. You should **never** have a slash in the slug, since the value of this header should be the name of the resource, not a path! I think doing something along the lines of `.replace('/', '')` should fix it.

[2016-03-31 13:55] #302 closed

[2016-03-31 13:57] #277 closed

[2016-03-31 14:01] nicola commented on #304
or maybe replace it with a urlencoded string if it is in the middle

[2016-03-31 14:05] dmitrizagidulin commented on #304
+1 to dropping the slash. (though I'm fine with bad request error too)

[2016-03-31 17:40] deiu opened #309 "[Proxy] do not proxy secure networks (LAN)"
The proxy system should not allow requests to LAN servers (IP ranges).

10.0.0.0/8 IP addresses: 10.0.0.0 -- 10.255.255.255
172.16.0.0/12 IP addresses: 172.16.0.0 -- 172.31.255.255
192.168.0.0/16 IP addresses: 192.168.0.0 – 192.168.255.255

[2016-04-03 00:46] #303 closed

[2016-04-06 20:30] nicola commented on #304
fixed in https://github.com/linkeddata/ldnode/pull/311

[2016-04-07 15:29] #296 closed

[2016-04-07 19:38] rhiaro commented on #246
+1

[2016-04-11 15:25] timbl opened #315 "Public ACL doesn't seem to work on folder"
Unauthenticated access to a public folder fails.'

It looks as thought the ACL system gets confused about the target document when it is a folder?

Log:

[code]

with ACL file:

[code]

[2016-04-11 18:03] deiu commented on #315
What version of ldnode are you running? I've tested it locally and it seems to work on `0.2.27`.

[2016-04-11 20:15] timbl commented on #315
commit 5d280eaf8e0636f511f9f346007a6251e7d88dac
0.2.26
Ok I'll try upgrde

[2016-04-11 20:37] timbl commented on #315
Still doesn't work on 0.2.28
Did you try exactly that ACL file ?

[2016-04-11 20:40] deiu commented on #315
There's an error in the `<#Read>` authorization. You should use `n0:agentClass` instead of `n0:agent` if you plan to give read access to `foaf:Agent` (which is a class).

[2016-04-11 20:49] deiu commented on #315
Got confirmation on Gitter -> closing issue.

[2016-04-11 20:49] #315 closed

[2016-04-14 19:07] dmitrizagidulin opened #316 "ldnode crash on upload from Warp"
databox2.com went down (@cgutteridge was uploading files through Warp, I think) a few mins ago. Here's the stack trace from the error console:

[code]

[2016-04-14 19:18] cgutteridge commented on #316
Yup. I uploaded a .rdf (XML) file then reuploaded it as .ttl should that be relevant.

[2016-04-14 19:32] nicola commented on #316
I am not sure what part of code is not returning the error status,
but I fixed the bug that makes it crash here: https://github.com/linkeddata/ldnode/pull/317

[2016-04-15 18:34] nicola commented on #316
did this fix your issue @cgutteridge ?

[2016-04-15 18:35] #304 closed

[2016-04-15 18:58] cgutteridge commented on #316
nope! https://cgutteridge.databox2.com/ gives

Secure Connection Failed

The connection to the server was reset while the page was loading.

     The page you are trying to view cannot be shown because the
authenticity of the received data could not be verified.
     Please contact the web site owners to inform them of this problem.

Learn more…

Report errors like this to help Mozilla identify an

[2016-04-15 20:40] nicola commented on #316
Fixed in person

[2016-04-15 20:40] #316 closed

[2016-04-16 15:22] timbl commented on #315
Sorry to raise this j=here, turned out to be a problem with acl-control.js now fixed

[2016-04-24 19:38] elf-pavlik commented on #275
IMO all the RDF Sources should allow content negotiation. How they get stored in filesystem, document database, quads store etc. should not concern clients and stay a choice of internal plumbing used by particular server.

I would recommend that ldnode simply stores all the RDF documents as [Normalized RDF](https://json-ld.github.io/normalization/spec/).
In my prototype of a server I pass document

[2016-04-26 23:39] bshambaugh opened #323 "Clarity about .key, .cert and .pem in README.md"
Perhaps more clarity about the key generation process is needed?

An admin a key and certificate was first created:

openssl req -new -x509 -nodes -sha256 -days 3650 -key ../localhost.key -subj '/CN=*.localhost' > ../localhost.cert

This was then fed with the create admin option below giving:

ldnode --port 8443 --ssl-key localhost.key  --ssl-cert localhost.cert --create-admin
Can't find SSL key i

[2016-04-28 16:44] bshambaugh commented on #323
Renaming localhost.cert to ssl-cert.pem (or some other .cert to .pem) seems to be a valid practice per the howtossl documentation. http://how2ssl.com/articles/working_with_pem_files/

[2016-04-28 16:46] dmitrizagidulin commented on #323
Hi Brent! Thanks for the suggestions. (Yeah, we can probably rename the files in the docs).

I noticed that in your first example that failed, you didn't have the `../` part, and were trying to access the key & cert in the same directory as ldnode (`--ssl-key localhost.key --ssl-cert localhost.cert `).

[2016-04-28 20:19] rhiaro opened #326 "Drop --create-admin"
It would help me greatly in the Dockerising process if the server didn't need restarting without the `--create-admin` flag after an admin account was created. Can it just detect this on first time load please?

[2016-04-28 20:22] rhiaro commented on #323
Just +1ing clarifying the docs on this as I just had to ask @dmitrizagidulin about the filenames IRL.

(For the record, advice was to generate .pem files for both with openssl in the first place).

[2016-04-29 21:23] rhiaro commented on #326
Maybe a good option would be a flag which lets you pass the WebID of the user you want to be admin, and it writes the root acl with this WebID if it doesn't already exist.

[2016-05-03 21:45] #326 closed

[2016-05-03 23:08] dmitrizagidulin commented on #301
Fixed, closing.

[2016-05-03 23:08] #301 closed

[2016-05-04 14:03] dmitrizagidulin opened #332 "Implement ability to specify an external config file to launch solid server"
(as discussed with @nicola).
Implement the ability for solid-server to load settings from a `config.json` file (though the settings can be also overridden via commandline flags as currently done).
(Needed for the OIDC integration work).

[2016-05-04 20:48] #332 closed

[2016-05-10 21:48] nicola commented on #139
this is fixed in latest

[2016-05-10 21:48] #139 closed

[2016-05-10 21:48] nicola commented on #142
only valid for https://github.com/solid/node-solid-server/issues/141

[2016-05-10 21:48] #142 closed

[2016-05-10 21:55] nicola commented on #175
done in https://github.com/solid/node-solid-server/commit/0fab26fd7d9d23bc74df9407bceab82738a01f6b

[2016-05-10 21:55] #175 closed

[2016-05-10 21:55] nicola commented on #221
let's delete them

[2016-05-10 21:55] #221 closed

[2016-05-10 21:58] nicola commented on #143
now https://github.com/solid/node-solid-ws/issues/1

[2016-05-10 21:58] #143 closed

[2016-05-10 21:59] nicola commented on #195
done in https://github.com/solid/node-solid-server/commit/e7aa248ff8f1726bbbee0111b84e8c6b0be7391d

[2016-05-10 21:59] #195 closed

[2016-05-10 22:01] nicola commented on #270
I think we have addressed this a few commits ago, if this is not the case, please re-open this issue!

[2016-05-10 22:01] #270 closed

[2016-05-10 22:02] nicola commented on #197
This is in current, apart from --ldp-mode is --no-webid

[2016-05-10 22:02] #197 closed

[2016-05-10 22:03] nicola commented on #166
Can we close this issue?

[2016-05-10 22:03] #166 closed

[2016-05-11 00:47] nicola commented on #323
Does the example in the README not work?

[2016-05-11 01:29] nicola commented on #309
Fixed in github.com/solid/node-solid-server/pull/342

[2016-05-11 02:07] #309 closed

[2016-05-11 10:49] dmitrizagidulin commented on #166
One of these days, I'm'a implement this myself. :/

[2016-05-11 13:27] bshambaugh opened #344 "After npm list -g from home/user/ directory node mailer stuff is missing .."
Here is a selection from the npm list -g results:

npm ERR! invalid: mailcomposer@3.7.0 /usr/local/lib/node_modules/solid-server/node_modules/nodemailer/node_modules/mailcomposer
npm ERR! invalid: nodemailer-direct-transport@3.0.7 /usr/local/lib/node_modules/solid-server/node_modules/nodemailer/node_modules/nodemailer-direct-transport
npm ERR! invalid: nodemailer-smtp-pool@2.5.2 /usr/local/lib/nod

[2016-05-11 13:38] nicola commented on #344
why `-g` ?
does your solid-server install or not?

[2016-05-11 14:09] bshambaugh commented on #344
npm list > ../npm_list
npm ERR! missing: nodemailer-shared@1.0.5, required by nodemailer@2.4.0
npm ERR! invalid: mailcomposer@3.7.0 /usr/local/bin/node-solid-server/node-solid-server/node_modules/nodemailer/node_modules/mailcomposer
npm ERR! invalid: nodemailer-direct-transport@3.0.7 /usr/local/bin/node-solid-server/node-solid-server/node_modules/nodemailer/node_modules/nodemailer-direct-transport

[2016-05-11 14:11] bshambaugh commented on #344
I'm getting closer I think. To be verbose. here is the full output after an npm update.

npm list
solid-server@2.1.5 /usr/local/bin/node-solid-server/node-solid-server
├── async@1.5.2
├─┬ body-parser@1.15.1
│ ├── bytes@2.3.0
│ ├── content-type@1.0.2
│ ├── depd@1.1.0
│ ├─┬ http-errors@1.4.0
│ │ └── statuses@1.2.1
│ ├── iconv-lite@0.4.13
│ ├─┬ on-finished@2.3.0
│ │ └── ee-first@1.1.1
│ ├── qs@6.1.0

[2016-05-11 14:16] bshambaugh commented on #344
Using the -g option was a force of habit. I removed it. It works to the extent that I reported. I may need to look at things like bufferutil. This may be related. I am not sure what I am doing...

[2016-05-11 16:23] bshambaugh commented on #344
This is basically where I am at. Hopefully I will get back to this soon. https://github.com/bshambaugh/ldnode-experiments/blob/master/wed_may_11_1208_npm_update_log.txt

[2016-05-11 16:28] nicola commented on #344
Looks like you are having some issues here:

[code]

are you sure you are running node 6 and the latest npm?

[2016-05-11 16:38] bshambaugh commented on #344
Trying "npm install -g npm " from outside the directory and  "npm update" from in the directory (the cloned node-solid-server directory) echoed nothing to the screen. I think I was root the whole time. This is promising.

[2016-05-11 16:42] bshambaugh commented on #344
/node-solid-server# node -v
v6.0.0

[2016-05-11 17:31] bshambaugh commented on #323
Not really. I had more luck with cloning the repo and using the procedure
I've described before than

npm install -g solid-server , solid init , and solid start . As it is
I am not seeing

the certificate saved in the browser or things like .ttl files appear
in the browser

-Brent Shambaugh

Website: bshambaugh.org

On Tue, May 10, 2016 at 8:47 PM, Nicola Greco <notifications@github.com>
wrote:

[2016-05-11 20:16] #231 closed

[2016-05-12 13:07] nicola opened #348 "OIDC integration v1"
## v1

Ldnode side
- [x] Server capabilities discovery: https://github.com/solid/node-solid-server/pull/347
- [x] Switch between WebID-TLS and OIDC https://github.com/solid/node-solid-server/pull/346
- [x] Accounts APIs `/api/accounts` https://github.com/solid/node-solid-server/pull/339 @nicola
- [x] OIDC APIs `/api/oidc` https://github.com/solid/node-solid-server/pull/330 @dmitrizagidulin
- [x] S

[2016-05-12 17:01] nicola commented on #323
Can I close this issue?
This is related to the SSL keys

[2016-05-12 17:45] nicola opened #350 "Account APIs v2"
#### LDNODE
- [ ] `/api/accounts/delete`: account is deleted from LDP and (?)
#### OIDC
- [ ] `/api/accounts/signout`: removes standing tokens (?)
- [ ] `/api/accounts/validateToken`: redirect to create a new password?
- [ ] `/api/accounts/delete`: deleting on OIDC (?)
  I ticked the ones I have implemented.

[2016-05-12 18:45] csarven opened #351 "POST support for proxy"
Use case: application on https wants to use an API on http that accepts POST requests but doesn't have CORS enabled.

[2016-05-12 22:06] bshambaugh commented on #323
Sure, go for it.

-Brent Shambaugh

Website: bshambaugh.org

On Thu, May 12, 2016 at 12:01 PM, Nicola Greco <notifications@github.com>
wrote:

[2016-05-12 23:06] #323 closed

[2016-05-13 23:11] nicola opened #353 "WebID-OIDC authn (minimum demo features)"
### MVP demoable feature set

Test implementation of OIDC-based signup and signin has been deployed to: https://databox2.com

See also: [PR #330/`dz_oidc` branch](https://github.com/solid/node-solid-server/pull/330) for work in progress.

Remaining items:
#### Solid-server
- [x] Convert 401 Unauthorized error page to use the signin/Discovery app.
- [x] Provider discovery by entering WebId (e.g. `h

[2016-05-13 23:37] bshambaugh opened #354 "SOLID Init Script does not lead to a resolvable page"
Installation Method: sudo npm install solid-server

Environment: node 6.10, npm 3.90, Firefox 46.0, Machine: Inspiron 1525, uname -a == Linux brent-Inspiron-1525 3.2.0-97-generic #137-Ubuntu SMP Thu Dec 17 18:11:47 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux, lsb_release -a == No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 12.04.5 LTS
Release:    12.04
Codename:   precise

[2016-05-14 00:11] bshambaugh opened #355 "Authorization Fails with Admin Signup"
Installation Method: git clone https://github.com/solid/node-solid-server.git
                                   npm install -g
                                   npm install pug -g (for a warning when trying npm install without -g)  -
see https://github.com/bshambaugh/ldnode-experiments/blob/master/wed_may_11_1208_npm_update_log.txt (for similar output)
                                   npm ls g

[2016-05-14 01:11] bshambaugh opened #356 "Admin signup does not lead to a certificate stored in the browser"
There should be a certificate with a webid in it created with the admin signup stored in the browser. It may have worked in the past, but not now.  This is in the context of all exceptions and certificates for localhost previously removed.

To fix the problem temporarily I tried.
Trying openssl pkcs12 -export -out certificate.p12 -inkey localhost.key -in localhost.crt on
the key and cert created w

[2016-05-14 03:50] nicola commented on #356
WebID+TLS is broken in modern browsers since they dropped keygen. We are working on a new auth scheme (mainly OpenID Connect), see work here: https://github.com/solid/node-solid-server/pull/330

Meanwhile, the key generation you are doing is for testing and those are certificates for running the server - not for the user. I would suggest you to wait for a couple of days, or instead, I would sugges

[2016-05-14 03:51] nicola commented on #355
This issue is pretty related to the same problem of #354, will leave open for investigation

[2016-05-14 03:54] nicola commented on #354
uhm, interesting.

- Do you mind removing the .acl if you have any in that folder?
- Do you mind re-running the setting saying `No` to _Enforce same origin policy in the ACL_

[2016-05-15 21:46] bshambaugh commented on #354
At present, the only .acl type files are in test. Running with "No" did not change the result. The good news is I learned something unrelated to this issue but necessary. That is, treat ubuntu 12.04 differently when running with node and npm. https://github.com/nodesource/distributions/blob/master/OLDER_DISTROS.md . I think your suggestion of meeting to chat will be a good one. Fortunately I will

[2016-05-16 18:42] nicola opened #358 "Change the UI of the signin and the discovery"
- [ ] sign-in UI
- [ ] discovery UI

Needs https://github.com/solid/node-solid-server/issues/359

[2016-05-16 18:42] nicola opened #359 "Document discovering WebID from domain name"
The webid is in the `.meta` and discovered via OPTIONS

[2016-05-16 18:45] nicola opened #360 "OIDC should login with WebID (not via email)"

[2016-05-16 20:50] dmitrizagidulin opened #361 "Add 'apps' section to server capability document"
At the moment, the Solid service description document looks something like this:

[code]

[code]
Add an `apps` section (same level as `api` and `root`) that points to the signin/signout/etc apps that the server uses:

[code]

[2016-05-16 21:12] dmitrizagidulin opened #362 "Command-line init should ask about default App endpoints"
Integrate the app endpoints from https://github.com/solid/node-solid-server/issues/361 into the `solid init` cli app.

[2016-05-16 21:15] dmitrizagidulin opened #363 "Add 'oidc' config options to the 'solid init' setup app"
Integrate the `oidc` section of `config.json` into the setup app.
Sample config section:

[code]

[2016-05-16 21:21] deiu opened #364 "Add email sender field to init dialog"

[2016-05-16 21:26] deiu opened #366 "Add a pointer to the WebID from the root meta"
The root meta file should have a pointer to the WebID, saying that this particular space (domain) is an account of said WebID.

[2016-05-16 22:28] deiu opened #368 "How should we handle ACLs for the meta document?"
`/foo/bar.png` may have an ACL at `/foo/bar.png.acl`, but where should the ACLs for its corresponding meta live? Is it in `/foo/bar.png.meta.acl` or is it the same as `/foo/bar.png.acl`?

[2016-05-17 15:56] dmitrizagidulin opened #369 "(OIDC) Store the 'returnTo' url in a query param instead of session"
(Applies to the [OIDC integration branch](https://github.com/solid/node-solid-server/pull/330))
Currently, if a user is not signed in and tries to access a protected page, they get redirected to signin with a 401 Unauthorized. And the page they were trying to access gets stored in the user's session (which gets stored in a session cookie).
Need to store it in a query param instead (to be preserved

[2016-05-17 17:16] nicola opened #370 "Move default webid from /profile/card to /.meta"
So that the WebID is served on root

[2016-05-17 17:19] dmitrizagidulin commented on #370
What does the WebID URL look like, then? `https://nicola.databox.me/.meta#me`?

[2016-05-17 17:19] nicola commented on #370
https://nicola.databox.me/#me

[2016-05-17 17:20] dmitrizagidulin commented on #370
Ohh I see.

[2016-05-17 17:21] dmitrizagidulin commented on #370
+1 to this, I think this is a great idea.

[2016-05-17 19:41] dmitrizagidulin commented on #369
Fixed, closing.

[2016-05-17 19:41] #369 closed

[2016-05-18 17:48] dmitrizagidulin opened #375 "Empty POST to /api/accounts/new should fail in Multi User/--idp mode"
If you launch solid-server in `--idp` mode, an empty post (with no username) to `/api/accounts/new` should fail with a 400 (with the error message `Username required`)
Currently fails with `Account already exists`

[2016-05-18 20:05] nicola commented on #375
I rephrase the question in this way:

Should the user create a new account by doing a POST on:

- POST https://databox.com/api/accounts/new {username: 'nicola'}
- https://nicola.databox.com/api/accounts/new (no username needed to be passed)

?

The second is a sort of a claim of a url (also this is what we have done so far)

[2016-05-18 20:55] dmitrizagidulin commented on #375
I'm not sure I'm understanding that second option. What http verb is that, still a post?

[2016-05-18 21:47] nicola commented on #375
yes!

[2016-05-19 15:23] dmitrizagidulin commented on #375
Ohhhh I see!

[2016-05-19 16:53] dmitrizagidulin commented on #375
Yeah, that seems reasonable. We should differentiate between those two use cases (and not require usernames in the second case)

[2016-05-19 19:08] dmitrizagidulin opened #379 "GET on an inherited .acl resource should return the "parent" authorization rules"
Per our conversation with @deiu and @ghanemabdo at the WWW Conference.

Context:
There's a container, say `/posts/` that has an `.acl` resource, `/posts/.acl` with a `defaultForNew` statement in it. (Sidenote - we're still planning to rename that predicate to just `default`.)
Inside the container, the individual resources do not have their own ACLs, they just inherit the container's.

Current beha

[2016-05-19 19:08] dmitrizagidulin commented on #379
Semi-blocker for the solid.js Permissions functionality.

[2016-05-20 16:04] ghanemabdo commented on #379
What we do need is a way to let Solid servers return the url of the actual acl resource (maybe of one of resource's parents) which contains the acls for the requested resource.

So, the server's behavoir with `HEAD` requests on `/posts/post1.ttl` with acl header should be:
1- if `/posts/post1.ttl.acl` exists => return its content
2- if not, return the `url` of the nearest parent having acl authori

[2016-05-20 16:08] nicola commented on #379
Agreed, we need dynamic ACL on GET and futher patches/put should create the file based on this dynamically generated ACL

[2016-05-20 16:26] dmitrizagidulin commented on #379
No, we've agreed that the best way to proceed was for the server to return the /contents/ of the parent acl, not the url for it, remember. (@deiu can back me up on this)
The client /should not/ perform the multiple hops. (would even say must not)

[2016-05-20 17:26] deiu commented on #379
Yes, it's pretty much the same workflow we have now for checking parent ACLs.

[2016-05-22 12:52] ghanemabdo commented on #379
Why do we need to retrieve the content of the parent acl not the acl url and the client do GET on this url? is there any security issues with the url?

[2016-05-22 12:59] mediaprophet commented on #379
What about search indexing?

On Sun, 22 May 2016 10:52 PM Abdurrahman Ibrahim Ghanem <
notifications@github.com> wrote:

[2016-05-22 16:50] dmitrizagidulin commented on #379
@ghanemabdo - there are a couple of reasons for it.
The main one is - there are a bunch of statements in a container's acl file that do not apply to an inherited resource. The inherited acl only cares about statements that contain 'defaultForNew'. The client should not be filtering those out, browser side.

@mediaprophet - what do you mean, re search indexing?

[2016-05-23 11:02] ghanemabdo commented on #379
@dmitrizagidulin understood. This means Doing `GET` on any individual resource will never trigger 404 not found and the server will return either the content of the individual acl resource or the authorizations having `default` from one of the parents. This means `HEAD` requests on a resource always returns the url of the individual acl resource.
The question ... Does this mean there is no way to

[2016-05-23 12:03] dmitrizagidulin commented on #379
@ghanemabdo ah, that's an interesting question.
In what sort of usecases would it be useful to distinguish between individual .acl or inherited?

[2016-05-23 19:36] dmitrizagidulin opened #381 "Initial new user creation fails in single-user (non-idp mode) with auth=tls"
Having trouble creating a new user in non-idp mode. To reproduce, launch node-server in single user mode:

[code]
Then load up `https://localhost:8443/` to start going through admin account creation. On the first page, enter email and hit submit. The log has the following:

[code]

[2016-05-23 19:40] dmitrizagidulin commented on #381
I just noticed the line `solid:settings Allow WebID registration (multi-user): true` even though I didn't pass `--idp` flag.

[2016-05-23 19:50] dmitrizagidulin opened #382 "Clarify idp/multi-user diagnostic statements"
Need to clarify the currently slightly contradicting diagnostics regarding multi-user/single user mode:

[code]

[2016-05-23 20:05] dmitrizagidulin commented on #381
Looks like it's not just a single user mode issue, account creation fails in multi-user / `--idp` mode also:

[code]

[2016-05-25 15:06] dmitrizagidulin commented on #381
Fixed with PR #385. Closing.

[2016-05-25 15:06] #381 closed

[2016-05-26 22:13] dmitrizagidulin commented on #360
Implemented in latest oidc branch.

[2016-05-26 22:24] dmitrizagidulin opened #387 "[oidc] Do not create solid account dir if OIDC user creation fails"
Make sure the solid user directory is not created if there's an OIDC user creation error (like invalid password, or email already taken, etc).

[2016-05-26 22:25] dmitrizagidulin opened #388 "[oidc] Implement /signout api endpoint support"
Clear the solid-server session, also log out from oidc provider.

[2016-05-26 22:28] dmitrizagidulin opened #389 "Implement password recovery page"
Especially important for users who don't have a password defined (legacy WebID-TLS users).
If user doesn't remember their password, or doesn't have one set, let them change it.

[2016-05-27 17:08] #382 closed

[2016-05-27 18:49] dmitrizagidulin commented on #375
After further discussion with @nicola, we agree that we currently don't need the concept of usernames. Closing this issue.

[2016-05-27 18:49] #375 closed

[2016-05-27 19:33] nicola commented on #366
Fixed in https://github.com/solid/node-solid-server/pull/371

[2016-05-27 19:33] #366 closed

[2016-05-31 14:02] dmitrizagidulin commented on #368
Did we resolve this question, or is it still under discussion?

[2016-05-31 14:59] deiu commented on #368
We have currently resolved it by just adding the `.acl` suffix to the meta file -- i.e. `/foo/bar.png.meta.acl`.

[2016-05-31 14:59] #368 closed

[2016-05-31 15:05] dmitrizagidulin commented on #368
Thanks!

[2016-05-31 15:07] dmitrizagidulin commented on #368
@deiu if a `.meta` for `resource1.tts` *doesn't* have its own `.acl`, does it then default to `resource1.ttl.acl`? Or to the parent/inherited acl?

[2016-05-31 15:45] deiu commented on #368
It currently defaults to the inherited acl, like any other resource.

[2016-05-31 21:27] dmitrizagidulin commented on #361
Implemented in PR #365.

[2016-05-31 21:27] #361 closed

[2016-06-01 13:17] fgro opened #392 "What is the deifnition of "Solid-compliant identity provider"?"
In the docs you write:

`A WebID profile and browser certificate from one of the Solid-compliant identity providers, such as databox.me.`

How do you actually define "Solid-compliant identify" precisely?

Thank you!

[2016-06-01 14:14] dmitrizagidulin commented on #392
I think it might help to know the context of your question, to answer this. What are you trying to do?

(I think that line of the README might be somewhat obsolete. You can test out node-solid-server by launching it and having it create a local account.)

[2016-06-01 17:08] dmitrizagidulin commented on #392
I think initially, I put that sentence there to point out that - most of the interesting things you can do with Solid (as opposed to a plain web server like Apache) require you to authenticate, which means you need a Solid [WebID profile](https://github.com/solid/solid-spec#webid-profile-documents) on a server that supports some way of authenticating you that is comprehensible to other solid serve

[2016-06-01 17:14] dmitrizagidulin commented on #359
From what I understand, this is implemented. Leaving this open as a reminder to document it.

[2016-06-01 21:06] dmitrizagidulin opened #393 "[oidc] Persist oidc clients on disk (faster startup, enables functional tests)"
At the moment, we're initializing the local/trusted client from a bare config each time we start solid-server. (This does the provider endpoint discovery and fetches the provider's public keys).

Similarly, we have to re-register clients for newly encountered other providers (other Solid pods) after each restart (since the clients are just kept in memory).

To avoid all this (and to prevent the as

[2016-06-02 18:08] dmitrizagidulin commented on #348
Moving 'fix async / race condition problem' / 'implement persistent client store' item to the [next version](https://github.com/solid/node-solid-server/issues/353)

[2016-06-02 18:12] #360 closed

[2016-06-02 18:13] nicola commented on #348
Didn't I implement this already?

On Thu, Jun 2, 2016 at 11:08 AM -0700, "Dmitri Zagidulin" <notifications@github.com> wrote:

Moving 'fix async / race condition problem' / 'implement persistent client store' item to the next version

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-02 18:49] dmitrizagidulin commented on #348
Partly. The PR isn't working, which is fine, the functionality from it is being merged into upstream libraries.

[2016-06-02 19:44] dmitrizagidulin opened #394 "[oidc] Add unit tests"

[2016-06-02 19:45] dmitrizagidulin opened #395 "[oidc] Add integration tests (against a running Anvil Connect server)"

[2016-06-02 19:52] dmitrizagidulin opened #396 "[oidc] Convert 401 Unauthorized error page to use the signin/Discovery app"
Currently using a static html page for this, should use the standalone app.

[2016-06-02 21:49] dmitrizagidulin commented on #387
Implemented. closing.

[2016-06-02 21:49] #387 closed

[2016-06-03 17:02] dmitrizagidulin commented on #392
@fgro Does this answer your question?

[2016-06-04 14:17] fgro commented on #392
@dmitrizagidulin Thank you very much for your reply.

The context of my question was that from reading the sentence I got the impression that there was a 3rd party dependency whereas I'm trying to achieve decentralization. But if I understand you correctly all the sentence really means is that the "solid webid profiles" spec must be fulfilled (https://github.com/solid/solid-spec/blob/master/solid-

[2016-06-04 16:05] dmitrizagidulin commented on #392
@fgro Ah, makes perfect sense :)

In general, we're trying to do everything we can to achieve complete decentralization, no worries.
And yes, you understood correctly -- the sentence just means filling the solid web profiles spec, and we definitely aim for everybody to be their own identity providers.

As for the external url on account creation - yeah, ignore that part for the moment. We're actua

[2016-06-06 18:15] fgro commented on #392
@dmitrizagidulin thanks for your support. One more question that I'd have:

Regarding 2.1.2 on https://www.w3.org/2005/Incubator/webid/spec/tls/

... if we wanted to use a self-hosted certficate maker: does the solid server include a "certificate maker"?

[2016-06-06 21:10] fgro commented on #392
just a side comment:  section 4 of the document https://www.w3.org/2005/Incubator/webid/spec/tls/#verifying-the-webids is really hard to follow ... while I understand the need for formalization and precision, expressing things overly complicated will not help for a "technology" to find a lot of adoption in the world.

[2016-06-06 21:14] dmitrizagidulin commented on #392
@fgro if I understand that section correctly, then yes, it does. solid-server returns the created certificate, and the browser stores it in its keychain.

[2016-06-06 21:23] dmitrizagidulin commented on #392
Fwiw, we're working on an alternative authentication mechanism (OpenID Connect, specifically). :)

[2016-06-06 22:07] #392 closed

[2016-06-07 02:40] mediaprophet commented on #392
Related thoughts have been tabled here: https://lists.w3.org/Archives/Public/public-webid//2016Jun/0003.html

[2016-06-08 14:43] dmitrizagidulin commented on #388
Implemented, see `lib/api/accounts/signout.js` in the latest [PR #330/`dz_oidc` branch](https://github.com/solid/node-solid-server/pull/330) code.

[2016-06-08 14:43] #388 closed

[2016-06-13 13:44] csarven opened #399 "Implement ldp:DirectContainer"
Handle `ldp:DirectContainer` resources and its members.

[2016-06-13 14:12] csarven opened #400 "Discovery of server's support for different ldp:Containers"
UC: an application wants to interact with the server and its resource management based on its support for a specialised `ldp:Container`. For example, the application may want to use `ldp:DirectContainer` if the server supports it, otherwise, it'll try to default to `ldp:BasicContainer` (if available). If the server announces this information, applications can discover and make decisions on how to

[2016-06-14 12:55] elf-pavlik commented on #275
Problem: When writing a resource without a file extension, there is currently no way for the server to remember what its content-type was. So, when it's next requested, the server doesn't know what that resource's content type is, and returns text/turtle by default.

For [RDF Source](https://www.w3.org/TR/ldp/#ldprs), shouldn't the server just store the named graph and don't give any importance to

[2016-06-14 13:30] dmitrizagidulin commented on #275
How do you picture the server storing the named graph? For node-solid-server, it stores them as files. And files need extensions, otherwise how is the server supposed to know how to serve them back? (The server does not look inside the file, incidentally).

And yes, this is mainly a problem for non-RDF sources.

[2016-06-14 13:49] elf-pavlik commented on #275
For RDF Source server could have configured default media type e.g *text/turtle*. I assume that we talk about cases where client doesn't include *Accept* header to content negotiate preferred representation.

I think RDF Source and Non-RDF Source deserve different treatment

[2016-06-14 19:01] ebporter commented on #389
Rather than full account recovery, we should just implement password recovery for the time being. The flow is as follows.

1. From any "Forgot password" link, you get to the "Send me a password recovery link" page with the following prompts:
"Enter your WebID (or Solid username)"
"Enter the email address with which you created this account"
2. This generates an email with the password recovery lin

[2016-06-14 19:06] ebporter commented on #358
Here are the repos for those apps:
[Sign-In UI](https://github.com/solid/solid-signin-ui)
[Discovery UI](https://github.com/solid/solid-discovery-ui)

[2016-06-15 15:28] nicola commented on #348
hey @dmitrizagidulin what is the state of this?

[2016-06-15 16:42] ghost opened #401 "support for multiple domain names"
I haven't seen any notes about whether ubiquitous.databox.me / https://ubiquitous.databox2.com/ (or IP for that matter) may use a cname or something to point at say sailingdigital.com or s1.sailingdigital.com s2.sailingdigital.com

Perhaps also a tool might be useful to easily enable that, which would include doing something with an SSL Cert i imagine at a minimum...?

consideration is that the im

[2016-06-15 16:53] dmitrizagidulin commented on #401
@mediaprophet can you give a more detailed example of a use case?

[2016-06-15 16:55] dmitrizagidulin commented on #348
The individual items are implemented, the issue can be closed.

[2016-06-15 17:05] mediaprophet commented on #175
<img width="501" alt="screen shot 2016-06-16 at 3 00 26 am" src="https://cloud.githubusercontent.com/assets/5718022/16089531/dfe03544-336e-11e6-8670-50f579a7470e.png">
<img width="509" alt="screen shot 2016-06-16 at 3 00 45 am" src="https://cloud.githubusercontent.com/assets/5718022/16089535/e1bd860a-336e-11e6-9488-77f4b4beb0b9.png">

I've tried to recover my account via Chrome and Safari.

Chrome

[2016-06-15 17:17] mediaprophet commented on #401
Yup.

I have ubiquitous.databox.com as a user, not operating a server.  I'd like
to mask the service-provider domain (databox.com) by pointing it at my
domain or my sub-domain.

So, I might use tim.wisdom.ai as an example.

This is the way most CDN's were pointed or indeed multi-site /
multi-network wordpress installs.  So, i'd have stream.streamingplatform.com
which was a cname for 22343492.CDN-c

[2016-06-15 17:23] dmitrizagidulin commented on #401
Doesn't this seem a bit out of scope for this server repo? That is, accomplish-able via usual sysadmin skills (setting CNAME records, adjusting SSL certificates, etc)?

[2016-06-15 17:36] mediaprophet commented on #401
The CNAME change is out of scope.  Account holder would need to know what
to do.  But the ability for the instance to issue a TLS certificate for a
seperate domain (inc. subdomain) would be part of the server instance, not
the client (cname changing) side.

This feature wouldn't be very useful for a single user on a server.  It
would makes a difference for a server that has a plurality of domains

[2016-06-15 17:37] dmitrizagidulin commented on #401
@mediaprophet thanks!

[2016-06-15 17:54] mediaprophet commented on #401
FYI:

thinking about it more, i'll also look into how to configure virtual hosts
in node.js so someone can host their entire domain off it; pointing
different directories at different cname records, then how to go about
permissions to allow somethings to be accessible without TLS at all (ie:
the www record) and others protected.

ie:
www.mydomain.com --> ubiquitous.databox.me/public/website
manage

[2016-06-16 09:24] nicola commented on #348
Perfect!
Let's leave till they are not in master, no?Do we have any time line to bring oidc in?

[2016-06-16 12:39] dmitrizagidulin commented on #348
Sure thing.

Not sure if we have a timeline specifically, but I'm tracking the remaining items at this epic here: https://github.com/solid/node-solid-server/issues/353

[2016-06-30 20:39] dmitrizagidulin opened #407 "Record the WebID of the user who created a resource"
Add ability for the server to record / keep track of who created a resource (see parent issue https://github.com/solid/solid/issues/111). The server has that information at the time of resource creation (that is, by the time a PUT/POST/PATCH succeeds, the user has been authenticated, and their WebID is known to the server).

The main design challenge is - where to store this creator WebID? There a

[2016-06-30 20:44] dmitrizagidulin opened #408 "Return the resource creator's WebID on GET and HEAD requests"
Return the WebID of the user who created a resource on all GET and HEAD requests to that resource.
Depends on issue #407 (implementing the ability for the server to record that WebID). (See parent issue https://github.com/solid/solid/issues/111.)

TO DO:
- Decide which header to use to convey this information.

[2016-07-01 15:45] csarven opened #409 "Accept-Post HTTP header"
`Accept-Post` is *missing in action* for HTTP OPTIONS

[2016-07-01 16:03] csarven opened #410 "Accept-Patch HTTP header"
`Accept-Patch` is *missing in action* for HTTP OPTIONS

[2016-07-05 16:12] dmitrizagidulin commented on #409
Implemented in PR #411. Closing.

[2016-07-05 16:12] #409 closed

[2016-07-05 18:13] csarven opened #413 "Return correct Content-Type for JSON-LD resources (from file extension)"
If Content-Type is derived from the file extension, return the correct mime-type in the response headers. Appears to default to text/turtle.

e.g.,
- `foo.jsonld` returns text/turtle Content-Type
- `foo.json` returns application/json with HTTP 501 (this is probably a separate issue)

Possibly related:
- `foo` (in JSON-LD) returns text/turtle Content-Type
- `"Accept: application/ld+json"` returns `

[2016-07-05 18:24] dmitrizagidulin commented on #413
I suspect that whatever library we're using to derive content type from file extensions doesn't recognize `.jsonld`.. We should look into it (and if there's nothing to be done there, handle it separately in the code).

[2016-07-05 19:30] rhiaro commented on #407
Storing it in SQLite seems like a bit of a confession that this linked data stuff isn't really working doesn't it..? A triplestore would be great, but if we're going to use the file system for everything using `.meta` is fine.. but either way shouldn't we be storing this in RDF?

[2016-07-06 14:35] dmitrizagidulin commented on #410
(see PR https://github.com/solid/node-solid-server/pull/411 for reference)

[2016-07-06 14:37] dmitrizagidulin commented on #410
Per @csarven, the value of the header, the content type should be `application/sparql*`

[2016-07-06 14:58] dmitrizagidulin commented on #410
Let's go with returning the value `application/sparql-update` initially.

[2016-07-06 15:05] csarven opened #414 "Support XML Patch"
Using an implementation of http://tools.ietf.org/html/rfc7351 and https://tools.ietf.org/html/rfc5261 is one way to get HTTP PATCH working for text/html and application/xhtml+xml (essentially for HTML+RDFa). When this is implemented, `application/xml-patch+xml` should appear in Accept-Patch. See also: https://github.com/solid/node-solid-server/issues/410

[2016-07-06 15:49] deiu commented on #410
It should be `application/sparql-update` since it's the only one we officially support.

[2016-07-06 15:50] dan-f commented on #410
sounds good. still diving through the code, but I'll ping you guys when I have a PR

[2016-07-06 16:24] fragglet opened #415 "Missing dependency on 'commander' module"
Following the install instructions I hit the following error; `npm install commander` fixed it. I think it needs to be added as a dependency?

[code]

[2016-07-06 16:37] fragglet commented on #415
This was already fixed in 2123bc466f5d43b3834556c87ee6e8bdcbe9365f.

[2016-07-06 16:37] #415 closed

[2016-07-06 19:55] dan-f commented on #410
PR is up - #418

[2016-07-09 03:02] csarven commented on #407
*This comment is intended to be a heads-up or a reminder. Not offering a solution, but with the hope that it will trigger a different way of looking at this problem and or reconsider what's actually desired.*

* Consider designing the simplest thing that could possibly work right now, and see how the rest of the system behaves. Is the solution something you want to use or is it just interesting to

[2016-07-09 03:10] deiu commented on #407
In fact, it's really a matter of identifying how reusable that data is (i.e. is it going to be exported/imported somewhere else?). In any case, I have a feeling it will most likely be stored in an RDF store.

[2016-07-09 14:56] csarven commented on #407
Looking at the proposed options:

Using a store forces a design towards two distinct data islands with separate software stack (which puts the burden on consuming software in the end). Imposes a massive dependency for the server to be functional (unless this is meant only as an extension/optional). One still has to address the discrepancies when the data moves around e.g., the names of the resourc

[2016-07-13 04:40] rhiaro commented on #226
+1 please fix relative URLs for JSON-LD. Currently I get domain.tld/slug, missing out any container hierarchy in the middle.

[2016-07-13 12:27] dmitrizagidulin commented on #226
@rhiaro - can you provide some reproduce steps?

[2016-07-19 19:47] dmitrizagidulin commented on #413
Let's tackle these issues one at a time.

The main culprit is that the [mime](https://www.npmjs.com/package/mime) npm package that `node-solid-server` is using to translate from a file extension to a MIME Type just doesn't recognize `application/ld+json` as a valid type. Try this out in your terminal:

[code]

Same thing in the other direction:

[code]

I suspect this is because the JSON-LD MIME T

[2016-07-20 19:45] csarven commented on #413
https://www.iana.org/assignments/media-types/application/ld+json is standardised as it gets?

[2016-07-20 19:45] dmitrizagidulin commented on #413
@csarven aha! Excellent. Let's file an issue on the `mime` npm package, to add it?

[2016-07-20 21:55] melvincarvalho commented on #413
FYI: A few sources:

http://www.iana.org/assignments/media-types/media-types.xhtml
http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types
http://hg.nginx.org/nginx/raw-file/default/conf/mime.types

These are aggregated here:

https://github.com/jshttp/mime-db

Github uses this, for example.

[2016-07-21 18:21] dmitrizagidulin commented on #413
Can somebody open an issue on mime-db, or make a PR for jsonld?

[2016-07-21 18:51] melvincarvalho commented on #413
JSON-LD is supported by mime-db, isnt it?  What would the pull request be for?

[2016-07-21 19:00] dmitrizagidulin commented on #413
@melvincarvalho oh, whoops, yeah. I was hoping the `mime` npm package drew from that, but looks like it doesnt.

[2016-07-25 21:40] csarven opened #420 "Add timestamp in verbose mode"

[2016-07-25 21:42] csarven opened #421 "Path must be a string? Received 'undefined'"
[code]

[2016-07-29 15:16] csarven opened #422 "Create directory on system without decoding encoded values in Slug"
Perhaps the title can be better with less assumptions as to what may be happening. Here is the code that I've used:

[code]

Response has `Location: /http%3A%2F%2Fcsarven.ca%2Ffoo`.

What's physically created on the system is directory `http:` with subdirectory `csarven.ca` with file `foo`

Expected directory: `http%3A%2F%2Fcsarven.ca%2Ffoo`

This should be analogous to `mkdir "http%3A%2F%2Fcsarve

[2016-07-29 16:12] csarven commented on #422
Oh there is more:

If I create directory `http%3A%2F%2Fcsarven.ca%2Ffoo` manually on the server, and then later POST to that directory, the POST goes through (i.e., it creates say resource `https://example.org/http%3A%2F%2Fcsarven.ca%2Ffoo/bar`. However, when I GET that container (`http://example.org/http%3A%2F%2Fcsarven.ca%2Ffoo`), it has `ldp:contains <http://example.org/bar>`. Expected: `ldp:co

[2016-07-29 16:12] dmitrizagidulin commented on #422
Thanks, Sarven, that's helpful.

[2016-08-04 17:42] dmitrizagidulin commented on #410
PR is merged, closing this issue.

[2016-08-04 17:42] #410 closed

[2016-08-08 16:29] dmitrizagidulin opened #426 "Remove extra 'BasicContainer' link header"
When creating a container via POST, the 201 Created response header contains an extra `BasicContainer` type link header. Specifically:

`Link: <.acl>; rel="acl", <.meta>; rel="describedBy", <http://www.w3.org/ns/ldp#Container>; rel="type", <http://www.w3.org/ns/ldp#BasicContainer>; rel="type", <http://www.w3.org/ns/ldp#BasicContainer>; rel="type"`

Remove the second one.

[2016-08-09 12:11] melvincarvalho opened #427 "Websocket failed: Connection closed before receiving a handshake response"
Running latest solid node server

Test code:

[code]

Error:

`WebSocket connection to 'wss://localhost:8443/' failed: Connection closed before receiving a handshake response`

Running Chromium : Version 50.0.2661.102 Ubuntu 16.04 (64-bit)

[2016-08-10 16:35] ghost opened #429 "Web-DHT Support"
support for WebDHT [1] might solve alot of problems..

[1] https://www.npmjs.com/package/did-io

[2016-08-10 16:38] mediaprophet commented on #429
IMHO; an implementation method might be that core identifiers can be distributed within a social-group, which may transit multiple Node.solid.servers...

therein, the attack-vectors become far more complex if seeking to eradicate an identity.

This needs to be further considered; however the principle is that WebDHT doesn't need a large file that's akin to DNS - but rather, one that incorporates o

[2016-08-10 16:39] dmitrizagidulin commented on #429
Very possible. We do have fans of WebDHT-like technologies (including IPFS) on the dev team.

What sort of problems do you see it solving, though?

[2016-08-10 16:43] mediaprophet commented on #429
a number of issues...

The key considerations are around what i consider a 'human centric web' as a quality of these sorts of works, or an alternative and perhaps optional deployment of them.

it is very easy to demonstrate other 'credentials' related technologies / methodologies, that are moreover federated.  It is far more difficult to demonstrate an alternative that is 'human centric' or decent

[2016-08-25 03:52] SvenDowideit opened #433 "--no-webid doesn't work?"
[code]

[2016-08-25 06:23] mediaprophet commented on #429
I think the root identifiers for the author strategy could be decentralised
across the social-group of friends using either ipfs or web-dht.

May also support decentralised backup for other objects, and, perhaps
support some form of CDN logic with a little more thought.

Web-DHT seems like an easier way to assert distribution rules / semantics.

Haven't looked into IPFS enough yet...  I hear it's

[2016-08-26 17:53] melvincarvalho opened #434 "bin/solid.js is not executable"
should it be?

slightly keyboard intensive as it prevents auto-completion in some scenarios

[2016-08-28 01:14] melvincarvalho opened #435 "websocket on container does not send pub when new resource is PUT inside it"
tested on v3.2.0

I think the same is true with PATCH, but POST works, but unfortunately with POST you get lots of files littering the directory, as fas as I could work out

POST on a subdirectory seems not to work

[2016-08-28 13:09] melvincarvalho commented on #435
this issue is here

[code]
https://github.com/solid/node-solid-ws/blob/master/index.js#L10

I think basename should say dirname

and it's not present in patch and put, only in post

also dirname will need a trailing slash after it

perhaps

[2016-08-29 14:15] timbl commented on #433
I found this problem too.    The command line parsing seems to have rotted a bit.  You can put   "webid": false,  in the config.json file.

[2016-08-29 14:19] melvincarvalho commented on #433
I think the line is here:

https://github.com/solid/node-solid-server/blob/master/bin/lib/options.js#L26

Resolution is to remove the text `(use `--no-webid` for HTTP instead of HTTPS)` and write something more helpful

[code]

[2016-08-29 14:29] timbl opened #436 "Command line args, init questions, config file and --help must be consistent"
Currently the solid start --help gives you a list of command line options not all of which work. Some like --no-webid with in the config file but not in the args.  Be kind to users - be consistent.

Currently the init questions force you to give paths to SSL certs even if you are not using webid (which is this program's very obscure way of saying not use HTTPS!)   If the answer to "Are you using H

[2016-08-29 21:30] melvincarvalho opened #437 "ProxyPath is not defined"
Noticed by @timbl in https://gitter.im/solid/node-solid-server?at=57c48c74ca24c06c63849a8a

I also experienced this issue.

It appears to be from the static/databrowser.html file.

https://github.com/solid/node-solid-server/blob/master/static/databrowser.html#L8

[2016-08-29 22:11] timbl commented on #437
The databrowser could do with a update to use the newer mashlib and host scripts and CSS from github.io instead of scripts.mit.edu I think

[2016-09-06 17:39] melvincarvalho commented on #421
seeAlso : https://gitter.im/solid/node-solid-server?at=57ceee3377c1b70d7fedb80b

[2016-09-08 08:37] chrysn opened #439 "suggestion: default ACL origin for fileBrowser"
in first tests with node-solid-server, i had to disable strictOrigin until i manually inserted an `<#owner> acl:origin <https://linkeddata.github.io>` statement into the default acl.

as the acl file appears to be generated by the server, would it be reasonable to put the (path stripped) fileBrowser in the accepted origins list by default? otherwise, the combination of strictOrigin and fileBrowser

[2016-09-08 13:59] dmitrizagidulin commented on #439
@chrysn ahh, good point! Thank for the catch.

[2016-09-08 14:02] dmitrizagidulin opened #440 "Requesting binaries with invalid Accept headers should 406, not 500"
Reported by @timbl:

If you request a non-rdf resource (say a PDF file) with an accept header like `Accept:image/*;q=0.9, application/rdf+xml, application/xhtml+xml, text/xml;q=0.2, application/xml;q=0.2, text/html;q=0.3, text/plain;q=0.1, text/n3;q=1.0, application/x-turtle;q=1, text/turtle;q=1`, the server will try to convert it from PDF to RDF, and fail with a 500 error.
Should instead return a

[2016-09-08 14:11] mediaprophet commented on #440
+ something like application/ld+json,application/json,*/*;q=0.1 ??

On Fri., 9 Sep. 2016, 12:03 am Dmitri Zagidulin, <notifications@github.com>
wrote:

[2016-09-08 14:12] dmitrizagidulin commented on #440
@mediaprophet not sure I understand - explain more?

[2016-09-08 14:13] mediaprophet commented on #440
The original note didn't include json-ld.

On Fri., 9 Sep. 2016, 12:12 am Dmitri Zagidulin, <notifications@github.com>
wrote:

[2016-09-08 14:33] dmitrizagidulin commented on #440
@mediaprophet thanks!

[2016-09-11 21:03] timbl commented on #440
A way to fix the original request was with with say */*; q=1  in other words "if all else fails give me what you got " ... Then you will never get 406 error -- but you might get a massive file you can't do anything with.  But that's not the point of this bug

[2016-09-12 16:36] csarven opened #441 "Implement Web Annotation Protocol"
The [Web Annotation Protocol](https://www.w3.org/TR/annotation-protocol/):

It is LDP friendly.
- Have an Annotation Service (basically an ldp:BasicContainer) be discoverable from rel=oa:annotationService in HTTP Link header
- Accept/Return JSON-LD
- Use collections / paging on the container to discover annotations
  ..

[2016-09-12 16:47] csarven commented on #441
Example working UI in https://github.com/linkeddata/dokieli :
![image](https://cloud.githubusercontent.com/assets/429987/18444096/d29b42cc-78e5-11e6-8eab-09602a71d036.png)

The use case is that user wants to store their annotation on their personal storage as the canonical version, and sends a copy to the annotation service (if available) which receives annotations.

Web Annotation Protocol/Model/

[2016-09-14 08:43] melvincarvalho opened #442 "Range header not yet supported in ldp GET"
The default html5 video player allows skipping back and forth through a video file.  The method for doing this is to send a "range" header.

This is yet not supported in node solid server and would allow a better experience for those that choose to store video on the cloud.

One possible solution is to use the following javascript or something similar

[code]

Taken from:

https://gist.github.com/

[2016-09-19 16:04] mediaprophet commented on #429
I've done some more investigation.  Conversation in Creds: https://lists.w3.org/Archives/Public/public-credentials/2016Sep/0003.html noted Web-DHT being Dropped; which left the consideration to IPFS.

independently; the comment from a well-known guru was "I am in contact with the IPFS folks with regard to digital archiving and preservation"

[2016-09-19 16:16] mediaprophet commented on #401
NOTE: where TLS noted above, the comment refers to WebID-TLS (as current pages often prompt for WebID-TLS cert)

https://github.com/expressjs/vhost
http://shamadeh.com/blog/web/nodejs/express/2014/07/20/ExpressMultipleSites.html

For pseudo-anon purposes; does it help to route via a TLD that is not assigned to the account holder?   is some means to obfuscate the parties, save query methods by serv

[2016-09-21 17:32] csarven opened #444 "Implement ldp:constrainedBy"
https://www.w3.org/TR/ldp/#ldpr-gen-pubclireqs

[2016-09-21 17:41] dmitrizagidulin commented on #444
Can you be more specific here? The paragraph that you link to doesn't actually explain what constraints are.

[2016-09-21 17:44] csarven commented on #444
Here is another take: https://linkedresearch.org/ldn/#constraints

[2016-09-21 17:46] dmitrizagidulin commented on #444
Thanks. That one is slightly more descriptive. Which constraints would you like to be implemented, though? SHACL based ones, or Web Annotation ones?

[2016-09-21 21:48] csarven commented on #444
I was essentially referring to a validator that the server can run the payload through before having it reaching the disk. If a resource advertises a constraint, it should be able to verify. With SHACL, arbitrary data can be checked to see if it matches some constraints. Web Annotation happens to be just one which is left to each implementation. I'd like suggest to go for SHACL since solid-server

[2016-09-24 15:55] melvincarvalho opened #445 "Possibly add file extension when adding a POST"
Raised by @timbl

From gitter chat here:

https://gitter.im/linkedresearch/chat?at=57e64fd8240a335f12e881d8

[2016-09-24 22:27] csarven commented on #445
I think this issue is a duplicate of https://github.com/solid/node-solid-server/issues/413

[2016-10-06 20:51] timbl opened #446 "Return the Content-Type of resources in container list data"
It would be great if, along with the normal LDP container listing data, a solid server returned for each file (or directory) in the container, its MIME type as an RDF type.
- It allows me to spot which folders should be thought of as slide shows without cheating and looking at the file extensions on the URIs
- It allows a file listing to use appropriate icons, colors, etc
- It allows code which ru

[2016-10-06 20:54] dmitrizagidulin commented on #446
This is a great idea! Couple of questions:

1. What's the MIME type of a directory?
2. What's the predicate that should be used?
3. Is it important that the object be a URI? (What about returning MIME types as literals?)

[2016-10-06 21:08] timbl commented on #446
1. Just return the RDF type of an LDP container
2. rdf:type
3. Yes  I think so ...

The reason that we use an actual RDF class is because we can then use the RDFs tools.   We can add for example the in the ontology that image/png is a rdfs:subClassOf dc:Image
The type arc is how we say that something is in a category in RDF traditionally.
The UI stack and the solid core already have a type index,

[2016-10-06 21:10] dmitrizagidulin commented on #446
Got it, makes sense.

[2016-10-06 21:12] dmitrizagidulin commented on #446
Wait, re number 1, isn't that mixing RDF Types and MIME Types? To put it another way, 'LDPResource' isn't a mime type..

[2016-10-06 21:15] timbl commented on #446
Because we use rdf:type, and mapping the mime types into RDF types, then one benefit we have is we mix them.

[2016-10-06 21:15] dmitrizagidulin commented on #446
Ah, makes sense. :)

[2016-10-10 00:05] csarven opened #447 "Advertise well-known/solid iff a description exists"
Pointing to .well-known/solid as a 'service' in Link header is fine in and of itself, but it is best to only advertise that if it resolves. Otherwise, there is no real use. If applicable, perhaps the server should return defaults if a description is not declared as fallback.

[2016-10-10 15:34] Exulansis opened #448 "Server crashes due to unhandled error during specific PATCH requests."
To reproduce:

Have an instance of the Solid server running and create a file containing some test tripple, for instance:

[code]

Now we can send a PATCH request with the SPARQL query:

[code]

This works as expected.

The following request:

[code]

Returns an error. This is expected behaviour, since the function `applyPatch`, defined in [RDFLIB,](https://github.com/linkeddata/rdflib.js/blob/mas

[2016-10-11 13:28] dmitrizagidulin commented on #448
Great catch, thanks for reporting!

[2016-10-15 21:16] timbl opened #452 "Making index.ttl#this a assumed subject of a folder as a server-side convention"
We use the server-side convention that, when a human browser asks for a directory, if there is an index.html file in the directory, then we send that file, as if you like a representation of the folder which the publisher wants to use.

I find a common form of index.html for me is one which loads index.ttl and  then runs the default data bowser for index.ttl#this

Suppose we make index.ttl#this a

[2016-10-17 17:55] mediaprophet commented on #452
https://lists.w3.org/Archives/Public/public-rww/2016Oct/0009.html

.bot isn't the point; yet, is it important to pick ttl over other serialisation formats?

[2016-10-19 18:29] elf-pavlik commented on #407
#275 suggests resource linked with `rel="describedby"`(aka. .meta) for storing the content type of described resource, who created it could also stay stored in that meta resource.

[2016-10-26 23:17] elf-pavlik opened #454 "HEAD doesn't set right Content-Type or right Content-Length headers"
for example GET request to foo.png includes correct header
`Content-Type: image/png`
but HEAD request to foo.png responds with **incorrect** header
`Content-Type: text/plain; charset=utf-8`

[2016-11-10 00:59] elf-pavlik commented on #399
looks like this line assumes `ldp:BasicContainer` https://github.com/solid/node-solid-server/blob/f2a420217b6114b0bf48803975cf29800d3ea8d8/lib/handlers/post.js#L89

does anyone object to modifing it in a way that besides `ldp:DirectContainer` it would later also work with `ldp:IndirectContainer` ?

[2016-11-22 21:37] dmitrizagidulin commented on #454
Interesting.. thanks for reporting this!

[2016-11-22 21:39] dmitrizagidulin commented on #413
This has been fixed in PR #430. Closing.

[2016-11-22 21:39] #413 closed

[2016-11-22 21:42] dmitrizagidulin commented on #444
@csarven The main difficulty with implementing this feature is that there doesn't seem to be a usable SHACL library for javascript. (At least, I couldn't find one - if you can link me to one, that'd be great).
I'll leave the issue open, until somebody implements one of those.

[2016-11-27 17:48] timbl commented on #446
Ok, so went out on a limb in https://github.com/solid/node-solid-server/pull/456 and decided on an arbitrary mapping for that to map Media Type

image/jpeg

to the class

http://www.w3.org/ns/iana/media-types/image/jpeg#Resource

[code]

[2016-11-28 00:43] timbl opened #457 "Allow video skip with Accept-Ranges: bytes ?"
I notice that an HTML5 video clip hosted from this server does not allow skipping forwards.    (Whereas Youtub.com for example does).   Is the problem just that the server does not do the
[code]
protocol?

Could that be added from an existing express module?

It could be done just for video, to avoid interaction with things happen with turtle, etc, where byte ranges are not needed.

Of course soli

[2016-11-28 00:51] timbl commented on #457
See https://tools.ietf.org/html/rfc7233#section-2.3

[2016-11-28 00:59] timbl commented on #457
Maybe see
https://www.npmjs.com/package/express-range
and maybe
https://delog.wordpress.com/2011/04/25/stream-webm-file-to-chrome-using-node-js/
https://github.com/meloncholy/vid-streamer
etc

[2016-11-28 11:21] melvincarvalho commented on #457
Need to implement HTTP 206

I raised this in

https://github.com/solid/node-solid-server/issues/442

Having experimented with the code snippet there, it does work with node solid server.  I host my videos on a custom version of node solid server and can watch them at home or remotely, from any device.

See: https://gist.github.com/paolorossi/1993068

[2016-11-28 11:25] melvincarvalho commented on #457
[code]

[2016-11-30 18:19] bshambaugh opened #458 "solid:get no translation text/turtle meaning"
When solid is enabled with the verbose option, I get the response "solid:get no translation text/turtle" .  I am not certain what this means.

[2016-11-30 18:32] bshambaugh opened #459 "MIT Hack Day"
Request to show up at the 5th floor office at the Stata Center and debug and install node-solid-server this week or next.

[2016-11-30 18:49] bshambaugh opened #460 "Root directory for warp w/solid specified as parent, but becomes child with dns name"
I have a root directory in config.json specified as /opt/solid in /opt/solid. I have port number yourport specified in config.json. I have a child directory example.yourdomain.net .

Warp (https://linkeddata.github.io/warp/) is serving the contents of the folder example.yourdomain.net from the URL https://example.yourdomain.net:yourport .

config.json :

{
  "root": "/opt/testone-solid/",
  "port"

[2016-11-30 19:12] bshambaugh opened #461 "Suppress Provision of data browser question"
For  me this config.json file works:

{
  "root": "/opt/testone-solid/",
  "port": "8445",
  "webid": true,
  "auth": "tls",
  "sslKey": "/etc/letsencrypt/../privkey.pem",
  "sslCert": "/etc/letsencrypt/../fullchain.pem",
  "idp": true,
  "fileBrowser": "https://linkeddata.github.io/warp/#/list/",
  "dataBrowser": true,
  "strictOrigin": false,
  "apiApps": "/opt/testone-solid/api/apps"
}

And thi

[2016-12-01 17:38] melvincarvalho commented on #457
What is needed is to change the get handler to appreciate the range header

https://github.com/solid/node-solid-server/blob/master/lib/handlers/get.js#L50

[code]
Unfortunately the signature of ldp.get does not currently pass in the header, so either there needs to be a change in ldp.get (I dont know if this would break something) or a new function, say, getRange, which sends in either the range h

[2016-12-01 17:47] melvincarvalho opened #463 "Consider passing the request to ldp.get"
Currently an HTTP GET request is passed on to ldp.get with only the parameter request.hostname.

It would be useful to have the whole request passed to ldp.get so that parts of the request can be checked inside of ldp.get.  For example, one use case is to check the headers for the range parameter.  And is set, return only a partial stream.  This is captured in : https://github.com/solid/node-solid

[2016-12-01 19:12] melvincarvalho commented on #458
This is just a debug line from :

https://github.com/solid/node-solid-server/blob/3c8b7a6282dec418be40b2083d122a052af7c7c0/lib/handlers/get.js#L92

It is not an error.  I get this all the time.

[2016-12-03 20:41] melvincarvalho commented on #458
solid:get no translation text/turtle means “Hey I’ll just send a response to this GET as text/turtle, I don’t need to translate anything betweeen languages"
Sorry it looks a bit like “Error: no translation found” but it isn’t it is “Info: no translation necessary"
Suggest change the log message to say “no translation necessary” in fact

https://gitter.im/solid/node-solid-server?at=5841ed270da03402

[2016-12-04 01:22] melvincarvalho opened #465 "Cant run solid init"
Running a fresh install node v6.1.0 on ubuntu linux 16.04

The following error is thrown after completing the config questions

[code]

[2016-12-04 12:37] melvincarvalho commented on #463
Another way would be to pass in an options object.  I wrote a patch for this (attached) but does not seem to work, and I cant work out why.
[patch.txt](https://github.com/solid/node-solid-server/files/629471/patch.txt)

[2016-12-04 13:01] melvincarvalho commented on #463
Another way is to use an options object.  Patch attached.

[get-patch.txt](https://github.com/solid/node-solid-server/files/629515/get-patch.txt)

[2016-12-04 13:16] melvincarvalho commented on #463
And one also for the return value

[get-patch.txt](https://github.com/solid/node-solid-server/files/629532/get-patch.txt)

[2016-12-04 16:43] melvincarvalho commented on #457
The following patch should fix this issue, and allow video to stream and skip

You can give it a try with

    git apply <file>

[video-patch.txt](https://github.com/solid/node-solid-server/files/629665/video-patch.txt)

[2016-12-06 02:18] #457 closed

[2016-12-06 18:24] #458 closed

[2016-12-06 21:12] timbl commented on #442
Closed by https://github.com/solid/node-solid-server/pull/466

[2016-12-06 21:12] #442 closed

[2016-12-06 21:24] timbl opened #468 "When ACL fails 401 due to Origin check, important to say so in logs and HTTP status"
Currently, there is an option (but important) feature which checks, when a Web App (a given Origin) accesses data on behalf of  user, that not only is the user authorized but also the origin.
At the moment, when the origin test fails (which devs are not used to) the console log and HTTP message are identical to when the user themselves is not authorized -- and quite misleading.

Suggest the log me

[2016-12-07 20:43] dmitrizagidulin commented on #422
Fixed in PR #469, closing.

[2016-12-07 20:43] #422 closed

[2016-12-07 21:57] dmitrizagidulin commented on #421
Need more info on this to reproduce: what url are you trying to get. and are you logged in via webid-tls etc? and is it an access-controlled resource

[2016-12-09 18:08] csarven commented on #421
When the `On-Behalf-Of` header is sent with length > 0, it crashes the server.

[2016-12-09 18:18] kidehen commented on #421
@dmitrizagidulin -- Custom Headers are a fundamental part of HTTP. Thus, one shouldn't expect a  major fault  when those kinds of headers are encountered by an HTTP server.

[2016-12-10 22:00] timbl opened #470 "URL en/decoding of characters in file name missing"
When the LDP container lists files, it doesn't properly encode non-URL characters (Like @,  space, etc) using % encoding.

When it received a requests with a URL which HAS got that encoding, then it doens't decode it and typically 404s

[2016-12-11 19:19] dduran1967 commented on #465
I've seen this error when attempting to use the default value for path to the data viewer app.  I was able to complete the init process by entering a valid directory.  If that doesn't work, maybe you could post the values you are using.

[2016-12-11 19:34] melvincarvalho commented on #465
@dduran1967 thanks for the additional info.  I dont use `solid init` anymore, instead I use a pre existing config file which I have saved.

[code]
What I sometimes add is "dataBrowserPath" : "default"

[2016-12-11 19:39] dduran1967 commented on #465
"default" doesn't work for me either but "/" does.

[2016-12-13 16:41] dmitrizagidulin commented on #446
Implemented & merged, closing.

[2016-12-13 16:41] #446 closed

[2016-12-13 16:49] dmitrizagidulin commented on #445
Closing as duplicate of [#275: Persist Content-Type of resources without file extensions](https://github.com/solid/node-solid-server/issues/275)

[2016-12-13 16:49] #445 closed

[2016-12-13 16:51] dmitrizagidulin commented on #363
Closing, no longer applicable.

[2016-12-13 16:51] #363 closed

[2016-12-13 16:53] dmitrizagidulin commented on #393
Implemented in upstream library, [`solid-multi-rp-client`](https://github.com/solid/solid-multi-rp-client). Closing.

[2016-12-13 16:53] #393 closed

[2016-12-13 17:15] melvincarvalho commented on #465
I added the priority tag to this issue, as I believe that it blocks fresh installs of node solid server from working.

Please, let me know if there is some better tag or workflow that can be used.

[2016-12-15 03:28] ryankeener commented on #465
Looks like there are a couple things going on here.

I see that @dmitrizagidulin has addressed this particular issue in 9e75613 but I noticed that Inquirer [wasn't handling Promise rejections correctly](https://github.com/SBoudrias/Inquirer.js/issues/363) I've submitted [the following PR](https://github.com/SBoudrias/Inquirer.js/pull/471) which addresses that issue.

[2016-12-15 15:22] dmitrizagidulin commented on #465
@ryankeener thanks for the heads up!

[2016-12-15 19:34] dmitrizagidulin commented on #465
Should be fixed in 3.4.1 / latest master. Closing.

[2016-12-15 19:34] #465 closed

[2016-12-15 19:38] dmitrizagidulin commented on #460
@bshambaugh Thanks for reporting. I'm not quite clear on what the issue is. What did you expect to happen, and what is happening instead?

[2016-12-15 19:42] dmitrizagidulin commented on #459
@bshambaugh Hi Brent. These past few weeks have been pretty hectic for us. Would a skype or screen hero call help?

[2016-12-15 19:44] dmitrizagidulin commented on #433
This should be fixed in the latest commit. Closing.

[2016-12-18 23:20] melvincarvalho commented on #463
This was fixed in https://github.com/solid/node-solid-server/pull/466

[2016-12-18 23:20] #463 closed

[2016-12-18 23:29] melvincarvalho opened #473 "on-behalf-of header crashes server"
When using WebID delegation, the on-behalf-of header is sent by the user agent.  Currently this will crash node solid server.

It would be better to throw an error message, and keep the server running, or fix the delegation code in allow.js

https://github.com/solid/node-solid-server/blob/master/lib/handlers/allow.js

The root problem lies in the function :

    function verifyDelegator (host, ldp

[2016-12-19 17:32] dmitrizagidulin commented on #473
@melvincarvalho I'm not sure what the correct logic should be. Maybe @deiu can take a look?

[2016-12-21 05:11] bshambaugh commented on #459
@dmitrizagidulin Skype could help, but it may not be until January. I'm working to get my ducks in a row applying for a grant of sorts. Unfortunately, I'm juggling both! Much thanks.

[2016-12-22 16:47] dmitrizagidulin commented on #448
@timbl - Do you know if this issue is fixed by your latest fix to rdflib?

[2016-12-22 17:36] dmitrizagidulin commented on #473
Taking a look at this.

[2016-12-26 15:15] csarven opened #476 "Missing base path in JSON-LD response"
`curl -iH"Accept: application/ld+json" https://example.org/container/` returns a JSON-LD body like:

[code]

The expected response is:
[code]

[2016-12-26 15:39] dmitrizagidulin commented on #476
Wow, good catch

[2017-01-04 16:33] dmitrizagidulin commented on #470
Should be fixed by PR #471, closing.

[2017-01-04 16:33] #470 closed

[2017-01-04 20:17] dmitrizagidulin commented on #246
Note that since we don't have a `http://www.w3.org/ns/auth/acl#None` access mode, and since it's problematic to return empty HTTP headers, if the client making the request has no read/write access to a resource, the response will not contain a `WAC-Modes-Allowed` header.

[2017-01-05 14:30] csarven opened #478 "Support the Memento protocol"
http://mementoweb.org/guide/howto/

...

[2017-01-05 15:34] dmitrizagidulin commented on #434
Fixed in PR #472, closing.

[2017-01-05 15:34] #434 closed

[2017-01-05 15:37] dmitrizagidulin commented on #478
👍 , good idea. The Memento protocol has been on our radar for a while.

(I'm working on a refactoring of solid-server's LDP class, to have it work with arbitrary/pluggable backends (file system, quad store, etc). This is basically a pre-requisite for a lot of these advanced features - versioning/Memento, querying, and so on.)

[2017-01-05 15:40] dmitrizagidulin commented on #478
Incidentally, supporting something like the Memento protocol (especially for binaries, where keeping efficient diffs is not always possible) would make being able to measure user bandwidth (and set quotas/limits) even more important for multi-user Solid installations.

[2017-01-05 15:48] hvdsomp commented on #478
Great to see interest in Memento! I would like to mention that Fedora Commons is currently working on supporting LDP augmented with access to LDPR versions using the Memento protocol (TimeGates for datetime negotiation as well as TimeMaps for version lists). There is an API spec at http://fcrepo.github.io/fcrepo-specification/ and also some discussion at https://github.com/fcrepo/fcrepo-specificat

[2017-01-05 15:52] dmitrizagidulin commented on #478
@hvdsomp Nice! Thanks for the heads up, and spec links.
(Are you part of the LDP Next group, btw? If yes, we should bring it up on in the discussions there, if it hasn't been already.)

[2017-01-06 17:04] dmitrizagidulin opened #479 "Config file - escape backslashes in Windows paths"
When `bin\lib\init.js` serializes the `config.json` file, it needs to make sure to escape the backslashes in the Windows paths names.

So, currently, it writes:
[code]
and instead needs to:
[code]

This results in JSON parse errors on startup, like

[code]

[2017-01-06 17:05] dmitrizagidulin commented on #479
Thanks to @jimscarver for bringing it to our attention!

[2017-01-06 19:03] dmitrizagidulin opened #480 "Ship with default 401, 404 and 500 error pages"
We do not provide any sort of error pages at the moment, and instead do just a bare 'Can't find file requested' text message, or a stack trace.

It would make for a better initial developer experience (not to mention users of databox2 etc) if we had simple error pages, with explanations, links to github issues, etc.

[2017-01-07 05:06] elf-pavlik commented on #478
LDF server [has support for memento](https://github.com/LinkedDataFragments/Server.js/wiki/Configuring-Memento) but as I understand it only supports release based versioning of dataset and not datasets with 'rolling' updates https://ruben.verborgh.org/blog/2016/06/22/querying-history-with-linked-data/
@RubenVerborgh can correct me here...

[2017-01-09 11:13] RubenVerborgh commented on #478
@elf-pavlik I'd say a “rolling” update is just a very small version, so it can surely work. It's just going to be more bookkeeping at the server side, but if the server knows when every update was made… sure.

[2017-01-09 12:09] melvincarvalho opened #482 "Consider adding a snapcraft.yaml file"
[Snapcraft](http://snapcraft.io/) allows you to package any app for every Linux desktop, server, cloud or device, and deliver updates directly

This is a request resulting form a conversation with @metcors :

https://gitter.im/solid/chat?at=586b7af6c02c1a3959e04662

An example of deploying a nodejs server snap is here:

https://github.com/snapcore/snapcraft/tree/master/tour/10-SNAPS/02-service-con

[2017-01-09 17:02] dmitrizagidulin commented on #421
This is a duplicate of issue #473, closing.

[2017-01-09 17:02] #421 closed

[2017-01-09 18:23] dmitrizagidulin commented on #359
Specifically, when an account is created, a triple gets added to the account's *root .meta* resource (e.g. `https://alice.databox2.com/.meta`) with the predicate `solid:account` and their WebID as the object (e.g. `https://alice.databox2.com/profile/card#me`).

`solid-client` has a helper method `discoverWebID(accountUrl)` that loads and parses the root `.meta` resource, and returns that account's

[2017-01-09 19:35] dmitrizagidulin opened #483 "Refactor LDP to use a modular store/backend"
Currently, the LDP class and the filesystem-based backend code are intertwined.
Separate the two, to enable running solid-server on alternate backends (s3, quad stores, etc).

[2017-01-09 23:03] elf-pavlik commented on #268
I'd like also to have option in server config to require `If-Match` header for PUT requests when resource already exist. Similar to https://wiki.apache.org/couchdb/HTTP_Document_API#PUT

Only requests which create new resource with PUT wouldn't need to include `If-Match`

[2017-01-10 19:07] dmitrizagidulin opened #485 "Install default apps in the 'solid init' step"
Currently, when setting up a solid server in multi-user mode, the implementers have to manually install the Solid Signup app (so that users can create accounts) and symlink it from the `accounts` directory.

With the upcoming WebID-OIDC integration, several more apps are added to this (signup, signin, account recovery, etc).

We need to extend the installation (`solid init`) step to prompt users f

[2017-01-10 19:09] dmitrizagidulin commented on #480
See also [issue #485-Install default apps in the 'solid init' step](https://github.com/solid/node-solid-server/issues/485)

[2017-01-15 22:26] timbl opened #486 "If server has favico.ico at usual place it should be used rather than the solid icon."
The PR https://github.com/solid/node-solid-server/pull/481
breaks favico.ico on existing web sites which use the usual convention.
Please fix this to only supply a favicon if the user has not put one at the usual place.

[2017-01-15 22:26] timbl commented on #486
(I also notice the default provided looks smaller than icons for other sites)

[2017-01-16 21:34] csarven commented on #444
Just a note for anyone looking into this or considering in the future: the entity at the end of `ldp:constrainedBy` doesn't have to conform to a particular specification (at this point in time). It can be application specific, or it can be in a general form like SHACL or ShEx.

Perhaps what's really required by the system is a way to advertise that a constrained exists, i.e., via a resource having

[2017-01-16 21:38] dduran1967 commented on #444
@csarven - agreed and fyi - we're planning to do this with json-schema resources shortly...

[2017-01-20 22:09] dmitrizagidulin commented on #486
After investigation, I do not see a good way to detect a `favicon.ico` request, then check if an icon exists for that account, and if not invoke the `serve-favicon` npm lib.

So I think the best way to fix this issue is to remove the `serve-favicon` npm lib, and to create a default `favicon.ico` and the corresponding `favicon.ico.acl` during account creation (along with the other default folders &

[2017-01-23 17:01] dmitrizagidulin commented on #476
This bug actually also affects all the other serializations - Turtle, NTriples, etc.

[2017-01-23 17:48] dmitrizagidulin commented on #476
Since the fix involves fairly extensive LDP changes, I will fix this as part of PR #484.

[2017-01-24 18:45] dmitrizagidulin commented on #473
Fixed by PR #487. (WebID Delegation is currently not fully implemented in the server, but will be implemented by PR #475.) Closing.

[2017-01-24 18:45] #473 closed

[2017-01-24 18:46] dmitrizagidulin opened #488 "Implement WebID Delegation verification"
(Ongoing work in PR #475).

[2017-01-25 12:36] snyk-community opened #489 "Upgrade node-solid-ws dep"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Remote Memory Exposure](https://snyk.io/vuln/npm:ws:20160104?utm_source=gh_issue)
  - Affected package: ws &lt; 1.0.1

[Here is the test report for this repo. ](https://snyk.io/test/github/solid/node-solid-server?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you generate a pull request that recom

[2017-01-25 15:49] dmitrizagidulin commented on #489
@snyk-community thanks!

Pending fix to the affected library at PR https://github.com/solid/node-solid-ws/pull/3

[2017-01-25 16:01] snyk-community commented on #489
@dmitrizagidulin great! thanks for opening this PR.

[2017-01-26 15:53] dmitrizagidulin opened #491 "Upgrade to latest rdflib 0.13.0"
Some change happened between 0.12 and 0.13 in rdflib (I think in PATCH handling) that is causing several tests to fail in `node-solid-server`.
Fix whatever is needed in solid-server to pass the tests (so we can continue to keep upgrading rdflib as a dependency).

[2017-01-31 15:30] dmitrizagidulin opened #493 "Remove 'mount' config option"
Currently, the `--mount` solid server config option allows for serving Solid from a "subpath" url. For example, if solid-server normally serves requests on `https://example.com/`, if you pass it `--mount solid`, then it would serve requests on `https://example.com/solid/`.

This is separate from the `--root` config parameter: `root` has to do with a directory on the server, and `mount` has to do w

[2017-02-02 19:11] dmitrizagidulin commented on #489
Fixed in PR #494, closing.

[2017-02-02 19:11] #489 closed

[2017-02-06 15:57] dmitrizagidulin commented on #246
Updated it to reflect today's design discussion; return both the permissions of the user, and public permissions.

[2017-02-21 16:53] dmitrizagidulin commented on #454
Also address setting the correct `Content-Length` header on HEAD requests.

[2017-02-21 17:05] timbl commented on #454
About time this serious breakage of the HTTP protocol was fixed

[2017-03-06 06:11] simonstey commented on #444
I'll leave the issue open, until somebody implements one of those.

@dmitrizagidulin fwiw, [SHACL Playground - A constraint validator for SHACL written in JavaScript.](http://shacl.org/playground/) based on [SHACL JavaScript Extensions](http://w3c.github.io/data-shapes/shacl-js/)

[2017-03-06 18:08] elf-pavlik commented on #444
ShEx has list of open source implementations on https://www.w3.org/2001/sw/wiki/ShEx#Implementations shex.js has MIT license

I'd really like to see SHACL & ShEx comparisons published by both groups developing them.

[2017-03-13 15:14] dmitrizagidulin commented on #486
Fixed as of PR #492, closing.

[2017-03-13 15:14] #486 closed

[2017-03-13 19:13] dmitrizagidulin commented on #460
Closing this - feel free to reopen if you have further questions.

[2017-03-13 19:13] #460 closed

[2017-03-13 19:13] dmitrizagidulin commented on #459
Closing this; feel free to contact us on Gitter.

[2017-03-13 19:13] #459 closed

[2017-03-13 21:12] csarven opened #497 "JSON-LD to Turtle serialization eats up @id with no value"
re: https://github.com/solid/node-solid-server/pull/496#issuecomment-286242305

`http://example.org/resourceA` contains:
`{ "@id": "http://example.net/note#foo", "http://schema.org/citation": { "@id": "http://example.org/article#results" } }`

[code]

Looks good to me.

`http://example.org/resourceB` contains:
`{ "@id": "", "http://schema.org/citation": { "@id": "http://example.org/article#results

[2017-03-13 21:14] dmitrizagidulin commented on #497
I don't think `"@id": ""` is valid JSON-LD. Try it in the [Distiller](http://rdf.greggkellogg.net/distiller)

[2017-03-13 21:33] dmitrizagidulin commented on #497
Never mind, I think I see what you're saying. There's a problem with translation code in the `get` handler. (The base uri is somehow getting lost for translation)

[2017-03-14 16:23] dmitrizagidulin commented on #497
Filed upstream issue https://github.com/linkeddata/rdflib.js/issues/177

[2017-03-20 16:06] zoggy commented on #275
@elf-pavlik:

I just discover this issue and I this is the way I chose to store the content type of resources posted or put by clients: the contents of the `content-type`header of the POST or PUT request is added to the `.meta` associated to the new/modified resource. I use `dc:format` though, but without strong conviction about this property rather than another one.

[2017-03-20 18:09] zoggy commented on #407
If I understand correctly https://www.w3.org/2005/Incubator/webid/spec/tls/#the-webid-authentication-protocol, several WebIds can be verified for the same connection, so the user can have several valid WebIds for the same request. How to choose which one is "the" WebId to keep as author of a resource ?

[2017-03-20 18:15] dmitrizagidulin commented on #407
@zoggy That's very interesting, I didn't realize the webid-tls spec allowed for multiple WebIDs!

In practice, our reference servers only parse and verify a single WebID from a certificate. (I'm not sure what happens when there are multiple links encountered - maybe it picks the first one?)

(Fwiw, we're in the process of moving away from using WebID-TLS as primary authentication, and towards [Web

[2017-03-20 18:51] zoggy commented on #407
Thanks. In this case I will also handle only the first verified WebId for my first tests, and switch to OIDC in the future.

[2017-03-20 18:52] dmitrizagidulin commented on #407
@zoggy Sounds great!

[2017-03-23 13:02] dmitrizagidulin commented on #485
(This is implemented in latest `dz_oidc` branch.)

[2017-03-23 13:03] dmitrizagidulin opened #498 "Redirect loop on initial account creation in single-user mode"
Redirection to `/signup.html` is causing a redirect loop.

[2017-04-11 10:10] philipbeadle commented on #353
I tried databox2.com and keep getting for any value

Could not connect to server on https://philip.databox2.com/

Am I missing something?

[2017-04-11 13:40] dmitrizagidulin commented on #353
@philipbeadle er, sorry bout that :) We're having trouble with domain/certificate expiration, pay no attention.
If you'd like a testbed server to try out, use https://solidtest.space

[2017-04-11 18:29] mediaprophet commented on #353
Does an app example for OIDC AUTH exist somewhere?

[2017-04-11 18:34] mediaprophet commented on #353
nb: old concept http://mediaprophet.org/ux_KB/ (Oct 2013)

[2017-04-11 19:14] dmitrizagidulin commented on #353
@mediaprophet There's a sample OIDC Auth app at https://github.com/solid/solid-auth-oidc/blob/master/demo/index.html

You can either run it directly at github.io at https://solid.github.io/solid-auth-oidc/demo/

or npm install `http-server`, check out a copy of the `solid-auth-oidc` repo, and `http-server demo/`.

[2017-04-11 19:19] mediaprophet commented on #353
I made another UX template, but can't find it on my web server.  will let you know if i find it. basically, i used: http://pages.revox.io/dashboard/ (which i'm looking forward to stitching together)...

[2017-04-11 19:36] mediaprophet commented on #353
found it: see auth concept http://webcivics.org/dev/  (note, dummy data works).  2nd factor concept = WebID-TLS Cert (That may declare a machine /Account rather than a person).

[2017-04-11 20:56] westurner opened #500 "DOC: update table in solid/solid-platform/README.md"
https://github.com/solid/solid-platform/blob/master/README.md

- [ ] ldnode -> node-solid-server
- [ ] latest features

[2017-04-12 04:17] philipbeadle commented on #353
Awesome, just used my https://philipbeadle.solidtest.space to login to the demo oidc app :) Now to investigate how to get solid.social to log in with oidc!!

[2017-05-16 20:04] webr3 opened #502 "what base to use when serialising a glob?"
Currently the `globHandler` at https://github.com/solid/node-solid-server/blob/master/lib/handlers/get.js#L179 sends no `target` and no `base` to the rdflib.js serialize function, which expects one of the two to be set.

Is the error:

1. rdflib expecting a base, or
2. globHandler should provide a base

perhaps that before the `*` in `path/file*.rdf`?

[2017-05-17 18:56] dmitrizagidulin commented on #502
From what I understand, rdflib.serialize() expecting a base url is intentional. (There's been deprecation warnings for a few versions.)

So, I suspect the fix should be to attempt and provide a base.

[2017-05-19 15:08] dmitrizagidulin opened #504 "Add support for content negotiation for Glob requests"
At the moment, glob requests (`GET /container/*`) are hardcoded to be returned as Turtle.
Add support for other content-types.

[2017-05-19 15:09] dmitrizagidulin opened #505 "Fix/implement Glob-related ACL tests"
These tests look unfinished and currently `.skip`'d - https://github.com/solid/node-solid-server/blob/157633d952ee9e711391f6f7e9d8201095f23189/test/acl.js#L422 (they refer to a non-existent directory, etc.)
Need to un-skip them and test glob-related acl behavior.

[2017-06-05 15:27] dmitrizagidulin opened #508 "Support content negotiation for error responses"
Currently, node-solid-server only supports returning errors with `Content-Type: text/html`.
Add support for some other error content types (based on the request `Accept:` header, etc).

1. Decide which error formats to support (JSON, Turtle?).
2. For Turtle errors, pick an appropriate error ontology
3. For JSON errors, pick appropriate format/RFC.

[2017-06-09 21:03] Kedrigern commented on #498
Same problem.

[2017-06-10 19:23] dmitrizagidulin commented on #498
@Kedrigern - thanks! Can you try applying the fix in PR #499? (let me know if you have any other questions).

[2017-06-13 17:08] Kedrigern commented on #498
In ts PR #499 I get "Access to https://localhost:8443/signup.html requires authorization"

[2017-06-13 17:18] dmitrizagidulin commented on #498
@Kedrigern and are you running the server from a global npm install, or from a cloned repo?
(I think this is the same global install issue somebody else was picking up on, that the tests aren't hitting)

[2017-06-13 19:17] dmitrizagidulin commented on #498
@Kedrigern I just pushed a patch to the `fix-single-user-signup` branch - let me know if that doesn't address the signup page.

[2017-06-26 20:15] RubenVerborgh opened #512 "Inbox messages should not be appendable"
The inbox container itself should be publicly appendable. However, once messages are created, nobody but the user should be able to alter them.

This should be fixed in the ACL of the new account inbox template.

[2017-06-30 14:48] RubenVerborgh opened #515 "Add multiuser as alternative to idp configuration property"
The `idp` configuration property is non-intuitive; instead, we should consider adding `multiuser` (but do so in a backwards-compatible way).

[2017-07-01 10:12] csarven commented on #258
Would https://www.npmjs.com/package/follow-redirects here?

[2017-07-05 14:59] RubenVerborgh opened #517 "Move user ID checking to auth"
See discussion at https://github.com/solid/node-solid-server/pull/516/files/d10875391abd400b0a18da0a4681e6cefb5773ac#r125661813

Depends on #516: the storage of `userId` in `request` as done by #516 should be changed.

[2017-07-12 20:22] RubenVerborgh opened #519 "Allow WebID+TLS behind a reverse proxy"

[2017-07-19 18:50] RubenVerborgh opened #521 "Allow the WebID and OIDC providers to reside on different domains"
Right now, OIDC providers can only authenticate users on their own domain.

However, the WebID resource could explicitly indicated trusted OIDC domains or providers. For example, then I'd be able to authenticate as https://ruben.verborgh.org/profile/#me from https://drive.verborgh.org/ with OIDC. (Right now, I can only do that via WebID+TLS.)

[2017-07-20 15:04] csarven opened #522 "Incorporate TLS renegotiation"
Currently TLS connection is forced for all requests, hence the client has to provide their certificate before anything else happens. For resources with a public read policy, this forces an undesirable UX through user's Web browser, i.e., the cert prompt [1]. An alternative behaviour would be to not bother the user if the resource is public read. For that to happen, TLS renegotiation [2] needs to b

[2017-07-20 15:05] csarven commented on #522
See also https://github.com/solid/node-solid-server/wiki/Running-Solid-behind-a-reverse-proxy

[2017-07-20 15:06] RubenVerborgh commented on #522
We need to enable configuration, as renegotiation will not work behind a proxy. (Or renegotiation should be disabled if `certificateHeader` is set).

[2017-07-24 15:25] dmitrizagidulin opened #523 "Do not return User header for non-WebID TLS auth schemes"

[2017-07-24 15:33] melvincarvalho commented on #523
Out of curiosity.  Why would you not want to return a User header after autn?

[2017-07-24 15:40] dmitrizagidulin opened #524 "Do not accept the Express session cookie from origins other than the server's"

[2017-07-24 15:41] RubenVerborgh commented on #523
Because it would give any application access to the user ID. If I'm logged in to a Solid server, any webpage can see my user ID at the moment by accessing any resource from that Solid server.

[2017-07-24 21:45] elf-pavlik commented on #521
Searching for 'OpenID Connect delegation', I've found this StackOverflow answer https://stackoverflow.com/a/28022632 which links to http://openid.net/specs/openid-connect-discovery-1_0.html#URLSyntax

Would something like below work?

[code]

[2017-07-25 13:51] dmitrizagidulin commented on #521
great find, @elf-pavlik , re `http://openid.net/specs/connect/1.0/issuer` rel!

[2017-07-25 13:53] melvincarvalho commented on #523
Ah thanks.  FWIW some of the apps I had previously written have used the User header in order to personalize a page, e.g. to pull in someone's name, avatar and friends list, in a social setting.  It's a convenient way of allowing one click personalization, without having to type in a long string into a form, or query string, at least until browsers can provide such functionality via an API, which

[2017-07-25 14:08] RubenVerborgh commented on #523
@melvincarvalho I presume those apps use WebID+TLS? Or something else?

[2017-07-25 14:17] melvincarvalho commented on #523
Yes, exactly.  So for example an app on github might use a user header from a public server.

So if you click the login button, and you're not logged in already, you'll get the user header after you send the cert.

But if you had been logged in and have a cookie you'd still get a user header back.  This change may change that behavior.

There are a couple of other fallbacks that I use, one is to c

[2017-07-25 14:20] RubenVerborgh commented on #523
That's right. Note that the cookie-based authentication is unsafe and will be removed (#524).

[2017-07-25 14:24] melvincarvalho commented on #523
Got it.  May I request that the version is bumped, after the hardening.  As it may be a breaking change.

[2017-07-25 17:33] #523 closed

[2017-08-09 18:02] RubenVerborgh opened #529 "Check DNS entries upon starting the tests"

[2017-08-09 19:37] RubenVerborgh opened #530 "Add and document test script with NODE_TLS_REJECT_UNAUTHORIZED"

[2017-08-11 18:10] #530 closed

[2017-08-11 18:12] #517 closed

[2017-08-11 18:12] #524 closed

[2017-08-11 19:38] RubenVerborgh opened #537 "Fix or replace directory browser"
The current Solid server integrates Warp, but Warp broke because of #526.

[2017-08-11 19:44] RubenVerborgh commented on #537
Alternative: bundle Warp with node-solid-server.

[2017-08-11 20:02] RubenVerborgh commented on #537
I just tried bundling Warp by placing it in the `common` folder, and that works fine.

The new plan of action is to include multiple apps into an `apps` folder on initialization (cloning them from GitHub). These apps could include Warp, mashlib, etc.

We would implement this as follows:
- in multi-user mode, place `apps` on the server's account
- in single-user mode, place `apps` on the user's acc

[2017-08-13 20:23] timbl opened #538 "Databrowser is mistakenly loaded for HTML files."
Example:

https://timbl.com/timbl/Public/Test/Content-Type/text/html/simple.html

Should be sent to the bowser by the server, rendered directly by the bowser.  Used to work. Not sure when broke.

The databrowser should be used when the source data file is a data file like Turtle, etc, not  human-readable document like text, HTML, or PDF.

Similarly, https://timbl.com/timbl/Public/Test/2017/08/23/S

[2017-08-13 20:28] timbl commented on #537
I counter-propose using the full local databrowser instead of warp,
- as it gives much more functionality for all kinds of data
- it avoids the problem of the origin of the web app need ing to be
I suggest an upgrade of the server pull in the latest mashlib.js and databrowser.html, but making sure that if the user has configured their server to use their own specific databrowser file, that config

[2017-08-13 20:32] timbl commented on #538
Interestingly, text/plain files like https://timbl.com/timbl/Public/Test/Content-Type/text/plain/simple.txt are served Ok

[2017-08-13 20:33] timbl commented on #538
![image](https://user-images.githubusercontent.com/1254848/29253205-1ef7c1f6-8045-11e7-8358-b21839a8b0b6.png)

[2017-08-14 14:17] RubenVerborgh commented on #537
Another suggestion is to fix Warp (https://github.com/linkeddata/warp/issues/23).

[2017-08-14 14:21] RubenVerborgh commented on #537
Regarding using the full databrowser, my two cents would be to not enable this by default, for the following reasons:
- I think it is more complicated to use than Warp, and might not be suitable for everybody.
- Since it feels more like a full application than Warp, it _might_ give people the impression that databrowser = Solid.

For the last point, a redirect to a public space (such as indeed sol

[2017-08-14 15:10] dmitrizagidulin commented on #538
@timbl I suspect this issue was introduced when RDFa support was added, and `html` became a valid RDF type.
Fix is at PR https://github.com/solid/node-solid-server/pull/539, for your review.

[2017-08-14 15:11] DiegoPino commented on #538
New to the project, but watching from afar for some time. Seems like the logic that forces that is here:
https://github.com/solid/node-solid-server/blob/cba687c455094adecc3d55b50ee6dd9a231d68c7/lib/handlers/get.js#L78-L96

Not sure if the first === 0 is intended there. (array) indexOf gives 0 (actual (int) number) back if needle is found in array at position 0, and -1 (where a !== would make sense

[2017-08-14 15:15] DiegoPino commented on #538
@dmitrizagidulin dismiss my last comment. Just saw yours and your fix 👍

[2017-08-14 15:15] dmitrizagidulin commented on #538
Thanks, @DiegoPino

[2017-08-16 02:34] RubenVerborgh opened #542 "Resources should have working .acl links"
At the moment, a resource `https://solid.org/a/b/c/d` will have a link header to `https://solid.org/a/b/c/d.acl`, even if that .acl resource doesn't exist (for instance, the corresponding .acl might be `https://solid.org/a/b.acl`). As a result, .acl lookups sometimes/often result in a 404.

[2017-08-16 14:27] dmitrizagidulin commented on #538
Fixed in PR #539, closing.

[2017-08-16 14:27] #538 closed

[2017-08-16 14:57] dmitrizagidulin commented on #521
@elf-pavlik After some discussion with @timbl, we decided not to go with `http://openid.net/specs/connect/1.0/issuer`, use `solid:oidcIssuer` instead:

[code]

[2017-08-16 14:59] dmitrizagidulin commented on #521
I suppose we can add some sort of rdfs/owl equivalence to the specs issuer link, but I'm not familiar enough with ontologies to do that. Feel free to make an addition to https://github.com/solid/vocab/pull/23, though.

[2017-08-16 14:59] RubenVerborgh commented on #521
Depends on the semantics. Are they equivalent? Or is `solid:oidcIssuer` something more specific?

[2017-08-16 15:02] dmitrizagidulin commented on #498
Fixed in PR #499, closing.

[2017-08-16 15:02] #498 closed

[2017-08-16 15:02] dmitrizagidulin commented on #491
Implemented in PR #503, closing.

[2017-08-16 15:02] #491 closed

[2017-08-16 15:03] dmitrizagidulin commented on #521
You're right, I suppose `solid:oidcIssuer` is more specific; it denotes that the server supports the WebID-OIDC protocol specifically.

[2017-08-16 15:05] dmitrizagidulin commented on #476
Addressed by PR https://github.com/solid/node-solid-server/pull/496

[2017-08-16 15:10] RubenVerborgh commented on #521
Done: https://github.com/solid/vocab/pull/23/commits/c70a6c4e3a9171a7f3ced046b5bed7bfcf5ec166

[2017-08-16 15:11] dmitrizagidulin commented on #521
Nice!

[2017-08-16 15:54] RubenVerborgh commented on #497
This is an rdflib bug related to JSON-LD and base IRIs, which is fixed in https://github.com/linkeddata/rdflib.js/pull/195. I'll wait for a new rdflib.js version to be released, and will then update package.json to fix this.

[2017-08-16 16:01] RubenVerborgh commented on #542
The proposed resolution, as discussed with @dmitrizagidulin, is the following workflow:

a. If the .acl exists and the user can access it, return that .acl.
b. Otherwise, if the user can access the corresponding resource, generate a user-specific ACL for that specific resource.
c. Otherwise, return 401/403.

In the future, this workflow could be extended with options 2 or 3 above in case related .

[2017-08-16 18:20] RubenVerborgh opened #544 "Document new options in README"

[2017-08-16 18:40] timbl commented on #542
I have problems with these approaches... partly because I have ode which relies on the system as is, and partly because if you lie in http you can end up in trouble. In lots of ways later.

The existence or not f a specific ACL file is an important thing
Imagine making a copy of a repo preserving the acl files. You can do it now but you can't do tit if the server fakes acl files which are not ther

[2017-08-16 18:40] timbl commented on #542
Caches in bowsers would get confused of course too

[2017-08-16 18:42] dmitrizagidulin commented on #542
@timbl A good point, re exporting the repo. (Although that's an excellent reason for why exporting accounts should be done server-side, and not client side).

So then how about we take the approach above, but instead of serving the generated acl directly, we 307 redirect to a generated acl?

[2017-08-16 18:43] RubenVerborgh commented on #542
What would the ”lie” be in this instance?

I figured that if "<x> :hasAcl <y>", then dereferencing <y> gets a representation of that ACL.
That representation might or might not be complete (and in fact, any representation of an ACL is incomplete).
We are not changing those semantics in anyway.

Agree on that one.

Vary by logged-in user fixes that.

[2017-08-16 21:20] RubenVerborgh commented on #542
After discussion with @timbl and @dmitrizagidulin, we will implement this instead as #246.

[2017-08-16 21:20] #542 closed

[2017-08-17 14:43] dmitrizagidulin opened #547 "Remove the Container .meta mechanism"
From the discussion with @timbl yesterday, the decision was made that the current container `.meta` mechanism is not very useful, and may be counter-intuitive to developers, and so should be removed.

* [ ] Currently, a PATCH or a PUT with a body to a solid container puts the triples in the request body into that container's `.meta` resource. Disable/remove that logic.
* [ ] The contents of a cont

[2017-08-17 18:53] RubenVerborgh commented on #497
Fixed by #548.

[2017-08-17 18:53] #497 closed

[2017-08-17 19:16] RubenVerborgh commented on #529
Implemented by #549.

[2017-08-17 19:16] #529 closed

[2017-08-17 19:18] RubenVerborgh commented on #521
Fixed by #545.

[2017-08-17 19:19] RubenVerborgh commented on #521
Ah no, wait, #545 only covers WebID-TLS. This issue requests the same functionality as #545, but with OIDC.

[2017-08-17 21:13] RubenVerborgh commented on #246
Implemented by #550.

[2017-08-17 21:13] #246 closed

[2017-08-17 21:34] RubenVerborgh opened #551 "Create mapping between file system and HTTP interface"
The index handler overrides the path from `/` to `/index.html`, but not all handlers “see” this change. Just like #496 makes the base path uniform, we should make the path uniform as well.

In general, handlers should not make any assumptions about the filenames on the system and the eventual URL in the HTTP interface. Also relevant for #257 (and its current workaround #584).

[2017-08-17 21:36] RubenVerborgh commented on #551
Terms to look for are `req.originalUrl`, `req.path`, `res.locals.path`.

[2017-08-18 14:49] dmitrizagidulin commented on #521
Should be addressed by PR https://github.com/solid/node-solid-server/pull/553

[2017-08-18 18:07] timbl commented on #508
Well - the problem here is,  how do you know separately what formats the client can handle and would like for error messages, which are different from the original data?     For example, I may just want an image, any image, for this fetch, but b happy with any format for the error page,  or I may do a very open accept-anything fetch of data, but still only be able to cope with an HTML error page.

[2017-08-18 18:08] timbl commented on #508
If we want to send data back with the error response, then I guess we could use RDF/a

[2017-08-18 18:43] timbl opened #554 "Optionally send patches back in websocket pub/sub"
We have now the ability to parse N3 patches on upstream changes from the client.  (thanks @RubenVerborgh !). We should now also provide an option for the client to ask for other people's changes to the same document to  be sent directly over the websocket when the file changes.

- The client uses a variant of "PUB" ("TRACK"?) command over the web socket
- The server takes the patch which has been

[2017-08-22 01:02] dan-f opened #557 "Make async interfaces consistent"
@RubenVerborgh pointed out in #555 that one roadblock to simply "promisifying" our callback-based async interfaces is that our callback interfaces don't all follow the same conventions.

I thought I'd open the discussion here as to how to deal with this. While I'm not the most familiar with `node-solid-server` I'll open up with some more general thoughts.

- Promises introduced an async primitive

[2017-08-22 01:05] RubenVerborgh commented on #557
I'd be in favor of using `async`/`await`. It would only require `babel` for Node < 8, so we could develop on Node 8 and have the CI still run Node 6 as well.

[2017-08-25 14:36] zoshe commented on #557
Me too

[2017-08-28 17:08] RubenVerborgh commented on #554
I wonder if we, instead of rolling our own, should base ourselves on an existing well-tested library such as [ShareDB](https://github.com/share/sharedb) (formerly ShareJS, so it's not really a database). I.e., we could write a ShareDB database adapter for Solid. The benefit would be that we don't need to test all concurrency cases etc. ourselves. The drawback that we might not agree with their des

[2017-08-28 18:07] RubenVerborgh opened #558 "Excessive ACL debug information"
Since #550, we are getting excessive debug information:

[code]

This is because all 4 modes are checked for the current user and the public.

We should move the logging such that only the requested permissions are logged, and the others simply summarized.

[2017-08-29 18:21] RubenVerborgh opened #559 "Set WAC-Allow on containers"

[2017-08-31 02:20] timbl opened #564 "PoPToken.importConfirmationKey: Cannot read property 'jwk' of undefined"
Running nss dz_oidc branch,  Trying to edit a bug tracker  issue field logged in with OIDC to solidtest.space:

Error (while saving change to https://timbl.com/timbl/2017/Solid/HighLevelIssues/state.ttl): sparql: update failed for <https://timbl.com/timbl/2017/Solid/HighLevelIssues/state.ttl> status=500, undefined for query: INSERT DATA { <https://timbl.com/timbl/2017/Solid/HighLevelIssues/state.t