[2018-10-02 14:40] elf-pavlik commented on #454
I only reported (two years ago) the issue on `Content-Type` which afterwards also was reported in #632 and #789 I think one of the maintainers added the `Content-Length` part here.

[2018-10-02 14:43] elf-pavlik commented on #454
I think easiest way to reproduce based on #789

HEAD `curl -I https://rubentest.solidtest.space/profile/card | grep Content-Type`

vs

GET `curl -i https://rubentest.solidtest.space/profile/card | grep Content-Type`

[2018-10-02 16:28] megoth opened #832 "Make use of EditorConfig to ensure consistent formatting"
[EditorConfig](https://editorconfig.org/) is a nice way of ensuring that formatting is consistent across peoples repos. Maybe something we should make use of?

[2018-10-02 16:32] kjetilk commented on #832
And there is even a Debian package for Emacs for it! :-)

[2018-10-02 16:43] megoth opened #833 "Inconsistent use of bootstrap classes"
I'm working on register-form.hbs and noticing some strange use of Bootstrap classes, specifically not using `form-group` for group form elements. This has been done in other files.

I don't want to change more than I have in my commits, hence this issue. Should we make the views consistent, or simply make sure that this is done correctly in later work?

[2018-10-02 18:03] jernst commented on #819
I saw those notes on the wiki, but the core of my question -- about the config file -- isn't addressed there. Specifically whether the port also needs to be on `serverUri`.

[2018-10-02 18:30] kjetilk commented on #819
@jernst `serverUri` is what the world should see, so if you're proxying it, then it shouldn't have the port.

[2018-10-02 20:49] dmitrizagidulin commented on #177
So here's one way you could implement the Delete Account feature.

#### The 'Delete Account' button

[ ] Find a place to actually put the 'Delete Account' button. The first place that comes to mind, though may not be optimal, is somewhere on the [user account homepage / index.html](https://github.com/solid/node-solid-server/blob/develop/default-templates/new-account/index.html) app. Alternatively,

[2018-10-02 22:04] ra100 commented on #833
Consistency is never bad.

[2018-10-03 12:36] kjetilk commented on #830
That's weird... Most of these things are generated by `solid init` or `solid start`, I believe, i.e. they are not in the source tree. So, the question is what may have generated this...? I haven't got this problem, I run on port 8444 on my internal test system myself...

[2018-10-03 13:06] he8us opened #838 "Configuration through environment variables"
Hello,

I'm interested by Solid and want to host my own POD (I host everything myself).

My production environment runs Docker and all the configuration is done through environment variables. I checked the documentation and I didn't found anything about it. Was this possibility already discussed ? Is this out-of-scope ?

If you give me a go, I can do a proposal.

See you,
Cédric

[2018-10-03 13:15] kjetilk commented on #838
I haven't used Docker to any extent, but I sat here struggling a few minutes ago and really wanted an environment variable so that I could point at a different config file... :-) So, yes, I'd really be in favour of having that!

Would you want to have environment variables for all the config options, or just basic pointers to config file(s)?

[2018-10-03 13:37] he8us commented on #838
IMHO, every configuration option should be configurable via the environment.

I'm an addict of the 12 Factors methodology and the Chapter 3 explain what I have in mind: https://12factor.net/config

To be more specific we have the defaults:
[code]
which can be overriden by the `config.json` file
[code]

And what I propose is a third level of overrides, so we can have the same global configuration b

[2018-10-03 14:01] batje commented on #830
It is slightly better if I redo it. I think I messed up the first `solid init` by giving a non-standard https port, and then pressing enter on the next question, where the default is `https://localhost:8443`. Could the uri not be replaced with just asking for servername? https:// seems to be default and the port was already asked for.

Anyways, with this config, the grep command dothat es not find

[2018-10-03 14:03] he8us commented on #833
Hello @megoth,

I was working on correcting the HTML files. I corrected the markup in:

- default-templates/server/index.html
- default-views/account/register.hbs
- default-views/account/register-disabled.hbs
- default-views/account/register-form.hbs

And I'm currently checking the content `default-views/auth`. I expect to be able to create a PR today or tomorrow.

[2018-10-03 14:19] megoth commented on #833
@he8us Fantastic, Thank you so much! Looking forward to seeing the PR ^_^

[2018-10-03 14:33] kjetilk commented on #838
OK, that sounds great to me!

I think you should base it on the `release/v5.0.0` branch, so hopefully we can release it with that one. Also be aware that in version 6, we are going to rework the code extensively, (see #788 for detailed discussion), so we can't guarantee that the code will make it into that, but a good config system is on my list of architectural elements that we require. I think w

[2018-10-03 14:38] kjetilk commented on #833
That's great! Just try to make sure the patches are as small as possible, because I'm also making changes in those files, and great if we can avoid conflicts. :-)

[2018-10-03 17:49] kjetilk commented on #177
@megoth and I decided that delete is the most important functionality right now, so we put the other stuff we did on hold to address this together.

[2018-10-03 19:06] sramam commented on #838
I'm new to the project and haven't looked at the code yet, but would something like [node-config](http://lorenwest.github.io/node-config/) be useful in this context?

I've used [node-config](http://lorenwest.github.io/node-config/) before and it works really nicely for the purpose.

It does allow the config to be an actual javascript file, with attendant risks of "developer creativity".

[2018-10-03 20:06] kjetilk commented on #838
Yes, that does look reasonable!

[2018-10-03 21:19] he8us commented on #838
Actually, that was the library I had in mind. And I agree with @sramam, I used it in multiple projects in the past and it's really powerful. I will submit a PR in the coming days, I just need to understand the code ;)

I read the full discussion on #788 and I think you should look closely to node-config to be part of the rewrite/refactor since it's one of the best config system I used.

[2018-10-03 21:45] Kemyke opened #840 "Mount path configuration not working"
I would like to access the solid server on the `https://192.168.200.100:8443/solidserver` path so my configuration is:
[code]

So when i try to access ˙https://192.168.200.100:8443` i get 404 and when i try to access `https://192.168.200.100:8443/solidserver` i get 200 and the page loads. But the css is not loaded because it tries to loaded it from `https://192.168.200.100:8443/common/css/bootstra

[2018-10-03 21:48] dmitrizagidulin commented on #840
Hi @Kemyke. The `mount` option is [slated to be removed](https://github.com/solid/node-solid-server/issues/493) when there's more bandwidth. It's unmaintained and untested, so there's very likely bugs there.

[2018-10-03 21:55] Kemyke commented on #840
Oh i see. In this case i won't have the option to use the server on a different path then root (`/`)?

[2018-10-03 21:59] dmitrizagidulin commented on #840
I think the best way to use the server on a different path is through proxy rewrite rules (using [Nginx rules](https://www.nginx.com/blog/creating-nginx-rewrite-rules/) or Apache or HAProxy).

[2018-10-03 22:08] Kemyke commented on #840
Ok, then i forget this feature and solve it in the proxy.  :)
Thanks!

[2018-10-03 22:08] #840 closed

[2018-10-03 23:34] kjetilk commented on #838
Ok, great stuff! Go for it! I hope we can bring the code into 6.0.0 too!

[2018-10-04 00:54] justinwb opened #841 "User storage quota enforcement"
Need ability to do in-line enforcement of per user storage quotas.

[2018-10-04 10:00] kjetilk commented on #840
I'll add the revisit label, so we remember to do it later.

[2018-10-04 10:52] melvincarvalho commented on #841
So, this can happen at the OS level, at the node application level, or with a process sitting in the middle.  A combination of 3 of these can happen too.

We should perhaps work on some generic helper scripts to analyze existing pods, in a way that gives a sys admin the stats they need, without compromising any user privacy.

[2018-10-04 10:57] melvincarvalho commented on #841
Examples

- A script to find out the number of accounts on a pod.

- A script to find out the total, mean, median, min and max disk usage on a pod, without revealing the username

- A script to count the number of accounts above accounts above a certain quota

This could lead to setting sensible limits, based on the server capabilities, and leading to defaults that can be communicated to the user.

[2018-10-04 13:37] timbl commented on #832
Currently for JS files the policy is to use use feross/standard across all the solid code. That is pretty constraining.   It provides most of the time the ability to fix  code not correctly formatted.  Does
For CSS and HTML  we don't have this.  Presumably editor config files will be easy to make consistent with 'standard' .   (This will beg the question of people's preferred formatting for turtle

[2018-10-04 13:52] timbl opened #844 "Server home page needs huge amount of work"
When someone fires up (especially an IDOP server but a singkle user one too)
They  get currently:

![image](https://user-images.githubusercontent.com/1254848/46478172-593fd480-c7ba-11e8-915b-
54c89f8c1f0d.png)

There is no poin

Welcome to the Solid Prototype
This is a prototype implementation of a Solid server. It is a fully functional server, but there are no security or stability guarantees. If

[2018-10-04 13:53] timbl commented on #844
Well maybe not a lot of work just some user-configured stuff and some more fixed HTML

[2018-10-04 14:03] kjetilk commented on #844
Yeah, but is this something @justinwb 's could be doing? It is in  https://github.com/solid/node-solid-server/blob/develop/default-templates/server/index.html

[2018-10-05 01:38] justinwb commented on #844
Similar ticket pushed the other night - should combine these together I think - https://github.com/solid/node-solid-server/issues/825

[2018-10-05 12:29] megoth commented on #833
@he8us Kjetil is having a day off today, just so you know; maybe he resolves this today, but more probably it's going to be done on Monday ^_^

[2018-10-05 12:33] megoth commented on #825
So a lot of this is quite easy to fix, but I think we should have a discussion on what we want to do with the front page, if anything; @justinwb and the team is working on a very good MVP for a new interface for the front page, so we might want to just wait until then. Or we might want to patch the current front page a bit, to make it a bit more useful for newcomers.

But I suggest not doing to mu

[2018-10-05 23:49] kidehen opened #847 "Content Negotiation Problem re JSON-LD"
Currently, we have the following returned for an "application/ld+json" document content-type request
[code]

Where the content-type is incorrect i.e., it should be "application/ld+json" .

[2018-10-06 12:50] elf-pavlik commented on #847
#831 should fix the HEAD vs. GET issue

Doing GET  `curl -i https://metahari.solid.community/profile/card` gives `Content-Type: text/turtle` and turtle body. I don't know if currently server will parse RDFSource stored in filesystem and serialize according to Accept header. I think an issue already exist that currently it does NOT conform to LDP spec. I believe maintainers will have more insights

[2018-10-07 01:07] justinwb opened #849 "File descriptors are being left open"
Over the course of several days on a production server, we observed a steady increase in the number of open file descriptors associated with the node-solid-server process, until it reached the per-process limit, at which point node-solid-server stopped accepting new requests and needed to be restarted.

A few key points to note:

**The vast majority of open descriptors are of type REG (regular fil

[2018-10-07 01:34] timbl commented on #849
Can you compare with the proportion of all requests which are for a profile card?  Was that in fact just the distribution of requests?
If you look at the length of the log, what proportion of requests end up leaving a FD open?

[2018-10-07 11:11] newmedicine commented on #811
I have the same issue, running 4.1.6 using docker

[2018-10-08 01:37] sidharrell opened #850 "Add git repo data type"
I'd really like to be able to create a git repo in my pod, and use a standard git client, like the one built into phpstorm.

Consider it a feature request, on the server-side, to support https git clients, since I'm guessing that would be much easier than the ssh client.

[2018-10-09 08:51] melvincarvalho opened #851 "solidtest.space gives the wrong mime type for html"
looking at

    curl -I https://schorsch.solidtest.space/public/u/xxx.html
    HTTP/1.1 200 OK
    X-Powered-By: solid-server
    Content-Type: text/plain; charset=utf-8

I would expect text/html.  Any ideas why its text/plain?

[2018-10-09 09:32] kjetilk commented on #851
Yeah, it is architecturally b0rked and built without having a proper HTTP implementation underneath... And where's that red-eyed devil emoji when you need it ;-) The fix is in the pipeline as #831, so I hope you don't mind me closing.

[2018-10-09 09:32] #851 closed

[2018-10-10 00:07] melvincarvalho opened #852 "Consider excluding crawlers by default"
Anecdotally, we have had a number of users complain about their name and email address being made available to spiders.  This could be done by adding a robots.txt file to a pod.

Solid, being a privacy first framework, should consider excluding crawlers by default.

It would be relatively easy subsequently to turn it on via a dashboard, or an app.

The downside to the approach is that an adoption

[2018-10-10 01:07] dmitrizagidulin commented on #852
👍 from me on excluding crawlers by default. (or maybe like, just limiting them to the `public/` folder.)

[2018-10-10 06:49] kjetilk commented on #852
We should have a `acl:Crawlers` agent class, and more sophisticated ways to reason about membership in that class, but yeah, perhaps we should exclude them by default.

[2018-10-10 09:58] csarven commented on #852
This issue is pretty much of the duplicate of what was discussed at https://github.com/solid/node-solid-server/issues/694 and the initial PR that was made towards it https://github.com/solid/node-solid-server/pull/700 . Re public folder, note https://github.com/solid/node-solid-server/issues/694#issuecomment-393849118

[2018-10-10 10:36] megoth opened #853 "Implement simple system for updating user's index.html (and other resources that live inside a user's POD)"
Today the `index.html`-file and similar resources that live in users PODs do not have a way of being updated by the POD providers. I think we need a simple system to allow for this so that user's can opt-in by default whenever there are updates. (As for the update that brings this functionality itself I think we have to force an update; this needs to be communicated to the community.) A result of

[2018-10-10 10:37] melvincarvalho commented on #852
I've made a page in solid hacks about interacting with crawlers

https://solid.gitbook.io/solid-hacks/~/drafts/-LOSXpgSofdNEwcxlszW/primary/server/interacting-with-crawlers

This could be a pointer to how the user can turn crawling on and off, deletion requests etc. in 2018.  Over time more robots will interact with solid pods, so there is room to expand this into a larger spec.

If there was some

[2018-10-10 12:02] megoth commented on #822
#839 will close this issue, but it needs revision (@justinwb)

[2018-10-10 12:18] megoth commented on #844
I'll do this as part of #825.

[2018-10-10 12:18] #844 closed

[2018-10-10 12:42] megoth commented on #825
@justinwb Btw, where should we get the friendly name of the server, description, and logo? And which URLs should we use for for project status and support? (I'll try to suggest some as soon as I've worked more on this issue.)

Should it be config-properties that POD providers can fill in manually (i.e. not as part of the `solid init` script) perhaps?

@timbl (to include your requests on #844):
- *

[2018-10-10 13:16] dmitrizagidulin commented on #825
@megoth The server index page is created in [`ensureWelcomePage()`](https://github.com/solid/node-solid-server/blob/master/lib/server-config.js#L39) (which is called from `create-app.js`).

Oh also, it looks like there's a bug in the logic there - that function only copies the index.html and its corresponding .acl, but it should be copying the whole contents of the `templates.server` (which is `./

[2018-10-10 14:16] megoth opened #855 "Verify email upon email creation"
In the case that users add their email address on account creation, we need to verify that address by sending them an email.

I didn't find any other issues on this, but please let me know if there are relevant issues connected to this.

[2018-10-10 14:27] melvincarvalho commented on #855
I think some of the other servers do this already.  So may be some reusable code or patterns.

[2018-10-10 14:28] dmitrizagidulin commented on #855
From the conversation in Gitter: Are we sure we actually need to verify the user's email? The only reason it's a common pattern with other application providers is that they're building a mailing list (to send announcements and advertisements).
We're not doing that (I'm assuming), and the only reason we ask for the email is for account recovery (so, it's a convenience for the user).

[2018-10-10 14:45] melvincarvalho commented on #855
@dmitrizagidulin I totally see where this is coming from.  One of my pet hates is a service that forces you to give up your email to use it.  It makes you even more reliant on centralized mail services.

However, in practical terms, what happens when someone wants to delete their account?  How do we verify it's them?

[2018-10-10 14:49] dmitrizagidulin commented on #855
I think the idea is - if they don't control that email, they don't receive the link that lets them delete the account :)

[2018-10-10 14:57] melvincarvalho commented on #855
@dmitrizagidulin to me that sounds reasonable in principle.  But how then to garbage collect accounts without an email.  People can get very irate when their name is on the web and they want it taken down immediately, and will blame you personally.  I had this happen to me once at Christmas.  Not nice.

[2018-10-10 15:05] melvincarvalho commented on #855
gitter conversation here

https://gitter.im/solid/node-solid-server?at=5bbe0a92ae7be940163220ab

That makes sense to me.

The use case for email verification in the context of solid is not obvious.

[2018-10-10 18:51] mintunitish commented on #850
If this issue still persists I can take this up!

[2018-10-10 19:33] kjetilk commented on #850
I think it would be very interesting to have, so please have a go, @mintunitish ! If you do, please branch off of the `release/v5.0.0` branch, but also be aware that we may do major changes to the code base after 5.0.0, see #788 for detailed discussion, so if you do many changes to node-solid-server, be warned that the code might change a lot after that.

[2018-10-10 20:38] megoth commented on #855
Should we allow an alternative route to take if trying to delete an account that you haven't registered with an email? The whole point of the email is to make sure that a user don't accidently delete an account because they were mislead to `/account/delete`; so how to make sure of this if we cannot use email?

[2018-10-10 21:49] kjetilk commented on #855
I think it is reasonable to verify the email if it is given. There could be abuse scenarios where people sign up someone with their email, then post something abusive, which could then engulf the victim in flames...

If we should require an email at signup is a different topic, I think. I don't have any strong opinions on that, but @timbl 's suggestion was that we should remind the user that setti

[2018-10-10 21:52] melvincarvalho commented on #855
@kjetilk it's a great point, but verifying email does not prevent claiming someone else's email after signup.

[2018-10-11 02:32] mintunitish commented on #850
Any pointers on where to start with!

[2018-10-11 02:49] tmciver commented on #788
I'll throw my hat into this ring. :)  I've made only very small contributions to this project but I too have found myself frustrated by the code.  I chalked it up to my dislike of and inexperience with Javascript, but it seems others feel the pain too.

Being a proponent of statically typed languages I see two strategies that could be used:

- if the refactor option is taken, do so by introducing

[2018-10-11 09:47] kjetilk commented on #850
Actually, I think this issue is pretty hard, I don't know how to do it. :-) I think it involves quite detailed knowledge of git, and I don't have that. Perhaps others on the team wants to chime in?

[2018-10-11 09:58] mintunitish commented on #850
@sidharrell need some explanation regarding the issue!

[2018-10-11 13:50] josephusmv opened #856 "Solid-test crash at "# Disable rejectUnauthorized when starting the server""
I am try to run the solid server as a developer without formal CA. So I followed the Readme and tried to replace the std solid from "solid.cmd" to solid-test

  "%~dp0\node.exe"  "%~dp0\node_modules\solid-server\bin\solid" %*
  "%~dp0\node.exe"  "%~dp0\node_modules\solid-server\bin\solid-test" %*

But when I try to run solid,(I believe it should be running this solid.cmd) it will crash with below

[2018-10-11 14:42] dmitrizagidulin commented on #856
The ‘invalid token’ part suggests that you’re running an earlier version of Node. solid-server requires Node 8 and above.

[2018-10-11 14:44] dmitrizagidulin commented on #856
Oh wait. No, it’s the fact that ‘solid-test’ is a bash script, not a node script. So you dont want to run it with node.exe.

Btw, solid-server is not supported or tested on Windows. You’re likely going to run into errors with native crypto, on windows.

[2018-10-11 15:02] PulsarFox commented on #778
I fixed this with a simple function adding the redirect_uri from the id token in the request parameter to the returnToUrl variable used for redirection on register success
[code]

But it requires a package called jwtDecode as I didn't find the redirect_uri with an other method than this...

[2018-10-11 20:44] megoth commented on #778
Hmm, this is interesting; could this be interesting to add as a PR? @dmitrizagidulin @RubenVerborgh

[2018-10-11 21:00] dmitrizagidulin commented on #778
@megoth so basically, we need to apply the same mechanism for redirect uri as we do for login. When the redirect code was refactored to be client side (in data browser), the register workflow was left out, so we need to add it. (I don't think this PR is the right approach for it, though.)

(Oh, also, don't forget that now the code was changed to not log the person in after registering, so that cou

[2018-10-12 12:49] megoth commented on #829
Hey, sorry for late response.

I think running node-solid-server globally has some reported bugs earlier, but cannot remember more right now. Maybe @dmitrizagidulin, @kjetilk or @RubenVerborgh knows more?

[2018-10-12 13:57] kjetilk commented on #829
Huh, yeah, that's pretty weird. Sorry I didn't see it before. We need to follow up on that, so I'll give it the bug label.

[2018-10-12 14:35] akjoshi opened #860 "Delete Account and Deactivate account"
#858 #853
1. - Add an option to deactivate the account for a pre-defined or user-defined period.
2. - Upon deletion of account, it might be reasonable to deactivate for some time so that the user has an option to reactivate. This will also take care of situations where accounts are accidentally deleted.

[2018-10-12 15:06] kjetilk opened #861 "Deleted account thombstone"
To complete https://github.com/solid/solid/issues/14, we need to record what to do with incoming requests after deletion. At the very least, we should make sure that nobody gets the same URI so that they can impersonate the former account owner.

As noted there, we should respond with `410` if nothing else has been recorded, but even better is it to allow users to register their new home and do a

[2018-10-12 16:58] dmitrizagidulin commented on #861
Another option would be to delete everything in the user's account dir, and then add a tombstone root `.acl` (and we can add an appropriate triple etc).

The way that the account creation API currently checks if an account already exists is - it looks for the presence of the root .acl file. So I figure, we might as well reuse that mechanism for the 410?

[2018-10-12 18:29] megoth commented on #860
This also ties into #861

[2018-10-13 13:19] RubenVerborgh commented on #829
Dear @Shuunen, seems like you are hitting https://github.com/solid/solid-auth-client/issues/73, and what is worse, hitting it from `https:`. Will follow up over there.

[2018-10-13 13:19] #829 closed

[2018-10-13 19:31] RubenVerborgh opened #862 "Login page is too long for login popup"
The UI changes in #842 have made the login page too long for the popup window:

<img width="762" alt="screen shot 2018-10-13 at 21 30 35" src="https://user-images.githubusercontent.com/675313/46909237-3b4b4000-cf2f-11e8-9a14-af9e1848dde3.png">

Rather than making the popup window larger (it feels about the right size), we should have responsive CSS that saves vertical space on small vertical windo

[2018-10-14 00:02] RubenVerborgh commented on #829
The bug in solid-auth-client leading to the `getItem` message has been fixed, and node-solid-server has been upgraded to include the fixed version bb8e9e62ed242a3cd3e284d2d68da069e5892f34.

However, I think your actual problem might have been a different one, namely the 500, so don't hesitate to reopen this issue if the problem persists in the latest develop.

[2018-10-14 16:49] timbl commented on #825
It could be a file index.ttl which only the owner has write access to

The HTML page could fill the dicument with a mixrure of our solid messaging and the owner’s readme.

The owner must of course have the option to replace the whole thing in their own style

[2018-10-15 10:18] kjetilk commented on #823
Issues such as should also go in here: https://github.com/solid/solid/issues/205

[2018-10-15 10:55] melvincarvalho commented on #823
Good point.  It's worth noting that nothing in solid says that anything in your pod needs to be public.  It's just the node solid server defaults.  We can explain this to users.

The slight confusion occurs because registration does two things

- creates a pod and public folder
- creates a public webid for those that dont have one (99% of users)

Longer term when signup is an app, we'll have bette

[2018-10-15 11:59] sebilasse commented on #621
@melvincarvalho ActivityPub support is awesome. Could you *reopen* this issue ?

@rhiaro While I agree that webfinger and ActivityPub are two separate specifications it would be nice to read a sentence about why webfinger can help ActivtyPub to satisfy the Fediverse.

[2018-10-15 12:02] RubenVerborgh commented on #621
@sebilasse Note that it is not "closed closed" as in the sense that we do not want to tackle this. Rather, it is tagged "revisit", which means that it is something we want to do at some point in the future.

We've made this change such that open issues reflect current bugs and priorities. So let's not reopen, unless someone wants to be assigned (in which case, be my guest).

[2018-10-15 12:39] melvincarvalho commented on #621
What @RubenVerborgh said.  We are still at design phase, we need concrete steps of how to implement this, and we also dont have anyone to assign it to.

I propose to break down the task into smaller chunks, review pieces, and create a plan for implementation.  Also needed would be some resources that will commit to testing the maintenance.

IMHO the low hanging fruit right now would be to allow no

[2018-10-15 13:35] sebilasse commented on #621
@melvincarvalho The spec. says

So isn't the filetype .jsonld ? @rhiaro

@RubenVerborgh In general I'd be happy to help with this.
Also pinging @cwebber [-> ActivityPub for SOLID]

[2018-10-15 13:41] RubenVerborgh commented on #621
I think we will not be able to implement that until #661 and #662 are incorporated (which we need for proper conneg) and they are unfortunately a lot of work.

[2018-10-15 14:04] elf-pavlik commented on #621
From what I recall `application/activity+json` has implicit JSON-LD context mandated by the spec. Because of that generic JSON-LD tooling can not handle it and it requires adding custom support for `application/activity+json`
It might make more sense to have solid server extensible so that someone could implement ActivityPub as an extension.  The ActivityPub RPC orientation with various side effec

[2018-10-15 15:30] cwebber commented on #621
Yes, @elf-pavlik has it right.  (This comes from ActivityStreams rather than ActivityPub itself.)

BTW, very happy to hear about this!  Getting the REST'y people and the Linked Data people to get along in the Social Working Group was a big win.  Convergence! :)

[2018-10-15 15:39] melvincarvalho commented on #621
How about a shared etherpad, where we can discuss a path to convergence?

[2018-10-15 17:19] gobengo commented on #621
I have a bunch of TypeScript code for various parts of an ActivityPub implementation in https://github.com/gobengo/distbin/blob/master/src/activitypub.ts

I'm down to extract a lot of it into a more generic library if anyone has thoughts on what sort of API might make sense.

[2018-10-16 07:57] he8us opened #865 "Unauthorized login after account creation"
While looking at #862, I discovered that I have Unauthorized written in as only text when I try to login from localhost:8443

What I did:
1. `npm run solid init`
2. `NODE_TLS_REJECT_UNAUTHORIZED=0 npm run solid start --no-reject-unauthorized`
3. Create an account
4. Click on the login button on the Solid Home
5. Click on `Login with localhost:8443`

I'm running on node 8.12.0 through nvm and I alr

[2018-10-16 08:37] he8us commented on #865
**note**: I might have restarted the server during the process

[2018-10-16 09:22] he8us opened #866 "Add password strength meter and validation on the change password page"
As raised by  @megoth in https://github.com/solid/node-solid-server/pull/842

_Originally posted by @megoth in https://github.com/solid/node-solid-server/pull/842_

[2018-10-16 13:53] megoth commented on #865
I've had the same problem earlier; I haven't understood the problem itself yet, but if you clear your localStorage you'll get another screen at least.

This usually happens after a restart of the server, so I'm guessing the tokens generated earlier is not valid after the server restart.

[2018-10-16 15:07] kjetilk commented on #865
So, is this a security problem, like it sounds to be? Or could it be a symptom of a deeper vulnerability?

[2018-10-16 15:20] he8us commented on #865
From the functional point of view, without the deep knowledge of the app, I view it like a session cookie that was still defined but the session was not found on the server (probably because it was stored in memory). Thus the server thinks that the client is unauthorized (which he is).

So no I don't think it's a security issue nor a vulnerability, it's more a UX issue since without the knowledge

[2018-10-16 18:06] melvincarvalho commented on #788
A couple of suggestions.

For balance, I'd recommend stake holders reading this (rather opinionated)  classic.  Posted without comment.

https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/

@kjetilk I think may be premature to label this as 6.0.0, because we dont know if the 5.0.0 API will change before "this" lands.  Suggest, keeping it as semver major, and giving it a co

[2018-10-16 18:16] melvincarvalho commented on #788
Less controversial I think is that if we are going to follow the [sever spec](https://semver.org/) (which we dont have to) after 1.0 the API should be fully documented.

Then any changes to that API should be the starting point of a semver major upgrade.  I'm unsure we have done that, but it would seem to be a good starting point?

[2018-10-16 18:34] RubenVerborgh commented on #788
Let me just pull out a quote for reflection then :wink:

You're right from an API perspective, but a rewritten or refactored version should probably still have a semver major change for safety reasons. That said, happy with v.next.

Oops, I did _not_ follow that for many of my projects 😮 We should probably aim for the spec being the documentation of the HTTP API. (But there's also the JS API then.

[2018-10-16 19:08] megoth commented on #865
I agree

[2018-10-16 20:05] kjetilk commented on #788
Ah, but that is the essence of what I've been saying all along. They were coding in an unknown, changing world, we are coding in a known world. That's a huge difference. And it is *the* difference that makes that statement wrong.

I don't know how long it'll take to rewrite it, but what I'm pretty sure is that it will take several years to get the current code into shape, and I'm pretty sure we wo

[2018-10-16 21:58] megoth commented on #825
@dmitrizagidulin FYI I've fixed the bug that you noted. I had to extend the list of files to be deleted after tests, and have refactored that into a utils-method for tests. (I tried using `emptyDirSync`, but that created a slew of other problems =P )

[2018-10-16 22:04] megoth commented on #825
@timbl I think maybe we're talking about different things here? This is for the server info page in general, not the individual index.html in users' PODs. Or am I misunderstanding you?

[2018-10-16 22:05] megoth commented on #825
For now I'm going to work with data being provided by config.json (as that is a concept that the providers should be familiar with), but it should be easy to move it elsewhere if people think that's better.

[2018-10-16 23:07] megoth commented on #825
I might have a PR ready, but want to check in with some people first: @justinwb @dmitrizagidulin maybe you want to look at https://github.com/solid/node-solid-server/compare/develop...feature/server-info to see if I'm going the right way on this?

- Copy all files from `default-templates/server` (and modifying tests to handle this)
- Added a section on `default-templates/server/index.html` that's

[2018-10-16 23:16] dmitrizagidulin commented on #825
@megoth the `server-info` branch looks good to me.

Although, why move the `processHandlebarTemplate` etc functions from `account-template.js` into the more generic `utils`?

[2018-10-16 23:29] megoth commented on #825
It was the "natural" place for me to put it, but I do admit I didn't think much before putting it there.

Which other files would it be "natural" to put it in? Or should I've created a new file perhaps?

[2018-10-16 23:33] dmitrizagidulin commented on #825
@megoth makes sense. Yeah, maybe a new file? like a template manager or something?

[2018-10-17 12:13] kjetilk commented on #841
Starting on this now, but since we are now just doing urgent things, my plan is to record a quota in the users database, and find something that works like UNIX `du`, and show the user a bar with their allowance, and then do something in the write operations to stop them from exceeding it.

[2018-10-17 12:50] megoth opened #868 "Add security.txt"
As I've mentioned at [the solid.mit.edu repo](https://github.com/solid/solid.mit.edu/issues/18), I think we should add [security.txt](https://securitytxt.org/) where it makes sense.

I suggest we do this as a default for the Solid server as well, and perhaps as a default for users data PODs as well?

I can extend this as part of the work I've done on [server-info](https://github.com/solid/node-sol

[2018-10-17 14:04] csarven commented on #841
One way to generalise this issue would be to have server-centric resources that can include desired content.

[2018-10-17 14:06] kjetilk commented on #841
Oh, yes, @csarven . But right now, we're not looking to generalize, that's for later, we're just fighting fires now :-)

[2018-10-17 14:06] kjetilk commented on #841
Let me see, @melvincarvalho !

[2018-10-17 14:09] melvincarvalho commented on #841
[code]

Could be roughly what we need.

It's also close to how I've modeled payments, so we could at some point integrate payemtns and quotas, is why I ask ...

[2018-10-17 14:11] megoth commented on #825
@dmitrizagidulin I've updated https://github.com/solid/node-solid-server/compare/develop...feature/server-info; I propose we move the utils functionality into `lib/common`, where we would distinguish more on what util-methods we have.

I've created `lib/common/fs-utils` and `lib/common/template-utils` for now, and we should move the functionality from `lib/utils` to more specific files later (didn

[2018-10-17 14:13] megoth commented on #825
Apart from that, should I continue with the assumption that custom info reg the server should be in `config.json`? I need to know if this is the way to go before I can continue this.

@kjetilk @RubenVerborgh @timbl

[2018-10-17 14:14] kjetilk commented on #841
Ah, great!

But that should not be writeable to the user, so where do I store it? Somewhere in settings, with an ACL that grants only read access?

But how we go for MBs as the smallest unit of quota?

[2018-10-17 14:20] RubenVerborgh commented on #825
Yes.

[2018-10-17 14:37] kjetilk commented on #841
Yeah, but I figured if is stored as RDF, I can do it right away, otherwise you'd need to file a feature request. :-)

So, the obvious place to store it in the current arch is in the `users` part of the key-value store and implement it in the `UserAccount` class, which is what I started doing. But it is certainly also an option to store in a file in settings along with prefs.ttl et al... I don't kn

[2018-10-17 14:42] melvincarvalho commented on #841
Of course!

Any future unexpected reuse is a bonus.

I suggest writing out the design before diving in, would be useful.

Yes, so we need an ephemeral value showing how much disk is left.

And we need either a server wide quota limit, or a per user quota limit, or a default than can be upped (say for different tiered usage)

[2018-10-17 14:45] melvincarvalho commented on #841
Just sprung to mind.  @megoth did a cool thing yesterday where he created a file that he could read, but not write to (in his own space).  Perhaps this is the path to creating system files.

We have a file in /profile/  something like quota.ttl and set the acl to read only so only the system can write to it.  Just an idea (thinking outside the box).

[2018-10-17 14:47] melvincarvalho commented on #841
`profile probably the wrong place for it`

maybe `.system` or `.well-known/solid`

[2018-10-17 14:50] kjetilk commented on #841
Yes, that was what I had in mind. But settings seems even better.

So, I found the posix-stat, which has size, but I would have preferred a datatype, e.g.
[code]

[2018-10-17 21:21] dmitrizagidulin commented on #841
That seems.. problematic :) Are we really going to store files over which the user has no control, in their data space, DRM-style?

[2018-10-18 07:21] melvincarvalho opened #870 "document.origin should read window.origin or self.origin"
There is a warning in chromium saying that document origin will be removed in October.

        $rdf.Fetcher.crossSiteProxyTemplate = document.origin + '/xss/?uri={uri}'

https://github.com/solid/node-solid-server/blob/c7ee4aa19be43b934d0b0e60c382717aeccc2a7a/static/databrowser.html#L14

https://www.chromestatus.com/features/5701042356355072

[2018-10-18 07:38] #870 closed

[2018-10-18 07:42] melvincarvalho commented on #870
This should be pushed asap, or to master, as chrome says it's landing in october 2018

[2018-10-18 07:43] RubenVerborgh commented on #870
Feel free to ping @kjetilk for a release.

[2018-10-18 07:44] RubenVerborgh commented on #870
BTW Nothing popular is really going to break; `document.origin` will simply be `undefined`. Cross-site fetching is off by default on the server.

[2018-10-18 09:31] mintunitish commented on #824
Is this done? If not can I grab this issue?

[2018-10-18 09:32] mintunitish commented on #799
I would like to take this up!

[2018-10-18 11:31] kjetilk commented on #824
@mintunitish Thanks for volunteering, but I think this is something we have to do on the backend, so we would need to do it internally.

[2018-10-18 11:35] kjetilk commented on #870
We are *this* (holds up two fingers together) close to closing #858 , which would prompt 4.2.0. This should go along. I really hope we can do that today.

[2018-10-18 11:35] megoth commented on #799
@mintunitish give it a go ^_^

This is my proposal for how to solve it:
- Add an option to the init-script where the service-provider can link to their terms of service
- If option is in use, link to it from the register account page
- If option is in use, add checkbox that needs to checked to be able to create account

[2018-10-18 12:21] megoth commented on #841
Does it need to be stored in their data space though? We could manage a separate data space where system-controlled data are stored, couldn't we? Just so that we don't mix system-controller and user-controller files.

[2018-10-19 07:08] melvincarvalho opened #876 "consider renaming localhost.key to privkey.pem"
and localhost.cert to fullchain.pem

to match the widely used standard used in letsencrypt

aim is to take some of the pain out of creating a cert

other systems (eg jitsi) do this automatically for you, this is just a first step

[2018-10-19 17:30] megoth opened #877 ""No permission to access this resource" with account A should have a button for easy switching between accounts"
As people might have multiple WebIDs, it should be easy to switch account if you're trying to access a resource that is not shared with your account A, but is with account B.

(If I'm misunderstanding how WebID handles this case, please let me know)

[2018-10-19 18:30] RubenVerborgh opened #878 "Logging in on a PDF resource doesn't work"
### Context

Given a pod with a PDF file at https://pod.com/file.pdf.
The PDF file is ACL-protected.

### Expected behavior
1. When going to the URL, you are asked to log in.
2. You log in.
3. The page refreshes and you see the PDF.

### Actual behavior
3. Log in fails, 401.

[2018-10-19 18:31] RubenVerborgh commented on #878
Possibly/likely for all binary or non-Turtle files.

[2018-10-19 19:52] KempfCreative commented on #862
Fantastic, I will get something up in a PR ASAP. Thanks!

[2018-10-20 05:51] m14t commented on #838
I just created PR #879 for this.

[node-config](http://lorenwest.github.io/node-config/) seemed a little opinionated to pull in to an existing project since it wants your config file to live in `config/${NODE_ENV}.json`.

Given that we already have a list of options we want to support, I looped over this in ~20 lines of code to accomplish this without any 3rd party libraries.

If this is close to

[2018-10-20 12:21] RubenVerborgh opened #880 "Ban certain usernames that could cause confusion or annoyances"
Names like www, admin, and profanity.

[2018-10-20 13:33] elf-pavlik commented on #880
Would *profanity* list come from a configuration of each deployment? Also managing i18n list of profanities might come as challenge.

[2018-10-20 13:55] RubenVerborgh commented on #880
The entire list, I guess.

[2018-10-21 15:55] melvincarvalho commented on #788
@kjetilk this comes across as an appeal to authority, concrete details of what we can fix, I find easier to digest.

Im looking forward to a concrete design proposal, which I hope would be an input to v.next.  Typescript interfaces are a good start.  Documenting the current API as per the [semver](https://semver.org/) spec also will help.

With my user hat on, I see the risk that the upgrade path

[2018-10-21 16:02] melvincarvalho commented on #788
@RubenVerborgh I think there's going to be a need for some things after v5 comes out.

Off the top of my head, having been to several years of meetings on this :

We've wanted the ability for the server to save who has written a file, if they are authenticated.

We've also wanted atomic updates to more than one file at once.

Just examples, there could be more.

[2018-10-21 16:19] RubenVerborgh commented on #788
@melvincarvalho What we are trying to argue here is that such seemingly simple features are extremely complex on the current codebase, and that implementing n such features on the old server will effectively cost more work (for a less qualitative result) than rewriting the server and implementing those features there.

Case in point: do check the code that was needed to implement account deletion,

[2018-10-21 17:04] melvincarvalho commented on #788
@RubenVerborgh I hear you loud and clear!

My point is that there is a mix of arguments in this thread.  Some appeal to authority, some anecdotal evidence, some burden of proof shifting, some proof by analogy, and some technical details.

What I'm saying is that the Eiffel Tower / Pyramid of Gaza metahpor, while colorful is less persuasive than the complexity of deleting an account, which is a gre

[2018-10-21 17:19] RubenVerborgh commented on #788
One line of code doesn't work; there's still the account db and associated management.

[2018-10-21 17:28] RubenVerborgh commented on #788
In theory, your right; in practice, we have finite resources and a high speed at which we need to move.

[2018-10-21 18:35] elf-pavlik commented on #788
I think in the end **who does the job calls the shots** and [contributors insight](https://github.com/solid/node-solid-server/graphs/contributors) gives a good notion of that part of the equation.

[2018-10-21 19:44] megoth commented on #880
I guess this issue would also entail removing existing accounts that fall within the ban as well? How should we handle that =/

[2018-10-21 19:58] RubenVerborgh commented on #880
Only if they are problematic.

[2018-10-21 21:16] rimmartin commented on #880
Another tough thing to parse/recognize is context and meaning.  Such as Mr Coon or Senator Coon

[2018-10-21 21:43] rimmartin opened #881 "text/turtle parser N3.js on client side?"
Hi,
when text/turtle is returned to the client side from a GET of a container
[code]
do you recommend using https://github.com/rdfjs/N3.js to parse and work with the list of quads?

[2018-10-21 21:49] kjetilk commented on #880
Hmmmm, but that could could result in a lot of questions about why this and not that? I think we should mainly consider things that could be used in social engineering.

[2018-10-21 21:49] sidharrell commented on #850
Git repos may have originated with programmers, but today they are used for anything requiring tracking small changes made to text files, like writing books. Sometimes you want to publish personal data to the web that includes not just a finished product, but revelations about the process that you used to get to that product.
From what I could tell poking at the interface, the problem seems to be

[2018-10-21 21:53] kjetilk commented on #788
@melvincarvalho Yeah, I appreciate your call for details, but we need to have 5.0.0 out before we can devote more time to v.next.

[2018-10-21 21:55] kjetilk commented on #862
Awesome, @KempfCreative ! Please note that the code is released under the MIT license, so please indicate if you are OK with that.

[2018-10-21 22:22] megoth commented on #880
Maybe the blacklist could contain the username not allowed and a reason for why? So that if people try to use that name, they would get a reason behind it?

The list would of course have to be maintained by the POD providers, and they would have different reasons for which usernames they allow and disallow. The base file that we provide with the installation/git repo would contain the names that i

[2018-10-21 22:23] megoth commented on #881
Hey, I think maybe this is a better question to ask in the forum? https://forum.solidproject.org/

[2018-10-21 22:48] KempfCreative commented on #862
@kjetilk I am more than happy to contribute to an MIT project 👍

Just working on a few issues I am having with my local version of the project, and then will open a PR.

[2018-10-22 08:00] he8us commented on #862
Hello @KempfCreative, don't worry I'm in a rush in my job so I don't have time to finish it.

My feedback on what I already did:
I tried to use the boostrap classes `col-sm-` and `col-xs-` but that doesn't change layout to 2 columns in the modal. I did not had time to test that form on my mobile phone but I think on the phone it should be on 1 column otherwise it would be too small.

Be also aware

[2018-10-22 11:05] #177 closed

[2018-10-22 12:23] dmitrizagidulin commented on #788
I don't have an opinion on whether nss should be refactored or rewritten (I'm refactoring it in my spare time, but I'll be equally thrilled if it's re-written). And I wholly agree that the general state of nss code quality makes it difficult to work with.

But I do want to push back against a given example.

@RubenVerborgh

@melvincarvalho

This is a great example of some of the misunderstandings

[2018-10-22 12:34] RubenVerborgh commented on #788
Indeed: there's the UI, storage, accounts, and tests for all of these.

The single-responsibility principle is violated in many places. Too many moving pieces.
https://github.com/solid/node-solid-server/pull/858/files took 20 changed files and over 1,000 new lines of code. Duplication of existing code because insufficiently modular. Cannot nearly be tested as well as we want to. No one dares to st

[2018-10-22 12:51] dmitrizagidulin commented on #788
I don't have an opinion on whether NSS should be refactored or re-written (I'm refactoring it in my spare time, but I'll be thrilled if it's rewritten). And I agree, that the general code quality of NSS makes it difficult to work with.

But I want to push back against a particular example above.

@RubenVerborgh

@melvincarvalho

This is a great example of some of the misunderstandings in this disc

[2018-10-22 12:52] kjetilk commented on #788
Yeah, I just didn't feel obliged to point that out. There's a lot of stuff going on under the hood.

However, I'm pretty sure somebody has already written code that does account deletion. There should be a framework somewhere will such things are already implemented, and an architecture should just wrap this with minimal code.

[2018-10-22 12:53] dmitrizagidulin commented on #788
(Ugh, apologies for the double-post. Github is acting up for me today.)

[2018-10-22 12:56] dmitrizagidulin commented on #788
Ok, so, let's take a look at the [account deletion PR](https://github.com/solid/node-solid-server/pull/858/files). There's 20 files affected, which may seem like a lot for something as "simple" as account deletion. But let's take a look at what files they are. 5 of those are UI template updates (and one email template). 4 of those files are unit tests. And 2 are (not quite sure why) a `package.jso

[2018-10-22 17:04] RubenVerborgh commented on #788
Point taken, I didn’t pick the best example regarding number of changes.
Other points still stand though (but happy to be proven wrong).

A better example with regard to number of changes is:
“Solid, please don’t assume that extensionless files are Turtle.”
Seems like a simple enough things.

After having created all of the rules that govern extensions and MIME types
into one file (https://github.

[2018-10-22 20:01] dmitrizagidulin commented on #788
@rubenverborgh ohh yeah, no argument there.
That kind of stuff is a _nightmare_ to change. Wholly agreed.

[2018-10-22 20:52] melvincarvalho commented on #788
Why is this a requirement?  Surely it was a design decision.  And one which made the patch more complex.  Is there also a requirement to delete all entries in the server back ups?  Point 1 - design can influence complexity, as well as architecture!

Similarly careful reading of my comment shows that I was referring to the server side work, not the client side UX which is a different set of files,

[2018-10-22 21:53] kjetilk commented on #856
Was your question answered, @josephusmv ?

[2018-10-22 22:00] kjetilk commented on #816
Could you check that the paths in `config.json` are correct?

[2018-10-23 11:44] melvincarvalho commented on #788
@RubenVerborgh you can test this using our dev server solidtest.space -- remove a directory and then try logging on.  The server should not blow up by removing files, because solid was designed to remove files.  You can also read the code and write a degree of automated test.

The urgent requirement in this case was to remove email address and name from public publishing.  The solution was more co

[2018-10-23 12:00] RubenVerborgh commented on #788
Note that the deletion mentioned here is _not_ covered by the Solid spec, because it's a deletion above the level that the regular HTTP interface can access, namely the folder `/` itself. The user does not have an ACL on that folder.

Both of which are really hard, because of the codebase state and architecture.

People demanded account removal really.

The "hyperbole" in this issue was about much

[2018-10-23 12:53] kjetilk commented on #788
@melvincarvalho Yeah, I gotta echo @RubenVerborgh 's sentiment here. You have done nothing to document your assertion that a refactor is the lower-risk operation, because you have not provided any evidence for how and where refactoring can be done. For the record, I think both are high risk operations, but for different reasons: Refactor is high risk because the known volume of work to be done is

[2018-10-23 12:56] melvincarvalho commented on #788
I'm not arguing that, because it is self-evident.  Refactoring, by definition, cleans up code, without changing functionality.

I hear your view that you consider it impractical, but it's not the only view that can be had.

During the process of getting to 5.0.0 I've identified things that can be refactored, such as the [get handler](https://github.com/solid/node-solid-server/blob/master/lib/handl

[2018-10-23 13:05] josephusmv commented on #856
Hi, @dmitrizagidulin, sorry for the late reply.

1. My node version is v8.12.0
Jomu_@LAPTOP-PTBKQDUP C:\Users\Jomu_\go\src\github.com\josephusmv
$ node --version
v8.12.0

2. I am using solid.cmd, which is a batch command. And thanks for the notification, the solid-test is a bash script. Silly me, thanks for noticing~ I will try to convert it to windows. Let me know this is an mission impossible or

[2018-10-23 13:10] RubenVerborgh commented on #788
Thankfully.

And I'm willing to consider any other view, given evidence for its validity.

It's not self-evident.

It's not because we're not changing functionality, that it is suddenly low-risk. I challenge you to refactor any of the node-solid-server files from callbacks to promises or async. Zero functionality change, but tell me again it's low risk when your're done 😄

[2018-10-23 13:13] megoth commented on #799
@mintunitish did you ever get going on this? I'm planning on taking this task if not ^_^

[2018-10-23 13:37] elf-pavlik commented on #788
:+1:

@melvincarvalho looking at [all the 18 commits you made to this repo](https://github.com/solid/node-solid-server/commits?author=melvincarvalho) it looks mostly like release commits, merging PRs and documentation plus few small feature / bug fix commits.

I think that if other contributors shift their focus to rewrite they will still review your PRs where you focus on refactoring existing cod

[2018-10-23 13:50] megoth opened #882 "Validation of LD-files"
When posting triples as TTL, RDF+XML, JSON-LD, etc, I think we should do validation on the server. I don't think this should be to hard to implement, but the devils probably in the detail, so want to have a good discussion on this.

Also, I'm uncertain if this should be part of 5.0.0. or v.next. Any thoughts?

[2018-10-23 13:52] kjetilk commented on #856
@josephusmv I think we should support developers on Windows. I'm not aware of any corresponding script that could help, but that doesn't mean it doesn't exist, I just don't know anyone who is using Windows for Solid development.

A PR for a batch script that plays the role of `solid-test` will be most welcome!

[2018-10-23 13:55] kjetilk commented on #882
I think it is clearly a part of the v.next architecture, but it seems to touch all the handlers in the current architecture.

[2018-10-23 14:04] melvincarvalho commented on #788
To be slightly clearer.  I'm using what I think is the standard understanding of [refactor](https://en.wikipedia.org/wiki/Code_refactoring).

Certainly, as I stated, some refactoring may be impractical or not cost effective.  But if itself is a refactor, it will not be risky, just time consuming.  Otherwise it's not a refactor.

Hope that clear that one up.  I'm going to bow out of this thread now

[2018-10-23 14:46] RubenVerborgh commented on #788
Indeed, and an important part of the argument here is our evidence that refactoring of NSS seems to demand more work (for less result) than a rewrite.

Nothing in the definition you posted precludes high risk.

Quite the contrary, your definition says "without changing its external behavior", but we currently have very limited ways of know whether that external behavior changes. It is **very** har

[2018-10-23 18:08] akuckartz commented on #882
What happens when there is no validation?

[2018-10-23 19:19] PakanaProjects commented on #876
I would like to work on this issue, seems like a great idea.

[2018-10-23 19:22] kjetilk commented on #882
The server would respond with a `400`. It is no replacement for client-side validation, but it is a last stand against breaking stuff.

[2018-10-23 23:26] kjetilk opened #883 "Getting 401 after login"
I'm trying to access https://timbl.com/timbl/ getting a `401`. I click Log In, and get a pop up. I log in with my WebID https://solid.kjernsmo.net/profile/card#me and it says "Logged In". The popup disappears, nothing seems to happen, so I reload the page, and I get a `401`.

I'll be around to help debug tomorrow.

[2018-10-23 23:40] kjetilk opened #884 "Unresponsive Log In button in popup"
Again visiting https://timbl.com/timbl/ and getting a 401. Hitting "Log in" and getting a popup, choosing custom provider. I enter my WebID, but when I hit "Log In", there is apparent response.

In the console, I see
[code]

(perhaps there is a better way to paste this log?)

There is no network activity when I do this. I'll be around to help debug.

[2018-10-23 23:57] melvincarvalho commented on #883
I can report the same issue with my WebID

https://melvincarvalho.com/#me

[2018-10-24 01:08] mintunitish commented on #799
@megoth sorry about the delay. I have been caught up with some stuff and unable to proceed on this. Please go ahead.

[2018-10-24 05:48] timbl commented on #884
Note you should have got 403 as there is no public access to the root.  This works for me logging in with my webid.
What happens if you try https://timbl.com/timbl/Public/ ?

[2018-10-24 05:51] megoth commented on #884
Just to leave my experience on this:

- I went to the URI, clicked Log in button
- Got a popup
- Logged in with my solid.community WebID
- Popup closed, and page refreshed
- I'm getting a 403

(So all in all, the way I expected it to work.)

I'm sitting on macOS Mojave, Version 10.14, and used Chrome Version 69.0.3497.100.

[2018-10-24 05:55] megoth commented on #788
Maybe we distinguish between improving code (which includes refactoring, but also restructuring certain parts of the code) and rewriting, instead of (just) refactoring and rewriting?

I should note that I'm for rewriting, as I think refactoring the current code base is going to be extremely difficult (that is, I think we would have to go through many rounds, and quite certain that it would take mo

[2018-10-24 06:00] megoth commented on #882
I also think this would limit some of the issues that people have experienced (https://github.com/solid/solid/issues/165, https://github.com/solid/solid/issues/206, https://github.com/solid/node-solid-server/issues/826)

[2018-10-24 06:36] steven-tomlinson commented on #876
@kjetilk  Thanks for the opportunity to participate! Also. using my real name now instead of 'PakanaProjects', that just looks weird.

I updated the README.MD and EXAMPLES.MD documentation for setting up a self-signed certificate and key. A single-line command will explicitly generate PEM certificates. I also updated the 'config.json-default' file to reflect using 'privkey.pem' and 'fullchain.pem'

[2018-10-24 08:19] JeromeK13 opened #886 "Webid-TLS -> Error: self signed certificate"
Hey Guys
I recently created my SolidServer(local).
So i created an account called "adminswiss".
Solid POD URL: https://adminswiss.localhost:8443
Solid WebID: https://adminswiss.localhost:8443/profile/card#me

I also create a Certification with this Script where i entered my Name + WebID:
https://github.com/njh/gen-webid-cert

Now:
If i wannt to Login with the Certification i get this error:
![imag

[2018-10-24 08:36] melvincarvalho commented on #876
@steven-tomlinson wonderful, do you have a pull request?

Anything that streamlines the install process I think is a plus.  I recall Tim did ask us to use ACME in the longer term.

Perhaps further work for a future PR is :

Moving

../localhost.key -> ./localhost.key

Im unsure why it goes in the parent directory -- perhaps the assumption is that you are already in `bin`.

[2018-10-24 08:46] kjetilk commented on #886
When using a self-signed certificate, you have to start the server with `bin/solid-test` rather than the usual `solid` binary. Can you try that?

[2018-10-24 08:56] kjetilk commented on #884
@timbl https://timbl.com/timbl/Public/ works as expected on both my boxes.

There is no network activity when hitting "Log In", so it seems like a client side problem.

It works in Chrome (I end up with a `403`), but not in FF 60.2.1esr on Debian Jessie.

[2018-10-24 09:40] JeromeK13 commented on #886
`solid start --no-reject-unauthorized`
Started the Server with this command, but the error still appeared.

I also tried this one:
`solid start --auth tls --no-reject-unauthorized`
(Here i have to enter my Password for the Certification like 4 times to enter the website)

[2018-10-24 11:37] megoth commented on #876
The reason is so that people don't accidently add those files to Git.

[2018-10-24 11:42] kjetilk commented on #886
Yeah, you need to replace `solid start` with `solid-test start`

[2018-10-24 12:10] JeromeK13 commented on #886
Input:
`solid-test start`
Result:
`-bash: solid-test: command not found`

Cant find the command but it is located at ` /usr/local/lib/node_modules/solid-server/bin`

Thanks for your help 👍

[2018-10-24 12:32] JeromeK13 commented on #886
worked perfectly with `/usr/local/lib/node_modules/solid-server/bin/solid-test start` 👍

[2018-10-24 12:34] kjetilk commented on #886
Great! Good to hear

[2018-10-24 12:34] #886 closed

[2018-10-24 15:35] steven-tomlinson commented on #876
@melvincarvalho this would be my first PR, just wanted to make sure I was doing solving the correct problem before wasting anyone's time. I will set it up now.

@megoth and @melvincarvalho ... the guidance set forth in the README originally is to place the certificate and key one folder up from the source to prevent accidental check-in.

[2018-10-24 15:38] justinwb commented on #788
Just wanted to add this bit to the discussion in hopes that it will allay any concerns about diversion of attention from current server during rewrite or refactor efforts.

We are currently, and will continue to dedicate resources to sustain and stabilize the current server. It's what we have now, and will be until we have something better. And so in the dialogue here (which is all good and constr

[2018-10-24 15:54] melvincarvalho commented on #876
@steven-tomlinson excellent work!

We very much appreciate pull requests, thanks for diving in.

The only thing I'd say is that since you have changed `./config.json-default` the [Dockerfile](https://github.com/solid/node-solid-server/blob/master/Dockerfile) references this.  So we could either remove that reference or change the Dockerfile too.

@kjetilk could you point me to the current up to da

[2018-10-24 16:37] steven-tomlinson commented on #876
@melvincarvalho thank you

I don't have much experience with Docker but seems like a fairly trivial fix. I am happy take a shot at it and submit a follow-up commit.

[2018-10-24 19:17] steven-tomlinson commented on #880
IMO banning common names that could be used for social engineering seems fairly straightforward and reasonable.

The profanity issue is a whole other can of worms.
I am inclined to ignore that sort of thing unless I find it personally offensive. In which case, I would probably consider that to be a troll account and block it on the existing social media platforms.

Maybe we need some kind of Usern

[2018-10-24 20:04] RubenVerborgh commented on #884
Cannot reproduce in FF62 on macOS.

[2018-10-24 20:38] kjetilk commented on #876
There aren't a lot of strict guidelines, tests will check for style. The author's should indicate that they accept that this is released under the MIT license. And we need to decide whether this is a semver major or a minor issue. In the former case, base the branch on `release/v5.0.0`, in the latter case on `develop`.

[2018-10-24 23:58] steven-tomlinson commented on #876
@kjetilk & @melvincarvalho

I updated the pull request comment to indicate that the contribution to Solid is released under the MIT License.

[2018-10-25 13:46] james-martin-jd commented on #884
To add my experience, when trying to log in with the custom provider option, I add my webId and the login button does nothing.

In the browser console, I see the following errors:
GET https://janeirodigital.exchange/jwks net::ERR_CERT_DATE_INVALID
popup.html:24 Error logging in with WebID-OIDC
TypeError: Failed to fetch

For me it is making network calls, though.

[2018-10-25 14:13] kjetilk commented on #884
Uh, weirdness... Looks like this is yet another problem. At least, it sounds like we should have better error handling.

In my case, the cert has not expired (I'm seeing an email every night :-) ).

Also, it sounds like this is a problem in solid-auth-client?

[2018-10-25 16:08] RubenVerborgh commented on #884
Sounds like a cert problem?

[2018-10-25 17:15] melvincarvalho commented on #876
Looks good to me, the only diff seems to be that it's one line instead of 2 and that you have an interactive part.  However this is just a README so ought not affect any code.

Thanks for taking it on, and even streamlining it!

Happy to go forward as @kjetilk suggests.

[2018-10-25 17:17] josephusmv commented on #856
Sorry for the late replay, too busy on works...And Thanks for your kindness, since I realized that cygwin definitely be a better choice.
A direct interpret would be quite easy:
[code]

But I am not quite understand the internal logics, the calling process failed on parameter checking:
[code]

I believe this should be caused by illegal parameter to the cli.js.startCli(server) function. I may need f

[2018-10-25 19:40] kjetilk commented on #856
Mmmm, I don't understand much of this, @dmitrizagidulin , can you help?

[2018-10-25 19:44] kjetilk commented on #884
For @james-martin-jd and Luis, it was, but in my case,  I'm pretty sure it isn't. My certs haven't expired...

[2018-10-26 08:13] RubenVerborgh commented on #884
Thanks all, following up in https://github.com/solid/solid-auth-client/issues/82.

[2018-10-26 08:13] #884 closed

[2018-10-26 14:20] ricklyman commented on #816
config.json:
  "sslKey": "../",
  "sslCert": "../",

$ solid start
ERROR Can't find SSL key in ../

$ openssl genrsa 2048 > ../localhost.key
Generating RSA private key, 2048 bit long modulus
....................................................+++
...........................................+++
e is 65537 (0x010001)

$ openssl req -new -x509 -nodes -sha256 -days 3650 -key ../localhost.key -subj '/CN

[2018-10-26 20:20] kjetilk commented on #816
Right, so these need to point to the actual files, so it looks like something went wrong in `solid init`. What do you think,  @dmitrizagidulin ?

Anyway, we have #887 in the pipeline to be released soon. That may make this somewhat more intuitive too.

[2018-10-27 23:04] timbl commented on #881
The fetcher automatically uses n3parser.js to parse a turtle file, putting the result on the store.
https://github.com/linkeddata/rdflib.js/blob/master/src/n3parser.js

https://github.com/linkeddata/rdflib.js/blob/master/src/fetcher.js#L643

[2018-10-27 23:19] timbl commented on #880
We should ban *www* because Google tends to represent www.foo.bar the same as foo.abr in future, which would be a security issue:  Someone grabing the www username would be able to pose as the whole site, for example probpting for new user names and passwords. Adding security tag,
https://github.com/linkeddata/rdflib.js/blob/master/src/fetcher.js#L643

“I don’t know what this will look like, becau

[2018-10-28 04:52] KempfCreative commented on #862
So I have taken a few hours here and there to try and verify my approach locally. However, no matter what I do, I am not getting the local version of this application to function how I expect. I could use some help.

Here is what I am doing:

1. Following the approach in the README.md to get a local version running locally 👍
2. Editing .hbs & .css files ( such as common/css/solid.css | default-vie

[2018-10-28 17:04] timbl opened #889 "Redesign a user's private home page/home screen"
When a user is logged on they should a great starting home page, different from the public the page which everyone else sees sees when the click .

- Access to the core things everyone starts off with: public folder, address book
- Access to all the things they have already made
- Access to a set of apps/facilities which the solid project would like to point  out to them
- A time line view of rece

[2018-10-28 17:24] timbl opened #890 "Public-facing user home page redesign"
When you click on someone's webid, wherever you click on a link to them in the solid world, they will want you to see a profile display which does them  credit and represents them well on the web.  This is  quite different from the private home screen which  is covered in https://github.com/solid/node-solid-server/issues/889.
 What sort of things?

- Photo(s)
- Customizable style, color, etc, back

[2018-10-28 18:33] kjetilk commented on #889
Yeah, this is important. I'm just thinking that this is something we should decouple from the server itself, that it is an app on its own. It could be distributed as a dependency of the server, but not as part of the same repo and the same npm package. That way, it could have independent evolution. What do you think about that?

[2018-10-28 18:34] kjetilk commented on #890
The comment that I posted to #889 applies here too, that I think this should be an app.

[2018-10-28 19:39] RubenVerborgh commented on #889
So we want the front page to be an app, rather than something static.

I fully agree, but this has quite some codebase consequences for the current NSS.

I agree with @kjetilk that we should decouple the front-end part of the server from the backend, this will also give us compilation pipelines etc., solving some of our other issues. However, I don't think one should be a dependency of the other,

[2018-10-28 20:16] steven-tomlinson commented on #889
FWIW: @rubenverborgh is on the right track in my opinion.
I am thinking about the "Panes" app specifically in this context. I am probably confused but I was under the impression that the Panes app was intended to address this type of requirement.
Is that not the case?

[2018-10-28 20:56] kjetilk commented on #889
Right. No strong opinions on the dependency argument here. In Debian package semantics, there's also "recommends", "suggests" and "enhances", pairing the latter might be better, BTW.

Also, I think "everything as an app" (EaaA hereafter) is the direction that @melvincarvalho wants to go too, if I have understood him correctly.

I think that EaaA is feasible for v.next, but not earlier. However, I

[2018-10-28 20:58] RubenVerborgh commented on #889
What we could do for v5, is create a new repository for the homepage (with compilation pipeline and everything), and just include a static export in the server repo for now. Or we could link it similarly to how we link solid-auth-client and mashlib.

[2018-10-28 21:09] melvincarvalho commented on #889
@kjetilk no strong view.  The idea originally was to develop a dashboard app.  The index page was put together in a few hours as a stop gap.

[2018-10-29 00:12] konobi commented on #849
@kjetilk mentioned this issue to me and I'd like to help out on the node debugging, tracing, analysis side. I'm rather new to solid but if you have a test scenario/replication available for this issue, I can get rolling pretty quickly.

[2018-10-29 01:13] megoth commented on #890
The thing I really like about app-ifying this as well is the possibility people have of customizing their profile. I think a lot of people will enjoy this feature (We could get another round of "Geocities"-home pages =P )

[2018-10-29 16:22] pheyvaer opened #891 "Prefixes incomplete in turtle file added to the server"
I add the following Turtle to the server (via HTTP PUT) at the location `https://ph_test.solid.community/public/test.ttl`:

[code]

However, when I do HTTP GET of `https://ph_test.solid.community/public/test.ttl#something` I get:

[code]

The problems are that I do not have the full URL of `:something` as the prefix has only `#` and the prefix `c` does not have the full IRI as the hostname is miss

[2018-10-29 16:49] rimmartin commented on #881
hi @timbl, I began switching to and using solid-auth-client. I don't know if it gives access to a store.

testing using N3 myself on client side; learned I have to do some heuristics to gather all quad data together for given child Resource.  This is doable; I'm thinking about where the demarcation between server and client functionality is stabilizing.  Realising the power of rdf maybe should rem

[2018-10-29 20:35] kjetilk commented on #891
Actually, these are [relative URIs](https://tools.ietf.org/html/rfc3986#page-26), and the resolution is done by the parser, or somewhere in the app code. Usually, you will end up setting it relative to the URI of the document. In your case, following the algorithm in RFC3986, the URI of `:something` would be `https://ph_test.solid.community/public/test.ttl#something`.

This is actually pretty usef

[2018-10-30 12:19] pheyvaer commented on #891
I was thinking that it was something like that, but I was confused about paths starting with `#` and `/`, but got it working now (see below).

Cool! Hadn't thought about it like that :smile:

At the moment I do the GET and parse the file with the [`N3.Parser`](https://github.com/rdfjs/N3.js#parsing) to which I provide the baseIRI.

[2018-10-30 13:51] kjetilk commented on #891
Right! I think we could make the Turtle a bit more human friendly too! :-)

[2018-10-30 13:56] justinwb commented on #849
@konobi great thanks for jumping on this! the good news is that from what we've seen, this happens consistently, and so it's really just a matter of narrowing down the spot in the code where the resource is getting opened and not closed cleanly.

I think the right way to track this down is to start with a server that has no other activity aside from your own, then get a node debugging session goin

[2018-10-30 13:57] pheyvaer commented on #891
Nice! :smile: Thanks for the clarifications.

[2018-10-30 13:57] #891 closed

[2018-10-30 13:59] PulsarFox commented on #830
The provider.json file located in .db folder (created at the first server startup) does not update itself if you change the port, maybe that's the case here

[2018-10-30 23:38] konobi commented on #849
I've been able to replicate the file descriptor leak pretty easily, just refresh the page on "https://<host>/profile/card#me" and you'll get an additional fd after each request. Am attempting to go through the debugger stepwise, but Promises really make that an exercise.

I had hoped to get a coredump from the server by using abort-on-uncaught-exception and reducing the ulimit file count to about

[2018-10-31 15:18] megoth commented on #880
I'm going to make a simple solution based on the [the-bug-username-blacklist](https://www.npmjs.com/package/the-big-username-blacklist) and a configurable list in addition (in case POD providers want to exclude other usernames such as profanities).

Any objections on this?

[2018-10-31 15:20] dmitrizagidulin commented on #880
@megoth +1 to this. Seems like a great first step.

[2018-10-31 15:55] konobi commented on #849
Okay... I've traced the culprit down to https://github.com/solid/node-solid-server/blob/master/lib/ldp.js#L438-L466

The leaked file descriptor is coming from the fs.createReadStream usage here. It looks like there may be a cycle here due to the stream object being passed around in one of the "on" event handlers for the same stream object. I'll try getting a fix worked out soon, after some time aw

[2018-10-31 17:13] megoth commented on #880
I've implemented a first iteration of the blacklist service; if this looks good, I'll continue using this on https://github.com/solid/node-solid-server/issues/824

[2018-10-31 17:17] megoth commented on #824
I realize now that I misread this issue a bit: I was thinking it should include blacklisted usernames as well.

With that said, should this issue include blacklisted usernames as well? (I think it should.)

And in any case; what process do we want to set up for this?

1) Should it be a script that simply removes invalid usernames?
2) Should it communicate to the owner that it is problematic, and g

[2018-10-31 17:44] melvincarvalho commented on #824
@megoth there's no real way to fix it.  What I think should be communicated is that our systems had an error during account creation.  Certainly not tho only approach, but I think a reasonable one.  Happy for other ideas.

[2018-10-31 22:13] kjetilk commented on #824
Yeah, I think we need to give a notice in advance and apologize for an error during account creation....

The blacklist should be involved, as well as the sanitization that we now have in place. We should send an email out first, and then allow a couple of weeks before we remove. So, this is basically the work of a couple of one-off scripts.

[2018-11-01 00:51] rimmartin opened #894 "Trying to create an empty container with Slug .scad"
Hi,

cloned this project in the last hour and stood it up serving bin/solid-test for a local developer pod.
added a folder under public called scad. Then with the following code tried to make an empty container with Slug: '.scad'.  No errors but when I look with browser at https://roger.localhost:8443/public/scad/ I see an empty container '7fed9310',

[code]

when I curl for '7fed9310'
[code]

it'

[2018-11-01 14:10] leinue opened #895 "How to deploy solid-server to a second-level domain?"
Recently I am deploying solid-server to a second-level domain name at https://solid.authing.cn, but I have two problems:

1. I must add a port number to access: https://solid.authing.cn:8443
2. Need to support third-level domain name, such as: *.solid.authing.cn

I used Nginx to proxy the port of solid-server and configured it as follows:

[code]

How can I solve the above two problems?

If you ca

[2018-11-02 08:49] pheyvaer opened #896 "Updating ACL of file through Web UI"
Hi,

I'm trying to update the ACL file of a file on my https://solid.community POD.
The file is called `ping.ttl` and I see the ACL file `ping.ttl.acl`. However, when I edit the file via the Web UI and try to save it get the following error: `Error saving back: Error: Web error: 403 (Forbidden) on PUT of <https://ph2.solid.community/public/ping.ttl.acl>`.

[2018-11-02 10:03] timbl commented on #896
Are you using the source editor pane to directly edit the ACL file `ping.ttl.acl`, or using the permissions pane on `ping.ttl`?   In either case the 403 error is strange, f the file is one you own should should have the ability to control access  to  ping.ttl, ie change ping.ttl.acl .

[2018-11-02 10:03] timbl commented on #896
Strange.   I wonder whether the top level ACL on your top folder has been damaged.

[2018-11-02 10:19] pheyvaer commented on #896
I tried editing directly `ping.ttl.acl`. This gave the 403. I tried with the permissions pane, but there I have no idea how to actually add something. I'm only able to see the current permissions. Is there a button that I'm missing here?

[2018-11-02 10:32] timbl commented on #896
No, the UI is all rough around the edges... the UI works wit drag and drop

[2018-11-02 10:33] timbl commented on #896
Is the UI sharing pane you are looking at black and white or colored?

[2018-11-02 10:34] timbl commented on #896
If black and white, then  uou need to press the button to allow specific control of this file|folder

[2018-11-02 10:35] pheyvaer commented on #896
This is what I get. I guess that is the color version?

![screen shot 2018-11-02 at 11 34 12](https://user-images.githubusercontent.com/9413528/47910468-4391fd80-de93-11e8-951b-8e854fd0d6f5.png)

[2018-11-02 10:35] timbl commented on #896
Looks good

[2018-11-02 10:36] timbl commented on #896
If youdrag the globe up from the green bar to the red bar tehn  that wiol give everyone write access as well as read acess

[2018-11-02 10:36] pheyvaer commented on #896
This results in the following error: `ACL file save failed: Web error: 403 (Forbidden) on PUT of <https://ph2.solid.community/public/ping.ttl.acl>`

[2018-11-02 10:37] timbl commented on #896
You can go so someone's webif in the browser ad then drag that url from the browser into the ACL  panel

the URL bar drags by dragging the padlock icon

[2018-11-02 10:38] timbl commented on #896
Hmph
Bizarre. You seem to be logged in as PH2, you should be able to control sharing.

[2018-11-02 10:39] timbl commented on #896
That should wrk

[2018-11-02 10:39] timbl commented on #896
I'll ask @kjetilk

[2018-11-02 11:06] kjetilk commented on #896
@pheyvaer could you please paste your `ping.ttl.acl`?

[2018-11-02 11:48] kjetilk commented on #896
OK, that's pretty weird... Because I get a `401 Unauthorized` when I `GET ping.ttl`, and I should at least have read to that... We have real bug here, that's for sure.

So, the current code defaults to deny for any error it encounters, which also makes it harder to debug...
For example, if there is a syntax error in any ACL file in the tree, that could have this effect. This file is certainly vali

[2018-11-02 12:01] timbl commented on #896
Did you try to edit the ACL file by hand at any time?
(Only possible thing I can think of just now is that the ACL file exists but is unreadable, and the server defaults to being safe and so denies access.)

[2018-11-02 12:54] pheyvaer commented on #896
@kjetilk `/public/.acl` contains the following:
[code]

`/.acl` contains the following:
[code]

@timbl I've tried it by hand via the UI, but that never got saved. So all should be unchanged.

[2018-11-02 13:07] kjetilk commented on #896
Right, they validate as Turtle here... I think we need to look at the server logs for this, I don't know how much detail we have there though.

[2018-11-02 14:04] FrancisVilaAxway commented on #815
I have the same message
ERROR Can't find SSL key in ./keys
(I specified keys as the folder containing keys, when doing solid init). I have .pem files, .ppk files, .pub files...
I used the following commands:
	openssl genrsa -out privkey.pem 4096
	openssl ssh-keygen -t rsa -b 4096 -f privkey.pem
	ssh-keygen -t rsa -b 4096 -f privkey.pem
	openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.

[2018-11-02 14:19] TallTed opened #897 "server should provide logged-in WebID and its label(s) to user"
_Originally posted by @TallTed in https://github.com/solid/node-solid-server/pull/869_

This does not appear to show the user their logged in WebID, nor any label associated with that WebID.  I submit that both of these must be available -- not least because I may have the same label on multiple WebIDs, but only want to associate one WebID with some activity or data.

[2018-11-02 14:29] kristophor opened #898 "NamedNode IRI "username" must be absolute."
when creating user on both inrupt and solid.community, i got this error loading the webpage.
it is preventing profile viewer and public folder viewer and no permission accessing inbox

[2018-11-02 14:32] kjetilk commented on #898
I don't see any error message or attachment, perhaps you forgot to attach it?

[2018-11-02 14:35] kristophor commented on #898
<img width="442" alt="screen shot 2018-11-02 at 10 34 01 am" src="https://user-images.githubusercontent.com/7058039/47921452-032e8180-de8b-11e8-8d1c-b22825874248.png">

[2018-11-02 14:37] kristophor commented on #898
the issue seems to be intermittent, right now i have tried again on krischen.solid.community/ and it appears to be working again.

but it is not working for https://krischen.inrupt.net/

[2018-11-02 14:42] kristophor commented on #898
maybe this is the data browser issue instead of solid server issue ?

[2018-11-02 14:43] kristophor opened #899 "mixed content resource issue for https"
Mixed Content: The page at 'https://krischen.solid.community/profile/card' was loaded over HTTPS, but requested an insecure resource 'http://xmlns.com/foaf/0.1/PersonalProfileDocument'. This request has been blocked; the content must be served over HTTPS.

[2018-11-02 15:10] kjetilk commented on #898
Yeah, or possibly a solid-ui problem. I'll put the triage label on :-)

[2018-11-02 16:57] justinwb commented on #894
@rimmartin Thanks for the report. For us to determine the best way to respond to this, can you let me know if the following is an accurate summary of what you're reporting?

- You're looking to use the Slug header to inform the URI of the created container resource
- A resource is created, but not at the URI (.scad) that you specified in the Slug header
- when you try to access that created resour

[2018-11-02 17:55] dmitrizagidulin commented on #815
@FrancisVilaAxway Solid init (and config.json) require a path to an individual file (not just the directory), so I suspect that's the issue.

[2018-11-02 17:57] dmitrizagidulin commented on #897
Can you explain more about the labels? (Their use with WebIDs is not something we currently do.)
What are you using them for, what's the format, etc?

[2018-11-02 20:15] TallTed commented on #897
A WebID URI is typically horribly user unfriendly, as has been discussed a lot in regards to typing that string into login boxes.

`Alice Jones` should not see, for instance, `https://blah.example.com/stuff/things/people/userid/alicejones#this` as the logged-in-user -- they should see [`Alice Jones`](https://blah.example.com/stuff/things/people/userid/alicejones#this) (which should be anchored wit

[2018-11-02 20:24] JornWildt opened #900 "Globbing should return 200 OK even if empty"
Assuming I have a container named /notes in my POD and this container contains resources matching /notes/note-* I get a nice list of those resources if I do a GET of /notes/note-*.

But if the /notes container is empty and I try GET /notes/note-* I get 404 - not found.

If think that is wrong, The container is there and any attempt to get a filtered list of its content should return 200 OK since t

[2018-11-02 21:19] kidehen commented on #896
@pheyvaer ,

When you save manually, via the editing tool initialized by clicking </> from the data browser control strip, you have to do the following to enact the "save" operation:
1. Click on the green check icon
2. Refresh the page loaded to your browser (CTRL+R forced refresh)
3. Navigate back to document location in the data browser tree

You should see your modifications if the operation wa

[2018-11-02 22:40] rimmartin commented on #894
@justinwb , yes

have https://roger.localhost:8443/public/scad/
check and it exists and is pristine, no other operation or child has been attempted.  Then with the Slug I try to put an empty '.scad' container in it.

The results wasn't the same any try where I blew away everything and came back with the server, user and run api again.
I made more attempts and put logs in the server code;  it looks

[2018-11-02 23:04] kjetilk commented on #894
Right, so, we have `Slug` [in the spec](https://github.com/solid/solid-spec/blob/master/api-rest.md#creating-containers-directories), but it seems like the support for it is poor. We need to look into that.

[2018-11-02 23:29] kjetilk commented on #775
Did you have any progress on this, @gagandeepp ? Great that you volunteered!

[2018-11-02 23:39] rimmartin commented on #894
A Slug: '.git' works fine Or any regular folder name.  It is only if the name is the same with a period prefixed .scad into scad/

[2018-11-03 13:05] leinue commented on #895
I have fixed the problem.

The conf is as following:

[code]

[2018-11-03 13:05] #895 closed

[2018-11-03 22:19] kjetilk commented on #895
OK, great! We should see to that we have a place where we record this to improve our documentation.

[2018-11-05 05:31] cory2067 opened #901 "Cannot create new file in public directory (error 500)"
I tried cloning the repository and running with Docker. I wanted to make an account and do a simple test by creating "test.ttl" under my public directory. However, nearly everything I tried was greeted by an error. Here's my adventure in trying to do so:

1. Created a new account
2. Log in
3. Navigate to /public and create new source file with "+" button
Result:
![image](https://user-images.github

[2018-11-05 13:58] JeromeK13 opened #902 "[Question] How to access the created popup.html"
Hey Guys

Recently i tried to access my `popup.html` (located in the root of the server) with:

`solid.auth.popupLogin({ popupUri: 'https://localhost:8443/popup.html' })` from my app.

But now i get an error which says:

And when im logged in:

I also create an `popup.html.acl` file in the directory with the following lines:
[code]
## Informations:
- Startet the server with ` /usr/local/lib/node_m

[2018-11-05 15:46] megoth commented on #824
Ok, so this is the process that I'm considering.

1. Adding command `blacklist` to `bin/solid`: by default it would give you a list of usernames that are in violation of the current blacklist
2. Adding option `--notify`: this will add a note to the top of a user's index.html and send an email, if possible, that their username is in violation of our blacklist and will be deleted within two weeks un

[2018-11-05 16:32] Ryuno-Ki commented on #824
What about renaming those accounts? Say replacing periods with dashes?
Then you would „just” have to inform them that the name changed.
(I had not looked into implementation details here).

Regarding the blacklist … pay attention to have a robust RegEx (there were some DDoS attacks against RegExps the other day … at least SNYK.io sent out some warnings - can dig up details if needed).

https://git

[2018-11-05 16:35] megoth commented on #824
@Ryuno-Ki that is another way of doing it, sure; I'm good with either way.

We've already implemented a BlacklistService btw (https://github.com/solid/node-solid-server/pull/893) that makes use of https://github.com/marteinn/The-Big-Username-Blacklist. The service is not making use of any RegEx, it's simply checking a giving word (in our case username) against a list of blacklisted words.

[2018-11-05 17:44] megoth commented on #824
Sorry, I seem to forget that this issue is not only about blacklisted usernames O_O

I'll rename the command so that it doesn't only pertain to blacklisted usernames.

Does the command `invalidusernames` sound like a catch-em-all?

[2018-11-05 20:29] justinwb commented on #901
Hi @cory2067 - can you give us more detail on your environment setup? What steps did you take specifically to get there?

The solid server itself should be providing a lot more detail about what's happening in the logs. Can you provide that log output corresponding to these requests?

[2018-11-05 20:47] Ryuno-Ki commented on #824
Left some comments.
While I am looking at how usernames are computed …

[Falsehoods Programmers Believe About Names](https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/) is worth a read also.

Looking at https://github.com/solid/node-solid-server/blob/9b627e47ee191ea7b2a8f1710eb6a8a952e5557e/lib/requests/create-account-request.js#L202 - it looks like you would ban ever

[2018-11-05 22:05] cory2067 commented on #901
Sure. I have Docker CE version 18.06, running on Linux Mint 19.
I made a fresh clone of the repository and ran these commands:
[code]

After reproducting the error, asking for the output only gives the following:
[code]
Is there another way to get the logs?
Additionally, ctrl+c doesn't stop the server, and I need to resort to `docker kill`

[2018-11-05 22:09] dmitrizagidulin commented on #901
Ah, yeah, so, it should actually be starting with a -verbose flag, like `node ./bin/solid "start" -v`.

That reminds me, we really should open an issue to make `--verbose` flag on by default. There is no earthly reason to not have it on.

[2018-11-05 22:13] megoth commented on #824
It is important to note that usernames are exposed in the URI of a users' POD, so we need strict rules on which usernames we accept. But in that sense we could accept all usernames that are valid subdomains, and we are limiting that today.

I propose we create a separate issue to allow more characters in the usernames (I'm starting to sound like a broken record when it comes to suggesting to creat

[2018-11-05 22:15] Ryuno-Ki opened #903 "Prevent brute force attacks on login request handler"
This question came up in https://github.com/solid/node-solid-server/pull/893#discussion_r230897425 (which is already merged).

The gist is: [/lib/requests/create-account-request.js#L128](https://github.com/solid/node-solid-server/blob/9b627e47ee191ea7b2a8f1710eb6a8a952e5557e/lib/requests/create-account-request.js#L128) currently has no way to guard against brute force attacks.

OWASP gives some [t

[2018-11-05 22:22] Ryuno-Ki opened #904 "Lookup in Have I Been Pwned? database"
This came up in https://github.com/solid/node-solid-server/pull/893#discussion_r230898095

Basically, the check in [/lib/requests/create-account-request.js#L134](https://github.com/solid/node-solid-server/blob/9b627e47ee191ea7b2a8f1710eb6a8a952e5557e/lib/requests/create-account-request.js#L134) could be extended by looking the email up in Troy Hunt's database. There are [packages to do this](https

[2018-11-05 22:25] Ryuno-Ki opened #905 "Normalise unicode for usernames"
See https://github.com/solid/node-solid-server/issues/824#issuecomment-436028869

Basically, follow the lead of Django (web framework, written in Python) when normalising the usernames for slugs.
This could please an international audience.

Unicode is hard, so use a lib (see linked comment).

[2018-11-05 22:29] cory2067 commented on #901
Cool, I'll try adding a `--v`

Ok, it looks like the server isn't happy with the self-signed certificates that are generated in the Dockerfile:
[code]

I changed the last line of the Dockerfile to the following to make it work properly:
[code]

[2018-11-05 23:10] dmitrizagidulin opened #906 "Make --verbose flag the default behavior"
Too many new users are confused when they launch solid-server and there's no diagnostics. We should make `-v` the default behavior, and deprecate the flag.

[2018-11-06 11:32] csarven commented on #906
-v should include https://github.com/solid/node-solid-server/issues/420 ! ;)

[2018-11-06 11:52] megoth commented on #882
I think https://github.com/solid/node-solid-server/issues/826 also relates to this issue.

[2018-11-06 11:54] megoth commented on #826
@adamemerson @shybyte sorry for late response (we have been and are still a bit swamped with work): Is this still an issue for you? If so, please send an email to support@inrupt.com so that we can help you there.

I'll close this issue for now.

[2018-11-06 12:00] kjetilk opened #907 "Validation and filter feature"
There have been a number of issues reported (linked in #882) where it seems that user's data files have been corrupted. Some of these things should be fixed on the frontend, so that it makes sure invalid data is not sent. However, the backend should also check, e.g. by doing a RDF validation as suggested in #882, but we could also imagine SHACL validation, etc. If Inrupt becomes a large POD provid

[2018-11-06 12:09] kjetilk commented on #821
Yeah, this would be a good addition to the FAQ. @Mitzi-Laszlo can you follow up?

[2018-11-06 12:10] kjetilk commented on #820
Yeah, this is also something for a technical FAQ.

[2018-11-06 12:20] kjetilk commented on #811
Sorry for not getting back to you before!

It seems like there is something wrong with your certificates. I have two hunches, one is that you may have self-signed certificates, but you run it with the `solid` command line rather than the `solid-test` command line, the other is that there is something wrong with the actual certificate.

Anyway, you might want to ask in the forum, where have set it

[2018-11-06 12:20] #811 closed

[2018-11-06 13:24] megoth opened #908 "Fix "Medium severity vulnerability found in bootstrap""
We currently have a vulnerability (as [reported by snyk](https://snyk.io/vuln/npm:bootstrap:20160627)) because of Bootstrap 3.3. The proposed fix is to migrate to Bootstrap 4. We could also wait for a release of 3.4, where there is a fix, but I'm not certain when that comes (if ever).

We only use the CSS of Bootstrap, so this is probably a non-issue. But it is annoying to have Snyk report that it

[2018-11-06 15:48] megoth opened #910 "Feedback on signup whether or not username is available"
We have this on the backend, but this should be dynamically handled on the frontend.

[2018-11-06 17:34] dmitrizagidulin commented on #908
+1, let's just migrate to Bootstrap 4.

[2018-11-06 18:03] justinwb commented on #907
@Mitzi-Laszlo This would be a good one to put on discourse for discussion

[2018-11-06 18:11] justinwb commented on #899
@kristophor can you provide a bit more detail? What are you doing when you run into this error? What browser are you using? etc?

[2018-11-06 18:21] justinwb commented on #894
This would appear to be a pretty straightforward bug.

The Slug header comes from the ldp specification, which you can checkout here - https://www.w3.org/TR/ldp/

[2018-11-06 18:21] kristophor commented on #899
I am using chrome Version 70.0.3538.77
this is due to server referencing to non-https resources trigger security issue.
i recommend change everything http to https to avoid mix content error.

<img width="1655" alt="screen shot 2018-11-06 at 1 17 58 pm" src="https://user-images.githubusercontent.com/7058039/48084818-aef70a80-e1c6-11e8-826c-066dc5bc5300.png">

[2018-11-06 19:04] megoth commented on #853
This is related to https://github.com/solid/node-solid-server/issues/688.

[2018-11-06 19:21] justinwb commented on #849
Great progress @konobi. Keep us posted!

[2018-11-06 19:41] Ryuno-Ki commented on #853
Your description reads like a Progressive Web App. Especially service workers: https://serviceworke.rs/strategy-cache-update-and-refresh_demo.html

[2018-11-06 20:46] kjetilk commented on #899
Right, OK, so it happens in the edit profile mode.

We are aware that you can't mix content, it is just unclear to us what in the code would try to do that. I haven't been able to reproduce it om my POD.

But thanks, now I can target that more accurately!

[2018-11-06 20:57] dmitrizagidulin commented on #899
My question is - what part of the code is trying to actually fetch the foaf schema?

Cause what's erroring out is the request to `http://xmlns.com/foaf/0.1/PersonalProfileDocument`. What is requesting that url?

[2018-11-06 21:00] dmitrizagidulin commented on #899
So, for various historical and practical reasons, we can't change existing ontologies (like foaf) from http to https.
Which means that the only thing that'll work is disabling the code that's trying to fetch them. Or have the code go through the cors proxy.

[2018-11-06 22:14] kjetilk commented on #899
Indeed, that's what we need to figure out.

[2018-11-06 22:48] kjetilk commented on #876
Oh, seems we forgot to close this issue after the PR was merged.

[2018-11-06 22:48] #876 closed

[2018-11-07 08:11] rubensworks commented on #878
For reference, I'm not able to reproduce this with `.pdf` files, so it might be browser-dependent. But I can reproduce it with `.zip` files.

[2018-11-08 05:11] cory2067 opened #913 "Cannot accept terms of service"
Seems to be a recent regression, because I don't remember there being a terms of service before.

Regardless of checking the box upon registration, I get "Accepting Terms & Conditions is required for this service"

At `lib/requests/create-account-request.js:287`, it seems that `this.acceptTos` is false even when the checkbox is selected.

[2018-11-08 05:14] cory2067 commented on #913
Was looking into fixing this, and it seems like this is actually already being addressed in #912

[2018-11-08 05:19] #913 closed

[2018-11-08 09:39] kjetilk opened #914 "Reintroduce LDP tests"
I made some of the tests in ldp-test.js skipped. We should find a way to re-enable them.

[2018-11-08 12:48] megoth commented on #824
I'm well on my way to completing the step where we inform the users of their invalid username. But I need to configure which email-address we should give users that want to move their username. I'm wondering where I should code this, and can think of a couple of options:

1) As part of the init-process, so that it resides in config.json, or
2) As value to the --notify option in the script

Both ca

[2018-11-08 13:37] rubensworks commented on #883
I don't experience the exact same issue.
For me, the popup disappears, and I am redirected to the page "No permission to access this resource".

I'm not sure what the .acl configuration for that folder looks like,
but this may be correct behaviour?

In any case, this may be related to #878.

[2018-11-08 13:56] megoth opened #916 "Validate email when users create new account"
The email field in user creation form is optional, but we should validate it if a value is given.

[2018-11-08 14:35] kjetilk commented on #883
@rubensworks yeah, you get the correct behaviour.

What browser are you using? I only see this with Firefox, it works in Chrome...

[2018-11-08 14:40] rubensworks commented on #883
@kjetilk I'm using Chrome (69.0.3497.100, mac). But I just tested it in Firefox (63.0.1), and it seems to work there as intended as well.

[2018-11-08 14:42] kjetilk opened #918 "UI to read the remaining space"
Quota enforcement is nearly finished in #841 , but obviously, we'd like the user to be able to track the amount that they are using.

The easiest fix for this is to have a simple API exposure, but AFAIK, we can't use an ACL to restrict who can see the remaining quota, and I don't think we should expose it.

So, the better solution is to put it in the RDF along with the quota. That's more work, but

[2018-11-08 19:54] Ryuno-Ki commented on #916
Validating against what? Whether it is a valid email? Whether the email is already in use? (hint: possible information leakage) Whether the email is associated with a known spammer?

[2018-11-08 19:55] megoth commented on #916
I was only thinking that it should be a valid email.

[2018-11-08 20:04] TallTed commented on #916
If this must be done by any means other than simply sending a "confirm your address" message, don't reinvent the wheel.  Use the relevant snippet from the well tested [Email Address Regular Expression That 99.99% Works](https://emailregex.com/).

[2018-11-08 20:09] Ryuno-Ki commented on #916
Um, depending on how strict you want to be [that regex could be huge](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) ;-)

[2018-11-08 20:12] megoth commented on #916
I was hoping to reuse the `isEmail` in https://www.npmjs.com/package/validator.

[2018-11-08 20:15] dmitrizagidulin commented on #916
I would go even farther and point to: https://davidcel.is/posts/stop-validating-email-addresses-with-regex/
(Which says, don't do it, or if you must, just use `/@/ ` as the regular expression)

[2018-11-08 20:16] dmitrizagidulin commented on #916
Btw, as far as that `validator` npm package, check out the `options` docstring for that `isEmail()` call. Doesn't that seem like the benefit-to-complexity ration is a bit low?

[2018-11-08 20:19] megoth commented on #916
We already have a confirmation email, so we could drop this issue because of that.

I was thinking of this merely as a helpful addition for those inserting an invalid email.

[2018-11-08 20:21] TallTed commented on #916
@Ryuno-Ki -- Note that [your cited regex page](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) is based on [RFC 822](https://tools.ietf.org/html/rfc822), which was obsoleted by [RFC 2822](https://tools.ietf.org/html/rfc2822), and in turn by [RFC 5322](https://tools.ietf.org/html/rfc5322), on which [my cited regex page](https://emailregex.com/) is based.

@dmitrizagidulin -- Indeed.  Hence

[2018-11-08 21:17] megoth commented on #916
I've made use of `validator.isEmail` in https://github.com/solid/node-solid-server/issues/824, and didn't see the need for setting any options. But then again, I'm not good at validation of emails, so might be completely off?

[2018-11-08 21:19] megoth commented on #916
`mailcheck.js` looks very interesting to use on the front-end part of this (I was only thinking of backend initially).

[2018-11-08 21:58] Ryuno-Ki opened #920 "Use a logger"
Think about using a logger library. My favourite is [loglevel](https://www.npmjs.com/package/loglevel) (because it's simple and supports plugins).

[winston](https://www.npmjs.com/package/winston) is popular also.

This way you can fine-tune the logging.

[2018-11-08 22:51] kjetilk commented on #920
yeah, it is on my whiteboard for v.next (which is when we seriously introduce new things). I really miss multi-level logging, so it will definitely go in there. But it seems like way too much work to add different loglevels in the current code, so I hope you will excuse me for removing the triage label :-)

[2018-11-08 23:48] kjetilk opened #921 "Solid incompatible with Privacy Badger?"
I have done some further investigation of #883 and #884 , and it turns out that if I disable EFF's [Privacy Badger](https://www.eff.org/privacybadger), both of those problems are resolved.

I think Privacy Badger is an important add-on, and we should make sure Solid works with Privacy Badger turned on. Whether it is us or Privacy Badger that needs to change, I don't know yet, but I suggest we look

[2018-11-08 23:49] boulderwebdev opened #922 "Adding Support for ACL mime-types."
I noticed there is no support for uploading `acl` files since there is no well-defined mime-type. Because of this, if I try and POST an `acl` file into a container it will automatically add an unwanted file extension. This may be a one-line fix by adding the line

`extensions['text/acl'] = ['acl']`

to the top of `./lib/handlers/post.js`.

[2018-11-09 01:51] dmitrizagidulin commented on #922
The idea for uploading `.acl` files is to use PUT, which gets around the extension thing.

[2018-11-09 02:11] justinwb commented on #824
@megoth Seems that both could be valuable. By default it pulls the value from config.json, but if the --notify flag is passed, then let that take precedence.

[2018-11-09 07:37] melvincarvalho commented on #905
Could you define username?

The characters used in the webid / subdomain should be alphanumeric with a dash, I think.

The nick and full names in the profile can be full unicode, and I think already are?

Unicode characters in URIs are a phishing vector.  Responsible pod providers should avoid.

[2018-11-09 07:45] akuckartz commented on #905
Can you suggest any references?

[2018-11-09 09:52] melvincarvalho commented on #905
Try a web search for [homograph attack](https://en.wikipedia.org/wiki/IDN_homograph_attack).

[2018-11-09 09:53] Ryuno-Ki commented on #905
@melvincarvalho I learned, that the url is built like `[username].[hostname]`.

@akuckartz I think, he's referring to [typosquatting](https://en.wikipedia.org/wiki/Typosquatting).

[2018-11-09 09:54] Ryuno-Ki commented on #905
Ah, like in https://twitter.com/benbjohnson/status/533848879423578112 then

[2018-11-09 09:55] Ryuno-Ki commented on #920
You could start small like I did in https://github.com/matrix-org/matrix-js-sdk/pull/763 the other day.

[2018-11-09 15:34] JornWildt opened #923 "Missing content escape when globbing"
I have created a resource at /items/<A>AA-123. If I look up /items/ the data browser works as expected and shows it as <A>AA-123 everywhere.

But if I look up /items/* I get an incorrectly formatted RDF document:

    @prefix : <#>.
    @prefix terms: <http://purl.org/dc/terms/>.
    @prefix sol: <http://elfisk.dk/ns/solidrc#>.
    @prefix XML: <http://www.w3.org/2001/XMLSchema#>.
    @prefix c: <

[2018-11-09 23:58] kjetilk commented on #923
Oops! Indeed, that's invalid. It would have been detected with #882 , but this might also be bug somewhere else, what do you think, @timbl and @RubenVerborgh ?

[2018-11-09 23:59] #878 closed

[2018-11-10 08:28] timbl commented on #908
Any way to just import the css?

[2018-11-11 03:01] KempfCreative commented on #862
@RubenVerborgh Unfortunately, work has made it difficult to spend a lot of time on this issue.

I can tell you that I have not been able to work on this in a way that makes me comfortable in issuing a PR back to this repo. I am not going to continue working on this so that someone else can. I hope they have more success on getting solid running locally in a way that lets them work on this issue. J

[2018-11-11 15:25] JornWildt opened #925 "Solid server ignores content type"
I have tried to upload various images to my POD and at some point I named it "x-jpg" instead of "x.jpg". It turns out that the solid server uses the filename extention to detect content type instead of relying on the actual content type.

Here is an example PUT operation showing the name "...270-jpg" and the content-type "image/jpeg":

    PUT https://elfisk.solid.community/public/solidrc/images/B

[2018-11-11 18:32] bourgeoa opened #926 "No login possible or no update (if logged in) on the contact profile of webid"
**1. No access to login from https://anna.bourgeoa.ga:8443/card#me**
![2018-11-11 1](https://user-images.githubusercontent.com/2218470/48316695-85cfe300-e5e7-11e8-8c9e-839e81f4a0b0.png)

**2. When logged in from https://anna.bourgeoa.ga:8443 : no access to update of contact information in card#me** except for note area

**console info**
(Logged in as <https://anna.bourgeoa.ga:8443/profile/card#me>

[2018-11-11 21:51] Ryuno-Ki commented on #925
According to the linked issue you're uusing `mime-db` via `mime` package. I suggest to not rely on the file extension, but on the first bytes (a.k.a. magic bytes) to determine the Content-Type.

Otherwise people could upload malware with an unsuspecting file extension...

[2018-11-12 00:08] kjetilk commented on #925
This, indeed, sounds like a bad idea. There is a TAG finding on it too: https://www.w3.org/2001/tag/doc/mime-respect.html#dav-scenario We need to figure out why this was done.

[2018-11-12 15:53] kjetilk commented on #841
Given the review in #911, this now only relies on https://github.com/solid/vocab/pull/35

[2018-11-12 19:13] Ryuno-Ki commented on #841
Something I've learned while putting Gentoo on a Raspberry Pi: There's aa difference between size (in bytes) and number of inodes (in an ext4 filesystem).

That is, `du` (iirc) can still report free space while `du -i` tells you that your disk is full. I can look up details if you need. Maybe another issue? :-)

[2018-11-12 19:58] Mordax opened #929 "'NODE_TLS_REJECT_UNAUTHORIZED' is not recognized as an internal or external command"
Running `npm install` then `npm test` in both Git Bash for Windows and Command prompt nets this errors:

[code]

On Windows 10, Node v10.13.0.
Is there a dependency missing? Or something else I'm not seeing.

[2018-11-12 20:03] Mitzi-Laszlo commented on #821
There is more on this conversation here https://forum.solidproject.org/t/which-of-the-directories-contains-data-that-needs-to-be-backed-up-and-which-can-be-discarded-because-it-can-be-easily-recreated-and-once-identified-how-to-i-backup-and-restore-correctly/533

[2018-11-12 20:06] Mitzi-Laszlo commented on #820
More on this here https://forum.solidproject.org/t/document-which-well-known-entries-solid-server-wants-to-serve/534

[2018-11-12 20:08] jernst commented on #820
I'm not understanding the "resolution" of this issue. Fix? Wontfix? If so, why etc?

Presumably an issue tracker is better at tracking issues than a discussion board? :-)

[2018-11-12 21:10] jernst commented on #821
Same comment as the other bug: why was this closed? Fixed? Wontfix?

Presumably an issue tracker is better at tracking issues than a discussion board?

[2018-11-13 09:50] kjetilk commented on #925
@RubenVerborgh confirms, this will be fixed with #662

[2018-11-13 13:50] kjetilk commented on #907
We've had a meeting about this here in Ghent between @rubensworks and myself. Since this is a detailed code discussion, it belongs here, but there is a broader discussion too, about what exactly we should validate and if we should also do filtering and/or transformation, and that is a discussion we could have on Discourse.

This is what we have arrived at:

We have decided that the architectural i

[2018-11-13 14:57] Mitzi-Laszlo commented on #897
More on this conversation can be found here https://forum.solidproject.org/t/server-should-provide-logged-in-webid-and-its-label-s-to-user/546

[2018-11-13 15:02] Mitzi-Laszlo commented on #907
More on this conversation can be found here https://forum.solidproject.org/t/validation-and-filter-feature/548

[2018-11-13 15:19] mielvds commented on #862
I'll have another attempt at this

[2018-11-13 17:31] csarven opened #931 "Update OPTIONS, Allow, Accept-*"
re:
[code]

* `Allow` should include what's really "allowed" eg. `OPTIONS` is a good start.
* If `Accept-Patch` is of any indication, add `PATCH` to `Allow`.
* If `PUT, POST` are also allowed add to `Allow`, and would be good to include `Accept-Put` and `Accept-Post` respectively (note: `Accept-Put` is not really spec'd/standardised but just completeness sake)

Just to be clear, that's for a publi

[2018-11-13 17:35] kidehen commented on #931
@RubenVerborgh ,

Your thoughts on this matter? Fundamentally, we need to sort this out so that the following dokie.li features are demonstrable against a Solid Pod:

1. Reviews  Storage
2. Activities Viewing

/cc @csarven

[2018-11-13 18:14] kjetilk commented on #821
So, you didn't get much feedback from us, we've been pretty swamped, sorry about that. However, since it is something that others could figure out, and it hasn't been picked up by other community members here, we figured it might get more response in the forum. So, mostly a pragmatic thing, hoping there would be more feedback, and once figured out, it is more a likely addition to the FAQ than the

[2018-11-13 18:17] csarven commented on #821
@kjetilk I beg to differ. Announcing at different channels to raise awareness is completely orthogonal. That's not at all grounds to close the issue IMO.

[2018-11-13 19:56] RubenVerborgh commented on #931
I'm trying to gauge the urgency of this issue. I get the eventual necessity, but what is broken right now that will be fixed when we do this?

There are more urgent blockers for dokieli, notably #661 (which is currently scheduled with a higher priority).

We have a limited team of developers, an internal deadline of November for v5.0, and more issues than this team can tackle by that date. So it's

[2018-11-13 20:36] dmitrizagidulin commented on #931
@csarven Is this functionality not covered by the `WAC-Allow` header?

[2018-11-13 20:37] kidehen commented on #931
@RubenVerborgh,

What's broken right now is the basis of this issue. To reiterate, the following dokie.li functionality is unusable with NSS instance hosted Solid Pod:

1. Reviews Storage
2. Activity Tracking on a Document Reviewed by various folks identified by their respective WebIDs.

Fixing this problem makes the functionality in question usable and demonstrable i.e., powerful end-user app for

[2018-11-13 20:38] RubenVerborgh commented on #931
But is #931 the reason why 1 and 2 are broken? I think the reason is #661.

[2018-11-14 00:00] kjetilk commented on #920
So, it is not very likely we'd prioritize that highly in this code, but it is really needed in https://github.com/solid/acl-check/issues/6 so I'll have a look at those hopefully. If there are any others I should be aware of, please let me know over in that bug :-)

[2018-11-14 01:45] kidehen commented on #931
@RubenVerborgh,

The issue is simply a case of dokie.li being able to discern the fact that RDF-Turtle is preferred by the Solid Pod deployed via NSS.

If the correct metadata is returned via HTTP response headers dokie.li can make accurate deductions.

I hope this clarifies the issue at hand  so that we can move forward on this matter. Right now, we have a quite artificial hold-up that is blockin

[2018-11-14 08:47] rubensworks commented on #661
Ok, I'm working on this issue now.

I'm still relatively new to the codebase, so I could use some input on where I could find calls that should be changed.
So far, I see the following:
* [`util.js/uriToFileName()`](https://github.com/rubensworks/node-solid-server/blob/feature/wire-legacy-resource-mapper-2/lib/utils.js#L70)
* [`util.js/uriToRelativeFilename() `](https://github.com/rubensworks/node-

[2018-11-14 08:48] RubenVerborgh commented on #661
My heuristic is: everywhere where multiuser is checked.

[2018-11-14 09:41] csarven commented on #931
Hang on folks. There sems to be some miscommunication here. Allow me try to clarify :)

The original issue is not related to 661/662, and it is not specific to dokieli either. It is something that NSS should do properly for `OPTIONS` requests - unless there are some undocumented heuristics in place for special treatment of `/`.

dokieli is first checking what the server is capable of and prefers t

[2018-11-14 09:48] pheyvaer opened #933 "Watch changes in folder via WebSockets"
When using websockets on a folder, I don't get `pub` messages when a file is added to that folder. However, it would nice to have such a feature. For example, to detect if new notifications arrive in the inbox of a user.

[2018-11-14 10:18] megoth commented on #661
@rubensworks if you're going to edit `lib/utils.js`, maybe it's a good time those functions to a utility-file in `lib/common`? Trying to make methods a bit more reusable by putting them in more explicitly named utility-files.

[2018-11-14 10:20] rubensworks commented on #661
@megoth The plan is actually to remove as much as possible from `lib/utils.js` :-) In favor of the new methods of `ResourceMapper`.

But the remaining functions could indeed be moved to `lib/common` afterwards.

[2018-11-14 10:29] rubensworks commented on #661
I assume #911 will be merged before this refactor is done, so I'll have to rebase in any case.

[2018-11-14 10:44] kjetilk commented on #931
Right, so yeah, I figured these issues were rather separate. Just trying to find what to prioritize.

Anyway, on the topic of `Allow`, I have never fully understood what solid tries to achieve with it. It seems to me it is a adding it rather [indiscriminately](https://github.com/solid/node-solid-server/blob/master/lib/create-app.js#L149), i.e. not what you can do with a resource, but what you coul

[2018-11-14 11:14] csarven commented on #931
Identify and resolve the diff between `/` and eg `/public/`.

Needless to say, the server has to be consistently accurate, otherwise, clients are going to be built arbitrarily (out of "spec") because the server has arbitrary behaviour - at least in this particular case.

I have no comment or direct influence on prioritization of things. Just raising issues/QA stuff as usual that appears to require

[2018-11-14 11:28] RubenVerborgh opened #934 "Return correct Allow header on OPTIONS"

[2018-11-14 11:29] RubenVerborgh opened #935 "Consider adding Accept-Post and Accept-Put"

[2018-11-14 11:30] RubenVerborgh commented on #931
Yes. https://github.com/solid/node-solid-server/issues/934

They are just `*` though; or perhaps with a preference for Turtle if that is allowed. https://github.com/solid/node-solid-server/issues/935

Let's follow up in the above two separate issues.

[2018-11-14 11:30] #931 closed

[2018-11-14 11:31] RubenVerborgh commented on #934
To be determined: does this depend on auth status?

[2018-11-14 11:31] RubenVerborgh commented on #935
To be determined: does this depend on auth status?

[2018-11-14 11:37] RubenVerborgh opened #936 "Add meta tag to homepage to indicate whether it can be overwritten"
When a user creates a new account, we generate their homepage from `default-templates/new-account/index.html`.

A problem is that, when `default-templates/new-account/index.html` gets updated, users keep their old homepage.

However, some users might want that, and it shouldn't be up to the server to decide what they want. Some might prefer the new page.

I propose to add something like the follow

[2018-11-14 11:41] megoth commented on #936
I like this solution better than https://github.com/solid/node-solid-server/issues/853; if we choose this approach, we can close that one.

[2018-11-14 11:54] rubensworks commented on #936
Another alternative might be to use some kind of templating system, where for example the `new-account/index.html` would just contain a reference to an internal Solid file, perhaps with some parameters.
This would allow users to make (partial) changes to their views, and still remain up-to-date with the built-in Solid views if they want to.

This would require some more work than the `<meta>` appr

[2018-11-14 12:04] kidehen commented on #931
@RubenVerborgh ,

But you are kinda misunderstanding my intentions and how I work.

Please note:
* I am not a fan of shortcut hacks.
* I try my best to get conflicts resolved between parties especially problems that are riddle-like in nature.

I pushed this thread because I see and sense unecessary inertia, especially as dokie.li and Solid aren't tools that were created in the last few months --

[2018-11-14 12:08] RubenVerborgh commented on #931
Apologies, I certainly did not mean to imply that. I know you favor good work.

What I meant to say is that, in this context and in my opinion, changing the Accept headers to say Turtle would be a shortcut, because it is not the truth.

Rest assured this is not how _we_ work 🙂
The number of issues is simply larger than the number of available hands. We're doing the best we can.

[2018-11-14 12:09] #862 closed

[2018-11-14 12:13] kidehen commented on #931
@RubenVerborgh ,

Here is what I meant to state and say:
NSS should use response metadata to inform user agents (e.g., dokie.li) about its preferences. That's it.

What I describe above isn't happening. Thus, the only way for dokie.li to work properly with NSS is to drop down from good deductive pattern to a hack.

This is an example of what I call a problem that's riddle-like in nature :)

/cc @c

[2018-11-14 12:15] RubenVerborgh commented on #931
Check, thanks, following up on the two kinds of metadata in #934 and #935.

[2018-11-14 12:17] kjetilk commented on #931
Very, very much agreed. HATEOAS and all that. :-) I hope we get the chance to make this right soon.

[2018-11-14 12:41] mielvds commented on #778
I think I need some more info on how these workflows work ATM before I can fix this.

As far as I can tell:
* The `returnToUrl` needs to be supplied somehow so it can be set here: https://github.com/solid/node-solid-server/blob/master/lib/requests/create-account-request.js#L29
* If not supplied, a default is set, likely the data browser... https://github.com/solid/node-solid-server/blob/master/lib

[2018-11-14 13:29] dmitrizagidulin commented on #935
Is this not already handled by the WAC-Allow: header?

[2018-11-14 13:30] RubenVerborgh commented on #778
This might be a solid-auth-client issue instead. Note however that `.popupLogin` is preferred over `.login`, precisely because it doesn't loose context (which encompasses more than just URL).

[2018-11-14 13:31] RubenVerborgh commented on #935
No; WAC-Allow indicates what the agent is able to do, whereas the Accept-* headers indicate what media types cam be sent.

[2018-11-14 13:32] dmitrizagidulin commented on #935
Ahh, ok, got it.

[2018-11-14 14:05] kjetilk commented on #931
It does, thanks a lot, @dmitrizagidulin !

[2018-11-14 14:05] csarven commented on #931
@dmitrizagidulin The semantics of `Allow` is for a given resource, not a general announcement for servers capabilities (possibly for "all resources"): https://tools.ietf.org/html/rfc7231#section-7.4.1 . So, the server should signal what it really can for resource in question.

I think `WAC-Allow` is orthogonal. It doesn't (and shouldn't) override `Allow`.

[2018-11-14 14:06] RubenVerborgh commented on #931
Indeed, please see #934 and #935, which have all of this info 🙂

[2018-11-14 14:29] kjetilk commented on #785
It might look as if this is connected to the ACL traversal, and if so, this may also be fixed by #777.

Lets test again when we have that.

[2018-11-14 14:40] megoth commented on #918
I've proposed a property to indicates how much disk space is in use (https://github.com/solid/vocab/issues/37), but think I also need a property that indicates where serverSide.ttl resides, so that I can fetch that data. Or am I missing an existing property for this already?

[2018-11-14 14:44] RubenVerborgh commented on #918
Regarding serverSide.ttl: https://github.com/solid/vocab/issues/37#issuecomment-438685697

[2018-11-14 14:57] megoth commented on #882
I'm discontinuing my work on this until we have a broader consensus on validation in general (currently discussed in [Validation and filter feature and Discourse](https://forum.solidproject.org/t/validation-and-filter-feature/548)).

I've pushed my work on https://github.com/solid/node-solid-server/tree/feature/simple-validation, in case it's interesting to continue at some point.

[2018-11-14 16:04] Mordax commented on #929
So this is definitely an issue with Git Bash for Windows and Command Prompt. Running this on the Unix subsystem works just fine.

[2018-11-14 17:01] TallTed commented on #897
@Mitzi-Laszlo - Why is this issue (which I opened at @kjetilk's [request](https://github.com/solid/node-solid-server/pull/869#discussion_r229492792)) being closed without PR nor any additional conversation in [the new discourse page](https://forum.solidproject.org/t/server-should-provide-logged-in-webid-and-its-label-s-to-user/546), which appears to me to do nothing but echo the brief exchange abo

[2018-11-14 20:40] megoth commented on #882
After a discussion with @timbl, @kjetilk, and @rubensworks on this earlier it seems that validation on the ACL-files might be a good compromise. If noone objects to this, I'll continue working on that tomorrow (it's should be almost done in that regard).

[2018-11-14 21:08] Mitzi-Laszlo commented on #897
Hi @TallTed, During the inrupt meeting we spoke about wanting to move some of the discussions from GitHub to forum.solidproject.org as it is a good place for conversations. Apologies for not explaining this in detail and not creating a pull request, we realise we went a bit fast and need to involve the community in the Solid decision. Shall I close the thread on Discourse? Happy to reopen this iss

[2018-11-14 22:40] TallTed commented on #897
@Mitzi-Laszlo -- Discussion may sometimes be better there; I don't feel strongly about that on this issue.  But I don't think opened issues should be closed until the relevant discussion is had, wherever that takes place, and the issue's closure should include reference to that discussion's conclusion.

That said, I don't think there's very much to discuss on this...

Once authenticated, that stat

[2018-11-15 10:59] kjetilk commented on #841
That's not necessary. It uses https://www.npmjs.com/package/get-folder-size , we take what we get from there.

[2018-11-15 14:57] rimmartin commented on #925
yea when application/octet-stream content type is set there is no effect; seems to be treated as a turtle file.
the dependency https://github.com/jshttp/mime-types should know what it is. when read back from the pod the file doesn't match the original

[2018-11-15 15:18] megoth commented on #688
After discussing with @kjetilk and @justinwb I've decided to go with the approach that @RubenVerborgh suggested in https://github.com/solid/node-solid-server/issues/936. My PR will consist of the following:

* A script that updates index.html with the latest version if meta-tag is not set

This means that we need to give people good time to update their index.html the first time we enable this, an

[2018-11-15 15:24] melvincarvalho commented on #688
thanks for looking at this & +1 from me wrt solid.community

[2018-11-15 15:52] scenaristeur commented on #900
if the /notes container is empty and You try GET /notes/note-* , there is nothing in /notes that match  note-*, i'm would be aggree with the 404.

[2018-11-15 19:18] Ryuno-Ki commented on #925
From what I read there it deals with a mismatch about Content-Type and file extension.
What I meant is more what [file](https://linux.die.net/man/1/file) does.

If you want to learn more about Magic Bytes, read [https://blog.netspi.com/magic-bytes-identifying-common-file-formats-at-a-glance/](Magic Bytes – Identifying Common File Formats at a Glance).

[2018-11-15 19:40] Ryuno-Ki commented on #900
What about using a 204 - No Content?

[![Status Code 204 - No Content](https://http.cat/204)](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success)

[2018-11-15 20:03] RubenVerborgh commented on #900
200 or 204 are the only right options. 4xx means client error; but there is no client error. Rather, the resource `/notes/note-*` corresponds to "the aggregation of…" and that resource always _exists_, regardless of whether it is empty.

200 is easiest for consistency reasons; 204 is equally fine.

[2018-11-15 20:09] JornWildt commented on #900
I like 204. It acknowledges that the query is valid - it just doesn't return anything.

Returning 404 would trigger error handling in the client - potentially yielding a warning message to the end user "Something went wrong - the query engine is not there!" confusing the end user since nothing did indeed go wrong.

If the /notes container does not exist at all, I would find 404 a proper answer.

I

[2018-11-15 20:13] RubenVerborgh commented on #900
That's a different case:

In our case, it's really simple. The resource "the aggregation of…" exists, so no client error. If the parent container does not exist, that's something else.

The reason we can choose between 200 or 204 is that the empty RDF document is also a syntactically valid Turtle document; a zero-byte document would be invalid HTML/XML/JSON-LD. But I like 204 because it is then th

[2018-11-15 20:53] Ryuno-Ki commented on #936
Hm, what happens if the user allowed an update - and then the next comes in?
That is, would users have to edit the file if they want to opt-in/-out?

Alternatively you could set the `content` to a version (like `5.0`?) to estimate how much would break…

[2018-11-15 20:58] RubenVerborgh commented on #936
They allow all updates.

[2018-11-15 21:14] Ryuno-Ki opened #939 "Closing tickets with reference to forum"
Recently, several issues were closed here without any notice about the reason.

See #820, #821 for example.

I remember having seen a bot in some GitHub repos which listens to a label assigned to an issue (IIRC „question”). It posted a comment telling the author that this is not the right place to ask question, pointing to the forum and closed the issue.

I can imagine this would be helpful here a

[2018-11-15 22:06] Mitzi-Laszlo commented on #939
Hi @Ryuno-Ki,

I was the one closing #820 and #821, my apologies for not giving enough explanation and I will stop doing this. I have reopened the issues so that the conversation can continue in GitHub.

Let me know if there is anything else you would like me to do.

Mitzi

[2018-11-15 22:47] timbl commented on #787
When I say "generates a 404" I don't mean you have to do an HTTP request.  You do hae to chek that the file does not exist (as opposed to anu other error like no such file system or parse error etc

[2018-11-16 06:11] JornWildt opened #940 "update: destination <https://XXXX> inconsistent with delete quad https://XXXX"
During development I ran into this error message while updating with the update-manager:

    update: destination <https://XXXX> inconsistent with delete quad https://XXXX

While it is correct, it is not an error in update-manager, it is still a rather confusing error message to get when you are new to Solid ... what is a "delete quad"? What does this actually mean? What did I do wrong? It would b

[2018-11-16 09:35] RubenVerborgh commented on #940
Thanks, this error message comes from RDFlib.js, let's follow up there: https://github.com/linkeddata/rdflib.js/issues/278

[2018-11-16 09:35] #940 closed

[2018-11-16 10:03] RubenVerborgh commented on #787
We have had a privilege escalation bug in the past, where an ACL file could not be read (due to a server bug), and it was happily skipped.

So I think the issue here is: if an ACL file exists on disk, never ever read the parent.

[2018-11-16 10:19] JornWildt commented on #940
Ah, bummer, I know that, but didn't think about it ... sorry.

[2018-11-16 10:32] RubenVerborgh commented on #940
No worries 🙂

[2018-11-16 13:43] RubenVerborgh opened #941 "How do people end up with a login subdomain? (It breaks OIDC issuer.)"
@mguiral in https://github.com/solid/solid-cli/issues/4 ended up with a login subdomain. How did this happen, is that the default now?

[2018-11-16 13:54] dmitrizagidulin commented on #941
That’s really weird. I can’t imagine by what mechanism it would be the default! Will look.

[2018-11-16 13:57] megoth commented on #941
This should've been stopped by the blacklist-functionality, and login is on [the blacklist](https://github.com/marteinn/The-Big-Username-Blacklist/blob/master/list.txt).

Perhaps we haven't enforced the removal of usernames before the blacklist was put in place? Or perhaps the blacklist isn't working as intended... (I do not hope this is the case)?

[2018-11-16 13:57] megoth commented on #941
The PR for the blacklist is https://github.com/solid/node-solid-server/pull/893

[2018-11-16 14:04] kjetilk commented on #941
This was should have been in the 4.3.0 release, but perhaps the servers haven't been upgraded?

[2018-11-16 14:13] kjetilk commented on #941
Oh, reading on gitter, this doesn't seem to be about the blacklist, and not about our servers...

There's something creating that login subdomain... A bug?

[2018-11-16 14:47] mguiral commented on #941
After some investigations, i have on old .db folder with wrong provider.json configuration file. So i remove it but the page https://repo1.samy-poc.org/common/popup.html redirected me to https://login.repo1.samy-poc.org/login when i click on "Log in with repo1.samy-poc.org" button and now i have an unauthorized message.

Hope that helps

[2018-11-16 14:51] mguiral commented on #941
Ok now it's working. So i just have to delete the .db folder.
Thanks a lot for your time

[2018-11-16 14:52] kjetilk commented on #941
OK, great! However, could there have been a bug here that caused it to create a login host to begin with?

[2018-11-16 14:55] mguiral commented on #941
I think it will be great to delete .db folder when new solid init command line is running

[2018-11-16 15:03] mguiral commented on #941
You can close it

[2018-11-16 16:06] #941 closed

[2018-11-16 17:48] bourgeoa commented on #926
The errors came from a docker buil dversion from **'master'** 5 days ago.
Rebuilt today and no problem anymore.
I think that somewhere should be stated that **'master' is not the current to build version for docker**.
That it is safer to use last tag version in line with npm.

I build and use solid with docker on synology 6.1 with reverse-proxy and it works well;

[2018-11-16 17:48] #926 closed

[2018-11-16 23:41] csarven opened #942 "GET on storage root returns double slash in description"
[code]

[2018-11-17 00:24] csarven opened #943 "Unrecognised relations in Content-Type interferes with content negotiation"
[code]

See also:
[code]

The server should at the very least ignore the relations it can't handle and return application/ld+json, or return 406.

[2018-11-17 14:43] melvincarvalho commented on #942
Strange.  I am normally used to seeing these are relative links.

[2018-11-19 09:22] JornWildt opened #944 "Can we have some sort of "open with" predicate?"
Would it be possible to define a predicate that tells the Solid server how to "open" a specific piece of data? Or does such a thing exist already?

Example: I have a web-app that stores data about an RC model at `http://my-pod/models/1234`. If someone opens that URL they will see the generic data-browser linked data representation of the resource. Now I would like to enable a "Open" or "Show" butt

[2018-11-19 10:27] mguiral opened #945 "Browser localStorage not updated"
Hi,

When i updated my solid-server package to the last version, my browser localStorage solid-auth-client was not updated and when i tried to login, the login popup window redirected me to an url starts with https://login.<domain>/ (the previous issuer url from solid-auth-client localStorage key) and i am not able to login anymore.

After cleaning my localStorage everything is working well.

Does

[2018-11-19 13:14] RubenVerborgh opened #946 "ResourceMapper transition actions"
### Context
We are in the process of changing the URL-to-filename correspondence within node-solid-server, such that it conforms to https://www.w3.org/DesignIssues/HTTPFilenameMapping.html. Importantly, this fixes the current Content-Type breakage we have (#925 and others).
As an example:
- v4.0.0 will map `file:///solid/profile/card` to `https://pod.example/profile/card` with content-type `text/t

[2018-11-19 13:15] RubenVerborgh opened #947 "Test LegacyResourceMapper in production"

[2018-11-19 13:16] RubenVerborgh opened #948 "Update new pod template filenames to follow ResourceMapper mappings"
For example, `profile/card` needs to become `profile/card$.ttl`.

[2018-11-19 13:18] RubenVerborgh opened #949 "Create migration script for filesystems from LegacyResourceMapper to ResourceMapper"
Essentially, all extensionless files should get `$.ttl` appended.

We might want to skip files and folder trees that start with a `.`, such as `.git/*` and `.htaccess`. (The latter would be considered an extension, so would not be affected anyway.)

[2018-11-19 13:19] RubenVerborgh opened #950 "Upgrade public Solid servers software to v5 and migrate filesystems"
Filesystem migration can happen with the tool created in #949.

[2018-11-19 13:30] RubenVerborgh commented on #944
I believe this is one of the uses of type indexes, am I right @timbl @melvincarvalho?

Not unrelated is the old Web Intents initiative, which also aimed to do this.

[2018-11-19 13:42] melvincarvalho commented on #944
I think the type index allows you to discover where in a pod data of a certain type is.

It would currently be opened in the data browser by the default pane of that type, I think.

[2018-11-19 13:48] JornWildt commented on #944
Yes, that is also what I would expect from what I have read so far. But that would require each and every Solid server to have my type registered with a pane locally, right? Disclaimer: I have not read the panel specs and I'm only guessing here, assuming that panels require code on the Solid server.

[2018-11-19 14:01] csarven commented on #944
@JornWildt No, you define it once in your profile, and the application (eg that's triggering the "open with") discovers those preferences and adapts eg. where to store or find a particular kind of information.

[2018-11-19 14:21] JornWildt commented on #944
Thanks, could you point me to the specs for that? My Google Foo is not at a suitable lever to uncover that artifact ...

[2018-11-19 20:26] RubenVerborgh opened #951 "Write release notes for v5.0.0"
Include upgrade notes (see #946)

[2018-11-20 07:14] rubensworks commented on #951
I assume this is for the CHANGELOG.md?
How is this file currently updated? Manually, or with some tool?

[2018-11-20 08:38] rubensworks commented on #661
Done in #952.

[2018-11-20 09:13] melvincarvalho commented on #946
Great work!

A couple of things.

- Would it be possible to make this a switch, or behind a flag, or config option.  That will enable smoother upgrade, easier testing, and more flexibility for pod owner.

- It seems like quite a big change, especially in terms of technical debt.  ie requires file name changes.  Could I request that we put this functionally live in a version after 5.0.0, so that it

[2018-11-20 09:43] kjetilk commented on #951
Yeah, I think we can put it in there. Right now, it isn't updated. I spent an hour trying to hack a tool so that we could use the [DOAP changeset vocab](http://ontologi.es/doap-changeset#) to maintain the changelog, like I do with my [Perl modules](https://github.com/kjetilk/RDF-LinkedData/blob/master/meta/changes.ttl), but it wasn't that straightforward to extract out of the toolset.

[2018-11-20 09:47] rubensworks commented on #951
Oh, nice :-)

I recently created [manual-git-changelog](https://github.com/rubensworks/manual-git-changelog.js) for automating changelogs as much as possible in my projects. Not sure exactly what the release workflow for NSS is exactly, but if it matches with my workflow, then this might be a useful tool to use here.

[2018-11-20 09:54] kjetilk commented on #946
I don't think we should do that. We need to move forward, and such a switch would require even more complexity. Such flexibility comes at a significant cost.

You know, this is exactly the kind of minimal bug fixing and refactoring you've called for, @melvincarvalho . It too has consequences,

Actually, the stability and quota work was originally intended for 4.4, and I would still like to release

[2018-11-20 10:48] RubenVerborgh commented on #946
Inrupt can (and will) take care of upgrading to v5. It will involve upgrading the software and running a script that does the renaming, and that's it.

As @kjetilk said, we need to move forward.
There's no point in still allowing a mistake from the past.

How exactly are we locked in and where specifically is the technical debt?

The technical debt was in the fact that the URL-to-filename mapping

[2018-11-20 10:51] RubenVerborgh commented on #946
As a side remark, I don't think @melvincarvalho and I have the same definition of "technical debt". You wrote:

But assuming a definition of

We are not choosing the easy solution here. #952 is the proper fix, by moving the mapping rules into a single place. This requires the one-time "pain" of running a migration script.

Technical debt is choosing an easy solution, which in this case would be a

[2018-11-20 10:53] kjetilk commented on #946
Yeah, this change is the technical debt payback.

[2018-11-20 11:42] melvincarvalho commented on #946
That phrase comes across as slightly heavy handed.

You may be unaware on the history here, so I can perhaps clarify slightly.  I am the owner of solid.community.  It was a personal purchase, that predates inrupt.  I set it up with the help of Eric, and we pointed it at the MIT server running on a digital ocean droplet.  The idea I had was to run a solid server that was not classed as "test" and t

[2018-11-20 11:47] RubenVerborgh commented on #946
I did not know, apologies, I assumed this was an MIT server (and I have managed it like that in the past, for which I also apologize). If it is yours, you're of course free to do as you please.

Indeed.

There always is when making progress :-) However, the current mapping is a bug, not a feature. https://xkcd.com/1172/

[2018-11-20 11:48] melvincarvalho commented on #946
@RubenVerborgh not a problem at all!  I honestly just got it to help the solid eco system.  Many people have been involved with helping, and I consider it a team effort!

[2018-11-20 11:56] RubenVerborgh commented on #946
@melvincarvalho Can we further clarify this on Gitter? I pinged you there. Thanks for your help.

[2018-11-20 11:58] RubenVerborgh commented on #946
For the upgrade aspects, let's follow up in #950.

[2018-11-20 12:00] kjetilk commented on #946
At any rate, 4.4.0 is out :-)

[2018-11-20 12:07] kjetilk commented on #950
The most problematic part of this that I can see is that it is a problem for those who just wants to run NSS against an existing file system that doesn't have this convention and is mainly managed by some other system.

However, I think the interoperability of Solid shouldn't be in that end, it imposes too many constraints, instead, they should incorporate their own server, or, with this change, w

[2018-11-20 12:20] melvincarvalho commented on #950
That's it.  For example I've pointed dropbox at a node solid server running on a file system, in order to get the benefits of both systems.  Or fuseFS, or any number of dozens of web servers.  Bear in mind none of the other solid servers do this yet, so migration is an issue.  Similarly let's say you are using solid with git, then those files dont have extensions and now it's problematic.  People

[2018-11-20 14:31] RubenVerborgh commented on #950
I assume that zero other systems have the convention that no extension means Turtle, so we're probably good.

If you indeed have a Dropbox sync, then you are probably already using .ttl as an extension for your Turtle files. Which means that nothing changes for you. Is that correct?

And we provide a solution for that issue with zero impact for people who don't access their pod through the filesys

[2018-11-20 14:38] RubenVerborgh commented on #950
That's BTW not true. Extensionless files are supported as-is.

The _only_ thing we are replacing is that extensionless files are interpreted as Turtle. So in fact, git is broken with the _current_ implementation (and I actually had this issue), but not with the future one.

[2018-11-20 14:49] megoth opened #954 "Create a node-equivalent version of `bin/solid-test`"
It is useful to have a node-equivalent version of `bin/solid-test`:

- Windows users have better access to the script (contributing to fixing https://github.com/solid/node-solid-server/pull/802)
- combined with [nodemon](https://github.com/remy/nodemon), it enables easy setup for "restart-server-upon-change"

I tried creating [a simple version of it earlier](https://github.com/solid/node-solid-ser

[2018-11-20 15:48] melvincarvalho commented on #950
All the WebID's on e.g. solid.community are /card and turtle.

That'll break 1000s of WebID's tho.  Why cant extension-less still be interpreted as turtle, where they exist?  So, we will not run this script.

That's good news.  So what we would need is an understanding of ResourceMapper that keeps existing functionality.  How to do that.  Either via a switch, or a code change etc.

OK, thanks, I h

[2018-11-20 16:04] RubenVerborgh commented on #950
_Nothing_ will break when following the upgrade instructions.

Because that breaks other things, like git, as you remarked above.

We do not want to do that, because the existing functionality is buggy.
But you can do that on a code level by replacing ResourceMapper by LegacyResourceMapper.

So that is understood, but not something we want in core, because of technical debt reasons.

But that is w

[2018-11-20 17:16] melvincarvalho commented on #950
The URIs of files change, and that breaks opacity, unless you have a translator.  I think we have a major architectural disagreement here.  In that the web should be viewed as both an http: and file: space.  While it may be apparent from a certain perspective that it's only http: , actually both are fundamental to solid, when viewed as a webization of the file system.

So, once again.  I am all fo

[2018-11-20 18:14] RubenVerborgh commented on #950
From your post above, I take it that we are in agreement that nothing changes for people who only use HTTP-based access. So, before I reply to your points, may I ask the following questions?

- How many people on solid.community are currently using file-based access and use extensionless files?
- How many accounts in total are on solid.community?

I think the answers are:
- 0 or 1 (depending on wh

[2018-11-20 18:49] RubenVerborgh commented on #950
Since my technical points still stand and haven't been replied to, I'll
refrain from further discussion, especially since they make the proposed
plan unnecessary.

That's what we have. There is zero breakage for HTTP users, and nothing
that wasn't broken already breaks for filesystem users.

At some point, we just need to move. The issues have been there for over a
year, there was plenty of time f

[2018-11-20 18:54] melvincarvalho commented on #950
@RubenVerborgh fair enough!  Thanks for setting out your points.  I think both of our positions are reasonably clear.  Solid community will upgrade to NSS releases, but will hold off on running the script that changes the file system, for the moment, until it's better understood.  I think lots of options are on the table.

I dont have time to chat on gitter this week, but maybe next.

However, if

[2018-11-20 19:39] samuelmr opened #955 "Check External WebID when creating a new account"
When a user registers to Solid server she may enter an external WebId.

If the user enters an external WebId, the server should at least check that the WebId exists. If not, a warning should be shown to the user with the possibility to correct the WebId.

A bonus feature would be to check if the WebId document can be used for login (e.g. it contains cert:key).

An alternative approach would be to

[2018-11-20 20:14] RubenVerborgh commented on #950
@melvincarvalho

It is urgent that we figure out who has the responsibility for that decision.
Based on your comments in #946, you own the solid.community domain,
but MIT owns the server on which the software and data reside.
So it is not clear-cut.

[2018-11-20 20:27] JornWildt opened #956 "Globbing, sorting and paging"
Would it be possible to add query parameters for sorting and paging when requesting a "globbing" resource?

When presenting a list of items (blog comments, chat entries, pets, whatever), it is very common to let the server do paging and sorting to improve efficiency for browsing through large amounts of data (as compared to loading all N-thousand Turtle statements and throw away 99% of them in ord

[2018-11-20 20:30] melvincarvalho commented on #950
@RubenVerborgh absolutely!  I have always considered it a team effort.

[2018-11-20 20:34] RubenVerborgh commented on #950
Execute the following command:
[code]

[2018-11-20 20:43] JornWildt commented on #956
I believe it is different from SPARQL in that it relates to whole resources instead of single statements - a granularity which is quite different from a giant un-organized set of statements for which SPARQL normally is used (AFAIK).

[2018-11-20 20:49] RubenVerborgh commented on #956
Unless you consider a document a graph and do a `CONSTRUCT` over the graphs you want 🙂

[2018-11-20 21:32] csarven commented on #950
If solid.community is intended to be a flagship service, then it should act like it. Self-dogfood and all that. That's part of the social contract of running a flagship.

If it is intended to be an arbitrary pod service out there, then of course it makes sense to evaluate concerns beyond what's directly associated with the Solid project.

I was under the impression that solid.community would run r

[2018-11-20 21:41] melvincarvalho commented on #950
@csarven thanks for the feedback.  You are very welcome to help with solid.community, and the vision going forward.  You've always been welcome to help, but unsure you have cycles free?

It just happens to be the first pod.  I sort of campaigned for years to try and get a public node-solid-server pod running, so that users could use solid, play with it, experiment etc.  Simply because there were n

[2018-11-20 22:42] JornWildt commented on #956
Does that mean it (paging and sorting) is doable with the Solid server as it is today? It would be great to know how.

[2018-11-20 22:43] RubenVerborgh commented on #956
No not yet; Solid servers do not support SPARQL queries.

[2018-11-20 23:06] kjetilk commented on #956
@dmitrizagidulin you were talking about this, IIRC, care to voice an opinion?

[2018-11-21 00:52] dmitrizagidulin commented on #956
@kjetilk My thoughts on this are:

One, we should deprecate globbing. It was always a placeholder, until better querying came along.
Instead, we should focus on:

* Implementing the [LDP Paging spec](https://www.w3.org/2012/ldp/hg/ldp-paging.html)
* Implementing Triple Pattern Fragments (and via those and Comunica, SPARQL)
* Promoting use of [LD Flex](https://github.com/solid/query-ldflex/) queryi

[2018-11-21 07:12] JornWildt commented on #956
The LDP paging spec's use of HTTP headers (link relations) for paging information seems like a better idea then using URL parameters. Cool.

But I don't see any way to specify the ordering? The spec has a way to show what ordering the server selected - but I cannot find a way for the client to specify it? Given that the Solid server has no way to know what values to order by, it doesn't help much.

[2018-11-21 07:16] melvincarvalho commented on #950
Thanks!

That would appear to be one half of the process.

The other part that is required is the accompanying code change in order for the server to still be able to serve files, in particular, a user's WebID.

[2018-11-21 07:17] JornWildt commented on #956
I also think globbing still has value. In example 13 (https://www.w3.org/2012/ldp/hg/ldp-paging.html#ldpc-ex-ordering-nopaging) the LDP paging spec spec shows the content of a container - but here it includes (some? all?) statements from the container items ... but the Solid server only returns a few file system details about the container items. If I want the full resource content of the items, I

[2018-11-21 07:18] RubenVerborgh commented on #950
As mentioned above: LegacyResourceMapper

[2018-11-21 07:36] RubenVerborgh commented on #951
That's not planned at the moment; we first need evidence that more than one person in the community needs this. This change has been pending for over a year and no one else reacted or proposed a timely alternative, so I'm confident we're good.

[2018-11-21 07:52] melvincarvalho commented on #951
@RubenVerborgh understood, but disappointed.  For the record, I strongly think this should have been engineered as a switch or config option.  Also the file system changes should have been in its own version.

As a pod owner, the upgrade performs changes to every user's file system, without their control or consent, and without a clear way to back that out.  It also breaks compatibility with every

[2018-11-21 08:02] rubensworks commented on #951
Just my two cents:

This would mean that two systems need to be maintained, which requires additional effort and  becomes an additional source of bugs.

5.0.0 is a major update, so IMO this is the perfect time for this transition :-)

Hence the major version change.

[2018-11-21 08:06] melvincarvalho commented on #951
@rubensworks thanks for the comments, you make good points imho.  Just on one, which I think is relevant to this thread.

BTW This is pretty normal in the node ecosystem.  For example, node 8 is supported for quite some time after the release of node 10.  Similarly with ubuntu etc.

What is happening here is that a cliff edge is being introduced with little or no concern for those running pods.  M

[2018-11-21 08:11] RubenVerborgh commented on #951
@melvincarvalho Here's how discussion works. Either you reply to my technical arguments and you bring evidence that >1 person is affected, or I refrain from further discussion and just move on as planned.

Since you have not replied to my technical points in the other thread, they still stand and there is no value in continuing.

[2018-11-21 08:44] melvincarvalho commented on #951
@RubenVerborgh understood.  Thank you for your time and responses.  In general, my posts were not specifically directed at you.

[2018-11-21 12:43] csarven commented on #944
@JornWildt I think you might want to make use of something like https://github.com/solid/solid/blob/master/proposals/data-discovery.md and https://www.w3.org/TR/activitystreams-vocabulary/ .

If that sounds about alright, may I suggest that you close this issue.. as it is not particularly about node-solid-server.

[2018-11-21 13:40] melvincarvalho commented on #949
Not necessarily a question only for @RubenVerborgh but I'd like to clarify.

Is the intention of this script to add $.ttl to files even if they are not turtle files.

As a concrete example, would

`.git/HEAD` become `.git/HEAD.$ttl`

[2018-11-21 13:44] RubenVerborgh commented on #949
Yes, as explained before, nothing observable changes for HTTP users (minus fixed bugs).

From an HTTP user's perspective, the following currently happens:
- GET `.git/HEAD` will return a resource with `Content-Type: text/turtle`, which will then fail when parsed in the browser.

That behavior, however faulty it is, will be preserved.

I realize this breaks access for file-system-based users (the e

[2018-11-21 13:47] RubenVerborgh commented on #949
For clarity: the reason of breakage is the previous design decision that extensionless files are Turtle; the only thing we are doing is interpreting data pods on disk as intended by that decision.

There is unfortunately no automated method of determining whether an extensionless file is indeed Turtle or not (given that empty files, or files with just comments, are valid Turtle too).

However, I t

[2018-11-21 13:49] dmitrizagidulin commented on #949
Re previous design decision about extensionless files as Turtle -- would it be another option to instead treat extensionless files as application/octet-stream, and not give them a .$ extension?

[2018-11-21 13:49] melvincarvalho commented on #949
@RubenVerborgh thank you for clarifying and the additional info.

Excuse my ignorance.  Could I ask what would happen to those folders that are skipped.  The files of course would remain intact.  But how would the 5.0.0 server treat them -- just as before as turtle files, or as a 404, or some other mime type?

[2018-11-21 13:53] RubenVerborgh commented on #949
That breaks the HTTP interface, notably `/profile/card`.

[2018-11-21 13:55] RubenVerborgh commented on #949
Then they would be `application/octet-stream`, as they should've been in the first place, and this gives the expected behavior for .git.

Note that whatever we choose, a perfect solution exists. The question is: will people want their non-Turtle extensionless files to remain broken, or do they want them to be fixed? Arguments can be made either way.

[2018-11-21 14:10] melvincarvalho commented on #949
So, I had a quick look at the code and it seems to come from `defaultContentType` which is set in the ResourceMapper function.  Though I suppose that in turn could be easily enough changed, or taken from the config file.  That provides pretty good flexibility.

Having reviewed the code, the backwards compatibility of this alot better than I had feared, so at this point many of my concerns become a

[2018-11-21 14:19] RubenVerborgh commented on #949
Indeed.

Thanks 🙂 That was the goal all along.

Okay, adding that to #949.

Told you, nothing breaks that is not already broken 🙂 Only a (currently broken) subset is affected (https://github.com/solid/node-solid-server/issues/950#issuecomment-440377232).

I'm a big fan of extensionless files for future compatibility, but @timbl likes extensions because of the filesystem compatibility. Solid users

[2018-11-21 14:45] kjetilk commented on #787
Right, good point.

[2018-11-21 15:03] melvincarvalho commented on #950
Chatted to @RubenVerborgh out of band about this.  I now understand that the default content type is indeed a single setting which could be switched in order to provide backwards compatibility, and prevents long-term lock in.  So, I think I'm good with this change.  Thanks for taking the time to explain.

[2018-11-21 15:04] RubenVerborgh commented on #950
Thanks @melvincarvalho.

[2018-11-21 15:04] rubensworks commented on #662
Done in #959

[2018-11-21 15:04] #662 closed

[2018-11-21 15:07] JornWildt commented on #944
Thanks, I'll take a look at those. I don't think data discovery works though. It states: "the Type Registry provides a way for a client application to discover where a user keeps data relevant to this app, ..." but here we have the data and want to know how to work with it. It seems like data discovery is the opposite way around - how should an application, that knows how to handle data, find data

[2018-11-21 15:07] melvincarvalho commented on #944
@csarven I'm unsure that answers @JornWildt 's question.  The data discovery spec shows you where to find data of a certain class (say Chat data).

What I think he was asking for is, how to link a Class of a data, to a particular app.  ie not the default pane in the data browser, your own pane (maybe dynamically loaded) or a stand alone app.

Do we have a way to do that?

Instead of closing -- jus

[2018-11-21 17:07] dmitrizagidulin commented on #944
@JornWildt @csarven So, that was exactly the main use case for the [App Index](https://github.com/solid/solid/blob/master/proposals/app-discovery.md). Specifically, to define an 'Open With...' sort of functionality. However, it is not currently implemented, and we haven't settled on the actual open with predicate.

[2018-11-21 20:14] Ryuno-Ki commented on #787
As a side note: If you hit <kbd>y</kbd> while on that page, GitHub will expand the URL to a canonical form, which does not change over time. This way, you can look up what was referred to in a few month from now (when the page likely changed). Hit <kbd>?</kbd> to learn about more GitHub shortcuts :-)

[2018-11-21 21:41] JornWildt commented on #944
I would love to move this issue to solid-spec but cannot find a button for it. So I'll close this one and copy it to solid-spec.

[2018-11-21 21:41] #944 closed

[2018-11-22 09:10] kjetilk commented on #787
Come to think of it, when codifying this in tests: Wouldn't an empty .acl for a file lead to loss of control (i.e., you cannot again change the controls) for that file?

I haven't got time to look into this now, but we should have some strategies to mitigate the effects of stuff like that happening by mistake, error or malice.

[2018-11-22 13:10] rubensworks commented on #948
I'll start working on this.

I assume that _all_ extensionless files should always be seen as Turtle, right? Unless there are any specific edge-cases?

[2018-11-22 13:56] RubenVerborgh commented on #948
In our pod templates, yes.

[2018-11-22 14:07] #948 closed

[2018-11-22 14:07] #949 closed

[2018-11-22 15:09] dmitrizagidulin commented on #787
@kjetilk Yes, writing an empty .acl does lead to a loss of control for that resource or container.

[2018-11-22 20:26] NoelDeMartin opened #962 "Support SPARQL GET requests as documented on solid-spec"
In the solid-spec repository it is documented that it's possible to use SPARQL to retrieve content as an alternative to globbing. Since this is not supported in yet, I'm opening this issue to keep track of this feature.

Source: https://github.com/solid/solid-spec/blob/master/api-rest.md#alternative-using-sparql

[2018-11-23 00:40] kjetilk opened #963 "Use of acl:accessTo in inherited ACLs"
What seems to be our final main hurdle to `acl-check.js` integration #777 was encountered late tonight, when we found the tests for auth-proxy, it contains an [inherited ACL](https://github.com/solid/node-solid-server/blob/master/test/resources/auth-proxy/.acl) that contains `acl:accessTo` statements about resources further out in the path, e.g.:

[code]

I can certainly see the argument for havin

[2018-11-23 00:44] RubenVerborgh commented on #963
Hmm, there was actually a good reason for this deep ACL.

The reason is that this is used in a proxy context, i.e., the mapped `/server/a/r` is not a real folder on the server, but rather a resource `/a/r` on `/server` (which is not necessarily a Solid server but can be any Web server).

Both @timbl and I use it to control access to a proxied resource.

It's probably not in the spec indeed, but it

[2018-11-23 00:51] kjetilk commented on #963
Yeah, I can certainly see the use for it. I also put some [failing tests in](https://github.com/solid/node-solid-server/commit/4f47123a4fcdc6d82bd1ebc1eb8c2ef750144c4f) to track it, but it seems like a pretty significant hurdle that could delay us quite a bit, and I'm really anxious to not delay it any further.

Great if we could have a decision about this before tomorrow.

[2018-11-23 09:36] timbl commented on #963
- Do I assume that the ACL file in your example is the one for `/server/a/`?
- Do I assume that the request in question is about  access to `/server/a/r` ?
- Do I assume that there is no `/server/a/r.acl` ?

So the ACL file you show is the the ACL file which is relevant.
And it gives access to the resource in question.  So I think the query in acl-check will succeed, won't it?

You don't say above

[2018-11-23 10:07] RubenVerborgh commented on #963
All fine with me (even though I like it).

I just want to point to https://github.com/solid/node-solid-server/issues/595 was a feature request of yours, and we created this functionality for that together. Is it no longer a requirement, or do you want to solve this differently?

[2018-11-23 10:39] kjetilk commented on #963
My concern right now is 5.0.0, and not delaying that any further, we should seek to freeze that today so that we can focus on the road ahead, and I see this as something that needs further specification and implementation that isn't something we can do today.

We can always come back to it post-5.0.0. So, are we OK on not having it in 5.0.0?

[2018-11-23 11:06] kjetilk commented on #963
Resolved on gitter. Skipping tests and closing.

[2018-11-23 11:06] #963 closed

[2018-11-23 11:45] melvincarvalho commented on #951
I think it's worth noting a few points.  At least here, if not in the notes.

This version of node solid server loses some desirable properties.

One great thing about the web and solid is that you just point a web server at a file system and you are up and running.  You point an LDP server at a file system and you get more features.  You point a solid server at a file system and you get more feat

[2018-11-23 12:03] melvincarvalho commented on #951
I think the release notes should also say something about changes to the way certain files are created, such as `profile/card` and append only POSTS (such as to an inbox).

[2018-11-23 12:14] csarven commented on #951
It is fixing what was previously malformed. We can debate about a well-document bug being a feature I suppose.. but that'd be a waste of time.

That's literally what constitutes a major version.

There is no specified or implemented server-server communication at the moment. Citation needed.

Citation needed.

Citation needed. Moreover, there was no promise at any point in time that "bridging" (in

[2018-11-23 13:48] rubensworks commented on #951
Migration steps have been added in #967.

Shall we leave this issue open for any other things that need to be added to the changelog for release 5.0.0?

[2018-11-23 13:55] kjetilk commented on #951
Yup.

[2018-11-23 14:12] rubensworks commented on #943
This may be fixed already in eb73ae2aa6f1477b3b11bb681484eff43f5a6302 (v5.0.0), to be tested.

[2018-11-23 14:33] kjetilk commented on #943
OK, cool, I created a `retest` label to remind us about this. :-)

[2018-11-23 14:50] timbl opened #968 "clear the codes/ dir on startup"
a server seems to have alot of .db/oidc/op/codes/_key_cff7d8a8431204...d674613a4dd6b.json

giter chat: https://gitter.im/solid/node-solid-server?at=5bf7d650fa7bbb3fe0ef4b80

[2018-11-23 14:51] timbl commented on #968
Note just codes, the whole db I asume

[2018-11-23 14:52] RubenVerborgh commented on #968
Clearing the whole db definitely would break all existing logins. solid-auth-client creates a new OIDC application for every combination of browser + return URL.

[2018-11-23 19:48] melvincarvalho commented on #948
There is also the case when some slugless turtle is POSTed to an inbox and a UUID is created without an extension, iirc

Mainly posted this because I wanted to be the first use the phrase "slugless turtle" :)

[2018-11-23 21:15] kjetilk commented on #433
Hmmm, indeed.

AFAICS, there hasn't been any changes in that since the dawn of ages:
https://github.com/solid/node-solid-server/blame/master/bin/lib/start.js#L71
But I don't know the entire history here, so I'll reopen in case someone who does can comment.

[2018-11-24 14:50] melvincarvalho commented on #951
@csarven

I went out of my way to ensure that my notes were added in note form

And also stated that this would not stall the release

Disagreements are fine, but ad hominems, attributing motives to individuals, or passive aggressive jabs are not.  I know you can do better.  I would invite you to review our [code of conduct](https://github.com/solid/community/blob/master/code-of-conduct.md).  We w

[2018-11-24 15:42] RubenVerborgh commented on #951
@melvincarvalho My problem with this discussion is as follows.

First of all, I assume we all mean well. So what I will be sketching below is not the result of bad intent, but is a result nonetheless.

Unfortunately, many of the discussions that we have follow this pattern:

- person A: opinion or concern not substantiated by technical arguments
- person B: technical arguments that aim to indicate

[2018-11-24 15:49] RubenVerborgh commented on #951
@melvincarvalho In the post below, I will invite you to make specific technical arguments. As per my post above, please accept these invitations; only technical arguments can alter the outcome of this discussion.

I disagree for reasons state above and in #950, which has not been replied to.
Please explain which properties and why.

I disagree for reasons state above and in #950, which has not bee

[2018-11-24 16:42] RubenVerborgh commented on #951
No doubt on my mind, see the very first point in my post, which I made for
this purpose.

My message is not that you're not trying, but that, in my opinion, you're
currently not succeeding.

disappointing.

The very fact that you, again, did not reply to any of my technical points
despite my explicit invitation, indicates the necessity of that action.

[2018-11-24 22:31] kjetilk commented on #968
Not a lot, AFAIK. It is used by https://github.com/solid/oidc-auth-manager (and only that, AFAICT), is a custom key-value store: https://github.com/solid/kvplus-files

[2018-11-25 07:30] melvincarvalho commented on #951
Somewhat vague.  In your response you answered your own questions.  If there is one of more you feel have not responded to, it is helpful to either provide a reference, or perhaps kindly restate it.

However you are completely missing the point.

I am not stating a technical objection.  I am riling against a personal attack.  Which you decided to exacerbate.  Your silence is deafening.

[2018-11-25 10:45] RubenVerborgh commented on #951
And that's exactly our problem. We really wish you did.

I believe @csarven and I used different words to explain the same thing: your concerns lack arguments, so we cannot act upon them. Hence, discussing only costs time but does not effect change, and thus—unintentionally—stalls a release. As such, I do not consider this a personal attack, but a correct characterization of the fruitless growth o

[2018-11-26 13:08] fnoorden-vs opened #972 "Does not work on Node <= 8"
Centos 7
solid-server@4.4.0
node v6.14.3

# solid init
/usr/lib/node_modules/solid-server/bin/lib/start.js:37
  start.action(async (options) => {
                     ^
SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:549:28)
    at Object.Module._extensions..js (module.js:586:10)
    at Module.load (mo

[2018-11-26 13:11] RubenVerborgh commented on #972
Your Node version is too old; at least 8 is required.

[2018-11-26 13:13] fnoorden-vs commented on #972
Thanks Ruben for the fast solution.

[2018-11-26 13:13] #972 closed

[2018-11-26 15:37] kjetilk opened #973 "WAC-Allow doesn't seem to depend on resource"
Looking at the code in
https://github.com/solid/node-solid-server/blob/adb0691a787d65e41cfd9e32d4496d8a0b4f98ed/lib/header.js#L132
it doesn't seem like #246 was implemented with `resource`, because that parameter doesn't seem to be used.

[2018-11-26 15:53] rimmartin commented on #954
Hi,
I stood node-solid-server up on windows by making the scripts solid.cmd and soild-test.cmd in
https://github.com/rimmartin/node-solid-server/tree/master/bin

I believe the behavior is equivalent to the linux scripts

[2018-11-26 16:17] RubenVerborgh commented on #973
Indeed, `resource` is implicitly in `acl`.

[2018-11-26 20:06] megoth commented on #939
If there are no more comments reg this, I'll close this issue for now. Hope that is ok.

[2018-11-26 20:06] #939 closed

[2018-11-27 13:12] kjetilk commented on #777
Should be done with the merge of #970.

[2018-11-27 13:12] #777 closed

[2018-11-27 13:12] kjetilk commented on #787
Should be done with the merge of #970.

[2018-11-27 13:12] #787 closed

[2018-11-27 13:17] kjetilk commented on #784
I'm pretty sure the problem wouldn't be the same with v5.0.0, so you may want to retest with that to see if the new behaviour is reasonable. I'm sure what would happen exactly, but I think you'll see a 500 error. Please let me know if you find the new behaviour acceptable.

[2018-11-27 13:19] kjetilk commented on #785
It would not enter that loop anymore (because it has been entirely removed from the code), but the test is still commented out, as it causes all group tests to fail with a `500` and we should determine if that behaviour is what we expect. My hunch is that it is appropriate.

[2018-11-27 13:22] #661 closed

[2018-11-27 13:23] #841 closed

[2018-11-27 13:41] RubenVerborgh commented on #921
I think this issue should move to solid-auth-client, where it is currently https://github.com/solid/solid-auth-client/issues/95

[2018-11-27 13:41] RubenVerborgh commented on #883
I think this issue should move to solid-auth-client, where it is currently https://github.com/solid/solid-auth-client/issues/95

[2018-11-27 14:29] kjetilk commented on #883
OK, great!

[2018-11-27 14:29] #883 closed

[2018-11-27 14:29] kjetilk commented on #921
OK, great!

[2018-11-27 14:29] #921 closed

[2018-11-27 18:10] megoth opened #974 "Invalid usernames script is broken after ResourceMapper"
Right now the script relies on AccountManager, which relies on ResourceMapper, which isn't set up for the script.

[2018-11-27 20:03] RubenVerborgh opened #975 "v5 might break compatibility with other LDP servers"
In https://github.com/solid/node-solid-server/issues/951#issuecomment-441220974, @melvincarvalho raised the concern (in the context of v5) that:

This issue servers to track any concrete breakage that would occur / occurs. Since we have no steps to reproduce so far, the "cannot-reproduce" label is applied, but it should be removed as soon as such steps are reported.

In order to be able to fix thi

[2018-11-27 20:10] melvincarvalho commented on #975
I am unsure it's a bug.  Just different ways of doing things.

Within the context of pointing a web server at a folder in a file system.

Typically with an LDP server you will point it at a file system and get a number of features.  You could swap out one LDP server for another and you could reasonably expect the same functionality.  That might happen, it might not.  But if it does, it would be a

[2018-11-27 20:20] RubenVerborgh commented on #975
This is, however, not mentioned or supported in the LDP spec itself: https://www.w3.org/TR/ldp/

The LDP spec does not convey any expectation of what a mapping to the file system looks like, and in particular not how the content type of a (non-RDF or other) file is preserved on disk.

So an argument could be made in both directions:
- v4 is broken (wrt a presumed "LDP on disk" standard), because i

[2018-11-27 20:22] boulderwebdev commented on #621
@elf-pavlik, @melvincarvalho  I agree with having an implementation of ActivityPub abstracted away from the node-server, but I think it's better to build this is as a separate server and have the two communicate with each other over some REST API. This has the benefit of allowing for different implementations which are optimized for specific application behaviors.

[2018-11-27 20:36] melvincarvalho commented on #975
My comment was in the context of servers that are pointed at a file system.  Servers, that point at a quad store are something else, and off topic, wrt to this issue.

< So an argument could be made in both directions:

Yes, you could argue that

However in the case of `card/profile` it happens (maybe by luck!) to actually serve the WebID in the right way.  And serving a WebID I would say is quite

[2018-11-27 20:43] RubenVerborgh commented on #975
No luck on the part of the HTTP system of node-solid-server (in both v4 and v5), but deliberate implementation.
On the file system, if a file named `card` is automatically determined to be Turtle—that is probably luck indeed. For a file name `card$.ttl`, no luck involved.

Most definitely. And that hasn't changed, so good.

No such evidence in the LDP spec however (and there's the relevance of the

[2018-11-27 20:43] #975 closed

[2018-11-27 20:52] melvincarvalho commented on #975
Tim has mentioned this more than once.  I suggest you follow up with him, if you want to explore the topic further.

I didnt raise an issue.  I put down some notes in the release notes.  I would want to have seen these things if I was away from the project and came back to read about v5.

That's not the conclusion of this thread.  The conclusion of this thread is that quad store are off topic, giv

[2018-11-27 21:03] RubenVerborgh commented on #975
So is v4, for the exact same files, so no worries there.

[2018-11-27 21:05] melvincarvalho commented on #975
That's the point I am disagreeing on.

With v4 the file `/profile/card` will give a webid in turtle.

Having upgraded to v5.  `profile/card` will give a webid in turltle, but only for v5.  Swapping in another server will give a 404.

[2018-11-27 21:10] RubenVerborgh commented on #975
…we are talking about the file system, which will _not_ recognize the corresponding `./data/profile/card` file as Turtle…

…but will work on the filesystem, which _will_ recognize the corresponding `./data/profile/card$.ttl` file as Turtle…

Of course that's the whole point of the upgrade. That has nothing to do with LDP.

So let's let the LDP matter rest. Nothing in LDP has the interpretation tha

[2018-11-27 21:19] melvincarvalho commented on #975
Partly, we are talking about a solid server that is pointing at a file system.  And what it will return.  Ill point out that returning the wrong mime type is not fatal to tolerant software.  But in the case of v4 the right content type as it is the default.

In the case of v5 it will work because of the bespoke extension.

With v4 you can swap in another web server or solid server and still get th

[2018-11-27 21:23] melvincarvalho commented on #621
@boulderwebdev that could work really well!  Would love to see a sketch high level design of that.

[2018-11-27 22:02] melvincarvalho commented on #621
Will close this for now, as we dont have anyone working on it, and it's typical to close threads marked with 'revisit'.  I've identified a couple of places I think we can move forward, tho.

If someone wants to help with take this forward or design, that would be great.

[2018-11-27 23:03] boulderwebdev commented on #621
The most naive approach would be to forward messages from the node-server to the ActivityPub server. So my `GET` and `POST` requests with an `application/activity+json` `Accept`/`Content-Type` header could be forwarded over to the activitypub server and the response could be routed back through the node server. One problem with this is that it forces the developers of an app to use only one activi

[2018-11-27 23:54] kjetilk commented on #621
I need to read the ActivityPub spec properly (only skimmed it thus far), but my feeling has been that "an inbox is a resource that has an event handler bound to it", and so, it seems to me that handling the ActivityStream on an RDF level in such an event handler would be an interesting way to go.

Now, the focus is on 5.0.0, but we will soon emerge from under that and start looking forward, and I

[2018-11-28 00:01] melvincarvalho commented on #621
Great stuff.  Main question I think is should it be part of NSS, an extension, or run as another server on the same box.  Or some combination of all three.  I think at this point a clean modular design would seem beneficial so that the core server can be marked as a stable reference implementation without other languages having too much too copy.  But as usual, it will probably come down to who is

[2018-11-28 00:06] RubenVerborgh commented on #621
Caveat here is that the current server does not support such a modular design. So without significant work on the server, building this as part of NSS or as an extension is not realistic, so another process is currently the most viable way.

[2018-11-28 10:19] melvincarvalho commented on #947
Could you define production in this context?  I suspect to use inrupt.net makes to here, as it has guaranteed commercial backing.

Re solid.community we are running 4.2.0 right now, the goal is to move to 4.4.0 in order to benefit from quotas, I guess around early December.  Quite a lot of commits tho between those 2 versions.

If 4.4.0 is running well, the next goal will be to go for 5.0.0 possib

[2018-11-28 10:21] RubenVerborgh commented on #947
I actually think we skipped this step, right @rubensworks, so we might close this?

[2018-11-28 10:23] rubensworks commented on #947
Yes indeed, we can directly test the new ResourceMapper (#950). I'll upgrade the dev server with the newly released beta later today.

[2018-11-28 10:23] #947 closed

[2018-11-28 10:31] melvincarvalho commented on #947
@rubensworks which is the dev server?

We run one at : https://solidtest.space/

[2018-11-28 10:34] rubensworks commented on #947
https://dev.inrupt.net/

We'll update that one with the new beta first, we'll migrate the rest once 5.0.0 is out of beta.

[2018-11-28 10:37] melvincarvalho commented on #956
-1 on this.  It's in use, and that kind of action is the sort of things people moan about for years.  Would not be a good advert for the dev team.

[2018-11-28 10:39] melvincarvalho commented on #956
That's not true at all.  Do you have any reference to back this up?

[2018-11-28 10:48] RubenVerborgh commented on #956
We likely want to differentiate between desired functionality and concrete
implementation. The desired functionality is cross-document data access.

Globbing is one way. It is easy conceptually, but has a couple of
limitations. (DDOS on large documents, no cross-pod access, ...)

Querying is another way. Harder to implement, but more powerful when we do.

It's important that we are open to changin

[2018-11-28 10:58] rubensworks commented on #877
We have a logout button now on those pages. So I assume this issue can be closed then?

[2018-11-28 10:59] melvincarvalho commented on #956
In this case the desired functionality is to get all the triples in a container.  LDPC (aka folders) have a special role in solid.  What you describe is more generic and also useful.

Glad to hear this!

[2018-11-28 11:17] kjetilk commented on #877
Yeah, this has been in the OpenLink workflow, so I suppose it is good?

[2018-11-28 11:45] rubensworks opened #977 "Missing root .acl on new and existing servers"
With the recent acl-check changes, .acl on root (such as `data/localhost/.acl`) is required.
However, this is not being generated because it is missing in `default-templates`.

An even bigger problem is that existing servers also won't have this .acl file, so all servers that upgrade will suddenly throw 401's everywhere.
An easy fix would be to auto-generate this root .acl file (from default-templ

[2018-11-28 11:51] kjetilk commented on #977
Good catch!

Indeed, the root ACL is [required by the spec](https://github.com/solid/web-access-control-spec#acl-inheritance-algorithm), so we need to have it there.

[2018-11-28 12:05] kjetilk commented on #977
Just to add a clarification: This is an issue on multi-user servers, not on single-user or accounts generated on multi-user servers, there the root ACL is sourced from `new-account`.

BTW, it is the integration code that croaks when it doesn't find the root ACL, not the acl-check module itself.

[2018-11-28 12:06] megoth commented on #977
I would imagine `localhost/.acl` would give READ-access to the public (at least when it's a multiuser)? Then it should be something like

[code]

For non-multiuser servers it would be the default for users account, maybe with READ-access for the public:

[code]

[2018-11-28 12:09] kjetilk commented on #977
I started thinking that there is an `index.html.acl` and that is practically the same as the root...

I think that I would not have a default in there, but read for the container, indeed.

[2018-11-28 12:10] kjetilk commented on #977
Perhaps:
[code]

[2018-11-28 12:36] megoth commented on #977
@kjetilk just to verify; so we would not give owners full control of the root by default, but add ACLs for files that would give them full control to those files (e.g. `index.html`)?

[2018-11-28 12:38] rubensworks commented on #977
I'm doing some testing, and `acl:defaultForNew </>` would be needed if we also want to allow default access to `/common`.

Unless we want to add dedicated .acl files for those?

[2018-11-28 12:42] rubensworks opened #979 "Logging seems to be broken"
As far as I understand, logging should be enabled by default now: https://github.com/solid/node-solid-server/blob/release/v5.0.0/bin/lib/start.js#L64-L66

However, I don't see any logging at all anymore (except for acl-check stuff, due to https://github.com/solid/acl-check/issues/11)

[2018-11-28 12:50] kjetilk commented on #977
I'm not sure, because we don't really have a clear concept of "owner", i.e. owner is just whoever has read-write-control. So, I just opted for the most conservative option.

[2018-11-28 12:54] kjetilk commented on #977
So, first, `acl:defaultForNew` is deprecated in 5.0.0 and replaced by simply `acl:default`.

I'm not sure how the access to `/common` is enforced in the code, but couldn't we have a triple
[code]
in the root ACL?

[2018-11-28 12:58] rubensworks commented on #977
Sure, that also works :-)

[2018-11-28 13:16] rubensworks opened #981 "Registration values should be remember when the Terms & Conditions check fails"
When the Terms & Conditions check failed, none of the form values are remembered, so they have to be filled in again, which can be frustrating.

[2018-11-28 13:17] rubensworks opened #982 "Missing Terms & Conditions checkbox"
When Terms & Conditions for a server is enabled, no checkbox for this is present during registration.

As such, registration always fails with the error:

[2018-11-28 13:20] rubensworks opened #983 "Add option to disable strict password checks"
This may be annoying when creating and using test accounts during development.

[2018-11-28 13:44] rubensworks commented on #979
Done in #980

[2018-11-28 13:44] #979 closed

[2018-11-28 13:45] rubensworks commented on #977
Done in #984

[2018-11-28 13:45] #977 closed

[2018-11-28 14:45] megoth commented on #982
I was unable to reproduce this. Will work with @rubensworks to figure out what differs from our setups.

[2018-11-28 14:47] rubensworks commented on #982
Ah, it's possible I was using an old config folder with templates though.

But I think we should have an (automatic) migration for this though? Or should these also use the new meta tag?

[2018-11-28 14:58] megoth commented on #982
We could have `npm run clean` as part of a migrate-script, but we don't have a generic migrate-script yet, right? You're suggesting that we should have a migrate-script? (I agree to this in general, I think; just need to be careful how we set it up so that it will work with all possible migrations.)

The only file that needs the new meta tag (you're thinking of `solid-allow-automatic-updates`, rig

[2018-11-28 15:03] rubensworks commented on #982
Indeed, I think it would be a good idea to think about this.
Maybe it would make sense to start using `solid-allow-automatic-updates` in the (HTML) files in `config/` as well for situations like these?

This should probably be a different issue though, and I guess this one can be closed then?

[2018-11-28 15:05] megoth commented on #982
Yes, I agree ^_^

[2018-11-28 15:05] #982 closed

[2018-11-28 15:17] megoth commented on #688
As there is a PR merged for this (https://github.com/solid/node-solid-server/pull/953), I hope it's ok for me to close this issue.

[2018-11-28 15:17] #688 closed

[2018-11-28 15:17] megoth commented on #936
As there is a PR merged for this (https://github.com/solid/node-solid-server/pull/953), I hope it's ok for me to close this issue.

[2018-11-28 15:17] #936 closed

[2018-11-28 15:19] megoth commented on #853
As there is a PR merged for this (https://github.com/solid/node-solid-server/pull/953), I hope it's ok for me to close this issue.

[2018-11-28 15:19] #853 closed

[2018-11-28 16:42] gobengo commented on #621
@boulderwebdev

Ha, and I think we can think about it the other way too. There is a server that speaks ActivityPub, and it persists all incoming inbox items to a Solid store (instead of a filesystem or networked database). This ActivityPub-speakign server could ideally run statelessly and headlessly. You'd browse your inbox using a Solid UI.

Me too. The REST API can just be Solid.

---

The main

[2018-11-28 17:48] melvincarvalho opened #985 "Alternative upgrade paths for 5.0.0"
This thread is a discussion regarding upgrading pods for the **extremely paranoid**.

The standard upgrade path requires renaming users files (for example profile/card -> profile/card.$ttl) for example.

The assumption is that most users wont notice this, which seems to be sound.  Pod owners probably may notice it, and will need to run a script, but otherwise, I think there is a reasonable upgrade

[2018-11-28 20:56] kjetilk commented on #985
Mmmmm, patches welcome, as they say. It seems to me that to use the `LegacyResourceMapper` would retain the old way.

Do note, however, that there are serious flaws in the ACL implementation with regards to origin. It is like the front door is open, so my paranoia would have been placed there. :-)

[2018-11-28 22:07] JornWildt opened #986 "Access control by origin header not working?"
First a disclaimer - it is very difficult to find any documentation about access control for web-apps, so I am possibly wrong here. But here we go anyway ...

Assuming I have a browser web-app that lets me register my pets. My pets are very valuable to me and I really don't want any other web-apps to snoop into my pet collection even if I am logged in to my POD with some third party web-app.

How

[2018-11-28 22:18] RubenVerborgh commented on #985
I like the idea to check whether there is community support for alternative paths. If there is, let's consider; if there's not, let's not.

Although I wonder whether this should be on the spec level (too); I think we need to keep the wishlist for HTTP/filesystem correspondence and the actual implementation separate, in order not to introduce technical mistakes or confusion, like this issue already

[2018-11-28 22:19] RubenVerborgh opened #987 "Remaining LegacyResourceMapper in lib/handlers/allow.js"
Should this be replaced by the global `resourceMapper`?
If not, can we document why?

[2018-11-28 22:36] #987 closed

[2018-11-28 22:38] RubenVerborgh commented on #946
Since there's only one issue left, let's follow up in that issue (#950).

[2018-11-28 22:38] #946 closed

[2018-11-29 05:29] melvincarvalho commented on #985
Sure!  As the owner of the domain solid.community, which has 40,000 users, and I am interested in the possibility, at this point.

Just exploring options!

[2018-11-29 05:33] melvincarvalho commented on #985
@kjetilk thanks for the notes, very helpful!

[2018-11-29 07:18] JornWildt commented on #986
That's fair. But please be aware that *not* enabling strict origins checking can be a serious privacy issue. See the discussion here https://forum.solidproject.org/t/inter-app-access-control/184/18.

The issue is that you open up for "evil" web-apps that harvest all of your personal data - contacts, private photos and maybe even documents from your doctors, laywers etc.

This is not different from

[2018-11-29 07:19] rubensworks opened #988 "Migration of templates"
In #936, migration of user homepages was introduced based on a meta tag.

We may want to generalize this behaviour to _all_ templates, to solve problems like #982.
This may also involve flushing the config dir (~`npm run clean`).

Since there are a couple of template-related changes in 5.0.0, we may want to make this part of this release.

[2018-11-29 09:47] kjetilk commented on #986
Yes, I agree, @JornWildt , that is why strict origin is the default in 5.0.0, and we have tightened it a lot. It should be a matter of days now. I'll roll a new beta when #984 has been fixed, and then we should be able to put that up for public testing.

[2018-11-29 12:00] JornWildt commented on #986
May I ask what "strict origin" is actually going to do?

- If a new web-app access my `/family-photos` folder, will it get access or do I have to explicitly grant it access?

- If a web-app creates a new folder as a side-effect of storing a new resources, will other web-apps then be able to access that folder and it's content?

Thanks.

[2018-11-29 14:49] JornWildt commented on #986
Sounds as if I need to install my own server in order to explore those features. Thanks.

[2018-11-29 19:40] boulderwebdev commented on #621
The problem with this is that it is not very scalable. For example, I ran a test to send 1000 notifications using this strategy and it took ~13 seconds on my i5-5300u laptop with 16gb of RAM. If you even had a medium size of friends, say a million, this would take around 3.6 hours to accomplish, assuming the browser doesn't blow up or complain. This kind of UX is completely unreasonable

[2018-11-29 20:40] RubenVerborgh commented on #985
Nope, using the old filesystem layout with the new mapper is.

Just the upgrade script.

And there's different mappings to do so: https://www.w3.org/DesignIssues/HTTPFilenameMapping.html
If there's traction, we can support multiple.

Let's make it not.
That's why I think it's great that the current specs, both LDP and Solid, only specify the interface but not the backend. And in absence of such a

[2018-11-30 09:43] melvincarvalho commented on #985
OK, let's upgrade solid.community to the 5.0 path then.

One issue, as I see it, is that NSS 5.0 will be the only web server on the planet with this mapping.  It's hard to imagine other servers following this rewrite rule (but you never know).

It would be nice if, in future there was a path to align the mapping with the standard card -> card that we see in other servers, and that prevents having

[2018-11-30 09:43] #985 closed

[2018-11-30 13:29] csarven opened #992 "Extend 403 template to request access"
Next step in the interaction:
Offer an input (button or whatever) to the user to make a request to access the resource.

There can be a number of ways to that.. config setting that shows the request form on all 403s and sends a notification to an (dedicated?) inbox, and/or if the resource has a dedicated inbox....

I said template in the title of this issue, but it'll act more like its own applica

[2018-11-30 15:56] justinwb commented on #778
I don't think it is essential for the user to be automatically logged in post-registration, but crucial that we be able to return the user back to what they were doing when they initiated the registration flow.

[2018-12-01 21:59] JornWildt opened #993 "Globbing request fails for URLs with spaces"
If I create a "Notepad" with the data-browser, name it "/public/xz" and GET "/public/xz/*" I get a nicely formatted Turtle document back.

If instead I create the notepad at "/public/x z" and then GET "/public/x%20z/*" I only get a single line "@prefix : <#>." and nothing else.

I would have expected both URLs to return a complete Turtle document.

[2018-12-02 19:06] megoth opened #994 "Cannot access private resources on my local server (v5.0.0-beta.0)"
I've set up a local server using the self-signed certificates, created a local WebID, and logged in with the newly created WebID. But my user is not recognized by the server, and I'm not allowed to access private resources.

![image](https://user-images.githubusercontent.com/775139/49343636-4f601380-f63b-11e8-9dba-b7b943ae50c7.png)

(I've modified auth-buttons to log the session object.)

It seems

[2018-12-02 21:40] JornWildt opened #995 "Is "solid" http or https?"
At https://github.com/solid/solid/blob/master/proposals/data-discovery.md we have:

    @prefix solid: <https://www.w3.org/ns/solid/terms#>

That is relevant for looking up `solid:publicTypeIndex`.

But in my profile document I have:

    @prefix solid: <http://www.w3.org/ns/solid/terms#>.

    <https://elfisk.solid.community/profile/card#me>
        solid:publicTypeIndex </settings/publicTypeInde

[2018-12-02 21:54] megoth commented on #995
I'm not able to find documentation that backs it up, but I would say the correct version should be HTTPS.

Some vocabularies and ontologies are using HTTP for legacy reasons, but if you dereference `http://www.w3.org/ns/solid/terms#` you'll see that it redirects to `https://www.w3.org/ns/solid/terms#`.

[2018-12-02 22:02] JornWildt commented on #995
I would also expect HTTPS ... and since I haven't touched my profile document, I'll be so free as to report it as a bug: solid-node-server should put HTTPS in the default profile document it generates for new users.